.coral3-Icon--adobeAnalyticsColor,
.coral3-Icon--adobeAudienceManagerColor,
.coral3-Icon--adobeCampaignColor,
.coral3-Icon--adobeExperienceManagerColor,
.coral3-Icon--adobeMediaOptimizerColor,
.coral3-Icon--adobePrimetimeColor,
.coral3-Icon--adobeSocialColor,
.coral3-Icon--adobeTargetColor,
.coral3-Icon--calendarCheckColor,
.coral3-Icon--emotionAdmirationColor,
.coral3-Icon--emotionAngerColor,
.coral3-Icon--emotionAnticipationColor,
.coral3-Icon--emotionDisgustColor,
.coral3-Icon--emotionFearColor,
.coral3-Icon--emotionJoyColor,
.coral3-Icon--emotionSadnessColor,
.coral3-Icon--emotionSurpriseColor,
.coral3-Icon--facebookCircleColor,
.coral3-Icon--facebookColor,
.coral3-Icon--flickrColor,
.coral3-Icon--googleAnalyticsColor,
.coral3-Icon--googlePlusCircleColor,
.coral3-Icon--googlePlusColor,
.coral3-Icon--imageCheckColor,
.coral3-Icon--instagramCircleColor,
.coral3-Icon--instagramColor,
.coral3-Icon--linkCheckColor,
.coral3-Icon--linkedInCircleColor,
.coral3-Icon--linkedInColor,
.coral3-Icon--newsgatorColor,
.coral3-Icon--projectCameraColor,
.coral3-Icon--projectColor,
.coral3-Icon--projectPlayColor,
.coral3-Icon--projectRefreshColor,
.coral3-Icon--sinaWeiboCircleColor,
.coral3-Icon--sinaWeiboColor,
.coral3-Icon--tableCellMergeColor,
.coral3-Icon--tableColumnAddLeftColor,
.coral3-Icon--tableColumnAddRightColor,
.coral3-Icon--tableColumnMergeColor,
.coral3-Icon--tableColumnRemoveCenterColor,
.coral3-Icon--tableColumnSplitColor,
.coral3-Icon--tableRowAddBottomColor,
.coral3-Icon--tableRowAddTopColor,
.coral3-Icon--tableRowMergeColor,
.coral3-Icon--tableRowRemoveCenterColor,
.coral3-Icon--tableRowSplitColor,
.coral3-Icon--tableSelectColumnColor,
.coral3-Icon--tableSelectRowColor,
.coral3-Icon--targetCheckColor,
.coral3-Icon--twitterCircleColor,
.coral3-Icon--twitterColor,
.coral3-Icon--userCircleColor,
.coral3-Icon--userGroupCircleColor,
.coral3-Icon--windowsColor,
.coral3-Icon--wordpressColor,
.coral3-Icon--youTubeCircleColor,
.coral3-Icon--youTubeColor {
  // :before content
  &:before {
    content: '';
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
  }

}
