p.
  The Shell.User component is intended to for use as a <a href='Coral.Shell.Menubar.html' class='coral-Link'>Shell.Menubar</a>
  item that offers access to app user details and related functionality. It is part of the default
  Shell 3 pattern.  It has sub-components to create content zones for user details,
  links to administration, account management, and sign out functionality.

p.
  Below is an example of menu content:

+markup-example()
  include user-markup-fragment.html

p.
  See the complete <a href='../Shell3' class='coral-Link'>Shell3 documentation</a> for more detail
  on the default use of the components in this pattern.

include jsdoc
