+document-section-simple-example()
  p.
    The <a href='Coral.Shell.User.html' class='coral-Link'>Shell.User</a> component is intended to for use
    as a <a href='Coral.Shell.Menubar.html' class='coral-Link'>Shell.Menubar</a> item that offers
    access to app user details and related functionality.

  .coral-Well.docs-Example-simpleExampleMarkup.u-columnSmall
    coral-shell-user(avatar="http://wwwimages.adobe.com/content/dam/Adobe/en/leaders/images/138x138/adobe-leaders-shantanu-narayen-138x138.jpg")
      coral-shell-user-name Shantanu Narayen
      coral-shell-user-heading CEO
      coral-shell-user-subheading Adobe Systems, Inc.
