/**
  Class: .toolbar
  The top toolbar with action icons
*/
// Toolbar
@toolbar-border-color: rgb(215, 215, 215);
@toolbar-height: 52*@px;

.toolbar {

  .clearfix;

  position: relative;

  // setting a fixed height stops the toobar from having several rows.
  // height: 38*@px;
  padding: 7*@px;
  border-bottom: @px solid @toolbar-border-color;

  // required so that the mouse events are not taken by
  // the center element.
  .left,
  .right {
    z-index: 1;
    position: relative;
  }

  // removes the margin of every component
  > * {
    margin: 0;
  }
  
  .center {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    
    text-align: center;
    
    h1,
    .pulldown > a {
      display: inline-block;
      margin: 0;
      padding-top: 10*@px;
      padding-bottom: 9*@px;
      max-width: 14rem;
      
      .regular-text;
      .ellipsis;
      line-height: 1.5;
      font-size: 18*@px;
    }
  }

  /*
  // Hack to avoid FF to display horizontal scrollbars because of a bug on button elements
  // See: https://bugzilla.mozilla.org/show_bug.cgi?id=750115
  button[class^="icon-"],
  button[class*=" icon-"] {
      position: relative;
      text-indent: -20rem; // This doesn't aim to move the text off-screen but actually to move it on-screen to avoid the scrollbars
      &:before {
          position: absolute;
          left: 0;
          top: 9*@px;
          text-indent: 0;
      }
  }*/

  &.break-lines .center,
  .break-lines & .center {
    clear: both;
    position: relative;
    margin: 0 -3*@px;
    padding: 0 3*@px;
    border-top: @px solid @toolbar-border-color;
    h1,
    .pulldown > a {
      max-width: 92%;
      max-width: -webkit-calc(~"100% - 2em");
      max-width: -moz-calc(~"100% - 2em");
      max-width: -o-calc("100% - 2em");
      max-width: calc(~"100% - 2em");
    }
  }

  &.long-title .center,
  .long-title & .center {
    h1,
    .pulldown > a {
      max-width: 38rem;
    }
  }
}

/**
  Class: .icongroup
  Button toolbar of icons defined using the <a> or <button> tags
*/
.icongroup {

  // removes the margin of every child element.        
  > * {
    margin: 0;
  }

  > a,
  > i,
  > button,
  > input,
  > nav,
  > div,
  > span, {
    float: left; // inline-block adds undesired spacing to the elements
  }

  // makes the anchors and spans be lined up.
  > a,
  > span {
    line-height: 38*@px;
  }
  
  // Any icon in an icon group should be medium sized
  [class^="icon-"],
  [class*=" icon-"] {
    // uses the 24px icons.
    .icon-medium;
    
    &, &:before {
      line-height: 38*@px;
      height: 38*@px;
      width: 38*@px;
    }
  }

  > .text {
    margin: 0 10*@px;
  }

  > nav.pulldown {
    display: inline-block;

    > a[class^="icon-"], 
    > a[class*=" icon-"] {
      padding: 0;
      line-height: @toolbar-height;

      &:after {
        background: none;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

.divider {    
  // variables
  @divider-height: 24*@px;
  @divider-border-color: rgb(206, 206, 206);

  height: @divider-height;
  margin: 7*@px 0 7*@px 10*@px;
  padding-right: 10*@px;
  line-height: @divider-height;
  border-left: @px solid @divider-border-color;
  vertical-align: top;
}