@dropdown-font-color: rgb(75, 75, 75);
@dropdown-border-color: rgba(0, 0, 0, 0.25);
@dropdown-background-gradient-start: rgb(255, 255, 255);
@dropdown-background-gradient-end: rgb(240, 240, 240);
@dropdown-active-background-color: rgb(230, 230, 230);
@dropdown-active-glow-color: rgba(0, 0, 0, 0.08);

.dropdown2 {
    position: relative;
    display: inline-block;
    margin: 8*@px 0;
    width: 13rem; /* Width must be specified */
    vertical-align: top;

    @input-height: 32*@px;

    &:after {
        content: "\25BE";
        overflow: visible;
        height: auto;
        white-space: inherit;
        color: inherit;
        text-align: left;
        position: absolute;
        top: 9*@px;
        right: 11*@px;
        text-shadow: none;
        font-size: 1.2em;
        color: @font-base-color;
        pointer-events: none; 
    }
    
    > input {
        width: 100%;
        height: @input-height;
        padding: 7*@px 10*@px;
    
        color: @dropdown-font-color;
        .box-sizing(border-box);
        .gradient(@dropdown-background-gradient-start, @dropdown-background-gradient-end);

        text-shadow: none;
        text-align: left;
        font-weight: normal;

        &:active,
        &.active {
            background: @dropdown-active-background-color;
            .box-shadow(inset 0 0 4*@px @dropdown-active-glow-color);
        }
    }

    > select {
        display: none;
    }
}
