@require '@adobe/spectrum-css/dist/components/accordion/index.css';
@require '@adobe/spectrum-css/dist/components/accordion/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/accordion/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/accordion/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/accordion/multiStops/darkest.css';

// @spectrum support nested accordions
._coral-Accordion-item:not(.is-open) {
  & > ._coral-Accordion-itemContent {
    display: block;
    padding: 0 0 0 16px;
  }

  & > ._coral-Accordion-itemIndicator {
    transform: none;
  }
}

// @spectrum support animation
._coral-Accordion--animated {
  ._coral-Accordion-itemContent {
    overflow: hidden;
    transition: height ease 250ms;
  }
}
