<js>
var labelId = data.commons.getUID();
</js>
<div handle="contentWrapper">
  <label class="u-coral-screenReaderOnly" id="{{labelId}}">{{data.i18n.get('Search for Help')}}</label>
  <coral-search class="_coral-Shell-help-search" handle="search" placeholder="{{data.i18n.get('Search for Help')}}" labelledby="{{labelId}}"></coral-search>
  <div class="_coral-Shell-help-items" handle="items" role="list"></div>
  <coral-anchorlist class="_coral-Shell-help-results" handle="results" hidden></coral-anchorlist>
  <div class="_coral-Shell-help-resultMessage" handle="resultMessage" role="status" hidden></div>
  <div class="_coral-Shell-help-loading" handle="loading" role="status" hidden>
    <coral-wait size="M" class="_coral-Shell-help-loading-wait"></coral-wait>
    <span class="coral-Heading--2 _coral-Shell-help-loading-info" handle="loadingMessage">{{data.i18n.get('Searching Help&hellip;')}}</span>
  </div>
</div>
