$drawer-toggle-background-color = rgba(255, 255, 255, .05);
$drawer-line-background-color = rgb(205, 205, 205)
$drawer-line-hover-background-color = rgb(255, 255, 255);

.coral--dark {
  @import 'skin.styl'
}
