$drawer-toggle-background-color = rgba(226, 226, 226, .05);
$drawer-line-background-color = rgb(180, 180, 180);
$drawer-line-hover-background-color = rgb(226, 226, 226);

.coral--darkest {
  @import 'skin.styl'
}
