$drawer-toggle-background-color = rgba(44, 44, 44, .05);
$drawer-line-background-color = rgb(75, 75, 75);
$drawer-line-hover-background-color = rgb(44, 44, 44);

.coral--light {
  @import 'skin.styl'
}
