$drawer-toggle-background-color = rgba(50, 50, 50, .05);
$drawer-line-background-color = rgb(80, 80, 80);
$drawer-line-hover-background-color = rgb(50, 50, 50);

.coral--lightest {
  @import 'skin.styl'
}
