._coral-Drawer-toggleButton {
  background-color: $drawer-toggle-background-color;

  &:before,
  &:after  {
    background: $drawer-line-background-color;
  }

  &:hover {
    &:before,
    &:after  {
      background: $drawer-line-hover-background-color;
    }
  }
}
