<button class="_coral-QuickActions-item _coral-ActionButton _coral-ActionButton--quiet" variant="_custom" is="coral-button" type="button" icon="more" iconsize="S" handle="moreButton" title="{{data.i18n.get('More actions')}}" role="menuitem" aria-haspopup="true" aria-label="{{data.i18n.get('More actions')}}"></button>
<coral-popover smart id="{{data.commons.getUID()}}" variant="flyout" offset="5" placement="bottom" handle="overlay">
  <coral-buttonlist id="{{data.commons.getUID()}}" class="_coral-QuickActions-buttonList" handle="buttonList" tabindex="-1"></coral-buttonlist>
</coral-popover>
