<button class="_coral-QuickActions-item" variant="_custom" is="coral-button" type="button" icon="more" iconsize="S" handle="moreButton" title="{{Coral.i18n.get('More actions')}}" role="menuitem" aria-haspopup="true" aria-label="{{Coral.i18n.get('More actions')}}"></button>
<coral-popover variant="_custom" class="_coral-QuickActions-overlay" offset="5" placement="bottom" handle="overlay">
  <coral-buttonlist id="{{Coral.commons.getUID()}}" class="_coral-QuickActions-buttonList" handle="buttonList" tabindex="-1"></coral-buttonlist>
</coral-popover>
