+document-section('Markup Examples')
  style.
    .guide-columnview-example {
      height: 400px;
      position: relative;
    }

  +usage-notification().
    Notice: The examples created via pure markup will not respond to user interaction.
    For multi-level navigation, please checkout the JavaScript examples.

  +document-subsection('Basic ColumnView')
    +markup-example('u-columnLarge')
      coral-columnview
        coral-columnview-column
          coral-columnview-column-content
            coral-columnview-item(variant='drilldown' icon="folder") English
            coral-columnview-item(variant='drilldown' icon="folder") Français
            coral-columnview-item(variant='drilldown' icon="file") Document

  +document-subsection('ColumnView with preview')
    +markup-example('u-columnLarge')
      coral-columnview.guide-columnview-example
        coral-columnview-column
          coral-columnview-column-content
            coral-columnview-item(variant='drilldown' icon="folder") English
            coral-columnview-item(variant='drilldown' icon="folder") Français
            coral-columnview-item(variant='drilldown' icon="file") Document
        coral-columnview-preview
          coral-columnview-preview-content
            coral-columnview-preview-asset
              coral-icon(icon="file" size="L")
            coral-columnview-preview-label Name
            coral-columnview-preview-value document.txt
            coral-columnview-preview-label Title
            coral-columnview-preview-value The Document
            coral-columnview-preview-label File Size
            coral-columnview-preview-value 5MB
            coral-columnview-preview-label Modified
            coral-columnview-preview-value 2 hours ago
            coral-columnview-preview-label Type
            coral-columnview-preview-value application/vnd.oasis.opendocument.text-web
            coral-columnview-preview-separator
            coral-columnview-preview-label Publish Status
            coral-columnview-preview-value
              coral-icon(icon="check" size="XS")
              =Published
            coral-columnview-preview-separator
            coral-columnview-preview-label References
            coral-columnview-preview-value
              coral-icon(icon="link" size="XS")
              =2
