+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.
    <coral-columnview>
      <coral-columnview-column>
        <coral-columnview-column-content>
          <coral-columnview-item variant="drilldown" icon="folder">English</coral-columnview-item>
          <coral-columnview-item variant="drilldown" icon="folder">Français</coral-columnview-item>
          <coral-columnview-item variant="drilldown" icon="file">Document</coral-columnview-item>
        </coral-columnview-column-content>
      </coral-columnview-column>
    </coral-columnview>
