+document-section('JavaScript Examples')

  +document-subsection('Instantiate with Class')

    +markup-example()
      coral-selectlist(id='mySelectList')
        coral-selectlist-item(value='af') Africa
        coral-selectlist-item(value='am', selected='true') America
        coral-selectlist-item(value='as') Asia
        coral-selectlist-item(value='eu') Europe
        coral-selectlist-item(value='oc') Oceania

  +document-subsection('Getting the selected item')
    p.
      The SelectList provides an attribute to get direct access to the selected item.

    #getSelectedItemExample.
       <script>
         function getSelectedItem() {
           var selectlist = document.querySelector('#mySelectList');
           alert('Item label: ' + selectlist.selectedItem.content + ' index: ' + selectlist.items.getAll().indexOf(selectlist.selectedItem));
         }
       </script>
    +example-pre-only("getSelectedItemExample")
    div.
       <button class="coral-Button" onclick="getSelectedItem()">Get Selected Item</button>



  +document-subsection('Responding to User Interaction', 'The following shows how to respond to user interaction when an item is selected in the Select component above.')
    +example-pre-only().
      <script>
        jQuery(function ($) {
          var console = $('#selectlistLog');
          var selectlist = document.querySelector('#mySelectList');
          selectlist.addEventListener('coral-selectlist:change', function(event) {
            console.log('Value (' + event.target.selectedItem.content + ')[' + event.target.selectedItem.value + '] selected.');
          });
        });
      </script>

    +log('selectlistLog')
