+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.u-columnSmall.
    <coral-selectlist>
      <coral-selectlist-item>Africa</coral-selectlist-item>
      <coral-selectlist-item>America</coral-selectlist-item>
      <coral-selectlist-item>Asia</coral-selectlist-item>
      <coral-selectlist-item>Europe</coral-selectlist-item>
      <coral-selectlist-item>Oceania</coral-selectlist-item>
    </coral-selectlist>
