/**
 * Indicates the container of the columns.
 * @see https://issues.adobe.com/browse/CQ5-30653
 */
.fixedcolumns {
  text-align: center;
  font-size: 0;
}

/**
 * Indicates the column.
 */
.fixedcolumns > .fixedcolumn {
  display: inline-block;
  margin: 0 8*@px;
  width: 496*@px;
  vertical-align: top;
  text-align: left;
  font-size: 0.8125rem;
}
