/**
Element: Text field
A basic text input field for dark theme
*/

// Colors
@textfield-dark-border-color: rgb(45, 45, 45);
@textfield-dark-background-color: rgb(65, 65, 65);
@textfield-dark-font-color: rgb(220, 220, 220);

@textfield-dark-disabled-border-color: rgb(65, 65, 65);
@textfield-dark-disabled-background-color: rgb(80, 80, 80);
@textfield-dark-disabled-font-color: rgb(95, 95, 95);

.theme-dark {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=tel],
  input[type^="date"],
  input[type="time"] {

    color: @textfield-dark-font-color;
    border-color: @textfield-dark-border-color;
    
    background-color: @textfield-dark-background-color;

    &:disabled {
      
      color: @textfield-dark-disabled-font-color;
      .placeholder(@textfield-dark-disabled-font-color);

      background-color: @textfield-dark-disabled-background-color;
      border-color: @textfield-dark-disabled-border-color;
    }
  }
}
