/**
Element: Text field
A basic text input field for dark theme
*/

// TODO: remove rail references from implementation.
@rail-input-placeholder-color: rgb(120, 120, 120);
@rail-dark-background-color: rgb(60, 60, 60); // for input-text and special components
@rail-input-text-border-color: rgb(44, 44, 44);
@rail-font-color: rgb(220, 220, 220);

.theme-dark {

    input[type="text"] {
        .placeholder(@rail-input-placeholder-color);
        background-color: @rail-dark-background-color;
        border: @px solid @rail-input-text-border-color;
        color: @rail-font-color;

        &:focus {
            box-shadow: none;
            &.focus {
                .glow();
            }
        }
    }
}
