/**
  Element: Text field
  A basic text input field.
*/

label {
  font-size: 0.8125rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel] {
  .border-box;

  border-radius: 0;

  font-size: 0.8125rem;
  font-family: @font-base-family;

  height: 2rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;

  border: @px solid @textfield-border-color; 
  background-color: @textfield-background-color;

  &:disabled {
    background-color: @textfield-disabled-background-color;
  }

  &:focus {
    .glow();
    outline: none;
  }

  &:-moz-ui-invalid {
    box-shadow:none;
  }
  
  &.error,
  &:invalid {
    border-color: @textfield-error-border-color;
    color: @textfield-error-font-color;
  }
    
  &:focus.error,
  &:focus:invalid {
    .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    color: @textfield-error-font-color;
  }
}
