/**
  Element: Text field
  A basic text input field.
*/

// Colors
@textfield-border-color: rgb(185, 185, 185);
@textfield-background-color: rgb(250, 250, 250);

@textfield-disabled-border-color: rgb(210, 210, 210);
@textfield-disabled-background-color: rgb(230, 230, 230);
@textfield-disabled-font-color: rgb(200, 200, 200);

@textfield-error-border-color: rgb(204, 84, 74);
@textfield-error-font-color: rgb(204, 84, 75);

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type^="date"],
input[type="time"] {

  .border-box;
  vertical-align: top; // used to align them correctly in forms.
  margin: 0;  // resets default margin

  min-width: 110*@px;

  padding: 10*@px;

  .normal-text;
  font-size: @base-font-size;
  line-height: @base-line-height;

  // fixes rendering issues in FF.
  height: @component-single-line-height;

  color: @font-base-color;

  border: @px solid @textfield-border-color;
  background-color: @textfield-background-color;

  .placeholder(@font-secondary-color);

  &:disabled {
    color: @textfield-disabled-font-color;
    .placeholder(@textfield-disabled-font-color);

    background-color: @textfield-disabled-background-color;
    border-color: @textfield-disabled-border-color;
  }

  &:focus {
    .glow();
    outline: none;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }
  
  &.error,
  &:invalid {
    border-color: @textfield-error-border-color;
    color: @textfield-error-font-color;

    &:focus {
      .glow(6*@px, @textfield-error-border-color, @textfield-error-border-color);
      color: @textfield-error-font-color;
    }
  }
}

form.vertical {
  input[type=text].field,
  input[type=password].field,
  input[type=email].field,
  input[type=url].field,
  input[type=tel].field,
  input[type^="date"].field,
  input[type="time"].field {
    display: block;
    width: 100%;
  }
}
