/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

// @spectrum override cursor
._coral-TabList-item.is-disabled ._coral-TabList-item-label {
  cursor: default;
}

// @spectrum support vertical line
._coral-TabList--vertical ._coral-TabList-item-line {
  top: 0;
}

// @spectrum
._coral-TabList--horizontal {
  ._coral-TabList-item {
    display: inline-flex;
    align-items: center;

    ._coral-Icon {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// @spectrum
._coral-TabList--vertical {
  ._coral-TabList-item {
    display: flex;
    align-items: center;

    ._coral-Icon {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// @spectrum support text + icon
._coral-TabList--anchored,
._coral-TabList--page {
  ._coral-TabList-item-icon[size="XS"] {
    margin-right: 8*$px;
  }
}

// @spectrum support vertical + page variant
._coral-TabList--vertical._coral-TabList--page {
  ._coral-TabList-item {
    padding-left: 8*$px;
  }
}

// @spectrum support vertical + anchored variant
._coral-TabList--vertical._coral-TabList--anchored {
  border-left-width: 2*$px;
  border-left-style: solid;

  ._coral-TabList-item-line {
    left: -2*$px;
  }

  ._coral-TabList-item {
    padding-left: 16*$px;
    margin-top: 8*$px;

    &:last-of-type {
      margin-bottom: 8*$px;
    }
  }
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
