/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

// @spectrum override cursor
._coral-TabList-item.is-disabled ._coral-TabList-item-label {
  cursor: default;
}

// @spectrum align icon
._coral-TabList-item-icon {
  margin: 0 !important;
}

// @spectrum align icon
._coral-TabList-item-icon[size="S"] svg {
  margin: 0 !important;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
