._coral-Masonry-item-quickActions {
  background-color: $masonry-quickactions-background-color;
}

._coral-Masonry.is-selectable {
  ._coral-Masonry-item.is-selected {
    border-color: $masonry-item-selected-border-color;
    box-shadow: 0 0 0 1px $masonry-item-selected-border-color;
  }

  ._coral-Masonry-item:focus {
    border-color: $masonry-item-selected-border-color;
    box-shadow: 0 0 0 1px $masonry-item-selected-border-color;
    outline: none;
  }
}
