/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$card-title-color = rgb(200, 200, 200);
$card-background-color = rgb(8, 8, 8);
$card-quiet-background-color-hover = rgb(57, 57, 57);
$card-border-color = rgb(44, 44, 44);
$card-border-color-hover = rgb(73, 73, 73);
$card-property-border-color = rgb(44, 44, 44);

.coral--darkest {
  @import 'skin.styl'
}
