/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

@require '@adobe/spectrum-css/dist/components/banner/index.css';
@require '@adobe/spectrum-css/dist/components/banner/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/banner/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/banner/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/banner/multiStops/darkest.css';

$card-border-radius = 4px;
$card-overlay-height = 96px;
$card-stack-offset = 3px;
$card-width = 240px; // borders are not included
$card-min-height = 175px; // borders are not included
$card-condensed-height = 229px;
$card-condensed-wrapper-height = 150px;
$card-asset-lowResolution-padding = 16px;

// Lightweight tags:
// coral-card-asset, coral-card-content, coral-card-overlay, coral-card-info, coral-card-propertylist

// main container of the card
._coral-Card {
  // used to place the banners and the stack
  position: relative;
  vertical-align: top;

  min-height: $card-min-height;
  min-width: $card-width;

  // Override coral-Well padding and margin
  padding: 0;
  margin: 0;
}

._coral-Card--fixedWidth {
  display: inline-block;
  width: $card-width;
}

// used in case it needs to show a stack underneath
._coral-Card--stacked {
  margin-bottom: 8px;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    height: 3px;
    pointer-events: none;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }

  &:before {
    bottom: -9px;
    left: 2*$card-stack-offset;
    right: 2*$card-stack-offset;
  }

  &:after {
    bottom: -5px;
    left: $card-stack-offset;
    right: $card-stack-offset;
  }
}

// condensed modifier used to represent projects
._coral-Card--inverted,
._coral-Card--condensed {

  // fixes the size of the asset to match the card
  coral-card-asset {
    height: $card-condensed-height;
  }

  ._coral-Card-wrapper {
    position: absolute;
    top: 0;
    height: $card-condensed-wrapper-height;
    width: 100%;

    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  // hidden cause otherwise it would not fit
  ._coral-Card-description {
    display: none;
  }

  // positioned at the bottom of the wrapper
  coral-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  coral-card-overlay {
    display: none;
  }
}

._coral-Card--condensed {
  ._coral-Card-wrapper {
    border-bottom: 1px solid;
  }
}

._coral-Card--asset {
  ._coral-Card-wrapper {
    display: none;
  }
}

._coral-Card--inverted,
._coral-Card--condensed,
._coral-Card--asset {
  coral-card-asset {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}

._coral-Card-wrapper {
  display: block;
  position: relative;
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

coral-card-info {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  // in case a lot of alerts are added, they will not overflow the card
  overflow: hidden;

  // forces the top radius
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

coral-card-asset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  position: relative;

  width: 100%;
  height: auto;
  // in case the asset is not big enough, then the asset maintains the expected size
  min-height: $card-min-height;

  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;

  // this needs to be added to be able to show the round borders
  overflow: hidden;

  // forces the content to take the full width
  > * {
    display: block;
    width: 100%;
    height: auto;
  }

  > img {
    margin: 0 auto;

    width: auto;

    min-height: 1px; // to avoid stretched images in IE11 and Chrome (Canary)
    max-width: 100%;

    opacity: 1;
    transition: opacity 1s;

    object-fit: cover;

    &.is-loading {
      opacity: 0;
    }
  }
}

// properties
coral-card-propertylist {
  display: block;

  > ._coral-Card-property {
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }
}

coral-card-propertylist + coral-card-propertylist {
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 7px;
  padding-top: 12px;
}

._coral-Card-property-icon + coral-card-property-content:not(:empty) {
  position: relative;
  top: -2px;
  margin-left: 6px;
}

coral-card-overlay {
  display: block;

  position: absolute;
  left: 0;
  right: 0;
  top: -1*$card-overlay-height;
  height: $card-overlay-height;
  font-size: 12px;
}

coral-card-content {
  display: block;
}

coral-card-overlay:empty,
coral-card-content:empty {
  display: none;
}

coral-card-content,
._coral-Card-context,
._coral-Card-title,
._coral-Card-subtitle,
._coral-Card-description,
._coral-Banner-header,
._coral-Banner-content {
  display: block;
}

._coral-Card-context {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

._coral-Card-title,
._coral-Card-subtitle,
._coral-Card-description {
  // in case the title is in an anchor
  text-decoration: none;

  word-wrap: break-word;
  word-break: break-all;
}

._coral-Card {
  ._coral-Card-title,
  ._coral-Card-context {
    margin-top: 0;
  }

  ._coral-Card-subtitle {
    font-size: 11px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

._coral-Card-context + ._coral-Card-title {
  margin-top: 2px;
}

._coral-Card-context + ._coral-Card-description,
._coral-Card-title + ._coral-Card-description {
  margin-top: 10px;
}

._coral-Card-context + coral-card-propertylist,
._coral-Card-title + coral-card-propertylist,
._coral-Card-subtitle + coral-card-propertylist,
._coral-Card-description + coral-card-propertylist {
  margin-top: 10px;
}

._coral-Banner--corner {
  z-index: 1;
}

// added ._coral-Alert due to specificity of the classes vs tags
coral-card-info > coral-alert._coral-Alert {
  display: block;
  clear: both;

  // this should not be necessary, but alert seems to have an opinion on margin
  margin-bottom: 10px;
  margin-top: 0;
  padding: 10px;
  min-width: inherit;

  coral-alert-header {
    padding-right: 5px;
  }

  coral-alert-header,
  coral-alert-content {
    display: inline;
  }

  svg {
    top: 10px;
    right: 10px;
  }
}

// added ._coral-Label due to specificity of the classes vs tags
coral-card-info > coral-tag._coral-Label {
  float: right;
  clear: both;

  margin-bottom: 10px;
  border-radius: 0;
  padding: 10px;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
