$card-border-color = rgba(44, 44, 44, .05);
$card-property-border-color = rgb(234, 234, 234);

.coral--light {
  ._coral-Card-wrapper {
    background-color: white;
  }

  ._coral-Card._coral-Card--stacked {
    &:before,
    &:after {
      background-color: white;
    }
  }

  @import 'skin.styl';
}
