/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$card-overlay-background-color = rgba(30, 30, 30, 0.9);

$card-context-inverted-color = rgb(153, 153, 153);
$card-title-inverted-color = white;
$card-subtitle-inverted-color = rgb(153, 153, 153);
$card-property-inverted-color = rgb(205, 205, 205);
$card-property-icon-inverted-color = rgb(205, 205, 205);
$card-wrapper-inverted-background-color = rgba(30, 30, 30, 0.9);
$card-wrapper-inverted-border-color = rgba(44, 44, 44, .05);

$card-context-condensed-color = rgb(118, 118, 118);
$card-title-condensed-color = rgb(50, 50, 50);
$card-subtitle-condensed-color = rgb(118, 118, 118);
$card-property-condensed-color = rgb(80, 80, 80);
$card-property-icon-condensed-color = rgb(75, 75, 75);
$card-wrapper-condensed-background-color = rgba(255, 255, 255, 0.9);
$card-wrapper-condensed-border-color = rgba(211, 211, 211, .05);

._coral-Card {
   border-color: $card-border-color;
   background-color: $card-background-color;
}

a[href] > ._coral-Card:not(._coral-Card--quiet):hover {
  border-color: $card-border-color-hover;
}

._coral-Card-wrapper {
  background-color: $card-background-color;
}

._coral-Card-title {
  color: $card-title-color;
}

coral-card-overlay {
  background-color: $card-overlay-background-color;

  ._coral-Card-property coral-card-property-content {
    color: $card-property-inverted-color;
  }
}

coral-card-description,
coral-card-propertylist {
  border-top-color: $card-property-border-color;
}

// used in case it needs to show a stack underneath
._coral-Card--stacked {
  &:before,
  &:after {
    background-color: $card-background-color;
    border-bottom-color: $card-border-color;
    border-left-color: $card-border-color;
    border-right-color: $card-border-color;
  }
}

// condensed modifier used to represent projects
._coral-Card--condensed {
  ._coral-Card-wrapper {
    background-color: $card-wrapper-condensed-background-color;
    border-bottom-color: $card-wrapper-condensed-border-color;
  }

  ._coral-Card-context {
    color: $card-context-condensed-color;
  }

  ._coral-Card-title {
    color: $card-title-condensed-color;
  }

  ._coral-Card-subtitle {
    color: $card-subtitle-condensed-color;
  }

  ._coral-Card-property {
    color: $card-property-condensed-color;
  }

  ._coral-Card-property-icon {
    color: $card-property-icon-condensed-color;
  }

  coral-card-description,
  coral-card-propertylist {
    border-top-color: $card-wrapper-inverted-border-color;
  }
}

._coral-Card--inverted {
  ._coral-Card-wrapper {
    background-color: $card-wrapper-inverted-background-color;
    border-bottom-color: $card-wrapper-inverted-border-color;
  }

  ._coral-Card-context {
    color: $card-context-inverted-color;
  }

  ._coral-Card-title {
    color: $card-title-inverted-color;
  }

  ._coral-Card-subtitle {
    color: $card-subtitle-inverted-color;
  }

  ._coral-Card-property {
    color: $card-property-inverted-color;
  }

  ._coral-Card-property-icon {
    color: $card-property-icon-inverted-color;
  }
}

._coral-Card--quiet {
  border-color: transparent;
  background-color: transparent;

  ._coral-Card-wrapper {
    border-color: transparent;
    background-color: transparent;
  }

  &._coral-Card--stacked:before,
  &._coral-Card--stacked:after {
    display: none;
  }
}
