<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>

    <link rel="stylesheet" href="../../css/cui.css">

    <script src="../../js/libs/jquery.js"></script>
    <script src="../../js/libs/moment.js"></script>
    <script src="../../js/libs/jquery-message.js"></script>
    <script src="../../js/libs/jquery-validator.js"></script>
    <script src="../../js/libs/toe.js"></script>
    <script src="../../js/CUI.js"></script>

    <style>
      body {
        padding: 15px;
      }

      section {
        border-top: 1px solid #C8C8C8;
      }

      .col {
        float: left;
        margin-right: 12px;
        width: 550px;
      }
    </style>
  </head>
  <body>
    <h1>Buttons</h1>

    <div class="col">
      <section>
        <h2>Normal buttons</h2>
        <button id="vtest-button-normal-light">Normal button</button>
        <button id="vtest-button-normal-primary-light" class="primary">Primary</button>
        <button id="vtest-button-normal-warning-light" class="warning">Warning</button>
        <button id="vtest-button-normal-quiet-light" class="quiet">Quiet</button>
        <a id="vtest-button-normal-link-light" class="button quiet">Link</a>
        
        <h2>Button with icons</h2>
        <button id="vtest-button-icon-text-light"><i class="icon-add"></i> Add Segments</button>
        <button><i class="icon-download"></i> Download</button>
        
        <h2>Icon only buttons</h2>
        <button id="vtest-button-icon-warning-light" class="button-square warning"><i class="icon-delete"></i></button>
        <button id="vtest-button-icon-light" class="button-square"><i class="icon-add"></i></button>

        <h2>Call To Action Buttons</h2>
        <button id="vtest-button-call-primary-large-light" class="primary button-large">Call To Action Primary</button>
        <button id="vtest-button-call-large-light" class="button-large">Call To Action</button>
        
        <h2>Disabled buttons</h2>
        <button id="vtest-button-disabled-light" class="primary" disabled="disabled">Disabled primary</button>
        <button id="vtest-button-disabled-icon-text-light" disabled="disabled"><i class="icon-add"></i> Add Segments</button>
        <button id="vtest-button-disabled-icon-light" class="button-square" disabled="disabled"><i class="icon-add"></i></button>
        <button id="vtest-button-disabled-quiet-light" class="quiet" disabled="disabled">Quiet</button>
        
        <h2>Block button</h2>
        <div class="well" style="max-width: 25rem;">
          <button id="vtest-button-block-primary-light" class="primary button-large button-block">Block level button</button>
        </div>

        <h2>Button groups, icon only</h2>
        <div id="vtest-button-group-icon-light" class="button-group">
          <button><i class="icon-add"></i></button>
          <button><i class="icon-camera"></i></button>
          <button><i class="icon-undo"></i></button>
        </div>

        <h2>Button groups, text only</h2>
        <div id="vtest-button-group-text-light" class="button-group">
          <button>Add</button>
          <button>Snapshot</button>
          <button>Undo</button>  
        </div>

        <h2>Button groups, mixed</h2>
        <div id="vtest-button-group-mixed-light" class="button-group">
          <button><i class="icon-add"></i> Add</button>
          <button><i class="icon-camera"></i> Snapshot</button>
          <button><i class="icon-undo"></i> Undo</button>  
        </div>      
      </section>
    </div>

    <div class="col">
      <section class="theme-dark well">

        <h2>Normal buttons</h2>
        <button id="vtest-button-normal-dark">Normal button</button>
        <button id="vtest-button-normal-primary-dark" class="primary">Primary</button>
        <button id="vtest-button-normal-warning-dark" class="warning">Warning</button>
        <button id="vtest-button-normal-quiet-dark" class="quiet">Quiet</button>
        <a id="vtest-button-normal-link-dark" class="button quiet">Link</a>
      
        <h2>Button with icons</h2>
        <button id="vtest-button-icon-text-dark"><i class="icon-add"></i> Add Segments</button>
        <button><i class="icon-download"></i> Download</button>
        
        <h2>Icon only buttons</h2>
        <button id="vtest-button-icon-warning-dark" class="button-square warning"><i class="icon-delete"></i></button>
        <button id="vtest-button-icon-dark" class="button-square"><i class="icon-add"></i></button>

        <h2>Call To Action Buttons</h2>
        <button class="primary button-large">Call To Action Primary</button>
        <button id="vtest-button-call-large-dark" class="button-large">Call To Action</button>
        
        <h2>Disabled buttons</h2>
        <button id="vtest-button-disabled-dark" class="primary" disabled="disabled">Disabled primary</button>
        <button id="vtest-button-disabled-icon-text-dark" disabled="disabled"><i class="icon-add"></i> Add Segments</button>
        <button id="vtest-button-disabled-icon-dark" class="button-square" disabled="disabled"><i class="icon-add"></i></button>
        <button id="vtest-button-disabled-quiet-dark" class="quiet" disabled="disabled">Quiet</button>
        
        <h2>Block button</h2>
        <div class="well" style="max-width: 400px;">
          <button class="primary button-large button-block">Block level button</button>
        </div>

        <h2>Button groups, icon only</h2>
        <div id="vtest-button-group-icon-dark" class="button-group">
          <button><i class="icon-add"></i></button>
          <button><i class="icon-camera"></i></button>
          <button><i class="icon-undo"></i></button>
        </div>
        
        <h2>Button groups, text only</h2>
        <div id="vtest-button-group-text-dark" class="button-group">
          <button>Add</button>
          <button>Snapshot</button>
          <button>Undo</button>  
        </div>    
        
        <h2>Button groups, mixed</h2>
        <div id="vtest-button-group-mixed-dark" class="button-group">
          <button><i class="icon-add"></i> Add</button>
          <button><i class="icon-camera"></i> Snapshot</button>
          <button><i class="icon-undo"></i> Undo</button>  
        </div>      
      </section> 
    </div> 
  </body>
</html>
