@require '@adobe/spectrum-css/dist/components/stepper/index.css';
@require '@adobe/spectrum-css/dist/components/stepper/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/stepper/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/stepper/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/stepper/multiStops/darkest.css';

// @spectrum focus-ring bug ?
._coral-Stepper[role="group"].is-focused {
  box-shadow: none;

  ._coral-Stepper-input.is-focused:not(.focus-ring) {
    box-shadow: none;
  }
}

._coral-Stepper-stepUp
._coral-Stepper-stepDown {
  display: block;
}

// @spectrum vertically align icon
._coral-Stepper-stepUpIcon,
._coral-Stepper-stepDownIcon {
  margin-left: 0;
}
