<js>
  var buttonId = data.commons.getUID();
  var listId = data.commons.getUID();
</js>
<button variant="_custom" iconposition="right" handle="button" type="button" is="coral-button" role="combobox" aria-expanded="false" aria-haspopup="true" id="{{buttonId}}" aria-controls="{{listId}}" aria-owns="{{listId}}" class="_coral-FieldButton _coral-Dropdown-trigger">
  <coral-button-label class="_coral-Dropdown-label" handle="label" aria-readonly="true">&#x200b;</coral-button-label>
  <coral-icon icon="alert" hidden handle="invalidIcon" class="_coral-Dropdown-invalidIcon"></coral-icon>
</button>
<js>
  // Don't wait for button MO to pick up the label
  this.button._elements.label = this.label;
  // Render invalid icon
  this.button.insertAdjacentHTML('beforeend', data.Icon._renderSVG('spectrum-css-icon-SelectDownChevron', ['_coral-Dropdown-icon']));
</js>
<coral-popover class="_coral-Select-overlay" smart id="{{data.commons.getUID()}}" variant="flyout" handle="overlay" placement="bottom" trapfocus="on" focusonshow="on" role="presentation">
  <js>
    // Constrains the size of the list to 6 items.
    // @todo move this to theme
    var maxHeight = 'max-height:' + (42 * 6) + 'px';
  </js>
  <coral-selectlist style="{{maxHeight}}" handle="list" role="listbox" id="{{listId}}"></coral-selectlist>
</coral-popover>
<input handle="input" type="hidden">
<select handle="nativeSelect" class="_coral-Dropdown-select" tabindex="-1"></select>
<coral-taglist handle="taglist" class="_coral-Dropdown-tagList"></coral-taglist>
