/**
  Class: .wait
  Provides a wait animated icon
*/
@-webkit-keyframes wait-large {
	from, to {
		background-position: 0 0;
		background-image: url(~"@{component-resource-folder}/wait/wait_32.svg");
	}
	12.5% { background-position: 14.28571% 0; }
	25% { background-position: 28.57143% 0; }
	37.5% { background-position: 42.85714% 0; }
	50% { background-position: 57.14286% 0; }
	62.5% { background-position: 71.42857% 0; }
	75% { background-position: 85.71429% 0; }
	87.5% { background-position: 100% 0; }
}
@keyframes wait-large {
	from, to {
		background-position: 0 0;
		background-image: url(~"@{component-resource-folder}/wait/wait_32.svg");
	}
	12.5% { background-position: 14.28571% 0; }
	25% { background-position: 28.57143% 0; }
	37.5% { background-position: 42.85714% 0; }
	50% { background-position: 57.14286% 0; }
	62.5% { background-position: 71.42857% 0; }
	75% { background-position: 85.71429% 0; }
	87.5% { background-position: 100% 0; }
}
@-webkit-keyframes wait {
	from, to {
		background-position: 0 0;
		background-image: url(~"@{component-resource-folder}/wait/wait_16.svg");
	}
	12.5% { background-position: 14.28571% 0; }
	25% { background-position: 28.57143% 0; }
	37.5% { background-position: 42.85714% 0; }
	50% { background-position: 57.14286% 0; }
	62.5% { background-position: 71.42857% 0; }
	75% { background-position: 85.71429% 0; }
	87.5% { background-position: 100% 0; }
}
@keyframes wait {
	from, to {
		background-position: 0 0;
		background-image: url(~"@{component-resource-folder}/wait/wait_16.svg");
	}
	12.5% { background-position: 14.28571% 0; }
	25% { background-position: 28.57143% 0; }
	37.5% { background-position: 42.85714% 0; }
	50% { background-position: 57.14286% 0; }
	62.5% { background-position: 71.42857% 0; }
	75% { background-position: 85.71429% 0; }
	87.5% { background-position: 100% 0; }
}

.wait {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(~"@{component-resource-folder}/wait/wait_16.gif") no-repeat 0 0;
  .background-size(auto 100%);

  -webkit-animation: wait 1.6s step-end infinite;
  animation: wait 1.6s step-end infinite;

  &.large {
    width: 2rem;
    height: 2rem;
    background-image: url(~"@{component-resource-folder}/wait/wait_32.gif");

    -webkit-animation: wait-large 1.6s step-end infinite;
    animation: wait-large 1.6s step-end infinite;
  }

  &.center {
    position: absolute !important; // See CUI-846
    top: 50% !important; // See CUI-846
    left: 50% !important; // See CUI-846
    margin-top: -0.5rem !important; // See CUI-846
    margin-left: -0.5rem !important; // See CUI-846
  }

  &.large.center {
    margin-top: -1rem !important; // See CUI-846
    margin-left: -1rem !important; // See CUI-846
  }
}
