
@form-error-icon-color: rgb(250, 90, 80); 
@form-error-icon-opacity: 1;

.form-error {
  .icon-alert;
  .hide-inner-text;
  .icon-small;

  display: inline-block;
  margin: 2*@px 8*@px;
  padding: 6*@px 0;
  
  &:before {
    color: @form-error-icon-color;
    opacity: @form-error-icon-opacity;
  }

}
