.form-error {
  .icon-alert();
  .hide-inner-text();

  display: inline-block;
  margin: 2*@px 8*@px;
  height: 16px;
  padding: 11*@px 0;
  
  &:before {
    color: @icon-error-color;
    opacity: @icon-error-opacity;
  }
}
