// Internal form variables!
@field-margin: 0.5rem;
@field-label-margin-top: 20*@px;
@field-label-margin-bottom: @field-margin;
@field-gap: 0.5rem;


/**
 * Indicates that the form is using vertical layout, where the label is placed above the field.
 *
 * @see https://issues.adobe.com/browse/CQ5-30653 for measurement
 */
form.vertical,

/**
 * Indicates that the form is using aligned layout, where the label and the field are placed on the same line.
 */
form.aligned {
  /**
   * Indicates the fieldset.
   * .fieldset is used instead of <fieldset> as <legend> cannot be styled as per requirement.
   */
  .fieldset {
    margin: 0 10*@px 40*@px 10*@px;
    border: none;
    border-top: 1px solid #CCCCCC;

    /**
     * Indicates the legend of fieldset.
     */
    > .legend {
      display: block;
      margin: 8*@px 0 15*@px 0;
    }

    &:first-of-type {
      border: none;

      > .legend {
        margin-top: 25*@px;
      }
    }
  }

  /**
   * Indicates the label of the field.
   * .fieldlabel is used so that the styling is only applied to this label, not any <label> inside the form.
   */
  label.fieldlabel {
    display: block;
    margin: @field-label-margin-top 0 @field-label-margin-bottom 0;
    color: #4B4B4B;
    .bold-text;
  }

  /**
   * Indicates the field wrapper. A field wrapper MUST be used for field info and field error.
   */
  .fieldwrapper {
    display: block;

    .fieldinfo[class^="icon-"],
    .fieldinfo[class*=" icon-"],
    .fielderror.form-error {
      margin: 0;
      padding: 0;
      height: @component-single-line-height;
      line-height: @component-single-line-height;
    }
  }
}

form.vertical {
  /**
   * Indicates the field.
   */
  .field {
    margin: @field-margin 0;
  }

  .fieldwrapper {
    position: relative;

    /**
     * Indicates the field info.
     */
    .fieldinfo,

    /**
     * Indicates the field error.
     */
    .fielderror {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .fieldwrapper.fieldwrapper-singleline {
    margin: @field-margin 0;
    .clearfix;

    .field {
      margin: 0;
    }

    .fieldinfo {
      float: left;
      position: static;
      margin-left: @field-gap;
    }
  }
}

form.aligned {
  .fieldset {
    .clearfix;
  }

  label.fieldlabel {
    float: left;
    clear: left;
    margin-right: @field-gap;
    line-height: @component-single-line-height;
    min-width: 6.5rem;
  }

  /**
   * Indicates the field.
   */
  .field {
    float: left;
    margin: @field-label-margin-top 0 @field-label-margin-bottom 0;
  }

  .fieldwrapper {
    clear: left;
    margin: @field-label-margin-top 0 @field-label-margin-bottom 0;
    .clearfix;

    label.fieldlabel {
      margin-top: 0;
      margin-bottom: 0;
    }

    .field {
      margin-top: 0;
      margin-bottom: 0;
    }

    /**
     * Indicates the field info.
     */
    .fieldinfo,

    /**
     * Indicates the field error.
     */
    .fielderror {
      float: left;
      margin-left: @field-gap;
    }

    .fieldinfo[class^="icon-"],
    .fieldinfo[class*=" icon-"],
    .fielderror.form-error {
      margin-left: @field-gap;
    }
  }

  .field + .fieldwrapper {
    // because of float of the field, the margin top of fieldwrapper is not effective
    // take a look at form example
    padding-top: @field-label-margin-top - @field-margin;
  }

  .field + label.fieldlabel,
  .field + label.fieldlabel + .field,
  .fieldwrapper + label.fieldlabel,
  .fieldwrapper + label.fieldlabel + .field {
    // because of float, the margin is not collapsed, so reduce it
    // take a look at form example
    margin-top: @field-label-margin-top - @field-margin;
  }
}
