/**
  Element: number input
*/

.number-input-button {
  margin: 0;
  padding:0;
  padding-top: 4*@px;
  border-color: @textfield-border-color;
  min-width: 32*@px;
  max-width: 32*@px;
  min-height: 36*@px;
  max-height: 36*@px;
  .gradient(rgb(255, 255, 255),rgb(240, 240, 240));
}

.number-input-button:hover {
  background: rgb(255, 255, 255);
}

.numberinput > input {
  margin: 0;
  border: 0;
  border-top: 1px solid @textfield-border-color;
  border-bottom: 1px solid @textfield-border-color;
  max-width: 286*@px;
  max-height: 36*@px;
  min-height: 36*@px;
  min-width: 56*@px;
}

