/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

// Hidden from visual browsers, but still accessible to screenreaders
.u-coral-screenReaderOnly {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  // Workaround for the focus rectangle in Webkit
  overflow: hidden;
  width: 1px !important;
  height: 1px !important;
  margin: 0 -1px -1px 0 !important;
}
