// This is more specific than simply specifying the attribute selector
// The specificity makes [hidden] work with classes that have a non-default display property
[hidden] {
  display: none !important;
}

.u-coral-clearFix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Floats the content to the left
.u-coral-pullLeft {
  float: left !important;
}

// Floats the content to the right
.u-coral-pullRight {
  float: right !important;
}

// Hides borders
.u-coral-noBorder {
  border: none !important;
}
