/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

// This is more specific than simply specifying the attribute selector
// The specificity makes [hidden] work with classes that have a non-default display property
[hidden] {
  display: none !important;
}

.u-coral-clearFix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Floats the content to the left
.u-coral-pullLeft {
  float: left !important;
}

// Floats the content to the right
.u-coral-pullRight {
  float: right !important;
}

// Hides borders
.u-coral-noBorder {
  border: none !important;
}
