/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

// extra small device: <768px
// medium device: >= 992px
// large device >= 1200px

.u-coral-visibleXS {
  display: none !important;
}

@media (max-width: 767px) {
  .u-coral-visibleXS {
    display: block !important;
  }
}

.u-coral-visibleS {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-coral-visibleS {
    display: block !important;
  }
}

.u-coral-visibleM {
  display: none !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-coral-visibleM {
    display: block !important;
  }
}

.u-coral-visibleL {
  display: none !important;
}

@media (min-width: 1200px) {
  .u-coral-visibleL {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .u-coral-hiddenXS {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-coral-hiddenS {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-coral-hiddenM {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .u-coral-hiddenL {
    display: none !important;
  }
}
