/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

// adds the default padding on all sides
.u-coral-padding {
  padding: 15px !important;
}

// adds the default padding to left and right
.u-coral-padding-horizontal {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

// adds the default padding to top and bottom
.u-coral-padding-vertical {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

// adds the default the margin on all sides
.u-coral-margin {
  margin: 15px !important;
}

// removes the padding on all sides
.u-coral-noPadding {
  padding: 0 !important;
}

// removes the padding on the left and right side
.u-coral-noPadding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// removes the padding on the top and bottom side
.u-coral-noPadding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// removes the margin on all sides
.u-coral-noMargin {
  margin: 0 !important;
}
