// adds the default padding on all sides
.u-coral-padding {
  padding: 15px !important;
}

// adds the default padding to left and right
.u-coral-padding-horizontal {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

// adds the default padding to top and bottom
.u-coral-padding-vertical {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

// adds the default the margin on all sides
.u-coral-margin {
  margin: 15px !important;
}

// removes the padding on all sides
.u-coral-noPadding {
  padding: 0 !important;
}

// removes the padding on the left and right side
.u-coral-noPadding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// removes the padding on the top and bottom side
.u-coral-noPadding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// removes the margin on all sides
.u-coral-noMargin {
  margin: 0 !important;
}
