// Prevent text from wrapping, use an ellipsis to truncate
.u-coral-ellipsis {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
