+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical u-columnSmall">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-slider-0">Label</label>
            <coral-slider value="14" min="10" max="20" step="2" class="coral-Form-field" labelledby="label-vertical-slider-0">
            </coral-slider>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-slider-1">Required</label>
            <coral-slider value="14" min="10" max="20" step="2" class="coral-Form-field" labelledby="label-vertical-slider-1" required>
            </coral-slider>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-vertical-slider-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-vertical-slider-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-slider-2">Invalid</label>
            <coral-slider value="5" min="10" max="20" step="2" class="coral-Form-field" labelledby="label-vertical-slider-2">
            </coral-slider>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-vertical-slider-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-vertical-slider-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>


  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-slider-0">Label</label>
            <coral-slider value="14" min="10" max="20" step="2" class="coral-Form-field" labelledby="label-aligned-slider-0">
            </coral-slider>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-slider-1">Required</label>
            <coral-slider value="14" min="10" max="20" step="2" class="coral-Form-field" labelledby="label-aligned-slider-1" required>
            </coral-slider>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-aligned-slider-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-aligned-slider-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-slider-2">Invalid</label>
            <coral-slider value="5" min="10" max="20" step="2" class="coral-Form-field" labelledby="label-aligned-slider-2">
            </coral-slider>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-aligned-slider-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-aligned-slider-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
