+document-section('Ranged Slider', true)

  +document-subsection('Basic', 'The following is an example of a ranged slider with a <code>min="10"</code>, <code>max="20"</code>, and <code>step="2"</code>.')
    +markup-example().
      <label id="label-basic-10">
        Basic Horizontal rangedSlider<br>
      </label>

      <coral-rangedslider startvalue="4" endvalue="12" min="2" max="20" step="2" labelledby="label-basic-10">
      </coral-rangedslider>

  +document-subsection('Tooltips', 'The following is an example of a configuration with tooltips, specified via <code>tooltips</code> attribute.')
    +markup-example().
      <label id="label-tooltips-10">
        Tooltips rangedSlider<br>
      </label>

      <coral-rangedslider startvalue="8" endvalue="18" min="2" max="20" step="2" labelledby="label-tooltips-10" tooltips>
      </coral-rangedslider>

  +document-subsection('Items', 'The following is an example of a ranged slider with label items.')
    +markup-example().
      <label id="label-items-10">
        Items rangedSlider<br>
      </label>

      <coral-rangedslider startvalue="1" endvalue="4" min="1" max="5" step="1" labelledby="label-items-10" tooltips>
        <coral-slider-item value="1">First</coral-slider-item>
        <coral-slider-item value="2">Second</coral-slider-item>
        <coral-slider-item value="3">Third</coral-slider-item>
        <coral-slider-item value="4">Fourth</coral-slider-item>
        <coral-slider-item value="5">Fifth</coral-slider-item>
      </coral-rangedslider>
