+document-section('Markup Examples', true)

  +document-subsection('Basic', 'The following is an example of a slider with a <code>min="10"</code>, <code>max="20"</code>, and <code>step="2"</code>.')
    +markup-example().
      <label id="label-basic-0">
        Basic Horizontal Slider<br>
      </label>

      <coral-slider value="14" min="10" max="20" step="2" labelledby="label-basic-0">
      </coral-slider>

  +document-subsection('Tooltips', 'The following is an example of a configuration with tooltips, specified via <code>tooltips</code> attribute.')
    +markup-example().
      <label id="label-tooltips-0">
        Tooltips Slider<br>
      </label>

      <coral-slider value="14" min="10" max="20" step="2" labelledby="label-tooltips-0" tooltips>
      </coral-slider>

  +document-subsection('Filled', 'The following is an example of a configuration with a filled bar, specified via <code>filled</code> attribute.')
    +markup-example().
      <label id="label-filled-0">
        Filled Slider<br>
      </label>

      <coral-slider value="14" min="10" max="20" step="2" labelledby="label-filled-0" filled>
      </coral-slider>

  +document-subsection('Items', 'The following is an example of a slider with label items.')
    +markup-example().
      <label id="label-items-0">
        Items Slider<br>
      </label>

      <coral-slider value="2" min="1" max="5" step="1" labelledby="label-items-0" tooltips>
        <coral-slider-item value="1">First</coral-slider-item>
        <coral-slider-item value="2">Second</coral-slider-item>
        <coral-slider-item value="3">Third</coral-slider-item>
        <coral-slider-item value="4">Fourth</coral-slider-item>
        <coral-slider-item value="5">Fifth</coral-slider-item>
      </coral-slider>
