/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

html, body {
  font-family: adobe-clean,Helvetica,Arial,sans-serif;
  font-weight: 300;
  background-color: rgb(245, 245, 245);
}

.github-markdown h2,
.github-markdown h3 {
  font-weight: 300;
}

.github-markdown h1,
.github-markdown h4 {
  font-weight: 500;
}

.github-markdown pre > code {
  background: #fafafa;
}

.navigation .nav-dir-path {
  font-weight: 500;
}

.inner-link-active {
  background-color: #c0c0c0 !important;
}

.github-markdown .guide-Title img {
  box-shadow: none;
  width: 50px;
  margin-right: 5px;
}

body {
  visibility: hidden;
}

body.is-ready {
  visibility: visible;
}

.layout-container > header > a {
  color: #8c8c8c;
}

.layout-container > header > a:hover {
  color: #c0c0c0;
}

.layout-container > header > a.is-active {
  color: #ffffff;
  border-bottom: solid 2px #eeeeee;
}

.layout-container > header > a:first-child span {
  margin-left: 5px;
  margin-right: 15px;
  font-size: 22px;
  color: #eeeeee;
  font-weight: 300;
}

.navigation .manual-toc .indent-h1 a {
  font-weight: normal;
}

.search-input {
  border-color: #8c8c8c;
  color: white;
  font-family: adobe-clean,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.search-input:focus {
  border-color: #c0c0c0;
}

.search-box {
  top: 8px;
}

.search-box.active .search-input-edge {
  display: none;
}

.search-result {
  height: inherit;
  max-height: 600px;
}

.search-box.active .search-input {
  transition: none;
}

.search-box img {
  width: 18px;
  vertical-align: baseline;
}

.search-result li.search-separator {
  color: black;
  background: #f0f0f0;
}

.layout-container > header {
  background: #030303;
  border-bottom: none;
}

.kind-enum {
  color: royalblue;
  background: lightblue;
}

.kind-event {
  color: orange;
  background: cornsilk;
}

pre.prettyprint > code,
.import-path pre.prettyprint code {
  background: #fafafa;
  padding: 8px;
  border: none;
  margin-left: 0;
}

.expression-extends .prettyprint {
  padding: 0;
}
