/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$shell-orgswitcher-width = 300*$px;
$shell-orgswitcher-message-height = 200*$px
$shell-orgswitcher-background = white;
$shell-orgswitcher-height = 320*$px;

._coral-Shell-orgSwitcher {
  width: $shell-orgswitcher-width;
  padding: 24*$px;
  box-sizing: border-box;
}

._coral-Shell-orgSwitcher-items {
  max-height: $shell-orgswitcher-height;
  overflow-y: auto;
  padding: 3*$px 0;
}

._coral-Shell-orgSwitcher-item,
._coral-Shell-orgSwitcher-subitem {
  cursor: pointer;

  padding-right: 0;
  padding-left: 0;

  position: relative;

  &.is-selected {
    color: rgb(65, 120, 205);
  }
}

._coral-Shell-orgSwitcher-item {
  padding-left: 10*$px;

  &.is-parent:hover {
    cursor: default;
    background: transparent;
  }
}

._coral-Shell-orgSwitcher-subitems {
  // Compensate padding
  margin-left: -10*$px;
}

._coral-Shell-orgSwitcher-subitem {
  padding-left: 40*$px;

  // Don't overlap parent's icon
  background: none;

  coral-list-item-content {
    height: 1rem;
  }
}

._coral-Shell-orgSwitcher-search {
  width: 100%;

  input[is="coral-textfield"] {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

._coral-Shell-orgSwitcher-resultMessage {
  display: table;

  width: 100%;
  height: $shell-orgswitcher-message-height;

  background-color: $shell-orgswitcher-background;
}

._coral-Shell-orgSwitcher-resultMessage-container {
  display: table-cell;

  padding: 0 20*$px;

  vertical-align: middle;

  text-align: center;
}

coral-shell-orgswitcher-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16*$px;

  &:empty {
    display: none;
  }

  ._coral-Button + ._coral-Button {
    margin-left: 0;
    margin-top: 12*$px;
  }
}
