@require '@adobe/spectrum-css/dist/components/button/index.css';
@require '@adobe/spectrum-css/dist/components/button/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/button/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/button/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/button/multiStops/darkest.css';

// @spectrum support text + icon buttons
._coral-Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

._coral-Button,
._coral-ActionButton {
  coral-icon + coral-button-label:not(:empty):not([hidden]),
  coral-icon + coral-anchorbutton-label:not(:empty):not([hidden]),
  coral-button-label:not(:empty):not([hidden]) + coral-icon,
  coral-anchorbutton-label:not(:empty):not([hidden]) + coral-icon {
    margin-left: 8px;
  }
}

// @compat
._coral-Button--block {
  display: flex;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._coral-Button--block + ._coral-Button--block {
  margin-left: 0;
}

// Clear Button doesn't have blue border when tab focused
._coral-Button._coral-ClearButton.focus-ring {
  box-shadow: none;
}

// @spectrum
._coral-Button.is-disabled {
  cursor: default;
}

// @compat
._coral-Button--secondary._coral-Button--quiet[variant="minimal"] {
  min-width: 0;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
