// @spectrum
._coral-ClearButton {
  color: $button-clear-color;
}

// @compat
._coral-Button--secondary._coral-Button--quiet[variant="minimal"]:hover {
  background-color: transparent;
  border-color: transparent;
}
