+document-section('Markup example', true)
  +document-subsection('Default')
    +markup-example().
      <coral-list>
        <coral-list-item icon="users" href="#community">Community</coral-list-item>
        <coral-list-item icon="news" href="#news">What's new in CoralUI</coral-list-item>
        <coral-list-item icon="servers" href="#status">CoralUI Status</coral-list-item>
      </coral-list>
