@require '@adobe/spectrum-css/dist/components/alert/index.css';
@require '@adobe/spectrum-css/dist/components/alert/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/alert/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/alert/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/alert/multiStops/darkest.css';

// Hide empty header
coral-alert-header:empty {
  display:none;
}

// @spectrum
._coral-Alert-header {
  margin-bottom: 8px;
}

// @spectrum
._coral-Alert-content {
  margin: 0;
}
