+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical u-columnSmall">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-buttongroup-0">Label</label>
            <coral-buttongroup class="coral-Form-field" labelledby="label-vertical-buttongroup-0">
              <button is="coral-button" variant="secondary">Hour</button>
              <button is="coral-button" variant="secondary">Day</button>
              <button is="coral-button" variant="secondary">Month</button>
            </coral-buttongroup>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-buttongroup-1">Required</label>
            <coral-buttongroup class="coral-Form-field" labelledby="label-vertical-buttongroup-1">
              <button is="coral-button" variant="secondary">Hour</button>
              <button is="coral-button" variant="secondary">Day</button>
              <button is="coral-button" variant="secondary">Month</button>
            </coral-buttongroup>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-vertical-buttongroup-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-vertical-buttongroup-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-buttongroup-2">Invalid</label>
            <coral-buttongroup class="coral-Form-field" labelledby="label-vertical-buttongroup-2">
              <button is="coral-button" variant="secondary">Hour</button>
              <button is="coral-button" variant="secondary">Day</button>
              <button is="coral-button" variant="secondary">Month</button>
            </coral-buttongroup>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-vertical-buttongroup-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-vertical-buttongroup-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>


  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-buttongroup-0">Label</label>
            <coral-buttongroup class="coral-Form-field" labelledby="label-aligned-buttongroup-0">
              <button is="coral-button" variant="secondary">Hour</button>
              <button is="coral-button" variant="secondary">Day</button>
              <button is="coral-button" variant="secondary">Month</button>
            </coral-buttongroup>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-buttongroup-1">Required</label>
            <coral-buttongroup class="coral-Form-field" labelledby="label-aligned-buttongroup-1">
              <button is="coral-button" variant="secondary">Hour</button>
              <button is="coral-button" variant="secondary">Day</button>
              <button is="coral-button" variant="secondary">Month</button>
            </coral-buttongroup>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-aligned-buttongroup-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-aligned-buttongroup-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-buttongroup-2">Invalid</label>
            <coral-buttongroup class="coral-Form-field" labelledby="label-aligned-buttongroup-2">
              <button is="coral-button" variant="secondary">Hour</button>
              <button is="coral-button" variant="secondary">Day</button>
              <button is="coral-button" variant="secondary">Month</button>
            </coral-buttongroup>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-aligned-buttongroup-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-aligned-buttongroup-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
