+document-section('ButtonGroup Examples', true)
  +document-subsection('Icon Buttons')
    +markup-example().
      <coral-buttongroup>
        <button is="coral-button" icon="add" variant="secondary"></button>
        <button is="coral-button" icon="camera" variant="secondary"></button>
        <button is="coral-button" icon="undo" variant="secondary"></button>
      </coral-buttongroup>

  +document-subsection('Text Buttons')
    +markup-example().
      <coral-buttongroup>
        <button is="coral-button" variant="secondary">Add</button>
        <button is="coral-button" variant="secondary">Snapshot</button>
        <button is="coral-button" variant="secondary">Undo</button>
      </coral-buttongroup>

  +document-subsection('Icon + Text Buttons')
    +markup-example().
      <coral-buttongroup>
        <button is="coral-button" icon="add" variant="secondary">Add</button>
        <button is="coral-button" icon="camera" variant="secondary">Snapshot</button>
        <button is="coral-button" icon="undo" variant="secondary">Undo</button>
      </coral-buttongroup>

  +document-subsection('Icon Quiet Buttons')
    +markup-example().
      <coral-buttongroup>
        <button is="coral-button" icon="add" variant="quiet"></button>
        <button is="coral-button" icon="camera" variant="quiet"></button>
        <button is="coral-button" icon="undo" variant="quiet"></button>
      </coral-buttongroup>

  +document-subsection('Icon + Text Quiet Buttons')
    +markup-example().
      <coral-buttongroup>
        <button is="coral-button" icon="add" variant="quiet">Add</button>
        <button is="coral-button" icon="camera" variant="quiet">Snapshot</button>
        <button is="coral-button" icon="undo" variant="quiet">Undo</button>
      </coral-buttongroup>
