+document-section-simple-example()
    .docs-Example-simpleExampleMarkup.
      <coral-buttongroup>
        <button is="coral-button" icon="add" variant="secondary"></button>
        <button is="coral-button" icon="camera" variant="secondary"></button>
        <button is="coral-button" icon="undo" variant="secondary"></button>
      </coral-buttongroup>
