/**
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 
$colorhandle-animation-duration = var(--spectrum-global-animation-duration-100);
$colorhandle-animation-easing = ease-in-out;
  
._coral-ColorPicker-colorHandle {
  display: block;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: var(--colorhandle-size);
  height: var(--colorhandle-size);
  margin-left: calc(-1*var(--colorhandle-size)/2);
  margin-top: calc(-1*var(--colorhandle-size)/2);
  border-width: var(--colorhandle-inner-border-size);
  border-style: solid;
  border-radius: 100%;
  background-size: var(--colorhandle-dimen-size-200) var(--colorhandle-dimen-size-200);
  background-position:
    var(--colorhandle-background-offset) var(--colorhandle-background-offset),
    var(--colorhandle-background-offset) calc(var(--colorhandle-checkerboard-size) + var(--colorhandle-background-offset)),
    calc(var(--colorhandle-checkerboard-size) + var(--colorhandle-background-offset)) calc(-1 * var(--colorhandle-checkerboard-size) + var(--colorhandle-background-offset)),
    calc(-1 * var(--colorhandle-checkerboard-size) + var(--colorhandle-background-offset)) var(--colorhandle-background-offset);

  transition:
    width $colorhandle-animation-duration $colorhandle-animation-easing,
    height $colorhandle-animation-duration $colorhandle-animation-easing,
    border-width $colorhandle-animation-duration $colorhandle-animation-easing,
    margin-left $colorhandle-animation-duration $colorhandle-animation-easing,
    margin-top $colorhandle-animation-duration $colorhandle-animation-easing;
}

._coral-ColorPicker-colorHandle.is-focused,
._coral-ColorPicker-colorHandle.focus-ring {
  width: calc(var(--colorhandle-size)* 2);
  height: calc(var(--colorhandle-size) * 2);
  margin-left: calc(-1 * var(--colorhandle-size));
  margin-top: calc(-1 * var(--colorhandle-size));
}

._coral-ColorPicker-colorHandle:after {
    border-radius: 100%;
    content: '';
    left: calc(50% - var(--colorhandle-hitarea-size) / 2);
    top: calc(50% - var(--colorhandle-hitarea-size) / 2);
    position: absolute;
    display: block;
    width: var(--colorhandle-hitarea-size);
    height: var(--colorhandle-hitarea-size);
}

