# EditorConfig defaults for Coral Spectrum

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8

# Indentation style
[*.{html,js,css,styl,json,md}]
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Indentation override for all html templates
[{templates/**.html,package.json}]
insert_final_newline = false
