/.idea
/*.iml
/.publish

/.editorconfig
/.eslintrc
/.gitignore

/gulpfile.js
/index.md
/examples
/src/tests

/coral-*/examples
/coral-*/src/tests
/coral-*/src/templates/*.html
/coral-*/src/styles/**/*.styl
/coral-*/src/embed
/coral-*/build
/coral-*/gulpfile.js

/coral-guide
/coral-gulp
/coral-component-playground