#@coralui:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-coralui-release
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release