/node_modules
/npm-debug.log
/index-themed.js
/gulpfile.js

/coralui-*/src/templates/*.js
/coralui-*/src/styles/index.css
/coralui-*/index-themed.js
/coralui-*/README.md
/coralui-*/build
/coralui-*/gulpfile.js

/coralui-guide
/coralui-gulp