/.editorconfig
/.eslintrc
/.gitignore

/gulpfile.js
/index.md
/examples
/src/tests

/coralui-*/examples
/coralui-*/src/tests
/coralui-*/src/templates/*.html
/coralui-*/src/styles/**/*.styl
/coralui-*/src/embed
/coralui-*/build
/coralui-*/gulpfile.js

/coralui-guide
/coralui-gulp
/coralui-component-playground