p.
  The Coral.Shell.Help component is a standardized help menu designed to fit into the
  Shell 3 pattern. The menu typical contains links that are instances of <code>Coral.Shell.Help.Item</code>.

+markup-example().
  <div class="coral-Well">
    <coral-shell-help id="help">
      <a is="coral-shell-help-item" icon="globe" href="/learn">Marketing Cloud Help</a>
      <a is="coral-shell-help-item" icon="users" href="/community">Community</a>
      <a is="coral-shell-help-item" icon="callCenter" href="/customercare">Customer Care</a>
      <a is="coral-shell-help-item" icon="news" href="/news">What's new in CoralUI</a>
      <a is="coral-shell-help-item" icon="servers" href="/status">Adobe Marketing Cloud Status</a>
      <a is="coral-shell-help-item" icon="lightbulb" href="/getstarted">Getting Started with CoralUI</a>
    </coral-shell-help>
  </div>

include jsdoc
