+document-section('Accessibility', false)

  +document-subsection('Keyboard support')
    p.
      <code>Coral.Switch</code> can receive keyboard focus and its state can be changed via SPACE key, and is identified
      to assistive technology as a checkbox element.

  +document-subsection('Labelling the component')
    p.
      To meet accesibility standards, the switch component should always be labelled. This can be done by setting the
      <code>labelledby</code> attribute with the id of the HTML element that provides a label for the Switch.

