script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Switch,
      fields: [
        {
          label: 'Value',
          prop: 'value',
          type: 'text',
          value: 'on'
        },
        {
          label: 'is checked',
          prop: 'checked',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is disabled',
          prop: 'disabled',
          type: 'checkbox',
          value: false
        }
      ]
    }).insertAfterLastScript();
  }
