p.
  A Switch is a representation of a mutually exclusive where it is implied they one activates and the other one disables
  the option. Since it does not contain a label, it should not be used to select between to options that do not share
  this Yes/No implication. This is similar to a checkbox and is often used in tables.

include configurator
include form
include accessibility
include jsdoc
