/**
  Element: button-group
  CUI button-group styles
*/

@buttongroup-border-color: rgb(172, 172, 172);
@buttongroup-gradient-start-color: rgb(245, 245, 245);
@buttongroup-gradient-end-color: rgb(235, 235, 235);

.button-group {

  // removes the spacing between the buttons.
  font-size: 0;
  
  button,
  .button {
      .gradient(@buttongroup-gradient-start-color, @buttongroup-gradient-end-color);
      border: @px solid @buttongroup-border-color;
      color: @font-base-color;
      text-shadow: none;
      .normal-text;
      min-width: 50 * @px;

      &:focus {
        z-index: 1; // Force glow to front of button line
        position: relative;
      }

      &:hover {
        .gradient(@buttongroup-gradient-start-color, @buttongroup-gradient-start-color);  
      }
      
      i[class^="icon-"],
      i[class*=" icon-"] {
          margin-right: 0; // Margin does not display well in buttons without text

        &:before {
          color: @icon-color;
          opacity: @icon-opacity;
        }
      }
  }
  
  button:not(:first-child),
  .button:not(:first-child) {
    margin-left: -@px;
  }
}
