/**
  Element: button
  CUI button style for dark theme
*/

@button-dark-text-color: rgb(255, 255, 255);

@button-dark-border-color: rgb(30, 30, 30);
@button-dark-gradient-start-color: rgb(120, 120, 120);
@button-dark-gradient-end-color: rgb(100, 100, 100);

@button-dark-icon-color: rgba(255, 255, 255, 0.8);

// Button: Disabled
@button-dark-disabled-text-color: rgb(110, 110, 110);
@button-dark-disabled-border-color: rgb(65, 65, 65);
@button-dark-disabled-background-color: rgb(80, 80, 80);

.theme-dark {
  button,
  .button {
    border-color: fade(@button-dark-border-color, 65%);
    color: @button-dark-text-color;

    .gradient(@button-dark-gradient-start-color, @button-dark-gradient-end-color);

    &:hover {
      .gradient(@button-dark-gradient-start-color, @button-dark-gradient-start-color);
    }

    &:active {
      border-color: fade(@button-dark-border-color, 75%);
      .gradient(@button-dark-gradient-end-color, @button-dark-gradient-end-color);
    }

    &:before {
      color: @button-dark-icon-color;
    }
  }

  // Button: Disabled
  button.disabled,
  button[disabled],
  .button.disabled,
  button.disabled:active,
  button[disabled]:active,
  .button.disabled:active,
  button.disabled:hover,
  button[disabled]:hover,
  .button.disabled:hover {
    border-color: @button-dark-disabled-border-color;
    color: @button-dark-disabled-text-color;
    background: @button-dark-disabled-background-color;
  }
}