/**
  Element: button-group
  CUI button group style for dark theme
*/

@buttongroup-dark-gradient-start-color: rgb(85, 85, 85);
@buttongroup-dark-gradient-end-color: rgb(75, 75, 75);
@buttongroup-dark-active-color: rgb(65, 65, 65);
@buttongroup-dark-border-color: rgba(30, 30, 30, 0.65);

@buttongroup-dark-icon-color: rgb(255, 255, 255);
@buttongroup-dark-icon-opacity: 0.80;

.theme-dark {
  .button-group {
    
    button,
    .button {

      .gradient(@buttongroup-dark-gradient-start-color, @buttongroup-dark-gradient-end-color);

      border: @px solid @buttongroup-dark-border-color;
      color: @font-base-dark-color;

      &:hover {
        .gradient(@buttongroup-dark-gradient-start-color, @buttongroup-dark-gradient-start-color);  
      }

      &:active {
        .gradient(@buttongroup-dark-active-color, @buttongroup-dark-active-color);
      }
      
      i[class^="icon-"],
      i[class*=" icon-"] {
        &:before {
          color: @buttongroup-dark-icon-color;
          opacity: @buttongroup-dark-icon-opacity;
        }
      }
    }
  }
}
