/**
  Element: button
  CUI button styles
*/

// Button dimesions
@button-text-size: 15*@px; // TBD: make rem so they stay the same size, or let them scale with fonts?
@button-text-large-size: 17*@px;
@button-text-color: rgb(255, 255, 255);

// Button: Blue
@button-primary-border-color: rgba(0, 30, 70, 0.70);
@button-primary-gradient-start-color: rgb(50, 135, 210);
@button-primary-gradient-end-color: rgb(50, 120, 190);

@button-primary-down-border-color: rgba(0, 30, 70, 0.80);

// Button: Gray
@button-default-border-color: rgba(30, 30, 30, 0.65);
@button-default-gradient-start-color: rgb(180, 180, 180);
@button-default-gradient-end-color: rgb(150, 150, 150);

@button-default-down-border-color: rgba(30, 30, 30, 0.75);

// Button: Red
@button-warning-border-color: rgba(70, 15, 15, 0.70);
@button-warning-gradient-start-color: rgb(250, 90, 80);
@button-warning-gradient-end-color: rgb(225, 65, 50);

@button-warning-down-border-color: rgba(70, 15, 15, 0.80);

// Button: Disabled
@button-disabled-text-color: rgb(180, 180, 180);
@button-disabled-border-color: rgb(210, 210, 210);
@button-disabled-background-color: rgb(230, 230, 230);


// Button: Default (gray)
button,
.button {
  display: inline-block;
  .border-box; // makes 110px min-width apply consistently between anchor/button

  vertical-align: top; // makes buttons line up when placed next to each other

  min-width: 110*@px;

  margin: 2*@px 0;  // resets default margin on button tag
                    // gives a top/bottom margin so they stack right
  padding: 10*@px 15*@px;
  border: @px solid;

  border-color: @button-default-border-color;

  .bold-text;
  font-size: @button-text-size;
  color: @button-text-color;
  text-decoration: none; // resets underline on anchor
  text-align: center;

  text-shadow: 0 -1*@px 0 rgba(0, 0, 0, 0.40);

  cursor: pointer; // gives hand cursor

  .gradient(@button-default-gradient-start-color, @button-default-gradient-end-color);

  &:hover {
        text-decoration: none; // resets underline on anchor
        .gradient(@button-default-gradient-start-color, @button-default-gradient-start-color);
  }

  &:active {
    border-color: @button-default-down-border-color;
    .gradient(@button-default-gradient-end-color, @button-default-gradient-end-color);

    .box-shadow(inset 0 0 4*@px rgba(0, 0, 0, 0.15));
  }

  &:focus {
    .glow();
    text-decoration: none;
  }
  
  // A square button for buttons attached to form fields with icons in them
  &.square {
    .button-square;
  }

  // call to action button.
  &.button-large,
  &.large {
    font-size: @button-text-large-size;
    min-width: 135*@px;
    padding: 14*@px 20*@px;
  }
}


// Button: Primary (blue)
button.primary:not(.disabled):not([disabled]),
.button.primary:not(.disabled):not([disabled]) {
  border-color: @button-primary-border-color;

  .gradient(@button-primary-gradient-start-color, @button-primary-gradient-end-color);

    // &.primary {
    &:hover {
        .gradient(@button-primary-gradient-start-color, @button-primary-gradient-start-color);
    }
    // }

  &:active {
    border-color: @button-primary-down-border-color;
    .gradient(@button-primary-gradient-end-color, @button-primary-gradient-end-color);
  }
}


// Button: Warning (red)
button.warning:not(.disabled):not([disabled]),
.button.warning:not(.disabled):not([disabled]) {
  border-color: @button-warning-border-color;

  .gradient(@button-warning-gradient-start-color, @button-warning-gradient-end-color);

    // &.warning {
    &:hover {
        .gradient(@button-warning-gradient-start-color, @button-warning-gradient-start-color);
    }
    // }

  &:active {
    border-color: @button-warning-down-border-color;
    .gradient(@button-warning-gradient-end-color, @button-warning-gradient-end-color);
  }
}


// Button: Disabled
button.disabled,
button[disabled],
.button.disabled,
button.disabled:active,
button[disabled]:active,
.button.disabled:active,
button.disabled:hover,
button[disabled]:hover,
.button.disabled:hover {
    cursor: default;

    border-color: @button-disabled-border-color;

    color: @button-disabled-text-color;
    text-shadow: none;
    .box-shadow(none);

    background: @button-disabled-background-color;
}
