/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

// extra small device: <768px
// medium device: >= 992px
// large device >= 1200px

.u-coral-visibleXS {
  display: none !important;
}

@media (max-width: 767px) {
  .u-coral-visibleXS {
    display: block !important;
  }
}

.u-coral-visibleS {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-coral-visibleS {
    display: block !important;
  }
}

.u-coral-visibleM {
  display: none !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-coral-visibleM {
    display: block !important;
  }
}

.u-coral-visibleL {
  display: none !important;
}

@media (min-width: 1200px) {
  .u-coral-visibleL {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .u-coral-hiddenXS {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-coral-hiddenS {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-coral-hiddenM {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .u-coral-hiddenL {
    display: none !important;
  }
}
