script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Card,useInnerElements: true,
      innerElements: [
        {
          tagName: 'coral-card-asset',
          properties: {
            'asset.innerHTML': 'innerHTML'
          }
        },
      ],
      fields: [
        {
          label: 'Asset',
          prop: 'asset.innerHTML',
          type: 'text',
          value: '<img src="http://lorempixel.com/100/150/people/6">'
        },
        {
          label: 'Asset Width',
          prop: 'assetWidth',
          type: 'spinner',
          value: 100
        },
        {
          label: 'Asset Height',
          prop: 'assetHeight',
          type: 'spinner',
          value: 150
        },
        {
          label: 'Variant',
          prop: 'variant',
          type: 'select',
          value: 'default',
          options: {
            'Default': 'default',
            'Condensed': 'condensed',
            'Inverted': 'inverted',
            'Asset': 'asset'
          }
        },
        {
          label: 'is stacked',
          prop: 'stacked',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is fixedWidth',
          prop: 'fixedWidth',
          type: 'checkbox',
          value: false
        }
      ]
    }).insertAfterLastScript();
  }
