+document-section('Markup Examples', true)
  +document-subsection('Card with Overlay')
    +markup-example()
      coral-card(fixedwidth, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/7')
        coral-card-overlay
          .u-coral-padding
            coral-card-context OVERLAY Only

  +document-subsection('Card with Content')
    +markup-example()
      coral-card(fixedwidth, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/7')
        coral-card-content
          coral-card-context Image
          coral-card-title Girl's Eyes
          coral-card-propertylist
            coral-card-property(icon='lockOn')
            coral-card-property(icon='comment') 3
            coral-card-property(icon='star') 4

  +document-subsection('Card with Content, condensed')
    +markup-example()
      coral-card(fixedwidth, variant='condensed', assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/7')
        coral-card-content
          coral-card-context Image
          coral-card-title Girl's Eyes
          coral-card-propertylist
            coral-card-property(icon='lockOn')
            coral-card-property(icon='comment') 3
            coral-card-property(icon='star') 4

  +document-subsection('Card with Content, inverted')
    +markup-example()
      coral-card(fixedwidth, variant='inverted', assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/sports/10')
        coral-card-content
          coral-card-context Folder
          coral-card-title Name
          coral-card-propertylist
            coral-card-property(icon='viewOff')
            coral-card-property(icon='lockOn')
            coral-card-property(icon='comment')

  +document-subsection('Card with Content, stacked')
    +markup-example()
      coral-card(fixedwidth, stacked, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/1')
        coral-card-content
          coral-card-context Collection
          coral-card-title Asset Collection

  +document-subsection('Card with Content, condensed & stacked')
    +markup-example()
      coral-card(fixedwidth, variant='condensed', stacked, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/1')
        coral-card-content
          coral-card-context Collection
          coral-card-title Asset Collection

  +document-subsection('Card with Content and Info: \'New\'')
    +markup-example()
      coral-card(fixedwidth, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/9')
        coral-card-info
          coral-tag(color='blue') New
        coral-card-content
          coral-card-context Image
          coral-card-title Girl's Eyes
          coral-card-propertylist
            coral-card-property(icon='viewOff')
            coral-card-property(icon='lockOn') 4
            coral-card-property(icon='comment') 3
          coral-card-propertylist
            coral-card-property 2 weeks ago


  +document-subsection('Card with Content and Alert: \'Info\'')
    +markup-example()
      coral-card(fixedwidth, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/9')
        coral-card-info
          coral-alert(variant="info")
            coral-alert-header Info
            coral-alert-content Workflow has started.
        coral-card-content
          coral-card-context Image
          coral-card-title Girl's Eyes
          coral-card-propertylist
            coral-card-property(icon='viewOff')
            coral-card-property(icon='lockOn') 4
            coral-card-property(icon='comment') 3

  +document-subsection('Card with Content and Alert: \'Error\'')
    +markup-example()
      coral-card(fixedwidth, assetwidth='200', assetheight='200')
        coral-card-asset
          img(src='http://lorempixel.com/200/200/people/9')
        coral-card-info
          coral-alert(variant="error")
            coral-alert-header Error
            coral-alert-content Asset has expired.
        coral-card-content
          coral-card-context Image
          coral-card-title Girl's Eyes
          coral-card-propertylist
            coral-card-property(icon='viewOff')
            coral-card-property(icon='lockOn') 4
            coral-card-property(icon='comment') 3
