+document-section-simple-example()
  .docs-Example-simpleExampleMarkup
    coral-card(fixedwidth, assetwidth='200', assetheight='200')
      coral-card-asset
        img(src='http://lorempixel.com/200/200/people/7')
      coral-card-content
        coral-card-context Image
        coral-card-title Girl's Eyes
        coral-card-propertylist
          coral-card-property(icon='lockOn')
          coral-card-property(icon='comment') 3
          coral-card-property(icon='star') 4

    coral-card(fixedwidth, assetwidth='200', assetheight='200')
      coral-card-asset
        img(src='http://lorempixel.com/200/200/people/9')

    coral-card(fixedwidth, variant='condensed', stacked, assetwidth='200', assetheight='200')
      coral-card-asset
        img(src='http://lorempixel.com/200/200/people/1')
      coral-card-content
        coral-card-context Collection
        coral-card-title Asset Collection
