/**
  Element: button-group
  CUI button-group styles
*/

.button-group {
  font-size: 0;
  
  button,
  .button {
      .gradient(@selector-gradient-start-color, @selector-gradient-end-color);
      border: @px solid @selector-border-color;
      color: @font-base-color;
      text-shadow: none;
      .normal-text;
      font-size: @button-text-size;
      min-width: 50 * @px;

      &:focus {
        z-index: 1; // Force glow to front of button line
        position: relative;
      }
      &:hover {
          .gradient(@selector-gradient-start-color, @selector-gradient-start-color);  
      }
      
      i[class^="icon-"],
      i[class*=" icon-"] {
        margin-right: 0; // Margin does not display well in buttons without text
        &:before {
          color: @icon-color;
          opacity: @icon-opacity;
          
        }
      }
  }
  
  button:not(:first-child),
  .button:not(:first-child) {
    margin-left: -@px;
  }
}
