p.
  The Shell.SolutionSwitcher component provides an easy way to quickly switch between solutions
  and core services.  The intended UI pattern is to have this panel slide out from underneath
  item is activated.  Providing quick access to other Adobe solutions establishes a clear
  connection between the current context and other Adobe offerings, both active or inactive.

p.
  In implementation, it is important to include inactive solutions in large and small viewports,
  with intelligent paths to account linking where applicable.

include markup-documentation
include jsdoc
