+document-section('Markup Examples', false)

  +document-subsection('Default')
    +markup-example('u-coral-padding').
      <coral-shell-solutionswitcher>
        <coral-shell-solutions>
          <a is="coral-shell-solution" icon="adobeAnalyticsColor" linked href="#">Analytics</a>
          <a is="coral-shell-solution" icon="adobeAudienceManagerColor" linked href="#">Audience Manager</a>
          <a is="coral-shell-solution" icon="adobeMediaOptimizerColor" linked href="#">Media Optimizer</a>
          <a is="coral-shell-solution" icon="adobeSocialColor" linked href="#">Social</a>
          <a is="coral-shell-solution" icon="adobeTargetColor" linked href="#">Target</a>
        </coral-shell-solutions>
        <coral-shell-solutions>
          <a is="coral-shell-solution" icon="adobeCampaign" linked href="#">Campaign</a>
          <a is="coral-shell-solution" icon="adobeExperienceManager" linked href="#">Experience Manager</a>
          <a is="coral-shell-solution" icon="adobePrimetime" linked href="#">Primetime</a>
        </coral-shell-solutions>
        <coral-shell-solutions secondary>
          <a is="coral-shell-solution" icon="user" linked href="#">Profiles &amp; Audiences</a>
          <a is="coral-shell-solution" icon="image" linked href="#">Assets</a>
          <a is="coral-shell-solution" icon="mobileServices" linked href="#">Mobile Services</a>
          <a is="coral-shell-solution" icon="sync" linked href="#">Exchange</a>
          <a is="coral-shell-solution" icon="launch" linked href="#">Activation</a>
          <a is="coral-shell-solution" icon="comment" linked href="#">Collaboration</a>
        </coral-shell-solutions>
      </coral-shell-solutionswitcher>
