+document-section-simple-example()
  p.
    The <a href='./Coral.Shell.SolutionSwitcher.html' class='coral-Link'>Shell.SolutionSwitcher</a> component provides an easy way to quickly switch between solutions and core services.

  .docs-Example-simpleExampleMarkup.u-columnLarge
    coral-shell-solutionswitcher
      coral-shell-solutions
        a(is="coral-shell-solution", icon="adobeAnalyticsColor", linked href="#") Analytics
        a(is="coral-shell-solution", icon="adobeAudienceManagerColor", linked href="#") Audience Manager
        a(is="coral-shell-solution", icon="adobeMediaOptimizerColor", linked href="#") Media Optimizer
        a(is="coral-shell-solution", icon="adobeSocialColor", linked href="#") Social
        a(is="coral-shell-solution", icon="adobeTargetColor", linked href="#") Target
