/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */
$colorinput-transparency-url = '../embed/Transparency.svg';
$colorinput-blank-url = '../embed/ColorBlank.svg';

$colorinput-overlay-size = 475*$px;
$colorinput-overlay-padding = 15*$px;

$colorinput-button-border-radius = 4*$px;
$colorinput-button-border-width = 1*$px;

$colorinput-properties-subview-border = 2*$px;
$colorinput-properties-subview-width = 240*$px;

$colorinput-edit-hex-width = 65*$px;
$colorinput-edit-hex-left-margin = 20*$px;
$colorinput-edit-hex-top-margin = -4*$px;

$colorinput-rgba-view-top-margin = 5*$px;
$colorinput-rgba-view-label-line-height = 30*$px;
$colorinput-rgba-view-input-width = 28*$px;
$colorinput-rgba-view-input-height = 30*$px;

$colorinput-swatch-subview-width = 180*$px;
$colorinput-swatch-subview-left-padding = 24*$px;
$colorinput-swatch-subview-title-bottom-margin = 20*$px;
$colorinput-swatch-subview-container-left-margin = 4*$px;
$colorinput-swatch-subview-container-height = 164*$px;

$colorinput-swatch-top-padding = 8*$px;
$colorinput-swatch-left-right-padding = 4*$px;

$colorinput-swatch-button-size = 32*$px;
$colorinput-swatch-button-left-padding = 6.4*$px;
$colorinput-swatch-button-top-padding = 6.4*$px;

$colorinput-button-wrapper-offset = 2*$px;

$colorinput-button-size = 28*$px;

$colorinput-input-swatch-size = 38*$px;

$colorinput-slider-width = 160*$px;
$colorinput-slider-margin = 5*$px 16*$px 0 16*$px;

$colorinput-overlay-only-properties-width = 265*$px;
$colorinput-overlay-only-swatch-width = 195*$px;

// items should be hidden by default
coral-colorinput-item {
  display: none;
}

.coral3-ColorInput {
  position: relative;
  display: inline-block;
  white-space: nowrap;

  coral-popover {
    height: 246*$px;
    width: $colorinput-overlay-size;
    padding: $colorinput-overlay-padding;

    .coral3-ColorInput-propertiesSubview {
      display: block;
      float: left;
      padding-right: $colorinput-overlay-padding;
      border-right: $colorinput-properties-subview-border solid;

      .coral3-ColorInput-previewView {
        display: inline-block;

        .coral3-ColorInput-preview-container {
          float: left;

          .coral3-ColorInput-preview {
            position: relative;
            width: 48*$px;
            height: 48*$px;
            border-width: $colorinput-button-border-width;
          }
        }

        .coral3-ColorInput-editHex {
          width: $colorinput-edit-hex-width;
          float: right;
          margin-left: $colorinput-edit-hex-left-margin;

          input {
            // Align the # character with the input
            margin-top: $colorinput-edit-hex-top-margin;
            height: $colorinput-rgba-view-input-height;
            width: 100%;
            min-width: 0;
            text-transform: uppercase;
          }
        }
      }

      .coral3-ColorInput-rgbaView {
        margin-top: $colorinput-rgba-view-top-margin;

        label {
          line-height: $colorinput-rgba-view-label-line-height;
          vertical-align: middle;
        }

        input {
          min-width: $colorinput-rgba-view-input-width;
          width: $colorinput-rgba-view-input-width;
          height: $colorinput-rgba-view-input-height;
        }
      }
    }

    .coral3-ColorInput-swatches {

      .coral3-ColorInput-swatchesSubview {
        display: inline-block;
        width: $colorinput-swatch-subview-width;
        padding-left: $colorinput-swatch-subview-left-padding;

        .coral3-ColorInput-swatches-header-title {
          // Add margin to vertically align the title with the below swatch container
          margin-left: $colorinput-swatch-subview-container-left-margin;
          margin-bottom: $colorinput-swatch-subview-title-bottom-margin;
        }

        .coral3-ColorInput-swatches-container {
          max-height: $colorinput-swatch-subview-container-height;
          overflow-y: auto;
        }
      }

      .coral3-ColorInput-swatch {
        display: block;
        float: left;
        padding: $colorinput-swatch-top-padding $colorinput-swatch-left-right-padding 0;

        /* All buttons inside the colorinput are square */
        button {
          position: relative;
          width: $colorinput-swatch-button-size;
          height: $colorinput-swatch-button-size;
          padding-left: $colorinput-swatch-button-left-padding;
          padding-top: $colorinput-swatch-button-top-padding;
          border-radius: $colorinput-button-border-radius;
          border-width: $colorinput-button-border-width;
          margin-right: 0;

          coral-icon {
            display: none;
          }

          &:before {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: $colorinput-button-border-radius;

            background-image: svgImport($colorinput-transparency-url);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
          }
        }

        &[selected] {
          button {
            coral-icon {
              display: inherit;
              vertical-align: inherit;
            }
          }
        }

        clearfix();
      }
    }
  }
}

.coral3-ColorInput-buttonWrapper {
  position: absolute;
  right: $colorinput-button-wrapper-offset;
  top: $colorinput-button-wrapper-offset;

  // set opacity < 1 to create new stacking context (for checker image to work)
  opacity: .999;

  .coral3-ColorInput-preview {
    border-width: $colorinput-button-border-width;
  }
}

.coral3-ColorInput-button {
  width: $colorinput-button-size;
  height: $colorinput-button-size;
  position: relative;

  padding: 0;
  margin: 0;
}

.coral3-ColorInput-swatch button:hover,
.coral3-ColorInput-preview:not([disabled]):hover {
  &:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
  }
}

.coral3-ColorInput-input {
  display: block;
  // makes space for the color preview
  padding-right: $colorinput-input-swatch-size;
  // allows the input to grow with the container
  width: 100%;
}

// Swatch variant
.coral3-ColorInput--swatch {
  width: $colorinput-input-swatch-size;
  height: $colorinput-input-swatch-size;

  // makes sure the width stays no matter the parent's configuration
  max-width: $colorinput-input-swatch-size;

  .coral3-ColorInput-input {
    position: absolute;
    opacity: 0;
    height: $colorinput-input-swatch-size;
    width: $colorinput-input-swatch-size;
  }

  .coral3-ColorInput-buttonWrapper {
    top: 0;
    right: 0;
  }

  .coral3-ColorInput-button {
    left: 0;
    top: 0;
    padding: 0;
    height: $colorinput-input-swatch-size;
    width: $colorinput-input-swatch-size;
  }
}

.coral3-ColorInput-preview {
  border-radius: $colorinput-button-border-radius;
  box-sizing: border-box;
  background-origin: border-box;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;

    background-image: svgImport($colorinput-transparency-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.coral3-ColorInput--novalue .coral3-ColorInput-preview,
.coral3-ColorInput.is-invalid .coral3-ColorInput-preview,
.coral3-ColorInput-swatch .coral3-ColorInput-swatch-novalue {
  background-image: svgImport($colorinput-blank-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &:hover, &:focus {
    background-image: svgImport($colorinput-blank-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.coral3-ColorInput-slider {
  display: inline-block;
  width: $colorinput-slider-width;
  margin: $colorinput-slider-margin;
}

.coral3-ColorInput-sliderBar {
  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: $colorinput-button-border-radius;

    background-image: svgImport($colorinput-transparency-url);
  }

  clearfix();
}

//Single view CSS
.coral3-ColorInput {
  coral-popover.coral3-ColorInput-onlyPropertiesView {
    width: $colorinput-overlay-only-properties-width;

    .coral3-ColorInput-propertiesSubview {
      border-right: 0;
    }
  }
}

.coral3-ColorInput {
  coral-popover.coral3-ColorInput-onlySwatchesView {
    width: $colorinput-overlay-only-swatch-width;

    .coral3-ColorInput-swatches {

      .coral3-ColorInput-swatchesSubview{
        padding-left: 0;
      }
    }
  }
}

@require 'darkest.styl';
@require 'dark.styl';
@require 'light.styl';
@require 'lightest.styl';
