/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$colorinput-swatch-button-icon-color = white;
$colorinput-button-icon-color = rgba(0, 0, 0, .4);
$colorinput-button-hover-background-color = rgba(255, 255, 255, 0.1);

._coral-ColorInput-propertiesSubview {
  border-right-color: $colorinput-propertiessubview-border;
}

._coral-ColorInput-swatch {
  &[selected] button {
    ._coral-Icon {
      color: $colorinput-swatch-button-icon-color;
    }

    &._coral-ColorInput-swatch-novalue {
      ._coral-Icon {
        color: $colorinput-button-icon-color;
      }
    }
  }
}

._coral-ColorInput-preview {
  &:disabled, &[disabled] {
    background-color: transparent;
  }
}

._coral-ColorInput--novalue ._coral-ColorInput-preview {
  &:disabled, &[disabled] {
    background-image: svgImport($colorinput-blank-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: white;
  }
}

._coral-ColorInput-swatch button,
._coral-ColorInput-preview:not([disabled]) {
  border-color: $colorinput-button-border-color;

  &:hover {
    border-color: $colorinput-button-border-color;

    &:after {
      background-color: $colorinput-button-hover-background-color;
    }
  }
}

._coral-ColorInput-swatch-novalue:hover {
  background-color: transparent;
}

._coral-ColorInput-preview[disabled] > ._coral-Icon {
  color: $colorinput-button-icon-color;
}
