<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Forms</title>

  <link rel="stylesheet" href="../../css/cui.css">

  <script src="../../js/libs/jquery.js"></script>
  <script src="../../js/libs/moment.js"></script>
  <script src="../../js/libs/jquery-message.js"></script>
  <script src="../../js/libs/jquery-validator.js"></script>
  <script src="../../js/libs/toe.js"></script>
  <script src="../../js/CUI.js"></script>

  <style>
    h1, h2 {
      margin-bottom: 1rem; /* no margin for heading, seriously!? */
    }
  </style>
</head>
<body>
  <div style="padding: 2rem;">
    <h1>Forms</h1>

    <h2>Vertical Layout</h2>
    <pre>/**
 * Indicates that the form is using vertical layout, where the label is placed above the field.
 */
form.vertical

/**
 * Indicates the fieldset.
 * .fieldset is used instead of &lt;fieldset> as &lt;legend> cannot be styled as per requirement.
 */
form.vertical .fieldset

/**
 * Indicates the legend of fieldset.
 */
form.vertical .fieldset > .legend

/**
 * Indicates the label of the field.
 * .fieldlabel is used so that the styling is only applied to this label, not any &lt;label> inside the form.
 */
form.vertical label.fieldlabel

/**
 * Indicates the field.
 */
form.vertical .field

/**
 * Indicates the field wrapper. A field wrapper MUST be used for field info and field error.
 */
form.vertical .fieldwrapper

/**
 * Indicates the field info.
 */
form.vertical .fieldwrapper .fieldinfo

/**
 * Indicates the field error.
 */
form.vertical .fieldwrapper .fielderror</pre>

    <form class="vertical" style="width: 500px;">
      <section id="form-fieldset-1" class="fieldset">
        <h3 class="legend">Section Title</h3>

        <label class="fieldlabel disabled">Disabled Text</label>
        <input class="field" disabled="disabled" type="text" placeholder="Placeholder">

        <label class="fieldlabel">Text</label>
        <input class="field" type="text" placeholder="Placeholder">

        <div class="fieldwrapper">
          <label class="fieldlabel">Text</label>
          <input class="field" type="text" placeholder="Required" aria-required="true">
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="right">Field Description</span>
        </div>
      </section>
      <section class="fieldset">
        <h3 class="legend">Section Title</h3>

        <div class="fieldwrapper">
          <label class="fieldlabel">Text</label>
          <input class="field" type="text" placeholder="Required" aria-required="true">
        </div>

        <label class="fieldlabel">Textarea</label>
        <textarea class="field" placeholder="Placeholder" rows="4"></textarea>

        <div class="fieldwrapper">
          <label class="fieldlabel">Textarea</label>
          <textarea class="field" placeholder="Required" rows="4" aria-required="true"></textarea>
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="right">Field Description</span>
        </div>

        <div class="fieldwrapper">
          <label class="fieldlabel">Textarea</label>
          <textarea class="field" placeholder="Required" rows="4" aria-required="true"></textarea>
        </div>

        <label class="fieldlabel">Number Input</label>
        <div class="field numberinput" data-init="numberinput">
          <button type="button" class="decrement">decrement</button>
          <input type="text">
          <button type="button" class="increment">increment</button>
        </div>

        <label class="fieldlabel">Search</label>
        <span class="field search"><input type="text"><button type="button">Search</button></span>

        <label class="fieldlabel">Select</label>
        <span class="field select" data-init="select">
          <button type="button">Select</button>
          <select>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">One Two Three Four Five Six Seven Eight Nine Ten</option>
          </select>
        </span>

        <label class="fieldlabel">Single Term Filters</label>
        <span class="field filters" data-init="filters">
          <input type="text">
          <select>
            <option selected>Apple</option>
            <option>Pear</option>
            <option>Banana</option>
          </select>
        </span>

        <label class="fieldlabel">Multiple Filters</label>
        <span class="field filters" data-init="filters" data-multiple="multiple">
          <input type="text">
          <select multiple>
            <option selected>Apple</option>
            <option selected>Pear</option>
            <option selected>Banana</option>
          </select>
        </span>

        <label class="fieldlabel">Stacking Filters</label>
        <span class="field filters" data-init="filters" data-stacking="true" data-allow="create">
          <input type="text">
          <select multiple>
            <option selected>Apple</option>
            <option selected>Pear</option>
            <option selected>Banana</option>
          </select>
        </span>

        <label class="fieldlabel">Single Select Dropdown</label>
        <div class="field dropdown" data-init="dropdown">
          <button type="button">Single Select</button>
          <select>
            <option>Single One</option>
            <option selected>Single Two</option>
            <option>Single Three</option>
          </select>
        </div>

        <label class="fieldlabel">Multi Select Dropdown</label>
        <div class="field dropdown" data-init="dropdown">
          <button type="button">Multi Select</button>
          <select multiple>
            <option>Multi One</option>
            <option selected>Multi Two</option>
            <option>Multi Three</option>
          </select>
        </div>

        <label class="fieldlabel">Editable Dropdown</label>
        <div class="field dropdown dropdown-editable" data-editable="true" data-init="dropdown">
          <input type="text">
          <button type="button">Editable</button>
          <select>
            <option>Edit One</option>
            <option>Edit Two</option>
            <option>Edit Three</option>
          </select>
        </div>

        <label class="fieldlabel">Multifield</label>
        <div class="field multifield" data-init="multifield">
          <ol>
            <li><textarea>Some value</textarea></li>
            <li><textarea>Some value</textarea></li>
            <li><textarea>Some value</textarea></li>
          </ol>
          <script type="text/html">
              <textarea></textarea>
          </script>
        </div>
      </section>

      <section class="fieldset">
        <h3 class="legend">Section Title</h3>

        <label class="fieldlabel">Date Picker</label>
        <span class="field datepicker" data-init="datepicker"><input type="datetime"><button class="icon-calendar">Datetime picker</button></span>

        <label class="fieldlabel">Slider</label>
        <span class="field slider" data-init="slider"><input type="range" value="10" min="10" max="20" step="2"></span>

        <label class="fieldlabel">Vertical Slider</label>
        <span class="field slider vertical" data-init="slider"><input type="range" value="10" min="10" max="20" step="2"></span>

        <label class="fieldlabel">Path Browser</label>
        <span class="field pathbrowser" data-init="pathbrowser"><input type="text"></span>

        <div class="fieldwrapper fieldwrapper-singleline">
          <label class="field checkboxfield"><input type="checkbox" name="check" checked><span>Checkbox</span></label>
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="left">Field Description</span>
        </div>
        <label class="field checkboxfield"><input type="checkbox" name="check" checked><span>Checkbox</span></label>
        <label class="field checkboxfield"><input type="checkbox" name="check" checked><span>Checkbox</span></label>

        <div class="fieldwrapper fieldwrapper-singleline">
          <label class="field radiofield"><input type="radio" name="radio" checked><span>Radio</span></label>
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="left">Field Description</span>
        </div>
        <label class="field radiofield"><input type="radio" name="radio" checked><span>Radio</span></label>
        <label class="field radiofield"><input type="radio" name="radio" checked><span>Radio</span></label>

        <label class="fieldlabel">Radio-group with horizontal layout </label>
        <div class="field radio-group horizontal">
            <label><input type="radio" class="field radiofield vertical"/><span class="regularText">1</span></label>
            <label><input type="radio" class="field radiofield vertical"/><span class="regularText">2</span></label>
            <label><input type="radio" class="field radiofield vertical"/><span class="regularText">3</span></label>
        </div>

        <label class="fieldlabel">Switch</label>
        <label class="field switch"><input type="checkbox"><span>Off</span><span>On</span></label>

        <label class="fieldlabel">Selector</label>
        <span class="field selector">
          <label><input type="radio"><span>Yes</span></label>
          <label><input type="radio"><span>No</span></label>
        </span>
      </section>
    </form>

    <h2>Aligned Layout</h2>
    <pre>/**
 * Indicates that the form is using aligned layout, where the label and the field are placed on the same line.
 */
form.aligned

/**
 * Indicates the fieldset.
 * .fieldset is used instead of &lt;fieldset> as &lt;legend> cannot be styled as per requirement.
 */
form.aligned .fieldset

/**
 * Indicates the legend of fieldset.
 */
form.aligned .fieldset > .legend

/**
 * Indicates the label of the field.
 * .fieldlabel is used so that the styling is only applied to this label, not any &lt;label> inside the form.
 */
form.aligned label.fieldlabel

/**
 * Indicates the field.
 */
form.aligned .field

/**
 * Indicates the field wrapper. A field wrapper MUST be used for field info and field error.
 */
form.aligned .fieldwrapper

/**
 * Indicates the field info.
 */
form.aligned .fieldwrapper .fieldinfo

/**
 * Indicates the field error.
 */
form.aligned .fieldwrapper .fielderror</pre>

    <form class="aligned" style="width: 500px;">
      <section class="fieldset">
        <h3 class="legend">Section Title</h3>

        <label class="fieldlabel">Text</label>
        <input class="field" type="text" placeholder="Placeholder">

        <div class="fieldwrapper">
          <label class="fieldlabel">Text</label>
          <input class="field" type="text" placeholder="Required" aria-required="true">
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="top">Field Description</span>
          <div class="tooltip hidden info arrow-top" style="position: absolute; left: 277.667px; top: 10165.3px;">Field Description</div>
        </div>

        <div class="fieldwrapper">
          <label class="fieldlabel">Text</label>
          <input class="field" type="text" placeholder="Required" aria-required="true">
        </div>

        <label class="fieldlabel">Textarea</label>
        <textarea class="field" placeholder="Placeholder" rows="4"></textarea>

        <div class="fieldwrapper">
          <label class="fieldlabel">Textarea</label>
          <textarea class="field" placeholder="Placeholder" rows="4" aria-required="true"></textarea>
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="top">Field Description</span>
        </div>

        <div class="fieldwrapper">
          <label class="fieldlabel">Textarea</label>
          <textarea class="field" placeholder="Required" rows="4" aria-required="true"></textarea>
        </div>

        <label class="fieldlabel">Number Input</label>
        <div class="field numberinput" data-init="numberinput">
          <button type="button" class="decrement">decrement</button>
          <input type="text">
          <button type="button" class="increment">increment</button>
        </div>

        <label class="fieldlabel">Search</label>
        <span class="field search"><input type="text"><button type="button">Search</button></span>

        <label class="fieldlabel">Select</label>
        <span class="field select" data-init="select">
          <button type="button">Select</button>
          <select>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">One Two Three Four Five Six Seven Eight Nine Ten</option>
          </select>
        </span>

        <label class="fieldlabel">Single Term Filters</label>
        <span class="field filters" data-init="filters">
          <input type="text">
          <select>
            <option selected>Apple</option>
            <option>Pear</option>
            <option>Banana</option>
          </select>
        </span>

        <label class="fieldlabel">Multiple Filters</label>
        <span class="field filters" data-init="filters" data-multiple="multiple">
          <input type="text">
          <select multiple>
            <option selected>Apple</option>
            <option selected>Pear</option>
            <option selected>Banana</option>
          </select>
        </span>

        <label class="fieldlabel">Stacking Filters</label>
        <span class="field filters" data-init="filters" data-stacking="true" data-allow="create">
          <input type="text">
          <select multiple>
            <option selected>Apple</option>
            <option selected>Pear</option>
            <option selected>Banana</option>
          </select>
        </span>

        <label class="fieldlabel">Single Select Dropdown</label>
        <div class="field dropdown" data-init="dropdown">
          <button type="button">Single Select</button>
          <select>
            <option>Single One</option>
            <option selected>Single Two</option>
            <option>Single Three</option>
          </select>
        </div>

        <label class="fieldlabel">Multi Select Dropdown</label>
        <div class="field dropdown" data-init="dropdown">
          <button type="button">Multi Select</button>
          <select multiple>
            <option>Multi One</option>
            <option selected>Multi Two</option>
            <option>Multi Three</option>
          </select>
        </div>

        <label class="fieldlabel">Editable Dropdown</label>
        <div class="field dropdown dropdown-editable" data-editable="true" data-init="dropdown">
          <input type="text">
          <button type="button">Editable</button>
          <select>
            <option>Edit One</option>
            <option>Edit Two</option>
            <option>Edit Three</option>
          </select>
        </div>

        <label class="fieldlabel">Multifield</label>
        <div class="field multifield" data-init="multifield">
          <ol>
            <li><textarea>Some value</textarea></li>
            <li><textarea>Some value</textarea></li>
            <li><textarea>Some value</textarea></li>
          </ol>
          <script type="text/html">
              <textarea></textarea>
          </script>
        </div>
      </section>

      <section class="fieldset">
        <h3 class="legend">Section Title</h3>

        <label class="fieldlabel">Date Picker</label>
        <span class="field datepicker" data-init="datepicker"><input type="datetime"><button class="icon-calendar">Datetime picker</button></span>

        <label class="fieldlabel">Slider</label>
        <span class="field slider" data-init="slider"><input type="range" value="10" min="10" max="20" step="2"></span>

        <label class="fieldlabel">Vertical Slider</label>
        <span class="field slider vertical" data-init="slider"><input type="range" value="10" min="10" max="20" step="2"></span>

        <label class="fieldlabel">Path Browser</label>
        <span class="field pathbrowser" data-init="pathbrowser"><input type="text"></span>

        <div class="fieldwrapper fieldwrapper-singleline">
          <label class="fieldlabel">Checkbox</label>
          <label class="field checkboxfield"><input type="checkbox" name="check" checked><span>Checkbox</span></label>
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="left">Field Description</span>
        </div>

        <div class="fieldwrapper fieldwrapper-singleline">
          <label class="fieldlabel">Radio</label>
          <label class="field radiofield"><input type="radio" name="radio" checked><span>Radio</span></label>
          <span class="fieldinfo icon-info-circle small" data-init="quicktip" data-quicktip-type="info" data-quicktip-arrow="left">Field Description</span>
        </div>

        <label class="fieldlabel">Switch</label>
        <label class="field switch"><input type="checkbox"><span>Off</span><span>On</span></label>

        <label class="fieldlabel">Selector</label>
        <span class="field selector">
          <label><input type="radio"><span>Yes</span></label>
          <label><input type="radio"><span>No</span></label>
        </span>
      </section>
    </form>

    <form>
      <h2>No Layout (To Test "vertical-align")</h2>

      <label>Text</label>
      <input type="text">

      <label>Textarea</label>
      <textarea rows="4"></textarea>

      <label>Search</label>
      <span class="search"><input type="text"><button type="button">Search</button></span>

      <label>Single Term Filters</label>
      <span class="filters" data-init="filters">
        <input type="text">
        <select>
          <option selected>Apple</option>
          <option>Pear</option>
          <option>Banana</option>
        </select>
      </span>

      <label>Multiple Filters</label>
      <span class="filters" data-init="filters" data-multiple="multiple">
        <input type="text">
        <select multiple>
          <option selected>Apple</option>
          <option selected>Pear</option>
          <option selected>Banana</option>
        </select>
      </span>

      <label>Stacking Filters</label>
      <span class="filters" data-init="filters" data-stacking="true" data-allow="create">
        <input type="text">
        <select multiple>
          <option selected>Apple</option>
          <option selected>Pear</option>
          <option selected>Banana</option>
        </select>
      </span>

      <label>Single Select Dropdown</label>
      <div class="dropdown" data-init="dropdown">
        <button type="button">Single Select</button>
        <select>
          <option>Single One</option>
          <option selected>Single Two</option>
          <option>Single Three</option>
        </select>
      </div>

      <label>Multi Select Dropdown</label>
      <div class="dropdown" data-init="dropdown">
        <button type="button">Multi Select</button>
        <select multiple>
          <option>Multi One</option>
          <option selected>Multi Two</option>
          <option>Multi Three</option>
        </select>
      </div>

      <label>Editable Dropdown</label>
      <div class="dropdown dropdown-editable" data-editable="true" data-init="dropdown">
        <input type="text">
        <button type="button">Editable</button>
        <select>
          <option>Edit One</option>
          <option>Edit Two</option>
          <option>Edit Three</option>
        </select>
      </div>

      <label>Date Picker</label>
      <span class="datepicker" data-init="datepicker"><input type="datetime"><button class="icon-calendar">Datetime picker</button></span>

      <label>Slider</label>
      <span class="slider" data-init="slider"><input type="range" value="10" min="10" max="20" step="2"></span>

      <label>Vertical Slider</label>
      <span class="slider vertical" data-init="slider"><input type="range" value="10" min="10" max="20" step="2"></span>

      <label>Path Browser</label>
      <span class="pathbrowser" data-init="pathbrowser"><input type="text"></span>

      <label>Checkbox</label>
      <label class="checkboxfield"><input type="checkbox" checked><span>Checkbox</span></label>

      <label>Radio</label>
      <label class="radiofield"><input type="radio" checked><span>Radio</span></label>

      <label>Switch</label>
      <label class="switch"><input type="checkbox"><span>Off</span><span>On</span></label>

      <label>Selector</label>
      <span class="selector">
        <label><input type="radio"><span>Yes</span></label>
        <label><input type="radio"><span>No</span></label>
      </span>
    </form>
  </div>
</body>
</html>
