style.
  .coralDocs-TooltipTarget {
    display: inline-block;
    width: 8rem;
    height: 2rem;
    border: 1px dashed gray;
    margin: 1rem 2rem 1rem 6rem;
    text-align: center;
    line-height: 2rem;
  }

  .coralDocs-TooltipButton {
    margin: 1rem;
  }

include component-mixins

p.
  A tooltip that can be attached to any other element and may be displayed immediately, on mouse over or only on API
  call.

+usage-notification().
  Notice: When using the Coral.Tooltip in a scrollable content, make sure the set 'position:
  relative' on the container to enable the repositioning of Coral.Tooltip.

include configurator
include markup-target

include javascript-documentation
include jsdoc
