// Body
@body-font-family: 'AdobeCleanRegular';
@body-font-color: rgb(51, 51, 51);
@body-background-color: rgb(240, 240, 240);


// Header
@header-height: 2.5em;
@header-background-color: rgb(34, 34, 34);
@header-font-family: 'AdobeCleanBold';

@header-item-font-color: rgb(153, 153, 153);
@header-item-spacing: 1em;

@header-item-down-font-color: white;


// Toolbar
@toolbar-border-color: rgb(215, 215, 215);
@toolbar-icon-margin: 0.25em;
@toolbar-spacer-color: rgb(198, 198, 198);


// Grid
@grid-spacing: 1em;
@grid-columns: 4;

@grid-background-color: white;
@grid-edit-background-color: gray;

@grid-item-background-color: white;
@grid-item-border-color: rgb(230, 230, 230);


// Crumbs
@crumb-chevron-color: rgb(206, 206, 206);


// Badge
@badge-background-color: rgb(64, 151, 220);
@badge-font-color: white;

// Links
@link-color: rgb(14, 145, 215);
@link-active-color: rgb(45, 102, 147);

// Icons
@icon-size: 1.5em;
@icon-color: rgb(68, 68, 68);


// Buttons
@button-text-color: rgb(255, 255, 255);

// Button: Blue
@button-blue-border-color: rgba(14, 64, 107, 0.70);
@button-blue-gradient-start-color: rgb(80, 163, 226);
@button-blue-gradient-end-color: rgb(36, 127, 204);
@button-blue-down-gradient-start-color: rgb(43, 133, 207);
@button-blue-down-gradient-end-color: rgb(41, 112, 170);

// Button: Gray
@button-gray-border-color: rgba(51, 51, 51, 0.50);
@button-gray-gradient-start-color: rgb(196, 196, 196);
@button-gray-gradient-end-color: rgb(166, 166, 166);
@button-gray-down-gradient-start-color: rgb(174, 174, 174);
@button-gray-down-gradient-end-color: rgb(135, 135, 135);

// Button: Red
@button-red-border-color: rgba(156, 0, 0, 0.70);
@button-red-gradient-start-color: rgb(255, 51, 51);
@button-red-gradient-end-color: rgb(206, 2, 2);
@button-red-down-gradient-start-color: darken(@button-red-gradient-start-color, 10%);
@button-red-down-gradient-end-color: darken(@button-red-gradient-end-color, 10%);

// Button: Disabled
@button-disabled-border-color: rgba(51, 51, 51, 0.20);
@button-disabled-gradient-start-color: rgb(213, 213, 213);
@button-disabled-gradient-end-color: rgb(198, 198, 198);
