// Body
@body-background-color: rgb(238, 238, 238);


// Fonts
@font-base-family: AdobeClean;
@font-base-color: rgb(51, 51, 51);
@font-secondary-color: rgb(150, 150, 150);


// Links
@link-color: rgb(100, 135, 195);


// Header
@header-height: 2.75rem;
@header-background-color: rgb(34, 34, 34);
@header-font-family: AdobeClean;

@header-nav-font-size: 1.125em; // 18px;
@header-nav-font-color: rgb(153, 153, 153);
@header-nav-spacing: 1.5rem;
@header-nav-down-font-color: white;

@header-logo-size: @header-height / 5 * 3;


// Toolbar
@toolbar-border-color: rgb(215, 215, 215);
@toolbar-icon-margin: 0.25rem;
@toolbar-spacer-color: rgb(198, 198, 198);


// Grid
@grid-spacing: 1rem;
@grid-columns: 4;

@grid-background-color: white;
@grid-edit-background-color: gray;

@grid-item-background-color: white;
@grid-item-border-color: rgb(230, 230, 230);


// Crumbs
@crumb-chevron-color: rgb(206, 206, 206);


// Badge
@badge-background-color: rgb(64, 151, 220);
@badge-empty-background-color: rgb(119, 119, 119);
@badge-font-color: white;


// Icons
@icon-size: 1.5em;  // Define with em so it changes with font-size
@icon-color: rgb(68, 68, 68);


// Buttons
@button-text-size: 1em;   // TBD: make rem so they stay the same size, or let them scale with fonts?
@button-text-color: rgb(255, 255, 255);

// Button: Blue
@button-blue-border-color: rgba(14, 64, 107, 0.70);
@button-blue-gradient-start-color: rgb(80, 163, 226);
@button-blue-gradient-end-color: rgb(36, 127, 204);
@button-blue-down-gradient-start-color: rgb(43, 133, 207);
@button-blue-down-gradient-end-color: rgb(41, 112, 170);

// Button: Gray
@button-gray-border-color: rgba(51, 51, 51, 0.50);
@button-gray-gradient-start-color: rgb(196, 196, 196);
@button-gray-gradient-end-color: rgb(166, 166, 166);
@button-gray-down-gradient-start-color: rgb(174, 174, 174);
@button-gray-down-gradient-end-color: rgb(135, 135, 135);

// Button: Red
@button-red-border-color: rgba(156, 0, 0, 0.70);
@button-red-gradient-start-color: rgb(255, 51, 51);
@button-red-gradient-end-color: rgb(206, 2, 2);
@button-red-down-gradient-start-color: darken(@button-red-gradient-start-color, 10%);
@button-red-down-gradient-end-color: darken(@button-red-gradient-end-color, 10%);

// Button: Disabled
@button-disabled-border-color: rgba(51, 51, 51, 0.20);
@button-disabled-gradient-start-color: rgb(213, 213, 213);
@button-disabled-gradient-end-color: rgb(198, 198, 198);


// Text Field
@textfield-border-color: rgb(187, 187, 187);
@textfield-background-color: rgb(255, 255, 255);
@textfield-border-color-focused: rgb(106, 139, 196);
@textfield-background-color-focused: rgb(255, 255, 255);
@textfield-border-color-error: rgb(204, 84, 75);
@textfield-background-color-error: rgb(255, 255, 255);
//@textfield-border-color-error-focused: rgb(204, 84, 75);
//@textfield-background-color-error-focused: rgb(255, 255, 255);



// Rail
@rail-background-color: rgb(72, 76, 77);

@rail-shadow-distance: 0.1rem;
@rail-shadow-spread: 0.45rem;
@rail-shadow-opacity: 0.35;

@rail-section-border-color: rgb(49, 52, 52);
@rail-section-highlight-color: rgb(89, 92, 93);
@rail-section-link-color: rgb(199, 199, 199);

@rail-well-background-color: rgb(57, 60, 60);

@rail-font-color: rgb(220, 220, 220);


// Table
@table-border-color: rgb(187, 187, 187);

@table-heading-background-color: rgb(220, 220, 220);
@table-heading-sorted-background-color: rgb(210, 210, 210);

@table-cell-border-color: rgb(230, 230, 230);
@table-cell-background-color: rgb(255, 255, 255);

@table-cell-hover-background-color: rgb(210, 230, 245);
@table-cell-hover-border-color: rgb(170, 205, 240);

@table-cell-selected-background-color: rgb(170, 205, 240);
@table-cell-selected-border-color: rgb(140, 185, 230);


// Well
@well-background-color: rgb(213, 213, 213);
@well-border-color: rgb(187, 187, 187);


// Alert
@alert-red-background-color: rgb(253, 102, 103);
@alert-red-border-color: rgb(198, 67, 64);

@alert-yellow-background-color: rgb(252, 199, 52);
@alert-yellow-border-color: rgb(221, 166, 43);

@alert-green-background-color: rgb(179, 201, 117);
@alert-green-border-color: rgb(140, 164, 71);

@alert-blue-background-color: rgb(125, 169, 232);
@alert-blue-border-color: rgb(106, 134, 192);


// Close button
@close-font-size: 1.25rem;
@close-opacity: 75;


// Progress bar
@progress-height: 1.375rem;  // TBD: leave as em so it scales with font size?
@progress-border-color: rgb(141, 141, 141);

@progress-stripe-size: 0.375rem;
@progress-stripe-offset: 2%;

@progress-background-color: rgb(187, 187, 187);
@progress-background-stripe-color: rgb(207, 207, 207);

@progress-bar-border-color: rgb(82, 117, 147);
@progress-bar-gradient-start: rgb(80, 163, 226);
@progress-bar-gradient-end: rgb(36, 128, 204);
