<section class="left" style="width: 45%">
  <h1 class="line noMargin">CoralUI JSDoc</h1>
  <p>Here you'll find complete JavaScript API documentation for all components as well as markup and data API examples.</p>
  <p>Please see the <a href="https://git.corp.adobe.com/Reef/CoralUI/wiki">CoralUI wiki</a> for general information about the CoralUI project.</p>

  <h2 class="line">Using CoralUI in Your Project</h2>
  <p>Getting CoralUI in your project is simple.</p>
  
  <h3>Any Project</h3>
  <p>Do a full build with <code>grunt full</code> and add the contents of the <code>build/</code> directory to your project. See the <a href="https://git.corp.adobe.com/Reef/CoralUI/wiki/Build-Process-&-Technology">Build Process &amp; Technology wiki page</a> for more information.</p>
  
  <h3>Granite Projects</h3>
  <p>Use <code>grunt mvn</code> to install to your local Granite instance. See the <a href="https://git.corp.adobe.com/Reef/CoralUI/wiki/CoralUI-in-Granite">CoralUI in Granite wiki page</a> for more information.</p>
  
  <h2 class="line">Contributing</h2>
  <p>Feedback and pull requests are encouraged. If you'd like to be assigned components or have fixes you'd like to submit, see the <a href="https://git.corp.adobe.com/Reef/CoralUI/wiki/Contributing">Contributing wiki page</a>.</p>
  
</section>

<section class="clearfix" style="overflow: hidden;">
  <h1 class="line noMargin">Components</h1>
  <ul class="grid componentGrid">
    <li>
      <a href="CUI.Alert.html">
          <h3>Alert</h3>
          <img src="../examples/assets/component_alert.png">
      </a>
    </li>
      
    <li>
      <a href="CUI.Modal.html">
          <h3>Modal</h3>
          <img src="../examples/assets/component_modal.png">
      </a>
    </li>

    <!--
    <li>
      <a href="CUI.Tabs.html">
          <h3>Modal</h3>
          <img src="../examples/assets/component_tabs.png">
      </a>
    </li>
    -->
  </ul>
</section>
