<?js
if (obj.kind === 'package') { ?>
    <h2 class="line"><?js= obj.name ?> <?js= obj.version ?></h2>
<?js } ?>

<?js if (obj.readme) { ?>
    <section>
        <article><?js= obj.readme ?></article>
    </section>
<?js } ?>
