<coral-overlay class="coral3-Autocomplete-overlay" returnfocus="off" placement="bottom" handle="overlay" role="presentation">
  <coral-buttonlist id="{{Coral.commons.getUID()}}" class="coral3-Autocomplete-selectList" handle="selectList" role="listbox" interaction="off"></coral-buttonlist>
</coral-overlay>
<input type="hidden" handle="field">
<div class="coral-InputGroup coral-InputGroup--block coral3-Autocomplete-inputGroup" handle="inputGroup" role="presentation">
  <div class="coral-InputGroup-input coral-DecoratedTextfield" handle="label" role="presentation">
    <coral-icon hidden size="XS" class="coral-DecoratedTextfield-icon coral3-Autocomplete-icon" handle="icon"></coral-icon>
    <input class="coral-DecoratedTextfield-input coral3-Autocomplete-input" type="text" autocomplete="off" handle="input" role="textbox" is="coral-textfield">
  </div>
  <span class="coral-InputGroup-button" role="presentation">
    <button tabindex="-1" is="coral-button" type="button" icon="chevronDown" iconsize="XS" handle="trigger" class="coral3-Autocomplete-trigger" aria-label="{{Coral.i18n.get('Show suggestions')}}" title="{{Coral.i18n.get('Show suggestions')}}"></button>
  </span>
</div>
<coral-taglist class="coral3-Autocomplete-tagList" handle="tagList"></coral-taglist>
