script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.FileUpload,
      inner: '<button is="coral-button" coral-fileupload-select>Select files...</button>',
      fields: [
        {
          label: 'Allowed MIME types',
          prop: 'accept',
          type: 'text',
          value: 'image/*'
        },
        {
          label: 'File size limit',
          prop: 'sizeLimit',
          type: 'text',
          value: '1000'
        },
        {
          label: 'Name',
          prop: 'name',
          type: 'text',
          value: 'file'
        },
        {
          label: 'HTTP method',
          prop: 'method',
          type: 'select',
          value: 'POST',
          options: {
            'POST': 'POST',
            'PUT': 'PUT',
            'PATCH': 'PATCH'
          }
        },
        {
          label: 'Upload URL',
          prop: 'action',
          type: 'text',
          value: 'path/to/upload'
        },
        {
          label: 'is autostart',
          prop: 'autoStart',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is disabled',
          prop: 'disabled',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is invalid',
          prop: 'invalid',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is multiple',
          prop: 'multiple',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is readonly',
          prop: 'readOnly',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is required',
          prop: 'required',
          type: 'checkbox',
          value: false
        },

      ],
      componentEvents: [
        'change'
      ]
    }).insertAfterLastScript();
  }
