+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.u-columnLarge
    coral-fileupload(action="/upload")
      button(is="coral-button", coral-fileupload-select, variant="quiet", icon="upload") Upload Assets
