mixin component-markup(options)
  coral-alert(size=options.size === 'l' ? 'l' : null, variant=options.variant || null)
     coral-alert-header!= options.header
     coral-alert-content!= options.content
