script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Alert,
      useInnerElements: true,
      innerElements: [
        {
          tagName: 'coral-alert-header',
          properties: {
            'header.innerHTML': 'innerHTML'
          }
        },
        {
          tagName: 'coral-alert-content',
          properties: {
            'content.innerHTML': 'innerHTML'
          }
        }
      ],
      fields: [
        {
          label: 'Size',
          prop: 'size',
          type: 'select',
          value: 'S',
          options: {
            'Small': 'S',
            'Large': 'L',
          }
        },
        {
          label: 'Variant',
          prop: 'variant',
          type: 'select',
          value: 'info',
          options: {
            'Info': 'info',
            'Help': 'help',
            'Success': 'success',
            'Error': 'error',
            'Warning': 'warning',
          }
        },
        {
          label: 'Header',
          prop: 'header.innerHTML',
          type: 'text',
          value: 'INFO'
        },
        {
          label: 'Content',
          prop: 'content.innerHTML',
          type: 'text',
          value: 'This is is an alert.'
        }
      ]
    }).insertAfterLastScript();

    configurator.on('coral-configurator:propchange', function(event) {
      if (event.detail.prop === 'size') {
        // Without this, switching between sizes will result in incorrect width in Chrome
        this.forceReflow();
      }
    });
  }
