include component-mixins

p.
  Alerts can be used as static indicators of an operation's result, or as messages to highlight information to the user.

include configurator
include markup-documentation
include jsdoc
