+document-section('Alert Examples', true)
  +document-subsection('Close Button')
    p.
     The Coral.Alert component does not include a close button by default, but you can add it manually.
     For this scenario, please use a large alert and add the close button to the lower right.

    +markup-example('u-columnSmall').
      <coral-alert size="L">
        <coral-alert-header>INFO</coral-alert-header>
        <coral-alert-content>
          This is is an alert. With information about the currrent issue and the option to close the alert.
          <div style="text-align:right">
            <button is="coral-button" variant="minimal" coral-close>Close</button>
          </div>
        </coral-alert-content>
      </coral-alert>




