include component-mixins

+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.u-columnSmall
    +component-markup({variant: 'success', header: 'Success', iconType: 'checkCircle', content: 'This is an alert.'}).
