+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical u-columnMedium">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-0" class="coral-Form-fieldlabel">Label</label>
            <coral-select class="coral-Form-field" placeholder="Select one" name="name" labelledby="label-vertical-0">
              <coral-select-item value="am">America</coral-select-item>
              <coral-select-item value="eu">Europe</coral-select-item>
              <coral-select-item value="af">Africa</coral-select-item>
              <coral-select-item value="as">Asia</coral-select-item>
              <coral-select-item value="oc">Oceania</coral-select-item>
            </coral-select>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-1" class="coral-Form-fieldlabel">Required</label>
            <coral-select class="coral-Form-field" placeholder="Select one" name="name" labelledby="label-vertical-1" required>
              <coral-select-item value="am">America</coral-select-item>
              <coral-select-item value="eu">Europe</coral-select-item>
              <coral-select-item value="af">Africa</coral-select-item>
              <coral-select-item value="as">Asia</coral-select-item>
              <coral-select-item value="oc">Oceania</coral-select-item>
            </coral-select>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-Form-Vertical-Select-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-Form-Vertical-Select-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-select class="coral-Form-field" placeholder="Select one" name="name" labelledby="label-vertical-2" invalid>
              <coral-select-item value="am">America</coral-select-item>
              <coral-select-item value="eu">Europe</coral-select-item>
              <coral-select-item value="af">Africa</coral-select-item>
              <coral-select-item value="as">Asia</coral-select-item>
              <coral-select-item value="oc">Oceania</coral-select-item>
            </coral-select>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-Form-Vertical-Select-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-Form-Vertical-Select-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-0" class="coral-Form-fieldlabel">Label</label>
            <coral-select class="coral-Form-field" placeholder="Select one" name="name" labelledby="label-aligned-0">
              <coral-select-item value="am">America</coral-select-item>
              <coral-select-item value="eu">Europe</coral-select-item>
              <coral-select-item value="af">Africa</coral-select-item>
              <coral-select-item value="as">Asia</coral-select-item>
              <coral-select-item value="oc">Oceania</coral-select-item>
            </coral-select>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-1" class="coral-Form-fieldlabel">Required</label>
            <coral-select class="coral-Form-field" placeholder="Select one" name="name" labelledby="label-aligned-1" required>
              <coral-select-item value="am">America</coral-select-item>
              <coral-select-item value="eu">Europe</coral-select-item>
              <coral-select-item value="af">Africa</coral-select-item>
              <coral-select-item value="as">Asia</coral-select-item>
              <coral-select-item value="oc">Oceania</coral-select-item>
            </coral-select>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-Form-Aligned-Select-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-Form-Aligned-Select-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-select class="coral-Form-field" placeholder="Select one" name="name" labelledby="label-aligned-2" invalid>
              <coral-select-item value="am">America</coral-select-item>
              <coral-select-item value="eu">Europe</coral-select-item>
              <coral-select-item value="af">Africa</coral-select-item>
              <coral-select-item value="as">Asia</coral-select-item>
              <coral-select-item value="oc">Oceania</coral-select-item>
            </coral-select>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-Form-Aligned-Select-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-Form-Aligned-Select-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
