p.
  Select is a form field that allows users to select from a list of options.

p.
  Important: If this component is shown on a mobile device, it will show a native select list, instead of the select
  list styled via CoralUI.

include configurator
include form
include markup-documentation
include javascript-documentation
include jsdoc
