+document-section('JavaScript Examples')

  +document-subsection('Loading Remote Content', 'The following shows how to respond to user interaction when an item is selected in the Select component above.')
    +markup-example().
      <coral-select name="select_remote_example" placeholder="Remote content" id="select_remote_example"></coral-select>
    p The following JavaScript manually adds content to the select component on page initialization
    +example-pre-only().
      <script>
        $(document).ready(function() {
          var fakeLoadingTimeout;
          var items = [
            {
              value: 'ch',
              content: {
                textContent: 'Chrome'
              }
            },
            {
              value: 'fi',
              content: {
                textContent: 'Firefox'
              }
            },
            {
              value: 'ie',
              content: {
                textContent: 'Internet Explorer'
              }
            },
            {
              value: 'op',
              content: {
                textContent: 'Opera'
              }
            },
            {
              value: 'sa',
              content: {
                textContent: 'Safari'
              }
            }
          ];

          var select = $('#select_remote_example').get(0);
          select.addEventListener('coral-select:showitems', function(event) {
            // Stop previous request
            clearTimeout(fakeLoadingTimeout);

            // Don't use local selections and show the loading icon
            event.preventDefault();

            // Make a request and show suggestions from that
            fakeLoadingTimeout = setTimeout(function() {
              items.forEach(function(value, index) {
                // Add each item
                // This hides the loading indicator automatically
                select.items.add(value);
              });
            }, 1000);
          });
        })
      </script>
