+document-section('Markup Examples', true)

  +document-subsection('Single Selection with Preselected Item')
    +markup-example().
      <coral-select name="select11">
        <coral-select-item value="actions"><coral-icon icon="actions"></coral-icon>Actions</coral-select-item>
        <coral-select-item value="add"><coral-icon icon="add"></coral-icon>Add</coral-select-item>
        <coral-select-item value="add-circle"><coral-icon icon="addCircle"></coral-icon>Add-Circle</coral-select-item>
        <coral-select-item value="adjust" selected><coral-icon icon="adjust"></coral-icon>Adjust</coral-select-item>
      </coral-select>

  +document-subsection('Multiple Selection with Preselected Items')
    +markup-example().
      <coral-select name="select12" multiple>
        <coral-select-item value="actions" selected>Actions</coral-select-item>
        <coral-select-item value="add">Add</coral-select-item>
        <coral-select-item value="add-circle">Add-Circle</coral-select-item>
        <coral-select-item value="adjust" selected>Adjust</coral-select-item>
      </coral-select>

  +document-subsection('Quiet')
    +markup-example().
      <coral-select name="select13" variant="quiet">
        <coral-select-item value="actions"><coral-icon icon="actions"></coral-icon>Actions</coral-select-item>
        <coral-select-item value="add"><coral-icon icon="add"></coral-icon>Add</coral-select-item>
        <coral-select-item value="add-circle"><coral-icon icon="addCircle"></coral-icon>Add-Circle</coral-select-item>
        <coral-select-item value="adjust" selected><coral-icon icon="adjust"></coral-icon>Adjust</coral-select-item>
      </coral-select>
