+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.u-columnSmall
    | <label id="label-0">Select an item</label>
    | <coral-select name="select1" labelledby="label-0">
    |   <coral-select-item value="actions"><coral-icon icon="actions"></coral-icon>Actions</coral-select-item>
    |   <coral-select-item value="infoCircle"><coral-icon icon="infoCircle"></coral-icon>InfoCircle</coral-select-item>
    |   <coral-select-item value="check"><coral-icon icon="check"></coral-icon>Check</coral-select-item>
    |   <coral-select-item value="add"><coral-icon icon="add"></coral-icon>Add</coral-select-item>
    | </coral-select>
