<button tracking="off" id="{{data.commons.getUID()}}" handle="button" class="_coral-CycleSelect-button button _coral-ActionButton _coral-ActionButton--quiet" is="coral-button" variant="_custom" iconsize="S">
  <coral-button-label class="_coral-ActionButton-label" handle="label"></coral-button-label>
</button>
<js>
  // Don't wait for button MO to pick up the label
  this.button._elements.label = this.label;
  // Render chevron icon
  this.button.insertAdjacentHTML('afterbegin', data.Icon._renderSVG('spectrum-css-icon-ChevronDownMedium', ['_coral-CycleSelect-icon']));
</js>
<coral-popover tracking="off" smart id="{{data.commons.getUID()}}" handle="overlay" returnfocus="on" focusonshow="coral-selectlist" trapfocus="on" placement="bottom" lengthoffset="10">
  <coral-selectlist tracking="off" class="_coral-CycleSelect-list" handle="selectList" id="{{data.commons.getUID()}}"></coral-selectlist>
  <coral-buttonlist tracking="off" class="_coral-CycleSelect-buttonList" handle="actionList" hidden></coral-buttonlist>
</coral-popover>
