+document-section('Behavior')
  h3.coral-Heading.coral-Heading--3 Keyboard Controls
  p When the modal is visible, pressing the escape key will dismiss the top most modal.

  h3.coral-Heading.coral-Heading--3 Focus Behavior
  p
    | When shown, the modal will focus on itself, showing no border.
    | Pressing Tab will move to the first focusable element, usually the close button.
    | Pressing Shift + Tab will move to the last focusable item in the modal, usually the last button.
  p
    | When Tab is pressed on the last focusable item, focus will shift to the first focusable item.
    | When Shift + Tab is pressed on the first focusable item, focus will shift to the last focusable item.

  p When hidden, the modal will return focus to the element that was previously focused on the page.
