+document-section('Markup Example')

  +document-subsection('Predefined dialog width')
    +markup-example().
      <button is="coral-button" onclick="markupDialog.open = true">Show Dialog</button>
      <coral-dialog id="markupDialog">
        <coral-dialog-header>Dialog from Markup</coral-dialog-header>
        <coral-dialog-content>This dialog was created from markup with child elements.</coral-dialog-content>
        <coral-dialog-footer>
          <button is="coral-button" coral-close>Cancel</button>
          <button is="coral-button" variant="primary" coral-close>Ok</button>
        </coral-dialog-footer>
      </coral-dialog>
      <style>
        #markupDialog [coral-dialog-container] {
          min-width: 100px;
          max-width: 200px;
        }
      </style>
