+document-section-simple-example()
  .guide-Example-simpleExampleMarkup.u-columnSmall
    coral-dialog(id="myDialog", variant="default")
      coral-dialog-header Default Dialog
      coral-dialog-content This dialog was created from markup. Dialogs can also be created with JavaScript.
      coral-dialog-footer
        button(is="coral-button", variant="primary",coral-close) Ok
    button(is="coral-button", onclick="document.querySelector('#myDialog').show();") Show Dialog
