/**
  Selector: .toolbar theme-dark
  The toolbar with action icons and dark-theme
*/
// Toolbar
@toolbar-dark-icon-color: rgb(255, 255, 255);

.theme-dark {
  .toolbar {
    
    &.break-lines .center,
    .break-lines & .center {
      border-top: @px solid @toolbar-border-color;

    }

  }

  /**
    Selector: .icongroup
    Button toolbar of icons defined using the <a> or <button> tags
  */
  .icongroup {
    
    // Any icon in an icon group should be medium sized
    [class^="icon-"],
    [class*=" icon-"] {
      
      &, &:before {
        color: @toolbar-dark-icon-color;
      }
    }

    // icon buttons in the dark theme show a gray background without this
    button[class^="icon-"]
    {
      background: none;
      filter: none;
    }
    
  }

  /**
    Class: .divider
    Divider used to separate icons and elements in the toolbar.
  */
  .divider {    
    @divider-dark-border-color: rgba(30, 30, 30, .65);

    border-left: @px solid @divider-dark-border-color;
  }
}