script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.TabList,
      fields: [
        {
          label: 'Size',
          prop: 'size',
          type: 'select',
          value: 'M',
          options: {
            'Medium': 'M',
            'Large': 'L'
          }
        },
        {
          label: 'Orientation',
          prop: 'orientation',
          type: 'select',
          value: 'horizontal',
          options: {
            'Horizontal': 'horizontal',
            'Vertical': 'vertical'
          }
        },
        {
          label: 'Target',
          prop: 'target',
          type: 'text',
          value: ''
        }
      ],
      items: [
        {
          label: {
            textContent: 'Tab 1'
          }
        },
        {
          label: {
            textContent: 'Tab 2'
          }
        }
      ],
      itemsMainContentZone: 'coral-tab-label',
      componentEvents: [
        'coral-tablist:change'
      ]
    }).insertAfterLastScript();
  }
