p.
  A <code>Coral.TabList</code> creates a set of tab elements. This is typically
  used with the <a href="Coral.TabView.html" class="coral-Link">Coral.TabView</a>
  wrapping container, along with a <a href="Coral.PanelStack.html" class="coral-Link">
  Coral.PanelStack</a>, to create a tabbed UI element. The <code>target</code>
  attribute is used to determine what element a <code>Coral.TabList</code> is
  controlling.

p.
  See the <a href="Coral.TabView.html" class="coral-Link">Coral.TabView</a>
  documentation for a complete example of this pattern.

