+document-section-simple-example()
  p.
    A <code>Coral.TabList</code> is used within a
    <a href="Coral.TabView.html" class="coral-Link">Coral.TabView</a> to control
    a <a href="Coral.PanelStack.html" class="coral-Link">Coral.PanelStack</a>
    which creates a typical 'Tabs' UI pattern.

  .docs-Example-simpleExampleMarkup
      coral-tablist
        coral-tab Tab 1
        coral-tab Tab 2
