/**
  Class: .tooltip
  Used for tooltip messages
*/
.tooltip {
  position: relative;
  display: inline-block;
  z-index: 100;
  
  max-width: 12rem;
  // height: 1rem; // Let content determine height/size

  margin: 0.5rem;
  padding: 0.5rem;

  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  .background-size(1rem 1rem);

  font-size: 0.875rem; // 14px

  vertical-align: middle; // Point at center of adjacent elements when included inline

  /*
    Colors
  */
  // default is blue
  border: @px solid @alert-blue-border-color;
  background-color: @alert-blue-background-color;

  &.error {
    background-color: @alert-red-background-color;
    border-color: @alert-red-border-color;

    &.arrow-top:before { // outer color
      border-bottom-color: @alert-red-border-color;
    }
    &.arrow-top:after { // inner color
      border-bottom-color: @alert-red-background-color;
    }
    &.arrow-bottom:before {
      border-top-color: @alert-red-border-color;
    }
    &.arrow-bottom:after {
      border-top-color: @alert-red-background-color;
    }
    &.arrow-left:before { // outer color
      border-right-color: @alert-red-border-color;
    }
    &.arrow-left:after { // inner color
      border-right-color: @alert-red-background-color;
    }
    &.arrow-right:before { // outer color
      border-left-color: @alert-red-border-color;
    }
    &.arrow-right:after { // inner color
      border-left-color: @alert-red-background-color;
    }
  }

  &.notice {
    background-color: @alert-yellow-background-color;
    border-color: @alert-yellow-border-color;

    &.arrow-top:before { // outer color
      border-bottom-color: @alert-yellow-border-color;
    }
    &.arrow-top:after { // inner color
      border-bottom-color: @alert-yellow-background-color;
    }
    &.arrow-bottom:before {
      border-top-color: @alert-yellow-border-color;
    }
    &.arrow-bottom:after {
      border-top-color: @alert-yellow-background-color;
    }
    &.arrow-left:before { // outer color
      border-right-color: @alert-yellow-border-color;
    }
    &.arrow-left:after { // inner color
      border-right-color: @alert-yellow-background-color;
    }
    &.arrow-right:before { // outer color
      border-left-color: @alert-yellow-border-color;
    }
    &.arrow-right:after { // inner color
      border-left-color: @alert-yellow-background-color;
    }    
  }

  &.success {
    background-color: @alert-green-background-color;
    border-color: @alert-green-border-color;

    &.arrow-top:before { // outer color
      border-bottom-color: @alert-green-border-color;
    }
    &.arrow-top:after { // inner color
      border-bottom-color: @alert-green-background-color;
    }
    &.arrow-bottom:before {
      border-top-color: @alert-green-border-color;
    }
    &.arrow-bottom:after {
      border-top-color: @alert-green-background-color;
    }
    &.arrow-left:before { // outer color
      border-right-color: @alert-green-border-color;
    }
    &.arrow-left:after { // inner color
      border-right-color: @alert-green-background-color;
    }
    &.arrow-right:before { // outer color
      border-left-color: @alert-green-border-color;
    }
    &.arrow-right:after { // inner color
      border-left-color: @alert-green-background-color;
    }
  }

  /*
    Arrows
  */

  // there is no arrow by default!

  &:before,
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  // top and bottom arrow
  &.arrow-top:before,
  &.arrow-top:after,
  &.arrow-bottom:before,
  &.arrow-bottom:after { // center the arrow in the center
    left: 50%;
  }

  &.arrow-top:before,
  &.arrow-bottom:before { // center the arrow in the center
    border-width: 0.5rem;
    margin-left: -0.5rem;
  }

  &.arrow-top:after,
  &.arrow-bottom:after { // center the arrow in the center
    border-width: 0.5rem - @px;
    margin-left: -0.5rem + @px;
  }

  &.arrow-top:before,
  &.arrow-top:after {
    bottom: 100%; // position the border on the top
  }

  &.arrow-top:before { // outer color
    border-bottom-color: @alert-blue-border-color;
  }

  &.arrow-top:after { // inner color
    border-bottom-color: @alert-blue-background-color;
  }


  &.arrow-bottom:before,
  &.arrow-bottom:after {
    top: 100%; // position the border on the bottom
  }


  &.arrow-bottom:before {
    border-top-color: @alert-blue-border-color;
  }

  &.arrow-bottom:after {
    border-top-color: @alert-blue-background-color;
  }

  // left and right arrow
  &.arrow-left:before,
  &.arrow-left:after,
  &.arrow-right:before,
  &.arrow-right:after { // center the arrow in the center
    top: 50%;
  }

  &.arrow-left:before,
  &.arrow-right:before { // center the arrow in the center
    border-width: 0.5rem;
    margin-top: -0.5rem;
  }

  &.arrow-left:after,
  &.arrow-right:after { // center the arrow in the center
    border-width: 0.5rem - @px;
    margin-top: -0.5rem + @px;
  }

  &.arrow-left:before,
  &.arrow-left:after {
    right: 100%; // position the border on the left
  }

  &.arrow-left:before { // outer color
    border-right-color: @alert-blue-border-color;
  }

  &.arrow-left:after { // inner color
    border-right-color: @alert-blue-background-color;
  }

  &.arrow-right:before,
  &.arrow-right:after {
    left: 100%; // position the border on the right
  }

  &.arrow-right:before { // outer color
    border-left-color: @alert-blue-border-color;
  }

  &.arrow-right:after { // inner color
    border-left-color: @alert-blue-background-color;
  }
}
