// Makes the custom element behave like a div
coral-panel-content {
  display: block;
}

._coral-PanelStack {
  display: block;
}

._coral-Panel {
  display: block;
}

._coral-Panel:not(.is-selected) {
  display: none;
}

// @spectrum Since coral-Well provides a margin top we need to override it.
._coral-PanelStack.coral-Well,
._coral-Panel.coral-Well {
  margin-top: 0;
}
