+document-section('Markup example', true)
  +document-subsection('Default')
    +markup-example().
      <coral-anchorlist>
        <a is="coral-anchorlist-item" icon="users" href="#community">Community</a>
        <a is="coral-anchorlist-item" icon="news" href="#news">What's new in CoralUI</a>
        <a is="coral-anchorlist-item" icon="servers" href="#status">CoralUI Status</a>
      </coral-anchorlist>
