+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical u-columnMedium">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-0" class="coral-Form-fieldlabel">Label</label>
            <coral-autocomplete class="coral-Form-field" placeholder="Select one" match="startswith" name="name" labelledby="label-vertical-0">
              <coral-autocomplete-item value="ch">Chrome</coral-autocomplete-item>
              <coral-autocomplete-item value="fi">Firefox</coral-autocomplete-item>
              <coral-autocomplete-item value="ie">Internet Explorer</coral-autocomplete-item>
              <coral-autocomplete-item value="sa">Safari</coral-autocomplete-item>
            </coral-autocomplete>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-1" class="coral-Form-fieldlabel">Required</label>
            <coral-autocomplete class="coral-Form-field" placeholder="Select one" match="startswith" name="name" labelledby="label-vertical-1" required>
              <coral-autocomplete-item value="ch">Chrome</coral-autocomplete-item>
              <coral-autocomplete-item value="fi">Firefox</coral-autocomplete-item>
              <coral-autocomplete-item value="ie">Internet Explorer</coral-autocomplete-item>
              <coral-autocomplete-item value="sa">Safari</coral-autocomplete-item>
            </coral-autocomplete>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-Form-Vertical-Autocomplete-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-Form-Vertical-Autocomplete-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-autocomplete class="coral-Form-field" placeholder="Select one" match="startswith" name="name" labelledby="label-vertical-2" invalid>
              <coral-autocomplete-item value="ch">Chrome</coral-autocomplete-item>
              <coral-autocomplete-item value="fi">Firefox</coral-autocomplete-item>
              <coral-autocomplete-item value="ie">Internet Explorer</coral-autocomplete-item>
              <coral-autocomplete-item value="sa">Safari</coral-autocomplete-item>
            </coral-autocomplete>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-Form-Vertical-Autocomplete-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-Form-Vertical-Autocomplete-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-0" class="coral-Form-fieldlabel">Label</label>
            <coral-autocomplete class="coral-Form-field" placeholder="Select one" match="startswith" name="name" labelledby="label-aligned-0">
              <coral-autocomplete-item value="ch">Chrome</coral-autocomplete-item>
              <coral-autocomplete-item value="fi">Firefox</coral-autocomplete-item>
              <coral-autocomplete-item value="ie">Internet Explorer</coral-autocomplete-item>
              <coral-autocomplete-item value="sa">Safari</coral-autocomplete-item>
            </coral-autocomplete>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-1" class="coral-Form-fieldlabel">Required</label>
            <coral-autocomplete class="coral-Form-field" placeholder="Select one" match="startswith" name="name" labelledby="label-aligned-1" required>
              <coral-autocomplete-item value="ch">Chrome</coral-autocomplete-item>
              <coral-autocomplete-item value="fi">Firefox</coral-autocomplete-item>
              <coral-autocomplete-item value="ie">Internet Explorer</coral-autocomplete-item>
              <coral-autocomplete-item value="sa">Safari</coral-autocomplete-item>
            </coral-autocomplete>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-Form-Aligned-Autocomplete-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-Form-Aligned-Autocomplete-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-autocomplete class="coral-Form-field" placeholder="Select one" match="startswith" name="name" labelledby="label-aligned-2" invalid>
              <coral-autocomplete-item value="ch">Chrome</coral-autocomplete-item>
              <coral-autocomplete-item value="fi">Firefox</coral-autocomplete-item>
              <coral-autocomplete-item value="ie">Internet Explorer</coral-autocomplete-item>
              <coral-autocomplete-item value="sa">Safari</coral-autocomplete-item>
            </coral-autocomplete>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-Form-Aligned-Autocomplete-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-Form-Aligned-Autocomplete-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
