$workspaces-height = 50px;
$workspaces-margin = 12px;
$workspaces-border-width = 2px;
$workspaces-transitiontime = 0.21s;

._coral-Shell-workspaces {
  display: flex;
  align-items: center;
  height: 100%;

  ._coral-Shell-workspaces-select {
    margin-top: 4px;
    height: 100%;
    width: inherit;
    border-bottom: $workspaces-border-width solid white;

    ._coral-Dropdown-trigger {
      margin-top: 7px;
    }

    ._coral-SelectList-icon {
      margin-left: 8px;
    }

    coral-selectlist-item-content {
      white-space: nowrap;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

._coral-Shell-workspaces-workspace {
  display: inline-block;
  box-sizing: border-box;
  height: $workspaces-height;
  margin: 0 $workspaces-margin;

  border-bottom: $workspaces-border-width solid transparent;

  line-height: $workspaces-height + $workspaces-border-width;
  color: rgb(190, 190, 190);
  text-decoration: none;

  font-style: normal;

  transition: border-color $workspaces-transitiontime ease-out, color $workspaces-transitiontime ease-out;

  &:hover {
    color: white;
  }

  &.is-selected {
    border-color: white;
    color: white;
  }

  &:focus {
    color: white;
    outline: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}
