<input handle="input" type="hidden" name="">
<div handle="header" class="_coral-Calendar-header">
  <div handle="heading" class="coral-Heading _coral-Calendar-heading" id="{{data.commons.getUID()}}" role="heading" aria-live="assertive" aria-atomic="true"></div>
  <button type="button" handle="prev" class="_coral-Calendar-prevMonth" is="coral-button" variant="icon" icon="spectrum-css-icon-CarouselLeftChevron" iconsize="XS" aria-label="{{data.i18n.get('Previous')}}" title="{{data.i18n.get('Previous')}}"></button>
  <button type="button" handle="next" class="_coral-Calendar-nextMonth" is="coral-button" variant="icon" icon="spectrum-css-icon-CarouselRightChevron" iconsize="XS" aria-label="{{data.i18n.get('Next')}}" title="{{data.i18n.get('Next')}}"></button>
</div>
<div class="_coral-Calendar-body" handle="body" role="grid" tabindex="0" aria-readonly="true"></div>
