<js>
  this.i18n = data.i18n;
  this.commons = data.commons;
</js>
<table handle="table" class="_coral-Calendar-table" role="presentation">
  <thead role="presentation">
    <tr role="row">
      <foreach data.dayNames,columnNumber>
        <th role="columnheader" scope="col" class="_coral-Calendar-tableCell">
          <abbr class="_coral-Calendar-dayOfWeek" title="{{data.dayFullName}}">{{data.dayAbbr}}</abbr>
        </th>
      </foreach>
    </tr>
  </thead>
  <tbody role="presentation">
    <foreach data.weeks,rowNumber>
      <tr role="row">
        <foreach data,columnNumber>
          <js>
            var calendarTitle;
            var calendarDate = data.dateLabel + ', ' + data.formattedDate;
            if (data.isToday) {
              if (data.ariaSelected) {
                calendarTitle = this.i18n.get('Today, {0} selected', calendarDate, 'date');
              }
              else {
                calendarTitle = this.i18n.get('Today, {0}', calendarDate, 'date');
              }
            }
            else {
              if (data.ariaSelected) {
                calendarTitle = this.i18n.get('{0} selected', calendarDate, 'date');
              }
              else {
                calendarTitle = calendarTitle = calendarDate;
              }
            }
          </js>
          <td handle="cell" role="gridcell" id="{{this.commons.getUID()}}-row{{rowNumber}}-col{{columnNumber}}" class="_coral-Calendar-tableCell" aria-selected="{{data.ariaSelected}}" if-data.isDisabled='aria-disabled="true"' if-data.ariaInvalid='aria-invalid="true"' if-data.formattedDate='title="{{calendarTitle}}"'>
            <js>
              if (data.cssClass.indexOf('is-outsideMonth') !== -1) {
                this.cell.classList.add('is-outsideMonth');
              }
            </js>
            <if data.dateAttr>
                <a role="presentation" class="_coral-Calendar-date {{data.cssClass}}" data-date="{{data.dateAttr}}">{{data.dateText}}</a>
              <else>
                <span role="presentation" class="_coral-Calendar-date {{data.cssClass}}">{{data.dateText}}</span>
              </else>
            </if>
          </td>
        </foreach>
      </tr>
    </foreach>
  </tbody>
  <caption class="u-coral-screenReaderOnly" aria-live="assertive" aria-atomic="true"></caption>
</table>
