/**
Element: Label
Dark theme for the label.
*/

@label-dark-disabled-font-color: rgb(100, 100, 100);

.theme-dark {

  label {
    &.disabled {
      color: @label-dark-disabled-font-color;
    }
  }
}
