/**
  Element: Label
  A basic text input field.
*/

@label-disabled-font-color: rgb(180, 180, 180);

label {
  font-size: @base-font-size;
  line-height: @component-single-line-height;
  
  // we need to use top since some elements cannot be centered using middle.
  vertical-align: top;
  margin: 2*@px 0;

  &.disabled {
    color: @label-disabled-font-color;
  }
}

form.horizontal {
  label.fieldlabel {
    line-height: @component-single-line-height;
  }
}
