/**
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$colorpicker-colorarea-border-color = var(--spectrum-darkest-colorarea-border-color);
$colorpicker-colorarea-border-color-hover = var(--spectrum-darkest-colorarea-border-color-hover);
$colorpicker-colorarea-fill-color-disabled = var(--spectrum-darkest-colorarea-fill-color-disabled);
$colorpicker-colorslider-border-color = var(--spectrum-darkest-colorslider-border-color);
$colorpicker-colorslider-border-color-hover = var(--spectrum-darkest-colorslider-border-color-hover);
$colorpicker-colorslider-fill-color-disabled = var(--spectrum-darkest-colorslider-vertical-border-color-disabled);

.coral--darkest {
  @import 'skin.styl'
}
