/**
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@require '../../../coral-theme-spectrum/src/styles/vars.css';
$colorpicker-transparency-url = './embed/Transparency.svg';
$colorpicker-blank-url = './embed/ColorBlank.svg';
$colorpicker-input-size = 38px;
$colorpicker-button-wrapper-offset = 2px;
$colorpicker-button-size = 28px;
$colorpicker-button-border-radius = var(--spectrum-medium-actionbutton-border-radius);
$colorpicker-button-border-width = var(--spectrum-medium-actionbutton-border-size);

//overlay
$colorpicker-container2-size = var(--spectrum-global-dimension-static-size-2400);
$colorpicker-properties-margin = var(--spectrum-global-dimension-static-size-200);




._coral-ColorPicker {
  position: relative;
  display: inline-block;
}

._coral-ColorPicker-input {
  display: block;
  // makes space for the color preview
  padding-right: $colorpicker-input-size;
  // allows the input to grow with the container
  width: 100%;
}

._coral-ColorPicker-buttonWrapper {
  position: absolute;
  right: $colorpicker-button-wrapper-offset;
  top: $colorpicker-button-wrapper-offset;

  // set opacity < 1 to create new stacking context (for checker image to work)
  opacity: .999;

  ._coral-ColorPicker-preview {
    border-width: $colorpicker-button-border-width;
  }
}

._coral-ColorPicker-previewView {
  display: inline-block;
}

._coral-ColorPicker-button {
  width: $colorpicker-button-size;
  height: $colorpicker-button-size;
  position: relative;

  padding: 0;
  margin: 0;
}

._coral-ColorPicker-preview {
  border-radius: $colorpicker-button-border-radius;
  box-sizing: border-box;
  background-origin: border-box;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;

    background-image: svgImport($colorpicker-transparency-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

._coral-ColorPicker-preview:not([disabled]):hover {
  &:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
  }
}

._coral-ColorPicker--novalue ._coral-ColorPicker-preview,
._coral-ColorPicker-preview--novalue,
._coral-ColorPicker.is-invalid ._coral-ColorPicker-preview {
  background-image: svgImport($colorpicker-blank-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &:hover, &:focus {
    background-image: svgImport($colorpicker-blank-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

._coral-ColorPicker-overlay {
  padding: 0px;
  min-width: auto;
}

._coral-ColorPicker-propertiesContainer1 {
    display: flex;
    padding: calc(var(--spectrum-global-dimension-static-size-200) + 1px);
}

._coral-ColorPicker-propertiesContainer1 ._coral-ColorPicker-ColorSlider {
  margin-left: calc(var(--spectrum-global-dimension-static-size-200) + 1px);
}

._coral-ColorPicker-propertiesContainer2 {
    width: $colorpicker-container2-size;
    display: flex;
    padding: calc(var(--spectrum-global-dimension-static-size-200) + 1px);
    padding-top: 0px;
}

._coral-ColorPicker-inputField {
  margin-left: var(--spectrum-global-dimension-static-size-200);
}

._coral-ColorPicker-formatSelector {
  width: var(--spectrum-global-dimension-static-size-900);
  padding-bottom: var(--spectrum-global-dimension-static-size-25);
}

._coral-ColorPicker-value {
  margin-left: $colorpicker-properties-margin;
}

@require './colorhandle/index'
@require './colorarea/index'
@require './colorslider/index'
@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';