/**
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

._coral-ColorPicker ._coral-ColorPicker-propertiesContainer1 {
    display: flex;
    padding: calc(var(--colorpicker-margin-size-200) + 1px);
}

._coral-ColorPicker ._coral-ColorPicker-propertiesContainer1 ._coral-ColorPicker-ColorSlider {
  margin-left: calc(var(--colorpicker-margin-size-200) + 1px);
}

._coral-ColorPicker ._coral-ColorPicker-propertiesContainer2 {
    width: var(--colorpicker-dimen-size-2400);
    display: flex;
    padding: calc(var(--colorpicker-margin-size-200) + 1px);
    padding-top: 0px;
}

._coral-ColorPicker ._coral-ColorPicker-inputField {
  margin-left: var(--colorpicker-margin-size-200);
}

._coral-ColorPicker ._coral-ColorPicker-formatSelector {
  width: var(--colorpicker-dimen-size-900);
  padding-bottom: var(--colorpicker-dimen-size-25);
}

._coral-ColorPicker ._coral-ColorPicker-value {
  margin-left: var(--colorpicker-margin-size-200);
}
