script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      before: '<input id="myTextfield" is="coral-textfield" type="text">',
      component: Coral.CharacterCount,
      fields: [
        {
          label: 'Max Length',
          prop: 'maxLength',
          type: 'spinner',
          value: 25
        },
        {
          label: 'Target',
          prop: 'target',
          type: 'text',
          value: '#myTextfield'
        }
      ],
      itemInnerHTMLProp: 'content'
    }).insertAfterLastScript();
  }
