<js>var uid = Coral.commons.getUID();</js>
<div handle="bar" class="coral3-ColorInput-sliderBar coral3-Slider-bar">
  <div handle="fillHandle" class="coral3-Slider-fill is-hidden" role="presentation"></div>
</div>
<div handle="handleContainer">
  <div handle="leftHandle" class="coral3-ColorInput-sliderHandle coral3-Slider-handle">
    <input handle="leftInput" type="range" id="{{uid}}" class="coral3-Slider-input">
    <coral-tooltip variant="inspect" id="{{uid}}-tooltip" for="{{uid}}" interaction="off"></coral-tooltip>
  </div>
</div>
