<div class="_coral-ColorInput-swatchesSubview" role="presentation" handle="swatchesSubview">
  <div class="_coral-ColorInput-swatches-header-title coral-Heading coral-Heading--5" role="presentation" aria-hidden="true">
    <span handle="swatchesHeaderTitle" id="{{data.commons.getUID()}}" role="heading" aria-level="2">
      {{data.i18n.get('Swatches')}}</span>
  </div>
  <div class="_coral-ColorInput-swatches-container" role="presentation" aria-labelledby="{{data.commons.getUID()}}">
    <div handle="swatchesContainer" role="presentation"></div>
  </div>
</div>
