<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Checkbox examples</title>

  <link rel="stylesheet" href="../../css/cui.css">
  <link rel="stylesheet" href="../../css/guide.css">
  <link rel="stylesheet" href="../../js/google-code-prettify/prettify.css">

  <script src="../../js/libs/jquery.js"></script>
  <script src="../../js/libs/toe.js"></script>
  <script src="../../js/cui.js"></script>

  <script src="../../js/google-code-prettify/prettify.js"></script>

  <style type="text/css">
  ul {
    list-style: none;
    margin: 5px 20px;
    -webkit-padding-start: 20px;
  }
  </style>

  <script>
	$(function () {
      
	  /**
	   Inspired by http://css-tricks.com/indeterminate-checkboxes/
	   with added support for the WAI-ARIA aria-checked property 
	   which properly communicates the state to assistive technology.
	  */
	  $(':checkbox, input[role="checkbox"]')
	  	.each(function () {
			var $checkbox = $(this),
			  checked = this.checked = $checkbox.is('[checked]'), // explicitly set "checked" property for elements with checked attribute
			  $ariaCheckbox, attributes;
			
			// Add aria-checked and checked attribute
			$checkbox.attr({
			  'role': 'checkbox',
			  'aria-checked': $checkbox.attr('aria-checked') || checked,
			  'checked': checked
			});
		});
      
	  /**
	   * Respond to change event and update state of parent or child checkboxes accordingly.
	   */
      $(':checkbox, input[role="checkbox"]').change(function () {
        var checked = this.checked,
          container = $(this).parent(),
          siblings = container.siblings();

        container.find(':checkbox, input[role="checkbox"]').prop({
          indeterminate: false,
		   checked: checked
        }).attr({
          'aria-checked': checked,
          'checked': checked
        });

        function checkSiblings(el) {
          var parent = el.parent().parent(),
            all = true;

          el.siblings().each(function () {
            return all = ($(this).children(':checkbox, input[role="checkbox"]').prop("checked") === checked);
          });

          if (all && checked) {
            parent.children(':checkbox, input[role="checkbox"]').prop({
              indeterminate: false,
		       checked: checked
            }).attr({
              'aria-checked': checked,
              'checked': checked
            });
            checkSiblings(parent);
          } else if (all && !checked) {
            parent.children(':checkbox, input[role="checkbox"]').attr({
              'aria-checked': checked,
              'checked': checked
            }).prop({
				indeterminate: (parent.find(':checkbox:checked, input[role="checkbox"]:checked').length > 0), 
				checked: checked
			 });
            checkSiblings(parent);
          } else {
            el.parents("li").children(':checkbox, input[role="checkbox"]').prop({
              indeterminate: true,
			   checked: false
            }).attr({
              'aria-checked': 'mixed',
              'checked': false
            });
          }
        }
        checkSiblings(container);
      });

	  /**
	   * Makes a checkbox cycle through the different states.
	   */
	  $('#cycle-checkbox').off('change').click(function (e) {
	    var ariaChecked = $(this).attr('aria-checked');
	    if (ariaChecked === 'mixed') {
	      this.indeterminate = this.checked = false;
	    } else {
	      this.indeterminate = (ariaChecked === 'true');
	      this.checked = !this.indeterminate;
	    }
	    $(this).attr({
	      'aria-checked': this.indeterminate ? 'mixed' : this.checked,
	      'checked': this.checked
	    });
	    if (!CUI.util.isTouch) $(this).focus();
	  });
	});
</script>
</head>
<body>
  <section>
<form>
    <h2>Checked, unchecked and mixed state checkboxes</h2>

    <div class="componentSample">
      <div class="example clearfix">
        <div class="left">
          <label><input type="checkbox" name="c1" value="1" checked><span>Checked</span></label><br>
          <label><input type="checkbox" name="c2" value="2"><span>Unchecked</span></label><br>
          <label><input id="some-checkbox" type="checkbox"  name="c3" value="3" aria-checked="mixed"><span>Partially checked</span></label><br>
          <label><input id="cycle-checkbox" type="checkbox" name="c4" value="4"><span>Cycling state checkbox</span></label><br>
        </div>
        <div class="left" style="margin-left: 10px">
          <label><input type="checkbox" name="c5" value="5" disabled="disabled" checked><span>Disabled Checked</span></label><br>
          <label><input type="checkbox" name="c6" value="6" disabled="disabled"><span>Disabled Unchecked</span></label><br>
          <label><input id="some-checkbox2" type="checkbox" name="c7" value="7" disabled="disabled" aria-checked="mixed"><span>Disabled Partially Checked</span>
          </label>
        </div>
      </div>
      <pre class="prettyprint linenums">
// to enable a checkbox that cycles through the 3 states use the following javascript.
$('#cycle-checkbox').off('change').click(function (e) {
  var ariaChecked = $(this).attr('aria-checked');
  if (ariaChecked === 'mixed') {
    this.indeterminate = this.checked = false;
  } else {
    this.indeterminate = (ariaChecked === 'true');
    this.checked = !this.indeterminate;
  }
  $(this).attr({
    'aria-checked': this.indeterminate ? 'mixed' : this.checked,
    'checked': this.checked
  });
  if (!CUI.util.isTouch) $(this).focus();
});</pre>
    </div>

    <h2> Nested Checkboxes</h2>
    <p> With additional javascript it is possible to next the checkboxes. </p>
    <div class="componentSample">
      <div class="example clearfix">
        <ul>
          <li>
            <input type="checkbox" name="tall" id="tall">
            <label for="tall">Tall Things</label>

            <ul>
             <li>
               <input type="checkbox" name="tall-1" id="tall-1">
               <label for="tall-1">Buildings</label>
             </li>
             <li>
               <input type="checkbox" name="tall-2" id="tall-2">
               <label for="tall-2">Giants</label>

               <ul>
                 <li>
                   <input type="checkbox" name="tall-2-1" id="tall-2-1">
                   <label for="tall-2-1">Andre</label>
                 </li>
                 <li>
                   <input type="checkbox" name="tall-2-2" id="tall-2-2">
                   <label for="tall-2-2">Paul Bunyan</label>
                 </li>
               </ul>
             </li>
             <li>
               <input type="checkbox" name="tall-3" id="tall-3">
               <label for="tall-3">Two sandwiches</label>
             </li>
           </ul>
         </li>
         <li>
          <input type="checkbox" name="short" id="short">
          <label for="short">Short Things</label>

          <ul>
           <li>
             <input type="checkbox" name="short-1" id="short-1">
             <label for="short-1">Smurfs</label>
           </li>
           <li>
             <input type="checkbox" name="short-2" id="short-2">
             <label for="short-2">Mushrooms</label>
           </li>
           <li>
             <input type="checkbox" name="short-3" id="short-3">
             <label for="short-3">One Sandwich</label>
           </li>
         </ul>
       </li>
     </ul>
     <button type="submit" class="button">Submit</button>
   </div>

   <pre class="prettyprint linenums">
// to enable nested checkboxes use the following javascript.
$(':checkbox, input[role="checkbox"]')
  .each(function () {
    var $checkbox = $(this),
      checked = this.checked = $checkbox.is('[checked]'), // explicitly set "checked" property for elements with checked attribute
      $ariaCheckbox, attributes;
    
    // Add aria-checked and checked attribute
    $checkbox.attr({
      'role': 'checkbox',
      'aria-checked': $checkbox.attr('aria-checked') || checked,
      'checked': checked
    });
  });

$(':checkbox, input[role="checkbox"]').change(function () {
  var checked = this.checked,
      container = $(this).parent(),
      siblings = container.siblings();

  container.find(':checkbox, input[role="checkbox"]').prop({
    indeterminate: false,
     checked: checked
  }).attr({
    'aria-checked': checked,
    'checked': checked
  });

  function checkSiblings(el) {
    var parent = el.parent().parent(),
        all = true;

    el.siblings().each(function () {
      return all = ($(this).children(':checkbox, input[role="checkbox"]').prop("checked") === checked);
    });

    if (all &amp;&amp; checked) {
      parent.children(':checkbox, input[role="checkbox"]').prop({
        indeterminate: false,
        checked: checked
      }).attr({
        'aria-checked': checked,
        'checked': checked
      });
      checkSiblings(parent);
    } else if (all &amp;&amp; !checked) {
      parent.children(':checkbox, input[role="checkbox"]').attr({
        'aria-checked': checked,
        'checked': checked
      }).prop({
         indeterminate: (parent.find(':checkbox:checked, input[role="checkbox"]:checked').length > 0), 
         checked: checked
      });
      checkSiblings(parent);
    } else {
      el.parents("li").children(':checkbox, input[role="checkbox"]').prop({
        indeterminate: true,
        checked: false 
      }).attr({
        'aria-checked': 'mixed',
        'checked': false
      });
    }
  }
  checkSiblings(container);
});</pre>
</div>
</form>
</section>
<script type="text/javascript">
  $('#some-checkbox').prop('indeterminate', true);
  $('#some-checkbox2').prop('indeterminate', true);

  // Prettify code examples
  prettyPrint();
</script>
</body>
</html>
