@autocomplete-suggestion-toggle-border-color: rgba(0, 0, 0, 0.25);
@autocomplete-suggestion-toggle-background-gradient-start: rgb(255, 255, 255);
@autocomplete-suggestion-toggle-background-gradient-end: rgb(240, 240, 240);
@autocomplete-suggestion-toggle-active-background-color: rgb(230, 230, 230);
@autocomplete-suggestion-toggle-active-glow-color: rgba(0, 0, 0, 0.08);
@autocomplete-suggestion-toggle-hover-background-color: rgb(255, 255, 255);
@autocomplete-suggestion-toggle-disabled-background-color: rgb(230, 230, 230);
@autocomplete-suggestion-toggle-disabled-border-color: rgb(210, 210, 210);
@autocomplete-suggestion-toggle-disabled-text-color: rgb(180, 180, 180);

.autocomplete {
    position: relative;
    display: inline-block;
    width: 13rem; /* Width must be specified */
    vertical-align: top;

    margin: 2*@px 0;

    @input-height: 2rem;
    @suggestion-btn-size: 36*@px;

    > input {
        margin: 0;
        padding-right: @input-height;
        width: 100%;

        &.autocomplete-has-suggestion-btn {
            padding-right: @suggestion-btn-size + 2*@px;    
        }
    }
    
    // icon as a prefix
    &[class^="icon-"], 
    &[class*=" icon-"] {
        overflow: visible;
        height: auto;
        white-space: inherit;
        color: inherit;
        text-align: left;

        &:before {
            position: absolute;
            top: 1rem;
            left: 10*@px;
        }

        > input {
            padding-left: 10*@px + 20*@px;
        }
    }
    
    // clear button
    > .autocomplete-clear {
        position: absolute;
        top: 0;
        right: 1px; /* input border */
        height: @input-height;
        width: @input-height; /* make it square */
        cursor: pointer;
        margin: 8*@px 0;

        &.hide {
            display: none;
        }
    }

    > .autocomplete-suggestion-toggle {
        .button-square(@suggestion-btn-size);

        .gradient(@autocomplete-suggestion-toggle-background-gradient-start, @autocomplete-suggestion-toggle-background-gradient-end);
        position: absolute;
        top: 3*@px; // due to border of 1px and margin
        right: @px; // due to border of 1px
        line-height: 24*@px;
        min-width: 0;
        margin: 0;
        padding: 0;
        border: none;
        color: @font-base-color;

        &:after {
            content: "\25BE";
            position: absolute;
            top: 0.5/1.2rem;  // the 1/1.2 accomodates for the slightly larger font-size specified below.
            right: 0.4375rem;
            width: 1rem;
            height: 100%;
            text-align: center;
            text-shadow: none;
            font-size: 1.2em;
            color: inherit;
        }

        &,
        &:active,
        &:hover {
            border-left: 1*@px solid @autocomplete-suggestion-toggle-border-color;
        }

        &:hover {
            background: @autocomplete-suggestion-toggle-hover-background-color;
        }
        
        &:active,
        &.active {
            background: @autocomplete-suggestion-toggle-active-background-color;
            .box-shadow(inset 0 0 4*@px @autocomplete-suggestion-toggle-active-glow-color);
        }

        &[disabled] {
            color: @autocomplete-suggestion-toggle-disabled-text-color;
            background: @autocomplete-suggestion-toggle-disabled-background-color;
            border-color: @autocomplete-suggestion-toggle-disabled-border-color;
        }
    }
}
