$shell-help-width = 220px;

$shell-help-loading-height = 300px

$shell-help-background = white;
$shell-help-separator-color = rgba(0, 0, 0, 0.05);

$shell-loading-middle = 48%; // Better visual centering
$shell-loading-spacing = 16px;

._coral-Shell-help {
  display: block;
  box-sizing: border-box;
  width: $shell-help-width;
}

._coral-Shell-help-search {
  width: calc(100% - 16px);
  margin-top: 4px;
  margin-left: 8px;

  input[is="coral-textfield"] {
    width: 100%;
  }
}

._coral-Shell-help-items {
  padding: 3px 0;
}

._coral-Shell-help-result-item {
  height: auto;
}

._coral-Shell-help-result-description {
  color: rgb(112, 112, 112);
  font-weight: 300;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._coral-Shell-help-loading,
._coral-Shell-help-resultMessage {
  // Contain the wait component
  position: relative;
  display: block;
  height: $shell-help-loading-height;

  background-color: $shell-help-background;
}

._coral-Shell-help-resultMessage {
  display: table;
  width: 100%;
}

.coral-Heading--2._coral-Shell-help-resultMessage-heading {
  margin: 0;
}

._coral-Shell-help-resultMessage-container {
  display: table-cell;

  padding: 0 20px;

  vertical-align: middle;

  text-align: center;
}

._coral-Shell-help-loading-wait {
  position: absolute;
  bottom: (100% - $shell-loading-middle);
  left: 50%;

  margin-left: -16px; // Center
  margin-bottom: ($shell-loading-spacing / 2);
}

._coral-Shell-help-loading-info {
  position: absolute;
  top: $shell-loading-middle;
  left: 0;
  right: 0;

  padding-left: 5px; // Tweak: Make it look nicer with the ellipsis

  display: block;
  padding-top: ($shell-loading-spacing / 2);

  text-align: center;
}

coral-shell-help-separator {
  display: block;
  position: relative;
  height: 2px
  background-color: $shell-help-background;

  &::before {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    height: 100%;
    background-color: $shell-help-separator-color;
  }
}
