script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      before: '<div style="display: inline-block; width:70%; height:90px;' +
              'padding-top: 60px; text-align: center; border: 1px dashed gray;"' +
              'id="targetComponent">Target</div>',
      component: Coral.QuickActions
    });

    configurator.set({
      fields: [
        {
          prop: 'placement',
          label: 'Placement',
          type: 'select',
          value: 'top',
          options: {
            'Top': 'top',
            'Bottom': 'bottom',
            'Left': 'left',
            'Right': 'right'
          }
        },
        {
          prop: 'target',
          label: 'Target',
          type: 'text',
          value: '#targetComponent'
        },
        {
          prop: 'threshold',
          label: 'Threshold',
          type: 'text',
          value: '4'
        },
        {
          prop: 'interaction',
          label: 'Interaction',
          type: 'select',
          value: 'on',
          options: {
            'OFF': 'off',
            'ON': 'on'
          }
        },
        {
          prop: 'open',
          label: 'Open',
          type: 'checkbox',
          value: true
        }
      ],
      items: [
        {
          content: {
            textContent: 'Copy'
          },
          icon: 'copy',
          type: 'anchor',
          href: '#'
        },
        {
          content: {
            textContent: 'Move'
          },
          icon: 'move'
        },
        {
          content: {
            textContent: 'Download'
          },
          icon: 'download'
        },
        {
          content: {
            textContent: 'Share'
          },
          icon: 'share'
        },
        {
          content: {
            textContent: 'Publish'
          },
          icon: 'publish'
        }
      ]
    }).insertAfterLastScript();
  }
