+document-section('User interaction and focus behavior')
  p.
    The interaction property must be 'ON' for user interaction with the target to take effect.
  p.
    Hovering the target will display the QuickActions. They can also be launched by pressing the shift + F10 key combination
    when the target is focused. When the QuickActions are shown, the first action button is focused.
  p.
    When a button in the QuickActions is focused, it is possible to navigate using keys. Navigate right using 'right', 'down' or 'pagedown'
    keys and left using 'left', 'up' and 'pageup'. A 'home' or 'end' keypress will navigate to the first or last buttons
    respectively.
  p.
    An 'escape' key will close the QuickActions, unless the more actions Popover is already open, in which case two
    presses subsequent will be necessary, the first to close the Popover.
  p.
    Pressing the 'enter' key for a focused Item will cause a trigger of the click event for that action. Unless the
    focused item is the more button, in which case the Popover will open.