+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.u-columnSmall.
    <table class="coral-Table u-columnMedium">
      <thead>
        <tr class="coral-Table-row">
          <th class="coral-Table-headerCell">Breakfast</th>
          <th class="coral-Table-headerCell">Lunch</th>
          <th class="coral-Table-headerCell">Dinner</th>
        </tr>
      </thead>
      <tbody>
        <tr class="coral-Table-row">
          <td class="coral-Table-cell">Cereals</td>
          <td class="coral-Table-cell">Hot Dogs</td>
          <td class="coral-Table-cell">Baked Salmon</td>
        </tr>
        <tr class="coral-Table-row">
          <td class="coral-Table-cell">Toast</td>
          <td class="coral-Table-cell">Kebab</td>
          <td class="coral-Table-cell">Korean BBQ</td>
        </tr>
        <tr class="coral-Table-row">
          <td class="coral-Table-cell">Coffee</td>
          <td class="coral-Table-cell">Pasta</td>
          <td class="coral-Table-cell">Beef steak</td>
        </tr>
      </tbody>
    </table>
    <coral-quickactions target="_prev">
      <coral-quickactions-item type="anchor" href="#" icon="copy">Copy</coral-quickactions-item>
      <coral-quickactions-item icon="move">Move</coral-quickactions-item>
      <coral-quickactions-item icon="download">Download</coral-quickactions-item>
      <coral-quickactions-item icon="share">Share</coral-quickactions-item>
      <coral-quickactions-item icon="publish">Publish</coral-quickactions-item>
    </coral-quickactions>
