@require '@adobe/spectrum-css/dist/components/search/index.css';
@require '@adobe/spectrum-css/dist/components/search/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/search/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/search/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/search/multiStops/darkest.css';

// @spectrum
._coral-Search-clear._coral-ClearButton {
  height: 100%;

  ._coral-Icon {
    width: 8px;
    height: 100%;
  }
}
