<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Date Pickers</title>

        <link rel="stylesheet" href="../../css/cui.css">
        
        <script src="../../js/libs/handlebars.js"></script>
        <script src="../../js/libs/moment.js"></script>
        <script src="../../js/libs/jquery.js"></script>
        <script src="../../js/libs/toe.js"></script>
        <script src="../../js/libs/moment.js"></script>
  
        <script src="../../js/CUI.js"></script>

        <script>
            $(document).ready(function(){
                if ($('#myDatepicker').length > 0) {
                    var datepicker = new CUI.Datepicker({
                      element: '#myDatepicker',
                      displayedFormat: 'DD MMMM  YYYY'
                    });
                }
                if ($('#myDatepickerForce').length > 0) {
                    var datepicker = new CUI.Datepicker({
                      element: '#myDatepickerForce',
                      displayedFormat: 'DD MMMM  YYYY'
                    });
                }
            });
        </script>
        
        <script type="text/javascript">
            /* Some debug code */
            /*setInterval(function() {
                $(".debug").remove();
                
                $(".datepicker").each(function() {
                    var v = $(this).find("input[type=hidden]").val();
                    var v2 = $(this).find("input[type!=hidden]").val();
                   $(this).after("<div class=\"debug\">HTML format: " + v2 + "<br>Storage format: " + v + "</div>");
                });
            }, 500);*/
        </script>


        <style>
            .col {
                float: left;
            }
        </style>
    </head>
    <body>
  
    <div class="col">
      <section>
            <h1>Date Picker</h1>
            <div id="myDatepicker" class="datepicker">
                <input type="date" value="29 November 2012" name="date1"><button class="icon-calendar small"><span>Datepicker</span></button>
            </div>
            
            <div class="datepicker" data-init="datepicker" data-disabled="true" data-displayed-format="YYYY-MM-DD">
                <input type="date" value="2012-10-20" data-displayed-format="YYYY-MM-DD" name="date2"><button class="icon-calendar small"><span>Datepicker</span></button>
            </div>
   
        </section>

        <section>
            <h1>Datetime Picker</h1>
            <div class="datepicker" data-init="datepicker">
                <input type="datetime" value="2012-10-20T20:35Z" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date3"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
            <div class="datepicker" data-init="datepicker" data-disabled="true">
                <input type="datetime" value="2012-10-20T20:35Z" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date4"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
        </section>
        
        <section>
            <h1>Time picker</h1>
            <div class="datepicker" data-init="datepicker">
                <input type="time" value="" data-displayed-format="HH:mm" name="date5"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
            <div class="datepicker" data-init="datepicker" data-disabled="true">
                <input type="time" value="20:35" data-displayed-format="HH:mm" name="date6"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
        </section>
        
        <section>
            <h1>Datetime Picker, required values</h1>
            <div class="datepicker" data-init="datepicker">
                <input type="datetime" value="2012-10-20T20:35Z" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date3" required><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
            <div class="datepicker" data-init="datepicker" data-disabled="true">
                <input type="datetime" value="2012-10-20T20:35Z" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date4" required><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
        </section> 
           
        <section>
            <h1>Datetime Picker, restricted selection range starting today</h1>
            <div class="datepicker" data-init="datepicker" data-min-date="today" >
                <input type="datetime" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date10"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
        </section>
        
        <section>
        <h1>Datetime Picker, restricted selection range from 2013-07-09 to 2013-07-15</h1>
            <div class="datepicker" data-init="datepicker" data-min-date='2013-07-09' data-max-date='2013-07-15'>
                <input type="datetime" value="2013-07-11T20:35Z"  data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date11" required><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div> 
        </section>        
    </div>

     <div class="col">
        <section>
            <h1>Date Picker (force HTML Mode)</h1>
            <div id="myDatepickerForce" class="datepicker" data-force-html-mode="true">
                <input type="date" value="29 November 2012" name="date1"><button class="icon-calendar small"><span>Datepicker</span></button>
            </div>
   
            <div class="datepicker" data-init="datepicker" data-disabled="true" data-displayed-format="YYYY-MM-DD">
                <input type="date" value="2012-10-20" data-displayed-format="YYYY-MM-DD" name="date2"><button class="icon-calendar small"><span>Datepicker</span></button>
            </div>

        </section>

        <section>
            <h1>Datetime Picker (force HTML Mode)</h1>
            <div class="datepicker" data-init="datepicker" data-force-html-mode="true">
                <input type="datetime" value="2012-10-20T20:35Z" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date7"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
            <div class="datepicker" data-init="datepicker">
                <input type="datetime" value="2012-10-20T20:35Z" data-displayed-format="YYYY-MM-DD[T]HH:mm[Z]" name="date8"><button class="icon-calendar small"><span>Datetime picker</span></button>
            </div>
        </section>
        
        <section>
            <h1>Time picker (force HTML Mode)</h1>
            <div class="datepicker" data-init="datepicker" data-force-html-mode="true">
                <input type="time" value="20:35" data-displayed-format="HH:mm" name="date5"><button class="icon-calendar small"><span>Time picker</span></button>
            </div>
            <div class="datepicker" data-init="datepicker" data-disabled="true">
                <input type="time" value="20:35" data-displayed-format="HH:mm" name="date6"><button class="icon-calendar small"><span>Time picker</span></button>
            </div>
        </section>
        
        <section>
            <h1>with errors</h1>
            <div class="datepicker error" data-init="datepicker" data-force-html-mode="true">
                <input type="time" value="20:35" data-displayed-format="HH:mm" name="date5"><button class="icon-calendar small"><span>Time picker</span></button>
            </div>
            <div class="datepicker error" data-init="datepicker" data-disabled="true">
                <input type="time" value="20:35" data-displayed-format="HH:mm" name="date6"><button class="icon-calendar small"><span>Time picker</span></button>
            </div>
        </section>
    </div> 
    
    </body>
</html>
