p.
  The Coral.Shell.Header component is a wrapping container, where most of the Shell 3
  components are intended to be placed.

p.
  The header exposes content zones for a
  <a href='#Coral.Shell.Header:home' class='coral-Link'>home</a>
  (or branding) section, a
  <a href='#Coral.Shell.Header:content' class='coral-Link'>content</a>
  section which typically holds the
  <a class='coral-Link' href='./Coral.Shell.Workspaces'>Coral.Shell.Workspaces</a>
  if needed, and an
  <a href='#Coral.Shell.Header:actions' class='coral-Link'>actions</a>
  section where other shell pattern components
  (<a class='coral-Link' href='./Coral.Shell.User'>Coral.Shell.User</a> etc) are
  organized.  A link using a product icon can be created in the header home
  content zone by using the
  <a href='#Coral.Shell.HomeAnchor' class='coral-Link'>Coral.Shell.HomeAnchor</a> component.

p See also:
ul
  li <a class='coral-Link' href='./Coral.Shell.Workspaces'>Coral.Shell.Workspaces</a>
  li <a class='coral-Link' href='./Coral.Shell.User'>Coral.Shell.User</a>
  li <a class='coral-Link' href='./Coral.Shell.OrgSwitcher'>Coral.Shell.OrgSwitcher</a>
  li <a class='coral-Link' href='./Coral.Shell.SolutionSwitcher'>Coral.Shell.SolutionSwitcher</a>

p.
  See the <a href='../shell3' class='coral-Link'>Shell 3</a> documentation, which includes
  a shell pattern layout diagram, for more details.

include jsdoc
