+document-section-simple-example()
  p.
    The <a class='coral-Link' href='./Coral.Shell.Header.html'>Coral.Shell.Header</a>
    component is a wrapping container, where most of the Shell 3 components are intended
    to be placed.

  p.
    See the <a class='coral-Link' href='./Coral.Shell.Header.html'>Coral.Shell.Header</a> documentation
    for more detail.
