+document-section('JavaScript Examples')

  +document-subsection('Reacting on events')
    p.
      Tree items don't expand by default. It's the developer's responsibility to handle it by listening to the
      <code>coral-collection:add</code> and <code>coral-collection:remove</code> events.

    +markup-example().
      <coral-tree>
        <coral-tree-item id="tree">
          <coral-tree-item-content>Item 1</coral-tree-item-content>
        </coral-tree-item>
      </coral-tree>
      <br>
      <button onclick="tree.items.add({content:{textContent: 'Sub item ' + (tree.items.length + 1)}})" is="coral-button">Add item</button>
      <button onclick="tree.items.length && tree.items.last().remove()" is="coral-button">Remove item</button>

    +example-pre-only().
      <script>
        tree.addEventListener('coral-collection:add', function() {
          tree.expanded = true;
        });

        tree.addEventListener('coral-collection:remove', function() {
          if (!tree.items.length) {
            tree.expanded = false;
          }
        });
      </script>
