@require '@adobe/spectrum-css/dist/components/slider/index.css';
@require '@adobe/spectrum-css/dist/components/slider/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/slider/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/slider/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/slider/multiStops/darkest.css';

coral-slider-item {
  display: none;
}
