.autocomplete {
    position: relative;
    display: inline-block;
    margin: 0.5rem 0;
    width: 13rem; /* Width must be specified */
    vertical-align: top;

    @input-height: 2rem;

    > input {
        margin: 0; /* put the margin at .autocomplete instead */
        padding-right: @input-height;
        width: 100%;
    }
    
    // icon as a prefix
    &[class^="icon-"], 
    &[class*=" icon-"] {
        overflow: visible;
        height: auto;
        white-space: inherit;
        color: inherit;
        text-align: left;

        &:before {
            position: absolute;
            top: 0;
            left: 10*@px;
            line-height: @input-height;
            margin: 0.5rem 0;
        }

        > input {
            padding-left: 10*@px + 20*@px;
        }
    }
    
    // clear button
    > .autocomplete-clear {
        position: absolute;
        top: 0;
        right: 1px; /* input border */
        height: @input-height;
        width: @input-height; /* make it square */
        cursor: pointer;
        margin: 0.5rem 0;

        &.hide {
            display: none;
        }
    }
}
