
/**
    Class: .card-directory
    Displays a DAM directory card.
*/

// Grid view style
.grid .card-directory {
    margin-top: 21*@px;

    // This element will display the folder tab above the card
    &:before {
        content: " ";
        position: absolute;
        top: -21*@px;
        left: 5*@px;
        right: 5*@px;
        height: 13*@px;
        border-bottom: 7*@px solid #ccc; // This color doesn't make sense to be configurable, it has to be the same color as the directory SVG.
        background: url('@{component-resource-folder}/card/directory.svg') no-repeat;
    }
    &.selected:before {
        border-bottom-color: #478fc5; // This color doesn't make sense to be configurable, it has to be the same color as the directory SVG.
        background-position: 0 -15px;
    }
}

// List view style
.list .card-directory {
    .card-list-image-dimensions(38*@px, 30*@px, none);

    .icon-folder {
        .icon-large;
        display: block;
        margin-top: -4*@px;
        &:before {
            font-size: 38*@px;
            color: @card-directory-icon-color;
            opacity: 1;
        }
    }
}

.list.small .card-directory {
    h4, // The <h4> element is a <div class="main"> in the list header
    .main {
        width: 50%;
    }

    .modified {
        width: 20%;
    }
    .type,
    .published {
        display: none;
    }
}

.list.xsmall .card-directory {
    h4, // The <h4> element is a <div class="main"> in the list header
    .main {
        width: 70%;
    }
    .modified {
        width: 30%;
    }
    .type,    
    .published {
        display: none;
    }
}

.list.xxsmall .card-directory {
    h4, // The <h4> element is a <div class="main"> in the list header
    .main {
        width: 100%;
    }
    .type,
    .modified,
    .published {
        display: none;
    }
}