
/**
    Class: .stack
    Displays a card stack below the card (can be used in conjunction with any other card-* type to make it a stack).
    Apply this class to any card element (on the <article> element).
    In list view, to represent the stack a box-stack should be placed on the desired element that shows that stack.
*/
.grid .stack {
    margin-bottom: @card-grid-margin+(2*@card-stack-offset);
    z-index: 0; // Need to enforce z-index = 0 when setting negative z-index of :before and :after. See CUI-343

    // Using negative z-index for :before & :after breaks on Safari, so we need a z-index on the link to make the card shadow displayed above the stack
    > a,
    > .card {
        position: relative;
        z-index: 2;
    }

    &:before,
    &:after {
        content: " ";
        position: absolute;
        z-index: 1;
        height: @card-stack-offset;
        pointer-events: none;
        background: inherit;
        .card-grid-shadow;
    }
    &:before {
        bottom: -2*@card-stack-offset;
        left:    2*@card-stack-offset;
        right:   2*@card-stack-offset;
    }
    &:after {
        bottom: -@card-stack-offset;
        left:    @card-stack-offset;
        right:   @card-stack-offset;
    }
}
