/**
 * Element: Dropdown
 */

 // Dropdowns
@dropdown-text-size: 14*@px;
@dropdown-text-color: rgb(75, 75, 75);
@dropdown-border-color: rgb(172, 172, 172);
@dropdown-gradient-start-color: rgb(245, 245, 245);
@dropdown-gradient-end-color: rgb(235, 235, 235);
@dropdown-disabled-color: rgb(220, 220, 220);
@dropdown-divider-color: rgb(220, 220, 220);
@dropdown-background-color: rgb(240, 240, 240);
@dropdown-active-text-color: rgb(255, 255, 255);
@dropdown-active-background-color: rgb(65, 143, 212);

.dropdown {
  position: relative;
  display: inline-block;
  margin: 2*@px 0;
  vertical-align: top;

  select {
    display: none;
  }

  button {
    position: relative;
    display: block;
    margin: 0;
    border: @px solid @dropdown-border-color;
    padding-left: 0.4375rem; // leave padding-top and bottom as per default button
    padding-right: 0.4375rem;
    width: 100%;

    text-align: left;
    text-shadow: none;
    font-weight: normal;

    color: @dropdown-text-color;
    background: @dropdown-gradient-start-color;
    .gradient(@dropdown-gradient-start-color, @dropdown-gradient-end-color);

    &:after {
      content: "\25BE";
      position: absolute;
      top: 0.5rem;
      right: 0.4375rem;
      width: 1rem;
      height: 100%;
      text-align: center;
    }

    // The button text placeholder, used for handling text overflow - with ellipsis.
    span {
      display: block;
      padding-right: 1rem;
      .text-overflow();

      &:empty {
          height: 1rem;
      }
    }

    &:disabled {
      border-color: @button-disabled-border-color;
      color: @button-disabled-text-color;
      background: @button-disabled-background-color;
    }

    &:hover:not([disabled]),
    &:active:not([disabled]) {
      border-color: @dropdown-border-color;
      background: @dropdown-gradient-start-color;
      .gradient(@dropdown-gradient-start-color, @dropdown-gradient-start-color);
    }
  }

  &.error button,
  &.error input {
    color: @textfield-error-font-color;
    border-color: @textfield-error-border-color;
  }

  &.error button:focus,
  &.error input:focus,
  &.error.focus button,
  &.error.focus input {
    color: @textfield-error-font-color;
    .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
  }
}

.dropdown.mobile {
  select {
    display: inline-block;
    width: 0px;
    height: 0px;
    opacity: 0.0001;
  }
}

.dropdown.dropdown-editable {
  input[type=text] {
    margin: 0;
    padding-right: 40*@px;
    width: 100%;
  }

  button {
    .button-square(36*@px);
    position: absolute;
    top: @px; // Because of textfield border
    right: @px; // Because of textfield border
    border: none;
    border-left: @px solid @textfield-border-color;
    font-size: 0; // hide the text

    &:after {
      font-size: 1rem;
      top: 0;
    }
  }
}

/**
* Dropdown in the rail
*/
div.rail {
  .dropdown {
    display: block;

    .dropdown-container {
      display: block;
    }

    button {
      border-color: @rail-dropdown-border-color;
      height: @rail-dropdown-height;

      color: @rail-dropdown-font-color;
      background: @rail-dropdown-background-color;
      .gradient(@rail-dropdown-gradient-start-color, @rail-dropdown-gradient-end-color);

      &:after {
        width: 22*@px; // to align the chevron with the rest of cevrons in the rail
        line-height: @rail-dropdown-height;
      }

      span {
        padding-right: 22*@px;
      }

      &:disabled {
        border-color: @rail-dropdown-disabled-border-color;
        color: @rail-dropdown-disabled-font-color;
        background: @rail-dropdown-disabled-background-color;
      }

      &:hover:not([disabled]),
      &:active:not([disabled]) {
        border-color: @rail-dropdown-border-color;
        background: @rail-dropdown-hover-background-color;
        .gradient(@rail-dropdown-hover-background-color, @rail-dropdown-hover-background-color);
      }
    }
  }

  .dropdown.menu {
    margin: 0;

    .dropdown-container {
      border-bottom: @px solid @rail-section-border-color;
    }

    button,
    button:hover:not([disabled]),
    button:active:not([disabled]) {
      border: none;
      padding: 0 12*@px;
      height: 40*@px;

      line-height: 40*@px;
      font-size: @dropdown-text-size;
      
      color: @rail-font-color;
      background: @rail-background-color;
      .gradient(@rail-background-color, @rail-background-color);
      .box-shadow(inset 0 1px 0 @rail-section-highlight-color); // 1px to ensure rendering in IE9 which cuts rem units to 2dp (0.96px)

      &:after {
        content: @icon-chevrondown-content;
        right: 12*@px;
        width: 2rem; // to align the cevron with the rest of cevrons in the rail
        font-family: AdobeIcons;
      }

      span {
        padding-right: 2rem;
      }
    }

    .dropdown-list { // TODO not used?
      width: 100%;
    }
  }
}

form.vertical {
  .dropdown.field {
    display: block;
  }
}

form.aligned {
  .dropdown.field {
    float: left;
  }
}
