/**
* 
* A .dropdown.menu in the rail
*/
div.rail {
    .dropdown {
        display: block;

        .dropdown-container {
            width: 100%;
        }

        &.error button,
        &.error input {
            border-color: @textfield-error-border-color;
        }

        button {
            width: 100%;
            min-width: auto;
            border-color: @rail-dropdown-border-color;
            background: @rail-dropdown-background-color;
            .gradient(@rail-dropdown-gradient-start-color, @rail-dropdown-gradient-end-color);
            color: @rail-dropdown-font-color;
            height: @rail-dropdown-height;

            &:disabled {
                border-color: @rail-dropdown-disabled-border-color;
                background: @rail-dropdown-disabled-background-color;
                color: @rail-dropdown-disabled-font-color;
            }

            &:after {
                background:none;
                content: "\25BE";
                position: absolute;
                right: 12*@px;
            }

            &:hover:not([disabled]) {
                border-color: @rail-dropdown-border-color;
                background: @rail-dropdown-hover-background-color;
                .gradient(@rail-dropdown-hover-background-color, @rail-dropdown-hover-background-color);
            }
        }
    }
}