/**
* 
* A .dropdown.menu in the rail
*/
div.rail {
    .dropdown.menu {
        display: block;
        margin: 0; //override

        .dropdown-container {
            display: block;
            border-bottom: @px solid @rail-section-border-color;
        }

        button,
        button:hover:not([disabled]) {
            display: block;
            width: 100%;
            border:none;
            // border-top: @px solid @rail-section-border-color;
            .box-shadow(inset 0 1px 0 @rail-section-highlight-color); /* 1px to ensure rendering in IE9 which cuts rem units to 2dp (0.96px) */
            background: @rail-background-color;
            .gradient(@rail-background-color, @rail-background-color);
            color: @rail-font-color;
            height: 40*@px;
            line-height: 40*@px;
            padding: 0;
            padding-left: 12*@px;
            font-size: @dropdown-text-size;

            // icon (chevron down)
            &:after {
                background: none;
                content: @icon-chevrondown-content;
                font-family: AdobeIcons;
                position: absolute;
                right: 16*@px;
                top: 0;
            }
        }

        .dropdown-list {
            width: 100%;
        }
    }
}