/**
  Element: Dropdown
*/

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0.5rem 0;
    vertical-align: middle;

    select {
        display: none;
    }

    button {
        position: relative;
        display: block;
        margin: 0;
        border: @px solid @dropdown-border-color;
        padding-left: 0.4375rem; // leave padding-top and bottom as per default button
        padding-right: 0.4375rem;
        min-width: 135*@px;

        text-align: left;
        text-shadow: none;
        font-weight: normal;

        color: @dropdown-text-color;
        background: @dropdown-gradient-start-color;
        .gradient(@dropdown-gradient-start-color, @dropdown-gradient-end-color);

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0.4375rem;
            width: 1rem;
            height: 100%;
            background: url('@{component-images-folder}/dropdown/handle.svg') no-repeat center center;
        }

        // The button text placeholder, used for handling text overflow - with ellipsis.
        span {
            display: block;
            padding-right: 1rem;
            .text-overflow();
        }

        &:disabled {
            border-color: @button-disabled-border-color;
            color: @button-disabled-text-color;
            background: @button-disabled-background-color;
        }

        &:hover:not([disabled]),
        &:active:not([disabled]) {
            border-color: @dropdown-border-color;
            background: @dropdown-gradient-start-color;
            .gradient(@dropdown-gradient-start-color, @dropdown-gradient-start-color);
        }
    }

    &.error button,
    &.error input {
        color: @textfield-error-font-color;
        border-color: @textfield-error-border-color;
    }

    &.error button:focus,
    &.error input:focus,
    &.error.focus button,
    &.error.focus input {
        color: @textfield-error-font-color;
        .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }
}

.dropdown.mobile {
    select {
        display: inline-block;
        width: 0px;
        height: 0px;
        opacity: 0.0001;
    }
}

.dropdown-editable {
    input[type=text] {
        margin: 0;
        padding-right: 40*@px;
    }

    button {
        .button-square;
        position: absolute;
        top: @px; // Because of textfield border
        right: @px; // Because of textfield border
        border: none;
        border-left: @px solid @textfield-border-color;
        height: 30*@px;
        font-size: 0;
    }
}
