/**
 * A file upload field.
 */

iframe.fileupload {
  display: none;
}

form.fileupload,
input[type=file].fileupload {
  opacity: 0;
}

span.fileupload {
  overflow: hidden;
  position: relative;
  cursor: pointer;

  label {
    font-size: inherit;
    font-weight: inherit;
  }

  input[type=file] {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1000px;
    cursor: pointer;
  }
}
