/**
 * A filters or tags input field.
 */
.filters {
    display: inline-block;

    .border-box;
    vertical-align: top; // used to align them correctly in forms.
    margin: 2*@px 0;  // resets default margin
    
    width: 13rem; // width is required to contain the tags
    

    &[data-multiple=multiple], &[data-stacking=true] {
        vertical-align: top;
    }

    select {
        display: none;
    }

    input[type=text] {
        margin: 0;
        width: 100%;
    }

    .tags {
        margin: 10*@px 0 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin: 0 3*@px 3*@px 0;
            padding: 0 10*@px 0 8*@px;
            line-height: 28*@px;
            color: @filters-text-color;
            background-color: @filters-background-color;
        }

        button {
            margin: 0 6*@px 0 0;
            border: 0;
            padding: 0;
            min-width: 0;
            vertical-align: baseline;
            background: none;
            filter: none;
        }
    }

    &.error input {
        color: @textfield-error-font-color;
        border-color: @textfield-error-border-color;
    }

    &.error input:focus,
    &.error.focus input {
        color: @textfield-error-font-color;
        .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }
}

.filters.stacking {
    padding: 0.25rem 0.5rem;
    border: @px solid @textfield-border-color;
    background-image: url('@{component-resource-folder}/filters/magnifier.png');
    background-repeat: no-repeat;
    background-color: @textfield-background-color;
    background-position: 0.5rem 0.25rem;
    background-size: 28*@px;

    .tags {
        display: inline;
    }

    ul li:first-child {
        margin-left: 36*@px;
    }

    input[type=text] {
        margin: 0;
        border: 0;
        padding: 0;
        height: 28*@px;
        background: transparent;

        &:first-child {
            margin-left: 36*@px;
        }

        &:focus {
            .glow(0);
            border: 0;
        }
    }

    &.focus {
        .glow;
    }

    &.disabled {
        background-color: @textfield-disabled-background-color;
    }
    
    &.error {
        color: @textfield-error-font-color;
        .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }

    &.error input {
        .glow(0);
        border: 0;
    }
}

.autocomplete-results {
    em {
        font-weight: bold;
        font-style: normal;
    }
}

form.vertical {
    .filters.field {
        display: block;
        width: 100%;
    }
}

form.aligned {
    .filters.field {
        float: left;

        .dropdown-container { // FIXME .dropdown-container MUST be reviewed. See CUI-770
            float: none;
        }
    }
}
