/**
 * Indicates the container of the columns.
 * @see https://issues.adobe.com/browse/CQ5-30653
 */
.fixedcolumns {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

/**
 * Indicates the column.
 */
.fixedcolumns > .fixedcolumn {
  display: table-cell;
  padding: 0 8*@px;

  &:before {
    content: "";
    display: block;
    width: 496*@px;
  }
}
