form.vertical {
  // we use .fieldset instead of <fieldset> as we cannot style <legend> as what we want
  .fieldset {
    margin: 0 10*@px 40*@px 10*@px;
    border: none;
    border-top: 1px solid #CCCCCC;

    > .legend {
      display: block;
      margin: 8*@px 0 15*@px 0;
    }

    &:first-of-type {
      border: none;

      > .legend {
        margin-top: 25*@px;
      }
    }
  }

  // .fieldlabel is used so that the styling is only applied to this label, not any <label> inside the form
  label.fieldlabel {
    display: block;
    margin-top: 20*@px;
  }
}

// div.form-column,
// section.form-column,
// form.form-column {
//   width: 496*@px;
//   margin-left: auto !important;
//   margin-right: auto !important;
// }

// @form-grid: 12;
// @form-grid-gap: 2%;
// @form-grid-cell: (100% - (@form-grid-gap * (@form-grid - 1))) / @form-grid;

// .form-row {
//   [class^="form-span"],
//     [class*=" form-span"] {
//     display: block;
//     float: left;
//     margin-left: @form-grid-gap;
//   }

//   [class^="form-span"]:first-child,
//     [class*=" form-span"]:first-child {
//     margin-left: 0;
//   }

//   .form-span1 {
//     width: @form-grid-cell * 1;
//   }
//   .form-span2 {
//     width: @form-grid-cell * 2 + @form-grid-gap * 1;
//   }
//   .form-span3 {
//     width: @form-grid-cell * 3 + @form-grid-gap * 2;
//   }
//   .form-span4 {
//     width: @form-grid-cell * 4 + @form-grid-gap * 3;
//   }
//   .form-span5 {
//     width: @form-grid-cell * 5 + @form-grid-gap * 4;
//   }
//   .form-span6 {
//     width: @form-grid-cell * 6 + @form-grid-gap * 5;
//   }
//   .form-span7 {
//     width: @form-grid-cell * 7 + @form-grid-gap * 6;
//   }
//   .form-span8 {
//     width: @form-grid-cell * 8 + @form-grid-gap * 7;
//   }
//   .form-span9 {
//     width: @form-grid-cell * 9 + @form-grid-gap * 8;
//   }
//   .form-span10 {
//     width: @form-grid-cell * 10 + @form-grid-gap * 9;
//   }
//   .form-span11 {
//     width: @form-grid-cell * 11 + @form-grid-gap * 10;
//   }
//   .form-span12 {
//     width: @form-grid-cell * 12 + @form-grid-gap * 11;
//   }

//   &:after {
//     content: "";
//     display: table;
//     clear: both;    
//   }
// }
