/**
 * Indicates that the form is using vertical layout.
 * @see https://issues.adobe.com/browse/CQ5-30653
 */
form.vertical {
  /**
   * Indicates the fieldset.
   * .fieldset is used instead of <fieldset> as <legend> cannot be styled as per requirement.
   */
  .fieldset {
    margin: 0 10*@px 40*@px 10*@px;
    border: none;
    border-top: 1px solid #CCCCCC;

    /**
     * Indicates the legend of fieldset.
     */
    > .legend {
      display: block;
      margin: 8*@px 0 15*@px 0;
    }

    &:first-of-type {
      border: none;

      > .legend {
        margin-top: 25*@px;
      }
    }
  }

  /**
   * Indicates the label of the field.
   * .fieldlabel is used so that the styling is only applied to this label, not any <label> inside the form.
   */
  label.fieldlabel {
    display: block;
    margin-top: 20*@px;
  }
}
