div.rail {

    [class^="icon-"],
    [class*=" icon-"] {
        &:before {
          color: @rail-icon-color;
          opacity: 0.8;
        }

        &.active:before {
          color: @rail-icon-active-color;
          opacity: 1;
        }

        &:hover:before,
        &.focus:before {
          color: @rail-icon-color;
          opacity: 1;
        }

        &.disabled,
        &[disabled] {
            &:before {
                color: @rail-icon-color;
                opacity: 0.2; 
            }

            &:hover {
                &:before {
                    color: @rail-icon-color;
                    opacity: 0.2; 
                }
            }
        }
    }
    
}