/**
 * A path browser field.
 */
.pathbrowser {
    display: inline-block;

    .border-box;
    vertical-align: top; // used to align them correctly in forms.
    margin: 2*@px 0;  // resets default margin

    select {
        display: none;
    }

    input[type=text] {
        margin: 0;
        width: 100%;
    }

    &.error input {
        color: @textfield-error-font-color;
        border-color: @textfield-error-border-color;
    }

    &.error input:focus,
    &.error.focus input {
        color: @textfield-error-font-color;
        .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }

    .autocomplete-results {
        li {
            min-height: 1rem;
        }

        li div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        li div.pathbrowser-autocomplete-item-value {
            float: left;
            width: 12rem;
        }

        li div.pathbrowser-autocomplete-item-value-with-title {
            width: 6rem;
        }

        li div.pathbrowser-autocomplete-item-title {
            display: block;
            font-size: 0.7rem;
            font-style: italic;
            padding-left: 0.25rem;
            padding-top: 0.05rem;
            position: relative;
        }
    }
}

.fill-parent {
    .pathbrowser {
        width: 100%;
    }
}

form.vertical {
  .pathbrowser.field {
    display: block;
  }
}

form.aligned {
  .pathbrowser.field {
    float: left;
  }
}
