.popover {
  position: absolute;
	display: none;
	background-color: @popover-background-color;
  .background-clip(padding-box); // don't let the border overlap the background
  z-index: 1010; // keep the popover over the page

  border: 8*@px solid @popover-border-color;
	
  /*
    Arrows
  */
  &:before,
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  // top and bottom arrow
  &.arrow-top:before,
  &.arrow-bottom:before { // center the arrow in the center
    left: 50%;
    border-width: @popover-arrow-size - @px;
    margin-left: -1*@popover-arrow-size + @px;
  }
  
  &.arrow-top:before {
    bottom: 100%; // position the border on the top
    margin-bottom: 8*@px;
    border-bottom-color:@popover-border-color;
  }

  &.arrow-bottom:before {
    top: 100%; // position the border on the bottom
    margin-top: 8*@px;
    border-top-color:  @popover-border-color;
  }

  &.arrow-left:before,
  &.arrow-right:before { // center the arrow in the center
    top: 50%;
    border-width: @popover-arrow-size - @px;
    margin-top: -1*@popover-arrow-size + @px;
  }

  &.arrow-left:before {
    right: 100%; // position the border on the left
    margin-right: 8*@px;
    border-right-color:  @popover-border-color;
  }

  &.arrow-right:before {
    left: 100%; // position the border on the left
    margin-left: 8*@px;
    border-left-color:  @popover-border-color;
  }

  
  // Alternate arrow positions
  &.arrow-pos-left:before,
  &.arrow-pos-left:after {
    left: 15%;
    right: auto;
  }
  
  &.arrow-pos-right:before,
  &.arrow-pos-right:after {
    left: 85%;
  }
}
