/**
  Element: Search field
  A simple search field with button
*/

.search {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0.5rem 0; // Put the margin here instead of in the textfield
  // TODO Put the margin for form control in a variable
  
  input[type=text] { // TODO type=search should be considered as well
    margin: 0;
    padding-right: 40*@px;
  }

  button {
    .icon-search;
    .button-square;
        
    // Fit inside of the search field
    position: absolute;
    top: @px; // Because of textfield border
    right: @px; // Because of textfield border
    height: 30*@px;
    
    &,
    &:hover,
    &:active,
    &:disabled {
      border: none;
      border-left: @px solid @textfield-border-color;
      filter: none;
    }
  }
}
