/**
Element: Search field
A simple search field with button in the rail
*/

div.rail {
    div.search {
        display: block;
        position: relative;
        padding: 6*@px 10*@px;
        margin: 0*@px;

        border-bottom: @px solid @rail-section-border-color;

        >input[type="text"] {          
            padding-left: 34*@px;
            background-color: rgb(70, 70, 70);
        }

        >button {
            position: absolute;
            top: 5*@px;
            left: 47*@px;
            width: 34*@px;
            height: 34*@px;
            line-height: 34*@px;

            background: none;
            border: none;
            padding: 0;

            &:before {
                color: @rail-font-color;
            }

            &.focus {
                .glow();
                line-height: 32*@px;
            }
        }
    }
}