/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@require '@adobe/spectrum-css/dist/components/assetlist/index.css';
@require '@adobe/spectrum-css/dist/components/assetlist/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/assetlist/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/assetlist/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/assetlist/multiStops/darkest.css';
@require '@adobe/spectrum-css/dist/components/miller/index.css';

@require '../../../coral-theme-spectrum/src/styles/vars.css';

._coral-MillerColumns {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  outline: none;
  box-sizing: border-box;
}

._coral-MillerColumns-item.is-collapsing {
  transition: width ease-in-out var(--spectrum-global-animation-duration-300);
}

._coral-AssetList-item:not(.is-selectable) [coral-columnview-itemselect] {
  display: none;
}

._coral-AssetList-item.is-selectable coral-checkbox[coral-columnview-itemselect] {
  margin-right: 0;
}

._coral-AssetList-itemThumbnail {
// Align icons
  text-align: center;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > coral-icon {
    vertical-align: middle;
  }
}

._coral-AssetList-itemLabel:before {
  content: attr(data-truncate-start);
  position: absolute;
  left: 0
  top: 10px;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

._coral-AssetList-itemLabel:after {
  content: attr(data-truncate-end);
  position: absolute;
  left: 165px;
  top: 10px;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

coral-columnview-preview-asset {
// contains the image
  position: relative;

  display: block;
  width: 100%;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 15px;
  min-height: 160px;
}

coral-columnview-preview-asset > coral-icon {
  margin-top: 62px;
  margin-bottom: 62px;
}

coral-columnview-preview-asset > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

coral-columnview-preview-label,
coral-columnview-preview-value {
  display: block;
}

coral-columnview-preview-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;

  width: 50%;
  padding-right: 12px;
  text-align: right;
  float: left;
  font-weight: bold;
}

coral-columnview-preview-value {
  overflow: auto;
  white-space: normal;

  padding-left: 12px;
  max-width: 150px;

  > coral-icon {
    margin-right: 5px;
  }
}

coral-columnview-preview-separator {
  display: block;
  height: 15px;
}

coral-columnview-column-content,
coral-columnview-preview-content {
  display: block;
  height: 100%;
  overflow-y: auto;
}

coral-columnview-preview-content.coral-Body--small {
  margin-bottom: 0;
}
