<coral-popover tracking="off" smart class="_coral-Datepicker-overlay" handle="overlay" id="{{data.commons.getUID()}}" breadthoffset="50%r - 50%p" placement="bottom" style="max-height: 75vh;"></coral-popover>
<input type="hidden" handle="hiddenInput">
<input tracking="off" is="coral-textfield" type="text" handle="input" class="_coral-InputGroup-field" role="textbox">
<button tracking="off" is="coral-button" variant="_custom" class="_coral-InputGroup-button _coral-FieldButton" type="button" handle="toggle" aria-haspopup="dialog" aria-label="{{data.i18n.get('Calendar')}}" title="{{data.i18n.get('Calendar')}}">
  <coral-icon icon="calendar" iconsize="S" class="u-coral-noMargin" handle="icon"></coral-icon>
  <coral-button-label></coral-button-label>
</button>
