$inputgroup-button-color = rgb(200, 200, 200);
$inputgroup-button-background-color = rgb(26, 26, 26);
$inputgroup-button-border-color = rgb(57, 57, 57);

$inputgroup-button-color-hover = rgb(239, 239, 239);
$inputgroup-button-background-color-hover = rgb(8, 8, 8);
$inputgroup-button-border-color-hover = rgb(73, 73, 73);

$inputgroup-button-color-active = rgb(239, 239, 239);
$inputgroup-button-background-color-active = rgb(44, 44, 44);
$inputgroup-button-border-color-active = rgb(73, 73, 73);

$inputgroup-button-background-color-focus = rgb(255, 255, 255);
$inputgroup-button-border-color-focus = rgb(55, 142, 240);
$inputgroup-button-box-shadow-focus = 0 0 0 1px rgb(55, 142, 240);
$inputgroup-button-color-focus = rgb(50, 50, 50);

.coral--darkest {
  @import 'skin.styl'
}
