/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

$inputgroup-button-color = rgb(205, 205, 205);
$inputgroup-button-background-color = rgb(45, 45, 45);
$inputgroup-button-border-color = rgb(62, 62, 62);

$inputgroup-button-color-hover = rgb(255, 255, 255);
$inputgroup-button-background-color-hover = rgb(37, 37, 37);
$inputgroup-button-border-color-hover = rgb(77, 77, 77);

$inputgroup-button-background-color-active = rgb(57, 57, 57);
$inputgroup-button-border-color-active = rgb(77, 77, 77);

.coral--dark {
  @import 'skin.styl'
}
