/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.coral-InputGroup {
  display: inline-flex;
  width: 226px;
}

.coral-InputGroup--block {
  display: flex;
  width: 100%;
}

.coral-InputGroup-input {
  width: 100%;
}

// Force ActionButton style
.coral-InputGroup-button ._coral-Button {
  min-width: 32px;
  padding: 0 12px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}

.coral-InputGroup-input.focus-ring,
.coral-InputGroup-button ._coral-Button.focus-ring {
  position: relative;
  z-index: 1;
}

.coral-InputGroup > .coral-InputGroup-button:first-child ._coral-Button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.coral-InputGroup > .coral-InputGroup-button:first-child ._coral-Button:not(.focus-ring) {
  border-right-color: transparent;
}

.coral-InputGroup > .coral-InputGroup-button:last-child ._coral-Button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.coral-InputGroup > .coral-InputGroup-button:last-child ._coral-Button:not(.focus-ring) {
  border-left-color: transparent;
}

.coral-InputGroup > .coral-InputGroup-input {
  border-radius: 0;
}

.coral-InputGroup > .coral-InputGroup-input:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.coral-InputGroup > .coral-InputGroup-input:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
