.coral-InputGroup {
  display: inline-flex;
  width: 226px;
}

.coral-InputGroup--block {
  display: flex;
  width: 100%;
}

// Force ActionButton style
.coral-InputGroup-button ._coral-Button {
  min-width: 32px;
  padding: 0 6px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}

.coral-InputGroup-input {
  width: 100%;
}

.coral-InputGroup-button:first-child {
  padding-right: 8px;
}

.coral-InputGroup-button:last-child {
  padding-left: 8px;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
