/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$inputgroup-button-color = rgb(80, 80, 80);
$inputgroup-button-background-color = rgb(255, 255, 255);
$inputgroup-button-border-color = rgb(234, 234, 234);

$inputgroup-button-color-hover = rgb(50, 50, 50)
$inputgroup-button-background-color-hover = rgb(255, 255, 255)
$inputgroup-button-border-color-hover = rgb(211, 211, 211)

$inputgroup-button-color-active = rgb(50, 50, 50);
$inputgroup-button-background-color-active = rgb(244, 244, 244);
$inputgroup-button-border-color-active = rgb(211, 211, 211);

$inputgroup-button-background-color-focus = rgb(255, 255, 255);
$inputgroup-button-border-color-focus = rgb(55, 142, 240);
$inputgroup-button-box-shadow-focus = 0 0 0 1px rgb(55, 142, 240);
$inputgroup-button-color-focus = rgb(50, 50, 50);

.coral--lightest {
  @import 'skin.styl'
}
