$inputgroup-button-color = rgb(75, 75, 75)
$inputgroup-button-background-color = rgb(251, 251, 251)
$inputgroup-button-border-color = rgb(225, 225, 225)

$inputgroup-button-color-hover = rgb(44, 44, 44);
$inputgroup-button-background-color-hover = rgb(255, 255, 255);
$inputgroup-button-border-color-hover = rgb(202, 202, 202);

$inputgroup-button-color-active = rgb(44, 44, 44);
$inputgroup-button-background-color-active = rgb(234, 234, 234);
$inputgroup-button-border-color-active = rgb(202, 202, 202);

$inputgroup-button-background-color-focus = rgb(255, 255, 255);
$inputgroup-button-border-color-focus = rgb(55, 142, 240);
$inputgroup-button-box-shadow-focus = 0 0 0 1px rgb(55, 142, 240);
$inputgroup-button-color-focus = rgb(50, 50, 50);

.coral--light {
  @import 'skin.styl'
}
