$inputgroup-button-color = rgb(80, 80, 80);
$inputgroup-button-background-color = rgb(255, 255, 255);
$inputgroup-button-border-color = rgb(234, 234, 234);

$inputgroup-button-color-hover = rgb(50, 50, 50)
$inputgroup-button-background-color-hover = rgb(255, 255, 255)
$inputgroup-button-border-color-hover = rgb(211, 211, 211)

$inputgroup-button-color-active = rgb(50, 50, 50);
$inputgroup-button-background-color-active = rgb(244, 244, 244);
$inputgroup-button-border-color-active = rgb(211, 211, 211);

$inputgroup-button-background-color-focus = rgb(255, 255, 255);
$inputgroup-button-border-color-focus = rgb(55, 142, 240);
$inputgroup-button-box-shadow-focus = 0 0 0 1px rgb(55, 142, 240);
$inputgroup-button-color-focus = rgb(50, 50, 50);

.coral--lightest {
  @import 'skin.styl'
}
