<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Labeled Slider examples</title>

        <link rel="stylesheet" href="../../css/cui.css">
 
        <script src="../../js/libs/handlebars.js"></script>
        <script src="../../js/libs/moment.js"></script>
        <script src="../../js/libs/jquery.js"></script>
        <script src="../../js/libs/toe.js"></script>
        <script src="../../js/libs/jquery-fingerpointer.js"></script>

        <script src="../../js/CUI.js"></script>
    </head>
    <body>

        <section>
        <h1>Labeled Sliders</h1>

            <div class="left">
                <div class="slider" data-init="labeled-slider">
                  <label>
                      Basic Horizontal Slider<br>
                      <input type="range" value="14" min="10" max="20" step="2">
                  </label>
                </div>
            </div>
            <div class="left">
                <div class="slider ticked filled tooltips" data-init="labeled-slider">
                  <label>
                      Slider with Labeled Ticks and Tooltips<br>
                      <input type="range" value="14" min="10" max="20" step="2">
                  </label>
                  <ul class="tick-labels">
                    <li>First label</li>
                    <li>Second label</li>
                    <li>Third label</li>
                    <li>Fourth label</li>
                    <li>Fifth label</li>                                                            
                  </ul>
                </div>
            </div>
            <div class="left">
                <div class="slider ticked filled label-alternating" data-init="labeled-slider">
                    <fieldset>
                        <legend>Slider with alternating labels<br></legend>
                        <label>Minimum <input type="range" value="14" min="10" max="20" step="2"></label>
                        <label>Maximum <input type="range" value="16" min="10" max="20" step="2"></label>
                    </fieldset>
                    <ul class="tick-labels">
                      <li>First label</li>
                      <li>Second label</li>
                      <li>Third label</li>
                      <li>Fourth label</li>
                      <li>Fifth label</li>                                                            
                    </ul>
                </div>
            </div>
         
        </section>        
    </body>
</html>
