// Remove overlay flashing while loading the page
coral-overlay {
  display: none;

  &[open] {
    display: block;
  }
}

._coral-Overlay {
  // @spectrum
  transition: opacity 125ms ease-in-out, visibility 0ms linear 125ms;

  &:focus {
    // The overlay is focused when opened
    // We don't want to indicate this in most cases
    // The user can hit tab to focus on the first child of the shown overlay
    outline: none;
  }
}
