/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

// Remove overlay flashing while loading the page
coral-overlay {
  display: none;

  &[open] {
    display: block;
  }
}

._coral-Overlay {
  // @spectrum
  transition: opacity 125ms ease-in-out, visibility 0ms linear 125ms;

  &:focus {
    // The overlay is focused when opened
    // We don't want to indicate this in most cases
    // The user can hit tab to focus on the first child of the shown overlay
    outline: none;
  }
}
