/*
* Datepicker in the rail
*/

@datepicker-dark-border-color: rgb(45, 45, 45);
@datepicker-dark-background-color: rgb(65, 65, 65);
@datepicker-dark-font-color: rgb(220, 220, 220);

@datepicker-dark-gradient-start-color: rgb(70, 70, 70);
@datepicker-dark-gradient-end-color: rgb(85, 85, 85);

@datepicker-dark-disabled-border-color: rgb(65, 65, 65);
@datepicker-dark-disabled-background-color: rgb(80, 80, 80);
@datepicker-dark-disabled-font-color: rgb(95, 95, 95);


div.rail {
	.datepicker
	{
	    > input[type=text] {
	      background: @datepicker-dark-background-color;
	      border: 1px solid @datepicker-dark-border-color;
	      color: @datepicker-dark-font-color;
	      .placeholder(@datepicker-dark-font-color);
	    }

		> button {
		    &,
		    &:hover,
		    &:active,
		    &:disabled {
		      border: none;
		      border-left: @px solid @datepicker-dark-border-color; 
		      .gradient(@datepicker-dark-gradient-start-color, @datepicker-dark-gradient-end-color);

		    }

		    &:disabled {
		      background-color: @datepicker-dark-disabled-background-color;
		    }
		}

		&:disabled {
      
	      color: @datepicker-dark-disabled-font-color;
	      .placeholder(@datepicker-dark-disabled-font-color);

	      background-color: @datepicker-dark-disabled-background-color;
	      border-color: @datepicker-dark-disabled-border-color;
		}
		
	}
}