/**
    rail checklist
*/
div.rail {

    >.wrap {

        .checklist {
            >li {
                padding: 6*@px 0;

                >label {
                    padding-left: 14*@px;

                    input[type=checkbox] {
                        + span:before {
                            .box-shadow(inset 0 3*@px 3*@px -3*@px @rail-shadow-inset-color);
                            background-color: @rail-section-dark-highlight-color;
                            border-color: @rail-section-border-color;
                            color: @rail-icon-color;
                        }

                        &:focus {
                            + span:before {
                                @shadow: inset 0 3*@px 3*@px -3*@px @rail-shadow-inset-color,
                                    0 0 @focus-glow-radius @focus-glow-color;
                                border-color: @focus-border-color;
                                .box-shadow(@shadow);
                            }
                        }
                    }
                    >span b {
                        position: absolute;
                        right: 14*@px;
                        background-color: @rail-section-dark-highlight-color;
                        .border-radius(11*@px);
                        line-height: 22*@px;
                        width: 34*@px;
                      .light-text;
                        text-align: center;
                        font-size: 11*@px;
                    }
                }
            }
        }

    } /* .wrap */

} /* rail */
