/**
    Class: div.rail
    The side rail for pages
*/
// Rail
@rail-input-placeholder-color: rgb(120, 120, 120);

@rail-background-color: rgb(77, 77, 77); // standart background color for rail
@rail-dark-background-color: rgb(60, 60, 60); // for input-text and special components
@rail-tertiary-background-color: rgb(50, 50, 50);

@rail-shadow-distance: 0.1rem;
@rail-shadow-spread: 0.45rem;
@rail-shadow-opacity: 0.35;

@rail-shadow-inset-color: #0a0a0a;

@rail-group-header-color: rgb(81, 85, 86);

@rail-section-border-color: rgb(42, 42, 42);
@rail-section-highlight-color: rgb(95, 95, 95);
@rail-section-dark-highlight-color: rgb(54, 57, 57);
@rail-section-link-color: rgb(199, 199, 199);

@rail-input-text-border-color: rgb(44, 44, 44);

@rail-well-background-color: rgb(57, 60, 60);

@rail-active-background-color: @rail-background-color;
@rail-active-secondary-background-color: rgb(58, 58, 58);

@rail-section-secondary-border-color: rgb(45, 45, 45);
@rail-section-secondary-highlight-color: rgb(80, 80, 80);
@rail-section-change-border-color: rgb(42, 42, 42);
@rail-section-secondary-first-child-highlight-color: rgb(57, 57, 57);

@rail-font-color: rgb(220, 220, 220);
@rail-font-active-color: rgb(255, 255, 255);
@rail-font-hover-color: rgb(255, 255, 255);
@rail-icon-color: rgb(255, 255, 255);
@rail-icon-active-color: rgb(65, 145, 210);


@rail-light-background-color: rgb(212, 212, 212);
@rail-light-border-color: rgb(200, 200, 200);

@rail-light-section-border-color: rgb(195, 195, 195);
@rail-light-section-highlight-color: rgb(230, 230, 230);
@rail-light-section-dark-highlight-color: rgb(174, 177, 177);
@rail-light-section-link-color: rgb(50, 50, 50);

// dropdown
@rail-dropdown-height: 38*@px;
@rail-dropdown-font-color: rgb(220, 220, 220);
@rail-dropdown-border-color: rgb(30, 30, 30);
@rail-dropdown-border-light-color: rgb(70, 70, 70);
@rail-dropdown-background-color: rgb(75, 75, 75);
@rail-dropdown-gradient-start-color: rgb(85, 85, 85);
@rail-dropdown-gradient-end-color: rgb(70, 70, 70);

// dropdown hover
@rail-dropdown-hover-background-color: rgb(80, 80, 80);

// disabled dropdown
@rail-dropdown-disabled-border-color: rgb(65, 65, 65);
@rail-dropdown-disabled-background-color: rgb(80, 80, 80);
@rail-dropdown-disabled-font-color: rgb(100, 100, 100);

// dropdown list
@rail-dropdown-list-background-color: rgb(80, 80, 80);
@rail-dropdown-gradient-end-color-checkbox: rgb(75, 75, 75);

// header
@rail-header-background-color: rgb(70, 70, 70);
@rail-header-text-color: rgb(172, 172, 172);

// warning icon
@rail-icon-warning-color: rgb(249, 209, 104);

div.rail {
    max-width: 35%;

    background-color: @rail-background-color;
    height: 100%; 
    
    /* the rail's default position is left */
    float: left;
    .box-shadow(inset -1*@rail-shadow-distance 0 @rail-shadow-spread rgba(0, 0, 0, @rail-shadow-opacity));

    &.right {
        .box-shadow(inset @rail-shadow-distance 0 @rail-shadow-spread rgba(0, 0, 0, @rail-shadow-opacity));
        float: right;
    }

    // make it scrollable
    &.scroll,
    .scroll {
        .scrollable;
        overflow-y: scroll;
    }

    &.closed {
      width: 0;
      overflow: hidden;
    }

    >.wrap {
        // activate hardware acceleration, 
        // otherwise the content gets scrambled while scrolling 
        // -> because the outer div is the scrolling div
        -webkit-transform: translateZ(0);

        // stretch to screen height
        min-height: 100%;

        .title {
            font-size: 20*@px;
            padding: 16*@px;
        }

        .back {
            display: none;

            float: left;
            font-size: 16*@px;
            margin-right: 12*@px;

            cursor: pointer;
        }

        .message {
            padding: 4*@px 16*@px;
        }

        section {
            margin: 0;
            padding: 0.5rem;

            border-top: @px solid @rail-section-border-color;
            .box-shadow(inset 0 @px 0 @rail-section-highlight-color);

            color: @rail-font-color;
            
            /* First section does not have border/highlight */
            &:first-child { 
                border-top: none;
                .box-shadow(none);
                
                &.links {
                    >h4,
                    >a.heading {                
                        &:active,
                        &:focus {
                            border-top: none;
                            border-bottom: none;
                            margin-top: -0.25rem;
                            margin-bottom: -0.1rem;
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }

            &.links {
                padding: 0.25rem 0;

                a {
                    text-decoration: none;

                    display: block;

                    &:active,
                    &:focus {
                        background-color: @rail-well-background-color;
                    }
                }

                // TBD: fix margin collapse for strong
                >h4,
                >a.heading {
                    font-weight: bold;
                    margin: 0 0 0.15rem 0;

                    font-size: 0.95rem;

                    color: @rail-font-color;

                    padding: 0.25rem 0.7rem;
                    
                    &:active,
                    &:focus {
                        border-top: @px solid @rail-section-border-color;
                        border-bottom: @px solid @rail-well-background-color;
                        margin-top: -0.3125rem;
                        margin-bottom: -0.1625rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                }

                >nav {
                    >a {
                        padding: 0.35rem 1.5rem;

                        font-size: 0.85rem;
                        //text-shadow: 0 2*@px 0 black;
                        color: @rail-section-link-color;
                    }
                }
            }

            /* the section is foldable */
            &.foldable {
                position: relative;

                >.fold {
                    display: none;
                    outline: none;
                }

                >.heading:after {
                    content: "\25B8";  /* triangle: http://mcdlr.com/8/ */
                    position: absolute;
                    right: 24*@px;
                    font-size: 1rem;
                    /* 
                        Removing 1rem line-height below to work around IE10 bug with rem units in pseudo-elements.
                        Alternative is to use em instead of rem. 
                        line-height: 1rem; See CUI-930.
                    */
                }    

                >.fold {
                    height: 0;
                    overflow-x: hidden;
                    overflow-y: hidden;
                }

                &.open {
                    padding-bottom: 0;
                    >.fold {
                        display: block;
                        height: auto;
                        overflow: auto;
                    }
                    
                    >.heading:after {
                        content: "\25BE"; /* triangle: http://mcdlr.com/8/ */
                    }
                }
            }
        }
    } // .wrap
}
