p.
  A CycleButton is a simple multi-state toggle button that toggles between the possible items below a certain threshold, and shows them in a popover selector when above.

include configurator
include jsdoc
