+document-section-simple-example()
  .guide-Example-simpleExampleMarkup.u-columnSmall
    coral-cyclebutton
      coral-cyclebutton-item(icon="viewCard") Card View
      coral-cyclebutton-item(icon="viewList") List View
      coral-cyclebutton-item(icon="viewColumn") Column View
