// hidden by default
coral-cyclebutton-item,
coral-cyclebutton-action {
  display: none;
}

._coral-CycleSelect {
  box-sizing: border-box;

  display: inline-block;
  cursor: pointer;
}

._coral-CycleSelect-icon {
  display: none;
  order: 1;

  width: 10px;
  height: 6px;

  margin-left: 12px;
}

._coral-CycleSelect--extended ._coral-CycleSelect-icon {
  display: inline-block;
}
