p.
  An actionbar that can contain arbitrary items. An item can either be added to the left or the right side of the
  actionbar. All items that do not fit into the bar (due to space problems or configuration) are hidden in popovers and
  'more' buttons are shown in the actionbar.

include markup-documentation
include javascript-documentation
include jsdoc
