+document-section-simple-example()
  .docs-Example-simpleExampleMarkup
    coral-actionbar
      coral-actionbar-container
        coral-actionbar-item
          button(is='coral-button', icon='search') Search
          button(is='coral-button', icon='clock') Timeline
          button(is='coral-button', icon='unmerge') References
      coral-actionbar-container
        coral-actionbar-item
          button(is='coral-button', icon='search') Search
          button(is='coral-button', icon='clock') Timeline
          button(is='coral-button', icon='unmerge') References
