/**
  Class: .flexwizard
*/
.flexwizard > .step {
  display: none;

  &.active {
    display: block;
  }
}

.flexwizard > nav {
  > .right + .right {
    margin-right: 0.5rem;
  }

  > ol {
    font-size: 0; // To remove html whitespace between inline elements
    counter-reset: item;

    > li {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 5*@px 40*@px 5*@px 0;
      border-bottom: 2*@px solid @font-captions-help-color;
      font-size: 12*@px;
      line-height: 20*@px;
      counter-increment: item;

      // List counter
      &:before {
        content: counter(item);
        display: inline-block;
        margin-right: 5*@px;
        font-size: 20*@px;
        vertical-align: top;
      }

      // Circle step marker
      &:after {
        @diameter: 7*@px;

        content: "";
        position: absolute;
        bottom: -7*@px;
        left: 0;
        display: block;
        width: @diameter;
        height: @diameter;
        border: 2*@px solid @body-dark-background-color;
        .border-radius(@diameter);
        background: @font-base-dark-color;
      }

      // Current item
      &.active {
        color: rgb(50, 135, 210);
        border-color: rgb(50, 135, 210);

        &:after {
          background: rgb(50, 135, 210);
        }
      }

      // Previous items
      &.stepped {
        color: rgb(130, 130, 130);
        border-color: rgb(94, 94, 94);

        &:before {
          .icon-content;
          color: rgb(130, 130, 130);
          opacity: 1;
          content: @icon-check-content;
          font-size: 16*@px;
          line-height: inherit;
        }

        &:after {
          background: rgb(130, 130, 130);
        }
      }

      // For one step wizard, display the title just like a dialog
      &:only-child {
        border-bottom: none;
        padding: 0;
        color: @font-base-dark-color;
        font-size: 1.125rem;
        line-height: 2.375rem;

        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
}
