<js>
  var excludedAttributes = ['is', 'class', 'variant', 'size'];

  function copyAttributes(from, to) {
    for (var i = 0; i < from.attributes.length; i++) {
    var attr = from.attributes[i];
      if (excludedAttributes.indexOf(attr.nodeName) === -1) {
        to.setAttribute(attr.nodeName, attr.nodeValue);
      }
    }
  }
</js>
<if data.isButtonList>
  <coral-buttonlist class="_coral-ActionBar-buttonList" tabindex="0" coral-actionbar-offscreen handle="buttonList">
    <foreach data>
      <button is="coral-buttonlist-item" handle="buttonListItem">
        <js>
          copyAttributes(data._button, this.buttonListItem);
        </js>
        <coral-action-bar-item coral-actionbar-offscreen>{{data._button.label.textContent}}</coral-action-bar-item>
      </button>
      <if data._popover>
        <js>
          var popover = data._popover.cloneNode(true);
          this.buttonList.items.add(popover);
        </js>
      </if>
    </foreach>
  </coral-buttonlist>
  <else>
    <if data.isAnchorList>
      <coral-anchorlist tabindex="0" coral-actionbar-offscreen handle="anchorList">
        <foreach data>
          <a is="coral-anchorlist-item" handle="anchorListItem">
            <js>
              copyAttributes(data._button, this.anchorListItem);
            </js>
            <coral-action-bar-item coral-actionbar-offscreen>{{data._button.label.textContent}}</coral-action-bar-item>
          </a>
          <if data._popover>
            <js>
              var popover = data._popover.cloneNode(true);
              this.anchorList.items.add(popover);
            </js>
          </if>
        </foreach>
      </coral-anchorlist>
      <else>
        <ul class="_coral-ActionBar-list">
          <foreach data>
            <li class="_coral-ActionBar-list-item">
              <partial data></partial>
            </li>
          </foreach>
        </ul>
      </else>
    </if>
  </else>
</if>


