/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$user-width = 200*$px;
$user-image-size = 48*$px;
$user-name-color = rgb(60, 60, 60);
$user-heading-color = rgb(112, 112, 112);
$user-background = white;

._coral-Shell-user {
  display: block;

  background: $user-background;
}

._coral-Shell-user-container {
  padding: 20*$px 16*$px 16*$px 16*$px;

  min-width: $user-width;
}

._coral-Shell-user-image {
  float: left;

  width: $user-image-size;
  height: $user-image-size;
  margin-right: 16*$px;
  line-height: $user-image-size;

  border-radius: $user-image-size;
  overflow: hidden;
}

coral-shell-user-name {
  display: block;

  font-size: 15*$px;
  font-weight: bold;
  color: $user-name-color;
}

coral-shell-user-heading,
coral-shell-user-subheading {
  display: block;

  font-size: 13*$px;
  color: $user-heading-color;
}

coral-shell-user-footer {
  width: 100%;
  display: table;
  text-align: center;

  margin-top: 8*$px;

  background-color: rgb(250, 250, 250);

  border-top: 1*$px solid rgb(235, 235, 235);

  ._coral-Button {
    display: table-cell;

    // Make them be 44px so Lindsay is happy
    padding: 3*$px 0;

    border-radius: 0;

    & + ._coral-Button {

      &, &:focus {
        border-left: 1*$px solid rgb(235, 235, 235);
      }
    }
  }
}
