/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$table-border-color = var(--spectrum-darkest-table-border-color);
$table-row-focused-color = var(--spectrum-darkest-selectlist-option-border-color-key-focus);

$table-background-color = var(--spectrum-darkest-table-background-color);
// todo
// Can't use rgba colors
$table-background-color-hover = rgb(26, 26, 26);
$table-background-color-selected = rgb(15, 32, 52);
$table-background-color-selected-hover = rgb(20, 46, 76);

$table-quiet-background-color-hover = var(--spectrum-darkest-table-quiet-row-background-color-hover);
$table-quiet-background-color-selected = var(--spectrum-darkest-table-quiet-row-background-color-selected);
$table-quiet-background-color-selected-hover = var(--spectrum-darkest-table-quiet-row-background-color-selected-hover);

$table-header-cell-color = var(--spectrum-darkest-table-header-text-color);
$table-header-cell-color-hover = var(--spectrum-darkest-table-header-text-color-hover);
$table-header-cell-color-focused = var(--spectrum-darkest-table-header-text-color-key-focus);

// todo
// Same as $table-header-cell-color and $table-header-cell-color-hover
$table-header-cell-icon-color = rgb(162, 162, 162);
$table-header-cell-icon-color-hover = rgb(239, 239, 239);

$table-cell-color = var(--spectrum-darkest-table-cell-text-color);

.coral--darkest {
  @import 'skin.styl'
}
