/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$table-border-color = rgb(45, 45, 45);
$table-row-focused-color = rgb(20, 115, 230);

$table-background-color = rgb(8, 8, 8);
$table-background-color-hover = rgb(26, 26, 26);
$table-background-color-selected = rgb(15, 32, 52);
$table-background-color-selected-hover = rgb(20, 46, 76);

$table-quiet-background-color-hover = rgba(239, 239, 239, 0.08);
$table-quiet-background-color-selected = rgba(38, 128, 235, 0.2);
$table-quiet-background-color-selected-hover = rgba(38, 128, 235, 0.3);

$table-header-cell-color = rgb(133, 133, 133);
$table-header-cell-color-hover = rgb(180, 180, 180);
$table-header-cell-color-focused = rgb(180, 180, 180);

$table-header-cell-icon-color = rgb(105, 105, 105);
$table-header-cell-icon-color-hover = rgb(133, 133, 133);

$table-cell-color = rgb(180, 180, 180);

.coral--darkest {
  @import 'skin.styl'
}
