$table-border-color = rgb(45, 45, 45);
$table-row-focused-color = rgb(20, 115, 230);

$table-background-color = rgb(24, 24, 24);
$table-background-color-hover = rgb(30, 30, 30);
$table-background-color-selected = rgb(30, 30, 30);
$table-background-color-selected-hover = rgb(38, 38, 38);

$table-quiet-background-color-hover = rgb(38, 38, 38);
$table-quiet-background-color-selected = rgb(38, 38, 38);
$table-quiet-background-color-selected-hover = rgb(45, 45, 45);

$table-thumbnail-background-color-selected = rgba(20, 115, 230, 0.4);

$table-header-cell-color = rgb(133, 133, 133);
$table-header-cell-color-hover = rgb(180, 180, 180);
$table-header-cell-color-focused = rgb(180, 180, 180);

$table-header-cell-icon-color = rgb(105, 105, 105);
$table-header-cell-icon-color-hover = rgb(133, 133, 133);

$table-cell-color = rgb(180, 180, 180);

.coral--darkest {
  @import 'skin.styl'
}
