/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@require '@adobe/spectrum-css/dist/components/table/index.css';
@require '@adobe/spectrum-css/dist/components/table/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/table/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/table/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/table/multiStops/darkest.css';

@require '../../../coral-theme-spectrum/src/styles/vars.css';

$table-sort-icon-url = "./embed/SortArrow.svg";
$table-drag-handle-icon-url = "./embed/DragHandle.svg";

// @spectrum
.coral-Table-row {
  cursor: inherit;
}

// @spectrum
.coral-Table-head, .coral-Table-foot {
  .coral-Table-row {
    background: transparent;
  }
}

// @spectrum
.coral-Table:not(.coral-Table--hover) .coral-Table-row:hover {
  background-color: inherit;
}

// @spectrum
.coral-Table--hover .coral-Table-body .coral-Table-row {
  cursor: pointer;
}

// @compat
.coral-Table--bordered {
  .coral-Table-body .coral-Table-row .coral-Table-cell {
    border-right: var(--spectrum-medium-table-border-size) solid;
  }
}

/* Base */
table[is="coral-table"] {
  // Don't show by default to avoid flashing during layout calculations
  visibility: hidden;

  &.is-ready {
    visibility: visible;
  }
}

._coral-Table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

._coral-Table-headerCell {
  text-align: left;
  font-size: var(--spectrum-medium-table-header-text-size);
  font-weight: var(--spectrum-medium-table-header-text-font-weight);
  line-height: var(--spectrum-medium-table-header-text-baseline);
  letter-spacing: var(--spectrum-medium-table-header-text-letter-spacing);
  text-transform: var(--spectrum-medium-subheading-text-transform);
  padding: 4px var(--spectrum-medium-table-header-padding-x);
  transition: color var(--spectrum-global-animation-duration-100) ease-in-out;
  height: 26px;
}

._coral-Table-cell {
  font-size: var(--spectrum-medium-table-cell-text-size)
  transition: background-color var(--spectrum-global-animation-duration-100) ease-in-out;
  // @spectrum support 2 rows inside a cell without growing the full row height
  padding: 4px var(--spectrum-medium-table-cell-padding-x);
  height: var(--spectrum-medium-table-cell-min-height);
  box-sizing: border-box;
}

._coral-Table-head {
  ._coral-Table-row:not(:first-of-type) {
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      border-top: var(--spectrum-medium-table-border-size) solid;
    }
  }
}

._coral-Table-body {
  ._coral-Table-cell {
    border-top: var(--spectrum-medium-table-border-size) solid;

    &:first-of-type {
      border-left: var(--spectrum-medium-table-border-size) solid;
    }

    &:last-of-type {
      border-right: var(--spectrum-medium-table-border-size) solid;
    }
  }

  ._coral-Table-row {
    &:first-of-type {
      ._coral-Table-cell {
        border-top: var(--spectrum-medium-table-border-size) solid;

        &:first-of-type {
          border-top-left-radius: var(--spectrum-medium-table-border-radius);
        }

        &:last-of-type {
          border-top-right-radius: var(--spectrum-medium-table-border-radius);
        }
      }
    }

    &:last-of-type {
      ._coral-Table-cell {
        border-bottom: var(--spectrum-medium-table-border-size) solid;

        &:first-of-type {
          border-bottom-left-radius: var(--spectrum-medium-table-border-radius);
        }

        &:last-of-type {
          border-bottom-right-radius: var(--spectrum-medium-table-border-radius);
        }
      }
    }
  }
}
/* END Base */

/* Template */
._coral-Table-wrapper {
  display: block;
  overflow: hidden;

  &.is-unselectable {
    user-select: none;
  }

  &.is-disabled {
    ._coral-Table-head {
    // Prevent sort and order
      pointer-events: none;

    // Hide sort and order handles
      ._coral-Table-headerCell {
        cursor: auto;
        user-select: initial;

        coral-table-headercell-content {
          cursor: auto;
          user-select: initial;

          &:before,
          &:after {
            visibility: hidden;
          }
        }
      }
    }

    ._coral-Table-wrapper-container {
      border: none;
    }
  }
}

._coral-Table-wrapper-container {
  overflow: auto;
}
/* END Template*/

/* #fixedWith */
._coral-Table-column[fixedwidth] {
  width: 1px;
}

._coral-Table-headerCell[fixedwidth] {
  white-space: nowrap;
}
/* END #fixedWidth */

/* #divider */
._coral-Table-divider--cell {
  &._coral-Table-head {
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      &:not(:last-of-type) {
        border-right: var(--spectrum-medium-table-border-size) solid;
      }
    }
  }

  &._coral-Table-body {
    ._coral-Table-cell:not(:last-of-type) {
      border-right: var(--spectrum-medium-table-border-size) solid;
    }
  }
}

._coral-Table-divider--column {
  &._coral-Table-head {
    ._coral-Table-row:not(:first-of-type) {
      ._coral-Table-cell,
      ._coral-Table-headerCell {
        border-top: none;
      }
    }
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      &:not(:last-of-type) {
        border-right: var(--spectrum-medium-table-border-size) solid;
      }
    }
  }

  &._coral-Table-body {
    ._coral-Table-row:not(:first-of-type) {
      ._coral-Table-cell {
        border-top: none;
      }
    }

    ._coral-Table-cell:not(:last-of-type) {
      border-right: var(--spectrum-medium-table-border-size) solid;
    }
  }
}

._coral-Table-divider--none {
  &._coral-Table-head {
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      border-top: none;
    }
  }

  &._coral-Table-body {
    ._coral-Table-row:not(:first-of-type) {
      ._coral-Table-cell {
        border-top: none;
      }
    }
  }
}
/* END #divider */

/* #sticky */
._coral-Table-wrapper--sticky {
  position: relative;

  ._coral-Table-wrapper-container {
    border: var(--spectrum-medium-table-border-size) solid;
    border-radius: var(--spectrum-medium-table-border-radius);
  }

  ._coral-Table {
  // Fill the gap from the empty head.
  // @todo it should be multipled by the number of head rows
    margin-top: -var(--spectrum-medium-table-border-size);
  }

// Borders are applied by the container in sticky state so we remove the outer body cell borders and radius
  ._coral-Table-body {
    ._coral-Table-cell {
      &:first-of-type {
        border-left :none;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    ._coral-Table-row {
      &:first-of-type ._coral-Table-cell {
        border-radius: 0;
        border-top: none;
      }

      &:last-of-type ._coral-Table-cell {
        border-radius: 0;
        border-bottom: none;
      }
    }
  }

  ._coral-Table-head[sticky] {
    &._coral-Table-divider--row coral-table-headercell-content {
      border-top: var(--spectrum-medium-table-border-size) solid;
    }

    &._coral-Table-divider--column coral-table-headercell-content {
      border-right: var(--spectrum-medium-table-border-size) solid;
    }

    &._coral-Table-divider--cell coral-table-headercell-content {
      border-top: var(--spectrum-medium-table-border-size) solid;
      border-right: var(--spectrum-medium-table-border-size) solid;
    }

    ._coral-Table-row:first-child coral-table-headercell-content {
      border-top: none;
    }

    ._coral-Table-headerCell {
    // We can't set 0 or else screen readers will ignore the header cells in sticky state
      height: 0.5px;
      line-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-top: none;
      overflow: hidden;

      &:last-of-type coral-table-headercell-content {
        border-right: none;
      }
    }

  // The header cell content is styled to be displayed in sticky state
    coral-table-headercell-content {
      display: block;
      position absolute;
      box-sizing: border-box;
      line-height: var(--spectrum-medium-table-header-text-baseline);
      min-height: 34px;
      padding: 4px var(--spectrum-medium-table-header-padding-x);
      margin-left: -var(--spectrum-medium-table-header-padding-x);
    }
  }
}
/* END #sticky */

/* #sortable */
._coral-Table-headerCell[sortable] {
  cursor: pointer;
  user-select: none;

  coral-table-headercell-content {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      background-size: var(--spectrum-medium-table-header-sort-icon-width) var(--spectrum-medium-table-header-sort-icon-width);
      background-position: 50%;
      background-repeat: no-repeat;
      position: absolute;
      height: var(--spectrum-medium-table-header-sort-icon-width)
      width: var(--spectrum-medium-table-header-sort-icon-width);
      padding-left: 8px;
      margin-left: 8px;
      margin-top: 1px;
      transition: transform var(--spectrum-global-animation-duration-100) ease-in-out;
    }
  }

  &[sortabledirection="descending"] {
    coral-table-headercell-content:after {
      transform: rotateZ(180deg);
    }
  }
}
/* END #sortable */

/* #selectable */
._coral-Table-wrapper[selectable] {
  ._coral-Table-row {
    &[coral-table-rowselect]:not([disabled]):hover ._coral-Table-cell {
      cursor: pointer;
    }

    &.is-selected {
      &[coral-table-rowselect] {
        cursor: pointer;
      }
    }
  }
}

// Visual selection indication
._coral-Table-row[selectable] {
  ._coral-Table-cell[coral-table-cellselect] {
    cursor: pointer;

    coral-checkbox {
      pointer-events: none;
    }
  }
}

// Align design to Miller Columns since thumbnail selection pattern was removed in Spectrum
._coral-Table-cell--check {
  white-space: nowrap;

  coral-checkbox[coral-table-rowselect] {
    margin-right: 0;

    & + img {
      height: var(--spectrum-medium-miller-column-thumbnail-height);
      width: var(--spectrum-medium-miller-column-thumbnail-width);
      object-fit: cover;
      vertical-align: middle;
      margin-top: 4px;
      margin-left: var(--spectrum-medium-miller-column-thumbnail-margin-left);
    }

    & + coral-icon {
      height: var(--spectrum-medium-alias-single-line-height);
      width: var(--spectrum-medium-miller-column-thumbnail-width);
      margin-left: var(--spectrum-medium-miller-column-thumbnail-margin-left);
    }
  }
}

table[is="coral-table"]:not([selectable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-select],
    [coral-table-rowselect] {
      display: none;
    }

    [coral-table-rowselect] {
      & + img,
      & + coral-icon {
        margin: 0;
      }
    }
  }
}

tr[is="coral-table-row"]:not([selectable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-cellselect] {
      display: none;
    }
  }
}
/* END #selectable */

/* #variant */
// Remove borders and radius for quiet variant
._coral-Table-wrapper--quiet {
  ._coral-Table-body {
    ._coral-Table-row {
      &:first-of-type {
        ._coral-Table-cell {
          &:first-of-type {
            border-top-left-radius: 0;
          }

          &:last-of-type {
            border-top-right-radius: 0;
          }
        }
      }

      &:last-of-type {
        ._coral-Table-cell {
          &:first-of-type {
            border-bottom-left-radius: 0;
          }

          &:last-of-type {
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  &._coral-Table-wrapper--sticky {
    ._coral-Table-wrapper-container {
      border-radius: 0;
    }

    ._coral-Table-body {
      ._coral-Table-row {
        &:first-of-type {
          ._coral-Table-cell {
            border-top: none;
          }
        }

        &:last-of-type {
          ._coral-Table-cell {
            border-bottom: none;
          }
        }
      }
    }
  }
}
/* END #variant */

/* #lockable */
._coral-Table-wrapper[lockable] ._coral-Table-row {
  [coral-table-rowlock] {
    visibility: hidden;
  }

  &[locked] {
    ._coral-Table-headerCell,
    ._coral-Table-cell {
      [coral-table-rowlock] {
        visibility: visible;
      }
    }
  }

  &:hover {
    [coral-table-rowlock] {
      visibility: visible;
    }

    &:not(.is-selected) ._coral-Table-cell {
      cursor: pointer;
    }
  }
}

table[is="coral-table"]:not([lockable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-rowlock] {
      display: none;
    }
  }
}
/* END #lockable */

/* #orderable */
._coral-Table-headerCell,
._coral-Table-row {
  &.is-dragging,
  &.is-before,
  &.is-after {
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    user-select: none;
  }

  &.is-dragging {
    z-index: 10;
  }
}

._coral-Table-row.is-dragging {
  ._coral-Table-cell,
  ._coral-Table-headerCell {
  // @todo is it really required ?
    border-radius: 0 !important;
  }
}

._coral-Table-row--placeholder {
  visibility: hidden;
}

._coral-Table-wrapper {
// Keep the table top border while dragging
  &.is-draggedFirstItem {
    ._coral-Table-body ._coral-Table-row:nth-of-type(2) {
      ._coral-Table-cell {
        &:first-of-type {
          border-top-left-radius: var(--spectrum-medium-table-border-radius);
        }

        &:last-of-type {
          border-top-right-radius: var(--spectrum-medium-table-border-radius);
        }
      }
    }
  }

// Hide the drag handles when the table is sorted
  &.is-sorted ._coral-Table-row [coral-table-roworder] {
    visibility: hidden;
  }

  &:not(._coral-Table-wrapper--sticky) {
    ._coral-Table-row--placeholder {
      visibility: visible;

      ._coral-Table-cell,
      ._coral-Table-headerCell {
      // Hide the content, but leave the borders visible
        text-indent: -1000px;
      }
    }

  // Keep the table bottom border while dragging
    &.is-draggedLastItem  {
      ._coral-Table-body ._coral-Table-row:nth-last-of-type(2) {
        ._coral-Table-cell {
          border-bottom: var(--spectrum-medium-table-border-size) solid;

          &:first-of-type {
            border-bottom-left-radius: var(--spectrum-medium-table-border-radius);
          }

          &:last-of-type {
            border-bottom-right-radius: var(--spectrum-medium-table-border-radius);
          }
        }
      }
    }
  }
}

._coral-Table-wrapper--sticky {
  ._coral-Table-headerCell[orderable] {
    position: static;
  }

// If sticky, the container border is used instead of the row border
  &.is-draggedFirstItem {
    ._coral-Table-body ._coral-Table-row:nth-of-type(2) {
      ._coral-Table-cell {
        border-top: none;
      }
    }
  }
}

[coral-table-roworder] {
  &:not(:disabled):not(.is-disabled) {
  // Fallback if grab cursor is not supported
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;

    -ms-touch-action: none;
    touch-action: none;
    user-select: none;

    &:active {
    // Fallback if grabbing cursor is not supported
      cursor: move !important;
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important;
    }
  }
}

._coral-Table-headerCell[orderable] {
  position: relative;

  coral-table-headercell-content {
    position: relative;

    &:before {
      content: '';
      background-size: var(--spectrum-medium-table-header-sort-icon-height) var(--spectrum-medium-table-header-sort-icon-height);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: var(--spectrum-medium-table-header-sort-icon-height);
      margin-left: -var(--spectrum-medium-table-header-sort-icon-height);
      top: 0;

    // Fallback if grab cursor is not supported
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
  }

// Support non sticky and sticky state
  &.is-dragging coral-table-headercell-content,
  coral-table-headercell-content.is-dragging {
    &:before {
    // Fallback if grabbing cursor is not supported
      cursor: move !important;
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important;
    }
  }
}

table[is="coral-table"]:not([orderable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-roworder] {
      display: none;
    }
  }
}
/* END #orderable */

/* #a11y */
._coral-Table-headerCell {
  &:focus,
  &.is-focused,
  coral-table-headercell-content:focus,
  coral-table-headercell-content.is-focused {
    outline: none;
  }
}

._coral-Table-row {
  &:focus,
  &.is-focused {
    outline: none;

  // Adds left focus bar
    ._coral-Table-cell:first-of-type {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-left: var(--spectrum-medium-table-cell-border-size-key-focus) solid;
        box-sizing: border-box;
      }
    }
  }
}
/* END #a11y */
@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
