/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$table-border-color = rgb(234, 234, 234);
$table-row-focused-color = rgb(55, 142, 240);

$table-background-color = rgb(255, 255, 255);
$table-background-color-hover = rgb(243, 243, 243);
$table-background-color-selected = rgb(234, 242, 253);
$table-background-color-selected-hover = rgb(213, 230, 250);

$table-quiet-background-color-hover = rgba(50, 50, 50, 0.06);
$table-quiet-background-color-selected = rgba(38, 128, 235, 0.1);
$table-quiet-background-color-selected-hover = rgba(38, 128, 235, 0.2);

$table-header-cell-color = rgb(118, 118, 118);
$table-header-cell-color-hover = rgb(80, 80, 80);
$table-header-cell-color-focused = rgb(80, 80, 80);

$table-header-cell-icon-color = rgb(149, 149, 149);
$table-header-cell-icon-color-hover = rgb(118, 118, 118);

$table-cell-color = rgb(80, 80, 80);

.coral--lightest {
  @import 'skin.styl'
}
