$table-border-color = rgb(225, 225, 225);
$table-row-focused-color = rgb(20, 115, 230);

$table-background-color = rgb(251, 251, 251);
$table-background-color-hover = rgb(245, 245, 245);
$table-background-color-selected = rgb(245, 245, 245);
$table-background-color-selected-hover = rgb(234, 234, 234);

$table-quiet-background-color-hover = rgb(234, 234, 234);
$table-quiet-background-color-selected = rgb(234, 234, 234);
$table-quiet-background-color-selected-hover = rgb(225, 225, 225);

$table-thumbnail-background-color-selected = rgba(20, 115, 230, 0.4);

$table-header-cell-color = rgb(112, 112, 112);
$table-header-cell-color-hover = rgb(75, 75, 75);
$table-header-cell-color-focused = rgb(75, 75, 75);

$table-header-cell-icon-color = rgb(142, 142, 142);
$table-header-cell-icon-color-hover = rgb(112, 112, 112);

$table-cell-color = rgb(75, 75, 75);

.coral--light {
  @import 'skin.styl'
}
