/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$table-border-color = rgb(225, 225, 225);
$table-row-focused-color = rgb(20, 115, 230);

$table-background-color = rgb(255, 255, 255);
$table-background-color-hover = rgb(243, 243, 243);
$table-background-color-selected = rgb(232, 241, 252);
$table-background-color-selected-hover = rgb(210, 228, 249);

$table-quiet-background-color-hover = rgba(44, 44, 44, 0.06);
$table-quiet-background-color-selected = rgba(20, 115, 230, 0.1);
$table-quiet-background-color-selected-hover = rgba(20, 115, 230, 0.2);

$table-header-cell-color = rgb(112, 112, 112);
$table-header-cell-color-hover = rgb(75, 75, 75);
$table-header-cell-color-focused = rgb(75, 75, 75);

$table-header-cell-icon-color = rgb(142, 142, 142);
$table-header-cell-icon-color-hover = rgb(112, 112, 112);

$table-cell-color = rgb(75, 75, 75);

.coral--light {
  @import 'skin.styl'
}
