+document-section-simple-example()
  .docs-Example-simpleExampleMarkup.u-columnSmall.
    <coral-multifield>
      <coral-multifield-item>
        <input is="coral-textfield" type="text" value="Example">
      </coral-multifield-item>
      <button coral-multifield-add type="button" is="coral-button">Add a field</button>
      <template coral-multifield-template>
        <input is="coral-textfield" type="text">
      </template>
    </coral-multifield>
