/**
  Style for the body.
*/

// variables
@body-background-color: rgb(238, 238, 238);

// used to place correctly all elements.
/*
*,
*:before,
*:after {
  .border-box;
}
*/

// We're acting as an app, so we should always fill the screen completely
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html { 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: @base-size + 0px; // the base size in pixels
}

// Set the default background color and font
body {
  background-color: @body-background-color;
  color: @font-base-color;

  .normal-text;
  font-size: 13*@px;
  line-height: 16*@px;

  cursor: default;
}
