/**
  Style for the body.
  Dark Theme.
*/

// variables
@body-dark-background-color: RGB(77, 77, 77);
@font-base-dark-color: rgb(220, 220, 220);

.theme-dark {
  body {
    background-color: @body-dark-background-color;
    color: @font-base-dark-color;
  }
}

// allows different containers to style the background and color.
body, section, div {
  &.theme-dark {
    background-color: @body-dark-background-color;
    color: @font-base-dark-color;
  }
}
