h1 {
  font-family: 'AdobeCleanLight';
  font-size: 1.675rem;
  font-weight: normal;
}

h2 {
  font-family: 'AdobeCleanLight';
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  margin: 0.357rem 0;

  font-size: 1.15rem;
  font-weight: bold;
}

h4 {
  margin: 0;

  font-size: 1rem;
  font-weight: bold;
}

h5 {
  margin: 0;

  font-size: 1rem;
  font-weight: bold;
}

h6 {
  margin: 0;

  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  color: @font-captions-help-color;
}
