/**
  Element: h1, h2, h3, h4, h5, h6
  Dark theme style of the headings.
*/

@font-dark-base-color: rgb(220, 220, 220);
@font-dark-secondary-color: rgb(165, 165, 165);

.theme-dark {
  h1, h2, h3, h4 {
    color: @font-dark-base-color;
  }

  h5, h6 {
    color: @font-dark-secondary-color;
  }
}
