/**
  Element: h1, h2, h3, h4, h5, h6
  Style of the headings.
*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: @font-base-color;
}

h1 {
  .light-text;
  font-size: 22*@px;
  line-height: 26*@px;
}

h2 {
  .light-text;
  font-size: 20*@px;
  line-height: 24*@px;
}

h3 {
  .bold-text;
  font-size: 18*@px;
  line-height: 20*@px;
}

h4 {
  .bold-text;
  font-size: 13*@px;
}

h5, h6 {
  .normal-text;
  font-size: 13*@px;
  font-style: italic;
  color: @font-captions-help-color;
}