@icon-accordiondown-content: "\f002";
.icon-accordiondown() {
	.icon();
	&:before { content: @icon-accordiondown-content; }
}
.icon-accordiondown:before { content: @icon-accordiondown-content; }


@icon-accordionleft-content: "\f003";
.icon-accordionleft() {
	.icon();
	&:before { content: @icon-accordionleft-content; }
}
.icon-accordionleft:before { content: @icon-accordionleft-content; }


@icon-accordionright-content: "\f004";
.icon-accordionright() {
	.icon();
	&:before { content: @icon-accordionright-content; }
}
.icon-accordionright:before { content: @icon-accordionright-content; }


@icon-accordionup-content: "\f005";
.icon-accordionup() {
	.icon();
	&:before { content: @icon-accordionup-content; }
}
.icon-accordionup:before { content: @icon-accordionup-content; }


@icon-actions-content: "\f006";
.icon-actions() {
	.icon();
	&:before { content: @icon-actions-content; }
}
.icon-actions:before { content: @icon-actions-content; }


@icon-add-circle-content: "\f007";
.icon-add-circle() {
	.icon();
	&:before { content: @icon-add-circle-content; }
}
.icon-add-circle:before { content: @icon-add-circle-content; }


@icon-add-content: "\f008";
.icon-add() {
	.icon();
	&:before { content: @icon-add-content; }
}
.icon-add:before { content: @icon-add-content; }


@icon-adjust-content: "\f009";
.icon-adjust() {
	.icon();
	&:before { content: @icon-adjust-content; }
}
.icon-adjust:before { content: @icon-adjust-content; }


@icon-adobeanalytics-content: "\f00a";
.icon-adobeanalytics() {
	.icon();
	&:before { content: @icon-adobeanalytics-content; }
}
.icon-adobeanalytics:before { content: @icon-adobeanalytics-content; }


@icon-adobeexperiencemanager-content: "\f00b";
.icon-adobeexperiencemanager() {
	.icon();
	&:before { content: @icon-adobeexperiencemanager-content; }
}
.icon-adobeexperiencemanager:before { content: @icon-adobeexperiencemanager-content; }


@icon-adobemediaoptimizer-content: "\f00c";
.icon-adobemediaoptimizer() {
	.icon();
	&:before { content: @icon-adobemediaoptimizer-content; }
}
.icon-adobemediaoptimizer:before { content: @icon-adobemediaoptimizer-content; }


@icon-adobesocial-content: "\f00d";
.icon-adobesocial() {
	.icon();
	&:before { content: @icon-adobesocial-content; }
}
.icon-adobesocial:before { content: @icon-adobesocial-content; }


@icon-adobetarget-content: "\f00e";
.icon-adobetarget() {
	.icon();
	&:before { content: @icon-adobetarget-content; }
}
.icon-adobetarget:before { content: @icon-adobetarget-content; }


@icon-alert-content: "\f00f";
.icon-alert() {
	.icon();
	&:before { content: @icon-alert-content; }
}
.icon-alert:before { content: @icon-alert-content; }


@icon-alertadd-content: "\f010";
.icon-alertadd() {
	.icon();
	&:before { content: @icon-alertadd-content; }
}
.icon-alertadd:before { content: @icon-alertadd-content; }


@icon-alias-content: "\f011";
.icon-alias() {
	.icon();
	&:before { content: @icon-alias-content; }
}
.icon-alias:before { content: @icon-alias-content; }


@icon-anchor-content: "\f012";
.icon-anchor() {
	.icon();
	&:before { content: @icon-anchor-content; }
}
.icon-anchor:before { content: @icon-anchor-content; }


@icon-android-content: "\f013";
.icon-android() {
	.icon();
	&:before { content: @icon-android-content; }
}
.icon-android:before { content: @icon-android-content; }


@icon-answer-content: "\f014";
.icon-answer() {
	.icon();
	&:before { content: @icon-answer-content; }
}
.icon-answer:before { content: @icon-answer-content; }


@icon-answerfavorite-content: "\f015";
.icon-answerfavorite() {
	.icon();
	&:before { content: @icon-answerfavorite-content; }
}
.icon-answerfavorite:before { content: @icon-answerfavorite-content; }


@icon-apple-content: "\f016";
.icon-apple() {
	.icon();
	&:before { content: @icon-apple-content; }
}
.icon-apple:before { content: @icon-apple-content; }


@icon-archive-content: "\f017";
.icon-archive() {
	.icon();
	&:before { content: @icon-archive-content; }
}
.icon-archive:before { content: @icon-archive-content; }


@icon-arrowdown-content: "\f018";
.icon-arrowdown() {
	.icon();
	&:before { content: @icon-arrowdown-content; }
}
.icon-arrowdown:before { content: @icon-arrowdown-content; }


@icon-arrowleft-content: "\f019";
.icon-arrowleft() {
	.icon();
	&:before { content: @icon-arrowleft-content; }
}
.icon-arrowleft:before { content: @icon-arrowleft-content; }


@icon-arrowright-content: "\f01a";
.icon-arrowright() {
	.icon();
	&:before { content: @icon-arrowright-content; }
}
.icon-arrowright:before { content: @icon-arrowright-content; }


@icon-arrowup-content: "\f01b";
.icon-arrowup() {
	.icon();
	&:before { content: @icon-arrowup-content; }
}
.icon-arrowup:before { content: @icon-arrowup-content; }


@icon-asset-content: "\f01c";
.icon-asset() {
	.icon();
	&:before { content: @icon-asset-content; }
}
.icon-asset:before { content: @icon-asset-content; }


@icon-assetcheck-content: "\f01d";
.icon-assetcheck() {
	.icon();
	&:before { content: @icon-assetcheck-content; }
}
.icon-assetcheck:before { content: @icon-assetcheck-content; }


@icon-attach-content: "\f01e";
.icon-attach() {
	.icon();
	&:before { content: @icon-attach-content; }
}
.icon-attach:before { content: @icon-attach-content; }


@icon-attachmentexclude-content: "\f01f";
.icon-attachmentexclude() {
	.icon();
	&:before { content: @icon-attachmentexclude-content; }
}
.icon-attachmentexclude:before { content: @icon-attachmentexclude-content; }


@icon-back-content: "\f020";
.icon-back() {
	.icon();
	&:before { content: @icon-back-content; }
}
.icon-back:before { content: @icon-back-content; }


@icon-bell-content: "\f021";
.icon-bell() {
	.icon();
	&:before { content: @icon-bell-content; }
}
.icon-bell:before { content: @icon-bell-content; }


@icon-bidrule-content: "\f022";
.icon-bidrule() {
	.icon();
	&:before { content: @icon-bidrule-content; }
}
.icon-bidrule:before { content: @icon-bidrule-content; }


@icon-bidruleadd-content: "\f023";
.icon-bidruleadd() {
	.icon();
	&:before { content: @icon-bidruleadd-content; }
}
.icon-bidruleadd:before { content: @icon-bidruleadd-content; }


@icon-blog-content: "\f024";
.icon-blog() {
	.icon();
	&:before { content: @icon-blog-content; }
}
.icon-blog:before { content: @icon-blog-content; }


@icon-blur-content: "\f025";
.icon-blur() {
	.icon();
	&:before { content: @icon-blur-content; }
}
.icon-blur:before { content: @icon-blur-content; }


@icon-book-content: "\f026";
.icon-book() {
	.icon();
	&:before { content: @icon-book-content; }
}
.icon-book:before { content: @icon-book-content; }


@icon-bookmark-content: "\f027";
.icon-bookmark() {
	.icon();
	&:before { content: @icon-bookmark-content; }
}
.icon-bookmark:before { content: @icon-bookmark-content; }


@icon-breakdown-content: "\f028";
.icon-breakdown() {
	.icon();
	&:before { content: @icon-breakdown-content; }
}
.icon-breakdown:before { content: @icon-breakdown-content; }


@icon-breakdownadd-content: "\f029";
.icon-breakdownadd() {
	.icon();
	&:before { content: @icon-breakdownadd-content; }
}
.icon-breakdownadd:before { content: @icon-breakdownadd-content; }


@icon-brush-content: "\f02a";
.icon-brush() {
	.icon();
	&:before { content: @icon-brush-content; }
}
.icon-brush:before { content: @icon-brush-content; }


@icon-building-content: "\f02b";
.icon-building() {
	.icon();
	&:before { content: @icon-building-content; }
}
.icon-building:before { content: @icon-building-content; }


@icon-calendar-content: "\f02c";
.icon-calendar() {
	.icon();
	&:before { content: @icon-calendar-content; }
}
.icon-calendar:before { content: @icon-calendar-content; }


@icon-calendarlocked-content: "\f02d";
.icon-calendarlocked() {
	.icon();
	&:before { content: @icon-calendarlocked-content; }
}
.icon-calendarlocked:before { content: @icon-calendarlocked-content; }


@icon-calendarunlocked-content: "\f02e";
.icon-calendarunlocked() {
	.icon();
	&:before { content: @icon-calendarunlocked-content; }
}
.icon-calendarunlocked:before { content: @icon-calendarunlocked-content; }


@icon-camera-content: "\f02f";
.icon-camera() {
	.icon();
	&:before { content: @icon-camera-content; }
}
.icon-camera:before { content: @icon-camera-content; }


@icon-campaign-content: "\f030";
.icon-campaign() {
	.icon();
	&:before { content: @icon-campaign-content; }
}
.icon-campaign:before { content: @icon-campaign-content; }


@icon-campaignadd-content: "\f031";
.icon-campaignadd() {
	.icon();
	&:before { content: @icon-campaignadd-content; }
}
.icon-campaignadd:before { content: @icon-campaignadd-content; }


@icon-campaignclose-content: "\f032";
.icon-campaignclose() {
	.icon();
	&:before { content: @icon-campaignclose-content; }
}
.icon-campaignclose:before { content: @icon-campaignclose-content; }


@icon-campaigndelete-content: "\f033";
.icon-campaigndelete() {
	.icon();
	&:before { content: @icon-campaigndelete-content; }
}
.icon-campaigndelete:before { content: @icon-campaigndelete-content; }


@icon-campaignedit-content: "\f034";
.icon-campaignedit() {
	.icon();
	&:before { content: @icon-campaignedit-content; }
}
.icon-campaignedit:before { content: @icon-campaignedit-content; }


@icon-campaignremove-content: "\f035";
.icon-campaignremove() {
	.icon();
	&:before { content: @icon-campaignremove-content; }
}
.icon-campaignremove:before { content: @icon-campaignremove-content; }


@icon-check-circle-content: "\f036";
.icon-check-circle() {
	.icon();
	&:before { content: @icon-check-circle-content; }
}
.icon-check-circle:before { content: @icon-check-circle-content; }


@icon-check-content: "\f037";
.icon-check() {
	.icon();
	&:before { content: @icon-check-content; }
}
.icon-check:before { content: @icon-check-content; }


@icon-chevrondown-content: "\f038";
.icon-chevrondown() {
	.icon();
	&:before { content: @icon-chevrondown-content; }
}
.icon-chevrondown:before { content: @icon-chevrondown-content; }


@icon-chevronleft-content: "\f039";
.icon-chevronleft() {
	.icon();
	&:before { content: @icon-chevronleft-content; }
}
.icon-chevronleft:before { content: @icon-chevronleft-content; }


@icon-chevronright-content: "\f03a";
.icon-chevronright() {
	.icon();
	&:before { content: @icon-chevronright-content; }
}
.icon-chevronright:before { content: @icon-chevronright-content; }


@icon-chevronup-content: "\f03b";
.icon-chevronup() {
	.icon();
	&:before { content: @icon-chevronup-content; }
}
.icon-chevronup:before { content: @icon-chevronup-content; }


@icon-clock-content: "\f03c";
.icon-clock() {
	.icon();
	&:before { content: @icon-clock-content; }
}
.icon-clock:before { content: @icon-clock-content; }


@icon-close-circle-content: "\f03d";
.icon-close-circle() {
	.icon();
	&:before { content: @icon-close-circle-content; }
}
.icon-close-circle:before { content: @icon-close-circle-content; }


@icon-close-content: "\f03e";
.icon-close() {
	.icon();
	&:before { content: @icon-close-content; }
}
.icon-close:before { content: @icon-close-content; }


@icon-cloud-content: "\f03f";
.icon-cloud() {
	.icon();
	&:before { content: @icon-cloud-content; }
}
.icon-cloud:before { content: @icon-cloud-content; }


@icon-code-content: "\f040";
.icon-code() {
	.icon();
	&:before { content: @icon-code-content; }
}
.icon-code:before { content: @icon-code-content; }


@icon-collection-content: "\f041";
.icon-collection() {
	.icon();
	&:before { content: @icon-collection-content; }
}
.icon-collection:before { content: @icon-collection-content; }


@icon-collectionadd-content: "\f042";
.icon-collectionadd() {
	.icon();
	&:before { content: @icon-collectionadd-content; }
}
.icon-collectionadd:before { content: @icon-collectionadd-content; }


@icon-collectionaddto-content: "\f043";
.icon-collectionaddto() {
	.icon();
	&:before { content: @icon-collectionaddto-content; }
}
.icon-collectionaddto:before { content: @icon-collectionaddto-content; }


@icon-colorpalette-content: "\f044";
.icon-colorpalette() {
	.icon();
	&:before { content: @icon-colorpalette-content; }
}
.icon-colorpalette:before { content: @icon-colorpalette-content; }


@icon-comment-content: "\f045";
.icon-comment() {
	.icon();
	&:before { content: @icon-comment-content; }
}
.icon-comment:before { content: @icon-comment-content; }


@icon-commentadd-content: "\f046";
.icon-commentadd() {
	.icon();
	&:before { content: @icon-commentadd-content; }
}
.icon-commentadd:before { content: @icon-commentadd-content; }


@icon-compass-content: "\f047";
.icon-compass() {
	.icon();
	&:before { content: @icon-compass-content; }
}
.icon-compass:before { content: @icon-compass-content; }


@icon-confidencefour-content: "\f048";
.icon-confidencefour() {
	.icon();
	&:before { content: @icon-confidencefour-content; }
}
.icon-confidencefour:before { content: @icon-confidencefour-content; }


@icon-confidenceone-content: "\f049";
.icon-confidenceone() {
	.icon();
	&:before { content: @icon-confidenceone-content; }
}
.icon-confidenceone:before { content: @icon-confidenceone-content; }


@icon-confidencethree-content: "\f04a";
.icon-confidencethree() {
	.icon();
	&:before { content: @icon-confidencethree-content; }
}
.icon-confidencethree:before { content: @icon-confidencethree-content; }


@icon-confidencetwo-content: "\f04b";
.icon-confidencetwo() {
	.icon();
	&:before { content: @icon-confidencetwo-content; }
}
.icon-confidencetwo:before { content: @icon-confidencetwo-content; }


@icon-conversionfunnel-content: "\f04c";
.icon-conversionfunnel() {
	.icon();
	&:before { content: @icon-conversionfunnel-content; }
}
.icon-conversionfunnel:before { content: @icon-conversionfunnel-content; }


@icon-copy-content: "\f04d";
.icon-copy() {
	.icon();
	&:before { content: @icon-copy-content; }
}
.icon-copy:before { content: @icon-copy-content; }


@icon-coral-content: "\f04e";
.icon-coral() {
	.icon();
	&:before { content: @icon-coral-content; }
}
.icon-coral:before { content: @icon-coral-content; }


@icon-creativecloud-content: "\f04f";
.icon-creativecloud() {
	.icon();
	&:before { content: @icon-creativecloud-content; }
}
.icon-creativecloud:before { content: @icon-creativecloud-content; }


@icon-crop-content: "\f050";
.icon-crop() {
	.icon();
	&:before { content: @icon-crop-content; }
}
.icon-crop:before { content: @icon-crop-content; }


@icon-cut-content: "\f051";
.icon-cut() {
	.icon();
	&:before { content: @icon-cut-content; }
}
.icon-cut:before { content: @icon-cut-content; }


@icon-dashboard-content: "\f052";
.icon-dashboard() {
	.icon();
	&:before { content: @icon-dashboard-content; }
}
.icon-dashboard:before { content: @icon-dashboard-content; }


@icon-data-content: "\f053";
.icon-data() {
	.icon();
	&:before { content: @icon-data-content; }
}
.icon-data:before { content: @icon-data-content; }


@icon-dataadd-content: "\f054";
.icon-dataadd() {
	.icon();
	&:before { content: @icon-dataadd-content; }
}
.icon-dataadd:before { content: @icon-dataadd-content; }


@icon-dataadobe-content: "\f055";
.icon-dataadobe() {
	.icon();
	&:before { content: @icon-dataadobe-content; }
}
.icon-dataadobe:before { content: @icon-dataadobe-content; }


@icon-datacheck-content: "\f056";
.icon-datacheck() {
	.icon();
	&:before { content: @icon-datacheck-content; }
}
.icon-datacheck:before { content: @icon-datacheck-content; }


@icon-datacorrelated-content: "\f057";
.icon-datacorrelated() {
	.icon();
	&:before { content: @icon-datacorrelated-content; }
}
.icon-datacorrelated:before { content: @icon-datacorrelated-content; }


@icon-dataedit-content: "\f058";
.icon-dataedit() {
	.icon();
	&:before { content: @icon-dataedit-content; }
}
.icon-dataedit:before { content: @icon-dataedit-content; }


@icon-dataunavailable-content: "\f059";
.icon-dataunavailable() {
	.icon();
	&:before { content: @icon-dataunavailable-content; }
}
.icon-dataunavailable:before { content: @icon-dataunavailable-content; }


@icon-delegate-content: "\f05a";
.icon-delegate() {
	.icon();
	&:before { content: @icon-delegate-content; }
}
.icon-delegate:before { content: @icon-delegate-content; }


@icon-delete-content: "\f05b";
.icon-delete() {
	.icon();
	&:before { content: @icon-delete-content; }
}
.icon-delete:before { content: @icon-delete-content; }


@icon-demographic-content: "\f05c";
.icon-demographic() {
	.icon();
	&:before { content: @icon-demographic-content; }
}
.icon-demographic:before { content: @icon-demographic-content; }


@icon-devicedesktop-content: "\f05d";
.icon-devicedesktop() {
	.icon();
	&:before { content: @icon-devicedesktop-content; }
}
.icon-devicedesktop:before { content: @icon-devicedesktop-content; }


@icon-devicelaptop-content: "\f05e";
.icon-devicelaptop() {
	.icon();
	&:before { content: @icon-devicelaptop-content; }
}
.icon-devicelaptop:before { content: @icon-devicelaptop-content; }


@icon-devicemobile-content: "\f05f";
.icon-devicemobile() {
	.icon();
	&:before { content: @icon-devicemobile-content; }
}
.icon-devicemobile:before { content: @icon-devicemobile-content; }


@icon-devicetablet-content: "\f060";
.icon-devicetablet() {
	.icon();
	&:before { content: @icon-devicetablet-content; }
}
.icon-devicetablet:before { content: @icon-devicetablet-content; }


@icon-disqus-content: "\f061";
.icon-disqus() {
	.icon();
	&:before { content: @icon-disqus-content; }
}
.icon-disqus:before { content: @icon-disqus-content; }


@icon-download-content: "\f062";
.icon-download() {
	.icon();
	&:before { content: @icon-download-content; }
}
.icon-download:before { content: @icon-download-content; }


@icon-draft-content: "\f063";
.icon-draft() {
	.icon();
	&:before { content: @icon-draft-content; }
}
.icon-draft:before { content: @icon-draft-content; }


@icon-dropdown-content: "\f064";
.icon-dropdown() {
	.icon();
	&:before { content: @icon-dropdown-content; }
}
.icon-dropdown:before { content: @icon-dropdown-content; }


@icon-duplicate-content: "\f065";
.icon-duplicate() {
	.icon();
	&:before { content: @icon-duplicate-content; }
}
.icon-duplicate:before { content: @icon-duplicate-content; }


@icon-edit-content: "\f066";
.icon-edit() {
	.icon();
	&:before { content: @icon-edit-content; }
}
.icon-edit:before { content: @icon-edit-content; }


@icon-education-content: "\f067";
.icon-education() {
	.icon();
	&:before { content: @icon-education-content; }
}
.icon-education:before { content: @icon-education-content; }


@icon-effects-content: "\f068";
.icon-effects() {
	.icon();
	&:before { content: @icon-effects-content; }
}
.icon-effects:before { content: @icon-effects-content; }


@icon-email-content: "\f069";
.icon-email() {
	.icon();
	&:before { content: @icon-email-content; }
}
.icon-email:before { content: @icon-email-content; }


@icon-emailcancel-content: "\f06a";
.icon-emailcancel() {
	.icon();
	&:before { content: @icon-emailcancel-content; }
}
.icon-emailcancel:before { content: @icon-emailcancel-content; }


@icon-emailschedule-content: "\f06b";
.icon-emailschedule() {
	.icon();
	&:before { content: @icon-emailschedule-content; }
}
.icon-emailschedule:before { content: @icon-emailschedule-content; }


@icon-event-content: "\f06c";
.icon-event() {
	.icon();
	&:before { content: @icon-event-content; }
}
.icon-event:before { content: @icon-event-content; }


@icon-eventexclude-content: "\f06d";
.icon-eventexclude() {
	.icon();
	&:before { content: @icon-eventexclude-content; }
}
.icon-eventexclude:before { content: @icon-eventexclude-content; }


@icon-exclude-content: "\f06e";
.icon-exclude() {
	.icon();
	&:before { content: @icon-exclude-content; }
}
.icon-exclude:before { content: @icon-exclude-content; }


@icon-facebook-content: "\f06f";
.icon-facebook() {
	.icon();
	&:before { content: @icon-facebook-content; }
}
.icon-facebook:before { content: @icon-facebook-content; }


@icon-facebookcoverimage-content: "\f070";
.icon-facebookcoverimage() {
	.icon();
	&:before { content: @icon-facebookcoverimage-content; }
}
.icon-facebookcoverimage:before { content: @icon-facebookcoverimage-content; }


@icon-fastforward-circle-content: "\f071";
.icon-fastforward-circle() {
	.icon();
	&:before { content: @icon-fastforward-circle-content; }
}
.icon-fastforward-circle:before { content: @icon-fastforward-circle-content; }


@icon-feedadd-content: "\f072";
.icon-feedadd() {
	.icon();
	&:before { content: @icon-feedadd-content; }
}
.icon-feedadd:before { content: @icon-feedadd-content; }


@icon-feedmanagement-content: "\f073";
.icon-feedmanagement() {
	.icon();
	&:before { content: @icon-feedmanagement-content; }
}
.icon-feedmanagement:before { content: @icon-feedmanagement-content; }


@icon-file-content: "\f074";
.icon-file() {
	.icon();
	&:before { content: @icon-file-content; }
}
.icon-file:before { content: @icon-file-content; }


@icon-filecsv-content: "\f075";
.icon-filecsv() {
	.icon();
	&:before { content: @icon-filecsv-content; }
}
.icon-filecsv:before { content: @icon-filecsv-content; }


@icon-fileexcel-content: "\f076";
.icon-fileexcel() {
	.icon();
	&:before { content: @icon-fileexcel-content; }
}
.icon-fileexcel:before { content: @icon-fileexcel-content; }


@icon-filehtml-content: "\f077";
.icon-filehtml() {
	.icon();
	&:before { content: @icon-filehtml-content; }
}
.icon-filehtml:before { content: @icon-filehtml-content; }


@icon-filemobile-content: "\f078";
.icon-filemobile() {
	.icon();
	&:before { content: @icon-filemobile-content; }
}
.icon-filemobile:before { content: @icon-filemobile-content; }


@icon-filepdf-content: "\f079";
.icon-filepdf() {
	.icon();
	&:before { content: @icon-filepdf-content; }
}
.icon-filepdf:before { content: @icon-filepdf-content; }


@icon-filesinglewebpage-content: "\f07a";
.icon-filesinglewebpage() {
	.icon();
	&:before { content: @icon-filesinglewebpage-content; }
}
.icon-filesinglewebpage:before { content: @icon-filesinglewebpage-content; }


@icon-filetxt-content: "\f07b";
.icon-filetxt() {
	.icon();
	&:before { content: @icon-filetxt-content; }
}
.icon-filetxt:before { content: @icon-filetxt-content; }


@icon-fileword-content: "\f07c";
.icon-fileword() {
	.icon();
	&:before { content: @icon-fileword-content; }
}
.icon-fileword:before { content: @icon-fileword-content; }


@icon-filexml-content: "\f07d";
.icon-filexml() {
	.icon();
	&:before { content: @icon-filexml-content; }
}
.icon-filexml:before { content: @icon-filexml-content; }


@icon-film-content: "\f07e";
.icon-film() {
	.icon();
	&:before { content: @icon-film-content; }
}
.icon-film:before { content: @icon-film-content; }


@icon-filter-content: "\f07f";
.icon-filter() {
	.icon();
	&:before { content: @icon-filter-content; }
}
.icon-filter:before { content: @icon-filter-content; }


@icon-filteradd-content: "\f080";
.icon-filteradd() {
	.icon();
	&:before { content: @icon-filteradd-content; }
}
.icon-filteradd:before { content: @icon-filteradd-content; }


@icon-filtercheck-content: "\f081";
.icon-filtercheck() {
	.icon();
	&:before { content: @icon-filtercheck-content; }
}
.icon-filtercheck:before { content: @icon-filtercheck-content; }


@icon-filterdelete-content: "\f082";
.icon-filterdelete() {
	.icon();
	&:before { content: @icon-filterdelete-content; }
}
.icon-filterdelete:before { content: @icon-filterdelete-content; }


@icon-filteredit-content: "\f083";
.icon-filteredit() {
	.icon();
	&:before { content: @icon-filteredit-content; }
}
.icon-filteredit:before { content: @icon-filteredit-content; }


@icon-filterheart-content: "\f084";
.icon-filterheart() {
	.icon();
	&:before { content: @icon-filterheart-content; }
}
.icon-filterheart:before { content: @icon-filterheart-content; }


@icon-filterremove-content: "\f085";
.icon-filterremove() {
	.icon();
	&:before { content: @icon-filterremove-content; }
}
.icon-filterremove:before { content: @icon-filterremove-content; }


@icon-filterstar-content: "\f086";
.icon-filterstar() {
	.icon();
	&:before { content: @icon-filterstar-content; }
}
.icon-filterstar:before { content: @icon-filterstar-content; }


@icon-findandreplace-content: "\f087";
.icon-findandreplace() {
	.icon();
	&:before { content: @icon-findandreplace-content; }
}
.icon-findandreplace:before { content: @icon-findandreplace-content; }


@icon-flag-content: "\f088";
.icon-flag() {
	.icon();
	&:before { content: @icon-flag-content; }
}
.icon-flag:before { content: @icon-flag-content; }


@icon-flickr-content: "\f089";
.icon-flickr() {
	.icon();
	&:before { content: @icon-flickr-content; }
}
.icon-flickr:before { content: @icon-flickr-content; }


@icon-folder-content: "\f08a";
.icon-folder() {
	.icon();
	&:before { content: @icon-folder-content; }
}
.icon-folder:before { content: @icon-folder-content; }


@icon-folderadd-content: "\f08b";
.icon-folderadd() {
	.icon();
	&:before { content: @icon-folderadd-content; }
}
.icon-folderadd:before { content: @icon-folderadd-content; }


@icon-folderdefault-content: "\f08c";
.icon-folderdefault() {
	.icon();
	&:before { content: @icon-folderdefault-content; }
}
.icon-folderdefault:before { content: @icon-folderdefault-content; }


@icon-folderdelete-content: "\f08d";
.icon-folderdelete() {
	.icon();
	&:before { content: @icon-folderdelete-content; }
}
.icon-folderdelete:before { content: @icon-folderdelete-content; }


@icon-folderlocked-content: "\f08e";
.icon-folderlocked() {
	.icon();
	&:before { content: @icon-folderlocked-content; }
}
.icon-folderlocked:before { content: @icon-folderlocked-content; }


@icon-folderlockeddefault-content: "\f08f";
.icon-folderlockeddefault() {
	.icon();
	&:before { content: @icon-folderlockeddefault-content; }
}
.icon-folderlockeddefault:before { content: @icon-folderlockeddefault-content; }


@icon-follow-content: "\f090";
.icon-follow() {
	.icon();
	&:before { content: @icon-follow-content; }
}
.icon-follow:before { content: @icon-follow-content; }


@icon-followoff-content: "\f091";
.icon-followoff() {
	.icon();
	&:before { content: @icon-followoff-content; }
}
.icon-followoff:before { content: @icon-followoff-content; }


@icon-forecast-content: "\f092";
.icon-forecast() {
	.icon();
	&:before { content: @icon-forecast-content; }
}
.icon-forecast:before { content: @icon-forecast-content; }


@icon-forplacementonly-content: "\f093";
.icon-forplacementonly() {
	.icon();
	&:before { content: @icon-forplacementonly-content; }
}
.icon-forplacementonly:before { content: @icon-forplacementonly-content; }


@icon-fullscreen-content: "\f094";
.icon-fullscreen() {
	.icon();
	&:before { content: @icon-fullscreen-content; }
}
.icon-fullscreen:before { content: @icon-fullscreen-content; }


@icon-fullscreenexit-content: "\f095";
.icon-fullscreenexit() {
	.icon();
	&:before { content: @icon-fullscreenexit-content; }
}
.icon-fullscreenexit:before { content: @icon-fullscreenexit-content; }


@icon-gear-content: "\f096";
.icon-gear() {
	.icon();
	&:before { content: @icon-gear-content; }
}
.icon-gear:before { content: @icon-gear-content; }


@icon-gift-content: "\f097";
.icon-gift() {
	.icon();
	&:before { content: @icon-gift-content; }
}
.icon-gift:before { content: @icon-gift-content; }


@icon-globe-content: "\f098";
.icon-globe() {
	.icon();
	&:before { content: @icon-globe-content; }
}
.icon-globe:before { content: @icon-globe-content; }


@icon-globeenter-content: "\f099";
.icon-globeenter() {
	.icon();
	&:before { content: @icon-globeenter-content; }
}
.icon-globeenter:before { content: @icon-globeenter-content; }


@icon-globeexit-content: "\f09a";
.icon-globeexit() {
	.icon();
	&:before { content: @icon-globeexit-content; }
}
.icon-globeexit:before { content: @icon-globeexit-content; }


@icon-googleplus-content: "\f09b";
.icon-googleplus() {
	.icon();
	&:before { content: @icon-googleplus-content; }
}
.icon-googleplus:before { content: @icon-googleplus-content; }


@icon-googleplus1-content: "\f09c";
.icon-googleplus1() {
	.icon();
	&:before { content: @icon-googleplus1-content; }
}
.icon-googleplus1:before { content: @icon-googleplus1-content; }


@icon-grapharea-content: "\f09d";
.icon-grapharea() {
	.icon();
	&:before { content: @icon-grapharea-content; }
}
.icon-grapharea:before { content: @icon-grapharea-content; }


@icon-graphareastacked-content: "\f09e";
.icon-graphareastacked() {
	.icon();
	&:before { content: @icon-graphareastacked-content; }
}
.icon-graphareastacked:before { content: @icon-graphareastacked-content; }


@icon-graphbarhorizontal-content: "\f09f";
.icon-graphbarhorizontal() {
	.icon();
	&:before { content: @icon-graphbarhorizontal-content; }
}
.icon-graphbarhorizontal:before { content: @icon-graphbarhorizontal-content; }


@icon-graphbarstackedhorizontal-content: "\f0a0";
.icon-graphbarstackedhorizontal() {
	.icon();
	&:before { content: @icon-graphbarstackedhorizontal-content; }
}
.icon-graphbarstackedhorizontal:before { content: @icon-graphbarstackedhorizontal-content; }


@icon-graphbarstackedvertical-content: "\f0a1";
.icon-graphbarstackedvertical() {
	.icon();
	&:before { content: @icon-graphbarstackedvertical-content; }
}
.icon-graphbarstackedvertical:before { content: @icon-graphbarstackedvertical-content; }


@icon-graphbarvertical-content: "\f0a2";
.icon-graphbarvertical() {
	.icon();
	&:before { content: @icon-graphbarvertical-content; }
}
.icon-graphbarvertical:before { content: @icon-graphbarvertical-content; }


@icon-graphbubble-content: "\f0a3";
.icon-graphbubble() {
	.icon();
	&:before { content: @icon-graphbubble-content; }
}
.icon-graphbubble:before { content: @icon-graphbubble-content; }


@icon-graphdonut-content: "\f0a4";
.icon-graphdonut() {
	.icon();
	&:before { content: @icon-graphdonut-content; }
}
.icon-graphdonut:before { content: @icon-graphdonut-content; }


@icon-graphhistogram-content: "\f0a5";
.icon-graphhistogram() {
	.icon();
	&:before { content: @icon-graphhistogram-content; }
}
.icon-graphhistogram:before { content: @icon-graphhistogram-content; }


@icon-graphpie-content: "\f0a6";
.icon-graphpie() {
	.icon();
	&:before { content: @icon-graphpie-content; }
}
.icon-graphpie:before { content: @icon-graphpie-content; }


@icon-graphscatter-content: "\f0a7";
.icon-graphscatter() {
	.icon();
	&:before { content: @icon-graphscatter-content; }
}
.icon-graphscatter:before { content: @icon-graphscatter-content; }


@icon-graphtrend-content: "\f0a8";
.icon-graphtrend() {
	.icon();
	&:before { content: @icon-graphtrend-content; }
}
.icon-graphtrend:before { content: @icon-graphtrend-content; }


@icon-graphtrendrounded-content: "\f0a9";
.icon-graphtrendrounded() {
	.icon();
	&:before { content: @icon-graphtrendrounded-content; }
}
.icon-graphtrendrounded:before { content: @icon-graphtrendrounded-content; }


@icon-hammer-content: "\f0aa";
.icon-hammer() {
	.icon();
	&:before { content: @icon-hammer-content; }
}
.icon-hammer:before { content: @icon-hammer-content; }


@icon-heart-content: "\f0ab";
.icon-heart() {
	.icon();
	&:before { content: @icon-heart-content; }
}
.icon-heart:before { content: @icon-heart-content; }


@icon-help-circle-content: "\f0ac";
.icon-help-circle() {
	.icon();
	&:before { content: @icon-help-circle-content; }
}
.icon-help-circle:before { content: @icon-help-circle-content; }


@icon-home-content: "\f0ad";
.icon-home() {
	.icon();
	&:before { content: @icon-home-content; }
}
.icon-home:before { content: @icon-home-content; }


@icon-image-content: "\f0ae";
.icon-image() {
	.icon();
	&:before { content: @icon-image-content; }
}
.icon-image:before { content: @icon-image-content; }


@icon-imagealbum-content: "\f0af";
.icon-imagealbum() {
	.icon();
	&:before { content: @icon-imagealbum-content; }
}
.icon-imagealbum:before { content: @icon-imagealbum-content; }


@icon-imagemap-content: "\f0b0";
.icon-imagemap() {
	.icon();
	&:before { content: @icon-imagemap-content; }
}
.icon-imagemap:before { content: @icon-imagemap-content; }


@icon-imageprofile-content: "\f0b1";
.icon-imageprofile() {
	.icon();
	&:before { content: @icon-imageprofile-content; }
}
.icon-imageprofile:before { content: @icon-imageprofile-content; }


@icon-info-circle-content: "\f0b2";
.icon-info-circle() {
	.icon();
	&:before { content: @icon-info-circle-content; }
}
.icon-info-circle:before { content: @icon-info-circle-content; }


@icon-key-content: "\f0b3";
.icon-key() {
	.icon();
	&:before { content: @icon-key-content; }
}
.icon-key:before { content: @icon-key-content; }


@icon-launch-content: "\f0b4";
.icon-launch() {
	.icon();
	&:before { content: @icon-launch-content; }
}
.icon-launch:before { content: @icon-launch-content; }


@icon-layers-content: "\f0b5";
.icon-layers() {
	.icon();
	&:before { content: @icon-layers-content; }
}
.icon-layers:before { content: @icon-layers-content; }


@icon-layersbackward-content: "\f0b6";
.icon-layersbackward() {
	.icon();
	&:before { content: @icon-layersbackward-content; }
}
.icon-layersbackward:before { content: @icon-layersbackward-content; }


@icon-layersbringtofront-content: "\f0b7";
.icon-layersbringtofront() {
	.icon();
	&:before { content: @icon-layersbringtofront-content; }
}
.icon-layersbringtofront:before { content: @icon-layersbringtofront-content; }


@icon-layersforward-content: "\f0b8";
.icon-layersforward() {
	.icon();
	&:before { content: @icon-layersforward-content; }
}
.icon-layersforward:before { content: @icon-layersforward-content; }


@icon-layerssendtoback-content: "\f0b9";
.icon-layerssendtoback() {
	.icon();
	&:before { content: @icon-layerssendtoback-content; }
}
.icon-layerssendtoback:before { content: @icon-layerssendtoback-content; }


@icon-lightbulb-content: "\f0ba";
.icon-lightbulb() {
	.icon();
	&:before { content: @icon-lightbulb-content; }
}
.icon-lightbulb:before { content: @icon-lightbulb-content; }


@icon-link-content: "\f0bb";
.icon-link() {
	.icon();
	&:before { content: @icon-link-content; }
}
.icon-link:before { content: @icon-link-content; }


@icon-linkcheck-content: "\f0bc";
.icon-linkcheck() {
	.icon();
	&:before { content: @icon-linkcheck-content; }
}
.icon-linkcheck:before { content: @icon-linkcheck-content; }


@icon-linkoff-content: "\f0bd";
.icon-linkoff() {
	.icon();
	&:before { content: @icon-linkoff-content; }
}
.icon-linkoff:before { content: @icon-linkoff-content; }


@icon-location-content: "\f0be";
.icon-location() {
	.icon();
	&:before { content: @icon-location-content; }
}
.icon-location:before { content: @icon-location-content; }


@icon-lockoff-content: "\f0bf";
.icon-lockoff() {
	.icon();
	&:before { content: @icon-lockoff-content; }
}
.icon-lockoff:before { content: @icon-lockoff-content; }


@icon-lockon-content: "\f0c0";
.icon-lockon() {
	.icon();
	&:before { content: @icon-lockon-content; }
}
.icon-lockon:before { content: @icon-lockon-content; }


@icon-login-content: "\f0c1";
.icon-login() {
	.icon();
	&:before { content: @icon-login-content; }
}
.icon-login:before { content: @icon-login-content; }


@icon-merge-content: "\f0c2";
.icon-merge() {
	.icon();
	&:before { content: @icon-merge-content; }
}
.icon-merge:before { content: @icon-merge-content; }


@icon-minus-circle-content: "\f0c3";
.icon-minus-circle() {
	.icon();
	&:before { content: @icon-minus-circle-content; }
}
.icon-minus-circle:before { content: @icon-minus-circle-content; }


@icon-minus-content: "\f0c4";
.icon-minus() {
	.icon();
	&:before { content: @icon-minus-content; }
}
.icon-minus:before { content: @icon-minus-content; }


@icon-more-content: "\f0c5";
.icon-more() {
	.icon();
	&:before { content: @icon-more-content; }
}
.icon-more:before { content: @icon-more-content; }


@icon-move-content: "\f0c6";
.icon-move() {
	.icon();
	&:before { content: @icon-move-content; }
}
.icon-move:before { content: @icon-move-content; }


@icon-navigation-content: "\f0c7";
.icon-navigation() {
	.icon();
	&:before { content: @icon-navigation-content; }
}
.icon-navigation:before { content: @icon-navigation-content; }


@icon-news-content: "\f0c8";
.icon-news() {
	.icon();
	&:before { content: @icon-news-content; }
}
.icon-news:before { content: @icon-news-content; }


@icon-note-content: "\f0c9";
.icon-note() {
	.icon();
	&:before { content: @icon-note-content; }
}
.icon-note:before { content: @icon-note-content; }


@icon-noteadd-content: "\f0ca";
.icon-noteadd() {
	.icon();
	&:before { content: @icon-noteadd-content; }
}
.icon-noteadd:before { content: @icon-noteadd-content; }


@icon-open-content: "\f0cb";
.icon-open() {
	.icon();
	&:before { content: @icon-open-content; }
}
.icon-open:before { content: @icon-open-content; }


@icon-openrecent-content: "\f0cc";
.icon-openrecent() {
	.icon();
	&:before { content: @icon-openrecent-content; }
}
.icon-openrecent:before { content: @icon-openrecent-content; }


@icon-organize-content: "\f0cd";
.icon-organize() {
	.icon();
	&:before { content: @icon-organize-content; }
}
.icon-organize:before { content: @icon-organize-content; }


@icon-page-content: "\f0ce";
.icon-page() {
	.icon();
	&:before { content: @icon-page-content; }
}
.icon-page:before { content: @icon-page-content; }


@icon-pageexclude-content: "\f0cf";
.icon-pageexclude() {
	.icon();
	&:before { content: @icon-pageexclude-content; }
}
.icon-pageexclude:before { content: @icon-pageexclude-content; }


@icon-pages-content: "\f0d0";
.icon-pages() {
	.icon();
	&:before { content: @icon-pages-content; }
}
.icon-pages:before { content: @icon-pages-content; }


@icon-pagesexclude-content: "\f0d1";
.icon-pagesexclude() {
	.icon();
	&:before { content: @icon-pagesexclude-content; }
}
.icon-pagesexclude:before { content: @icon-pagesexclude-content; }


@icon-paintbucket-content: "\f0d2";
.icon-paintbucket() {
	.icon();
	&:before { content: @icon-paintbucket-content; }
}
.icon-paintbucket:before { content: @icon-paintbucket-content; }


@icon-paste-content: "\f0d3";
.icon-paste() {
	.icon();
	&:before { content: @icon-paste-content; }
}
.icon-paste:before { content: @icon-paste-content; }


@icon-pastehtml-content: "\f0d4";
.icon-pastehtml() {
	.icon();
	&:before { content: @icon-pastehtml-content; }
}
.icon-pastehtml:before { content: @icon-pastehtml-content; }


@icon-pastetext-content: "\f0d5";
.icon-pastetext() {
	.icon();
	&:before { content: @icon-pastetext-content; }
}
.icon-pastetext:before { content: @icon-pastetext-content; }


@icon-pause-circle-content: "\f0d6";
.icon-pause-circle() {
	.icon();
	&:before { content: @icon-pause-circle-content; }
}
.icon-pause-circle:before { content: @icon-pause-circle-content; }


@icon-pending-content: "\f0d7";
.icon-pending() {
	.icon();
	&:before { content: @icon-pending-content; }
}
.icon-pending:before { content: @icon-pending-content; }


@icon-phonegap-content: "\f0d8";
.icon-phonegap() {
	.icon();
	&:before { content: @icon-phonegap-content; }
}
.icon-phonegap:before { content: @icon-phonegap-content; }


@icon-pinoff-content: "\f0d9";
.icon-pinoff() {
	.icon();
	&:before { content: @icon-pinoff-content; }
}
.icon-pinoff:before { content: @icon-pinoff-content; }


@icon-pinon-content: "\f0da";
.icon-pinon() {
	.icon();
	&:before { content: @icon-pinon-content; }
}
.icon-pinon:before { content: @icon-pinon-content; }


@icon-pinterest-content: "\f0db";
.icon-pinterest() {
	.icon();
	&:before { content: @icon-pinterest-content; }
}
.icon-pinterest:before { content: @icon-pinterest-content; }


@icon-pivot-content: "\f0dc";
.icon-pivot() {
	.icon();
	&:before { content: @icon-pivot-content; }
}
.icon-pivot:before { content: @icon-pivot-content; }


@icon-play-circle-content: "\f0dd";
.icon-play-circle() {
	.icon();
	&:before { content: @icon-play-circle-content; }
}
.icon-play-circle:before { content: @icon-play-circle-content; }


@icon-preview-content: "\f0de";
.icon-preview() {
	.icon();
	&:before { content: @icon-preview-content; }
}
.icon-preview:before { content: @icon-preview-content; }


@icon-print-content: "\f0df";
.icon-print() {
	.icon();
	&:before { content: @icon-print-content; }
}
.icon-print:before { content: @icon-print-content; }


@icon-project-content: "\f0e0";
.icon-project() {
	.icon();
	&:before { content: @icon-project-content; }
}
.icon-project:before { content: @icon-project-content; }


@icon-projectadd-content: "\f0e1";
.icon-projectadd() {
	.icon();
	&:before { content: @icon-projectadd-content; }
}
.icon-projectadd:before { content: @icon-projectadd-content; }


@icon-promote-content: "\f0e2";
.icon-promote() {
	.icon();
	&:before { content: @icon-promote-content; }
}
.icon-promote:before { content: @icon-promote-content; }


@icon-properties-content: "\f0e3";
.icon-properties() {
	.icon();
	&:before { content: @icon-properties-content; }
}
.icon-properties:before { content: @icon-properties-content; }


@icon-public-content: "\f0e4";
.icon-public() {
	.icon();
	&:before { content: @icon-public-content; }
}
.icon-public:before { content: @icon-public-content; }


@icon-question-content: "\f0e5";
.icon-question() {
	.icon();
	&:before { content: @icon-question-content; }
}
.icon-question:before { content: @icon-question-content; }


@icon-railrightclose-content: "\f0e6";
.icon-railrightclose() {
	.icon();
	&:before { content: @icon-railrightclose-content; }
}
.icon-railrightclose:before { content: @icon-railrightclose-content; }


@icon-railrightopen-content: "\f0e7";
.icon-railrightopen() {
	.icon();
	&:before { content: @icon-railrightopen-content; }
}
.icon-railrightopen:before { content: @icon-railrightopen-content; }


@icon-redo-content: "\f0e8";
.icon-redo() {
	.icon();
	&:before { content: @icon-redo-content; }
}
.icon-redo:before { content: @icon-redo-content; }


@icon-reflecthorizontal-content: "\f0e9";
.icon-reflecthorizontal() {
	.icon();
	&:before { content: @icon-reflecthorizontal-content; }
}
.icon-reflecthorizontal:before { content: @icon-reflecthorizontal-content; }


@icon-reflectvertical-content: "\f0ea";
.icon-reflectvertical() {
	.icon();
	&:before { content: @icon-reflectvertical-content; }
}
.icon-reflectvertical:before { content: @icon-reflectvertical-content; }


@icon-refresh-content: "\f0eb";
.icon-refresh() {
	.icon();
	&:before { content: @icon-refresh-content; }
}
.icon-refresh:before { content: @icon-refresh-content; }


@icon-reorder-content: "\f0ec";
.icon-reorder() {
	.icon();
	&:before { content: @icon-reorder-content; }
}
.icon-reorder:before { content: @icon-reorder-content; }


@icon-replies-content: "\f0ed";
.icon-replies() {
	.icon();
	&:before { content: @icon-replies-content; }
}
.icon-replies:before { content: @icon-replies-content; }


@icon-reply-content: "\f0ee";
.icon-reply() {
	.icon();
	&:before { content: @icon-reply-content; }
}
.icon-reply:before { content: @icon-reply-content; }


@icon-report-content: "\f0ef";
.icon-report() {
	.icon();
	&:before { content: @icon-report-content; }
}
.icon-report:before { content: @icon-report-content; }


@icon-reportadd-content: "\f0f0";
.icon-reportadd() {
	.icon();
	&:before { content: @icon-reportadd-content; }
}
.icon-reportadd:before { content: @icon-reportadd-content; }


@icon-retweet-content: "\f0f1";
.icon-retweet() {
	.icon();
	&:before { content: @icon-retweet-content; }
}
.icon-retweet:before { content: @icon-retweet-content; }


@icon-revert-content: "\f0f2";
.icon-revert() {
	.icon();
	&:before { content: @icon-revert-content; }
}
.icon-revert:before { content: @icon-revert-content; }


@icon-rewind-circle-content: "\f0f3";
.icon-rewind-circle() {
	.icon();
	&:before { content: @icon-rewind-circle-content; }
}
.icon-rewind-circle:before { content: @icon-rewind-circle-content; }


@icon-ribbon-content: "\f0f4";
.icon-ribbon() {
	.icon();
	&:before { content: @icon-ribbon-content; }
}
.icon-ribbon:before { content: @icon-ribbon-content; }


@icon-rotateleft-content: "\f0f5";
.icon-rotateleft() {
	.icon();
	&:before { content: @icon-rotateleft-content; }
}
.icon-rotateleft:before { content: @icon-rotateleft-content; }


@icon-rotateright-content: "\f0f6";
.icon-rotateright() {
	.icon();
	&:before { content: @icon-rotateright-content; }
}
.icon-rotateright:before { content: @icon-rotateright-content; }


@icon-rss-content: "\f0f7";
.icon-rss() {
	.icon();
	&:before { content: @icon-rss-content; }
}
.icon-rss:before { content: @icon-rss-content; }


@icon-search-content: "\f0f8";
.icon-search() {
	.icon();
	&:before { content: @icon-search-content; }
}
.icon-search:before { content: @icon-search-content; }


@icon-select-content: "\f0f9";
.icon-select() {
	.icon();
	&:before { content: @icon-select-content; }
}
.icon-select:before { content: @icon-select-content; }


@icon-sentimentnegative-content: "\f0fa";
.icon-sentimentnegative() {
	.icon();
	&:before { content: @icon-sentimentnegative-content; }
}
.icon-sentimentnegative:before { content: @icon-sentimentnegative-content; }


@icon-sentimentneutral-content: "\f0fb";
.icon-sentimentneutral() {
	.icon();
	&:before { content: @icon-sentimentneutral-content; }
}
.icon-sentimentneutral:before { content: @icon-sentimentneutral-content; }


@icon-sentimentpositive-content: "\f0fc";
.icon-sentimentpositive() {
	.icon();
	&:before { content: @icon-sentimentpositive-content; }
}
.icon-sentimentpositive:before { content: @icon-sentimentpositive-content; }


@icon-servers-content: "\f0fd";
.icon-servers() {
	.icon();
	&:before { content: @icon-servers-content; }
}
.icon-servers:before { content: @icon-servers-content; }


@icon-share-content: "\f0fe";
.icon-share() {
	.icon();
	&:before { content: @icon-share-content; }
}
.icon-share:before { content: @icon-share-content; }


@icon-sharpen-content: "\f0ff";
.icon-sharpen() {
	.icon();
	&:before { content: @icon-sharpen-content; }
}
.icon-sharpen:before { content: @icon-sharpen-content; }


@icon-shoppingcart-content: "\f100";
.icon-shoppingcart() {
	.icon();
	&:before { content: @icon-shoppingcart-content; }
}
.icon-shoppingcart:before { content: @icon-shoppingcart-content; }


@icon-spam-content: "\f101";
.icon-spam() {
	.icon();
	&:before { content: @icon-spam-content; }
}
.icon-spam:before { content: @icon-spam-content; }


@icon-spellcheck-content: "\f102";
.icon-spellcheck() {
	.icon();
	&:before { content: @icon-spellcheck-content; }
}
.icon-spellcheck:before { content: @icon-spellcheck-content; }


@icon-star-content: "\f103";
.icon-star() {
	.icon();
	&:before { content: @icon-star-content; }
}
.icon-star:before { content: @icon-star-content; }


@icon-stopwatch-content: "\f104";
.icon-stopwatch() {
	.icon();
	&:before { content: @icon-stopwatch-content; }
}
.icon-stopwatch:before { content: @icon-stopwatch-content; }


@icon-subscribe-content: "\f105";
.icon-subscribe() {
	.icon();
	&:before { content: @icon-subscribe-content; }
}
.icon-subscribe:before { content: @icon-subscribe-content; }


@icon-successmetric-content: "\f106";
.icon-successmetric() {
	.icon();
	&:before { content: @icon-successmetric-content; }
}
.icon-successmetric:before { content: @icon-successmetric-content; }


@icon-switch-content: "\f107";
.icon-switch() {
	.icon();
	&:before { content: @icon-switch-content; }
}
.icon-switch:before { content: @icon-switch-content; }


@icon-sync-content: "\f108";
.icon-sync() {
	.icon();
	&:before { content: @icon-sync-content; }
}
.icon-sync:before { content: @icon-sync-content; }


@icon-table-content: "\f109";
.icon-table() {
	.icon();
	&:before { content: @icon-table-content; }
}
.icon-table:before { content: @icon-table-content; }


@icon-tableandchart-content: "\f10a";
.icon-tableandchart() {
	.icon();
	&:before { content: @icon-tableandchart-content; }
}
.icon-tableandchart:before { content: @icon-tableandchart-content; }


@icon-tableedit-content: "\f10b";
.icon-tableedit() {
	.icon();
	&:before { content: @icon-tableedit-content; }
}
.icon-tableedit:before { content: @icon-tableedit-content; }


@icon-tablehistogram-content: "\f10c";
.icon-tablehistogram() {
	.icon();
	&:before { content: @icon-tablehistogram-content; }
}
.icon-tablehistogram:before { content: @icon-tablehistogram-content; }


@icon-tag-content: "\f10d";
.icon-tag() {
	.icon();
	&:before { content: @icon-tag-content; }
}
.icon-tag:before { content: @icon-tag-content; }


@icon-tagexclude-content: "\f10e";
.icon-tagexclude() {
	.icon();
	&:before { content: @icon-tagexclude-content; }
}
.icon-tagexclude:before { content: @icon-tagexclude-content; }


@icon-target-content: "\f10f";
.icon-target() {
	.icon();
	&:before { content: @icon-target-content; }
}
.icon-target:before { content: @icon-target-content; }


@icon-targeted-content: "\f110";
.icon-targeted() {
	.icon();
	&:before { content: @icon-targeted-content; }
}
.icon-targeted:before { content: @icon-targeted-content; }


@icon-text-content: "\f111";
.icon-text() {
	.icon();
	&:before { content: @icon-text-content; }
}
.icon-text:before { content: @icon-text-content; }


@icon-textbold-content: "\f112";
.icon-textbold() {
	.icon();
	&:before { content: @icon-textbold-content; }
}
.icon-textbold:before { content: @icon-textbold-content; }


@icon-textbulleted-content: "\f113";
.icon-textbulleted() {
	.icon();
	&:before { content: @icon-textbulleted-content; }
}
.icon-textbulleted:before { content: @icon-textbulleted-content; }


@icon-textcenter-content: "\f114";
.icon-textcenter() {
	.icon();
	&:before { content: @icon-textcenter-content; }
}
.icon-textcenter:before { content: @icon-textcenter-content; }


@icon-textcolor-content: "\f115";
.icon-textcolor() {
	.icon();
	&:before { content: @icon-textcolor-content; }
}
.icon-textcolor:before { content: @icon-textcolor-content; }


@icon-textindentdecrease-content: "\f116";
.icon-textindentdecrease() {
	.icon();
	&:before { content: @icon-textindentdecrease-content; }
}
.icon-textindentdecrease:before { content: @icon-textindentdecrease-content; }


@icon-textindentincrease-content: "\f117";
.icon-textindentincrease() {
	.icon();
	&:before { content: @icon-textindentincrease-content; }
}
.icon-textindentincrease:before { content: @icon-textindentincrease-content; }


@icon-textitalic-content: "\f118";
.icon-textitalic() {
	.icon();
	&:before { content: @icon-textitalic-content; }
}
.icon-textitalic:before { content: @icon-textitalic-content; }


@icon-textjustified-content: "\f119";
.icon-textjustified() {
	.icon();
	&:before { content: @icon-textjustified-content; }
}
.icon-textjustified:before { content: @icon-textjustified-content; }


@icon-textleft-content: "\f11a";
.icon-textleft() {
	.icon();
	&:before { content: @icon-textleft-content; }
}
.icon-textleft:before { content: @icon-textleft-content; }


@icon-textnumbered-content: "\f11b";
.icon-textnumbered() {
	.icon();
	&:before { content: @icon-textnumbered-content; }
}
.icon-textnumbered:before { content: @icon-textnumbered-content; }


@icon-textparagraph-content: "\f11c";
.icon-textparagraph() {
	.icon();
	&:before { content: @icon-textparagraph-content; }
}
.icon-textparagraph:before { content: @icon-textparagraph-content; }


@icon-textright-content: "\f11d";
.icon-textright() {
	.icon();
	&:before { content: @icon-textright-content; }
}
.icon-textright:before { content: @icon-textright-content; }


@icon-textstyle-content: "\f11e";
.icon-textstyle() {
	.icon();
	&:before { content: @icon-textstyle-content; }
}
.icon-textstyle:before { content: @icon-textstyle-content; }


@icon-textsubscript-content: "\f11f";
.icon-textsubscript() {
	.icon();
	&:before { content: @icon-textsubscript-content; }
}
.icon-textsubscript:before { content: @icon-textsubscript-content; }


@icon-textsuperscript-content: "\f120";
.icon-textsuperscript() {
	.icon();
	&:before { content: @icon-textsuperscript-content; }
}
.icon-textsuperscript:before { content: @icon-textsuperscript-content; }


@icon-textunderline-content: "\f121";
.icon-textunderline() {
	.icon();
	&:before { content: @icon-textunderline-content; }
}
.icon-textunderline:before { content: @icon-textunderline-content; }


@icon-thumbdown-content: "\f122";
.icon-thumbdown() {
	.icon();
	&:before { content: @icon-thumbdown-content; }
}
.icon-thumbdown:before { content: @icon-thumbdown-content; }


@icon-thumbup-content: "\f123";
.icon-thumbup() {
	.icon();
	&:before { content: @icon-thumbup-content; }
}
.icon-thumbup:before { content: @icon-thumbup-content; }


@icon-transparency-content: "\f124";
.icon-transparency() {
	.icon();
	&:before { content: @icon-transparency-content; }
}
.icon-transparency:before { content: @icon-transparency-content; }


@icon-treecollapse-content: "\f125";
.icon-treecollapse() {
	.icon();
	&:before { content: @icon-treecollapse-content; }
}
.icon-treecollapse:before { content: @icon-treecollapse-content; }


@icon-treecollapseall-content: "\f126";
.icon-treecollapseall() {
	.icon();
	&:before { content: @icon-treecollapseall-content; }
}
.icon-treecollapseall:before { content: @icon-treecollapseall-content; }


@icon-treeexpand-content: "\f127";
.icon-treeexpand() {
	.icon();
	&:before { content: @icon-treeexpand-content; }
}
.icon-treeexpand:before { content: @icon-treeexpand-content; }


@icon-treeexpandall-content: "\f128";
.icon-treeexpandall() {
	.icon();
	&:before { content: @icon-treeexpandall-content; }
}
.icon-treeexpandall:before { content: @icon-treeexpandall-content; }


@icon-trendinspect-content: "\f129";
.icon-trendinspect() {
	.icon();
	&:before { content: @icon-trendinspect-content; }
}
.icon-trendinspect:before { content: @icon-trendinspect-content; }


@icon-trophy-content: "\f12a";
.icon-trophy() {
	.icon();
	&:before { content: @icon-trophy-content; }
}
.icon-trophy:before { content: @icon-trophy-content; }


@icon-tumblr-content: "\f12b";
.icon-tumblr() {
	.icon();
	&:before { content: @icon-tumblr-content; }
}
.icon-tumblr:before { content: @icon-tumblr-content; }


@icon-twitter-content: "\f12c";
.icon-twitter() {
	.icon();
	&:before { content: @icon-twitter-content; }
}
.icon-twitter:before { content: @icon-twitter-content; }


@icon-undo-content: "\f12d";
.icon-undo() {
	.icon();
	&:before { content: @icon-undo-content; }
}
.icon-undo:before { content: @icon-undo-content; }


@icon-unmerge-content: "\f12e";
.icon-unmerge() {
	.icon();
	&:before { content: @icon-unmerge-content; }
}
.icon-unmerge:before { content: @icon-unmerge-content; }


@icon-unpublish-content: "\f12f";
.icon-unpublish() {
	.icon();
	&:before { content: @icon-unpublish-content; }
}
.icon-unpublish:before { content: @icon-unpublish-content; }


@icon-upload-content: "\f130";
.icon-upload() {
	.icon();
	&:before { content: @icon-upload-content; }
}
.icon-upload:before { content: @icon-upload-content; }


@icon-usa-content: "\f131";
.icon-usa() {
	.icon();
	&:before { content: @icon-usa-content; }
}
.icon-usa:before { content: @icon-usa-content; }


@icon-user-content: "\f132";
.icon-user() {
	.icon();
	&:before { content: @icon-user-content; }
}
.icon-user:before { content: @icon-user-content; }


@icon-userexclude-content: "\f133";
.icon-userexclude() {
	.icon();
	&:before { content: @icon-userexclude-content; }
}
.icon-userexclude:before { content: @icon-userexclude-content; }


@icon-users-content: "\f134";
.icon-users() {
	.icon();
	&:before { content: @icon-users-content; }
}
.icon-users:before { content: @icon-users-content; }


@icon-usersexclude-content: "\f135";
.icon-usersexclude() {
	.icon();
	&:before { content: @icon-usersexclude-content; }
}
.icon-usersexclude:before { content: @icon-usersexclude-content; }


@icon-viewalltags-content: "\f136";
.icon-viewalltags() {
	.icon();
	&:before { content: @icon-viewalltags-content; }
}
.icon-viewalltags:before { content: @icon-viewalltags-content; }


@icon-viewcard-content: "\f137";
.icon-viewcard() {
	.icon();
	&:before { content: @icon-viewcard-content; }
}
.icon-viewcard:before { content: @icon-viewcard-content; }


@icon-viewcolumn-content: "\f138";
.icon-viewcolumn() {
	.icon();
	&:before { content: @icon-viewcolumn-content; }
}
.icon-viewcolumn:before { content: @icon-viewcolumn-content; }


@icon-viewday-content: "\f139";
.icon-viewday() {
	.icon();
	&:before { content: @icon-viewday-content; }
}
.icon-viewday:before { content: @icon-viewday-content; }


@icon-viewdetail-content: "\f13a";
.icon-viewdetail() {
	.icon();
	&:before { content: @icon-viewdetail-content; }
}
.icon-viewdetail:before { content: @icon-viewdetail-content; }


@icon-viewedmarkas-content: "\f13b";
.icon-viewedmarkas() {
	.icon();
	&:before { content: @icon-viewedmarkas-content; }
}
.icon-viewedmarkas:before { content: @icon-viewedmarkas-content; }


@icon-viewgrid-content: "\f13c";
.icon-viewgrid() {
	.icon();
	&:before { content: @icon-viewgrid-content; }
}
.icon-viewgrid:before { content: @icon-viewgrid-content; }


@icon-viewlist-content: "\f13d";
.icon-viewlist() {
	.icon();
	&:before { content: @icon-viewlist-content; }
}
.icon-viewlist:before { content: @icon-viewlist-content; }


@icon-viewoff-content: "\f13e";
.icon-viewoff() {
	.icon();
	&:before { content: @icon-viewoff-content; }
}
.icon-viewoff:before { content: @icon-viewoff-content; }


@icon-viewon-content: "\f13f";
.icon-viewon() {
	.icon();
	&:before { content: @icon-viewon-content; }
}
.icon-viewon:before { content: @icon-viewon-content; }


@icon-viewsingle-content: "\f140";
.icon-viewsingle() {
	.icon();
	&:before { content: @icon-viewsingle-content; }
}
.icon-viewsingle:before { content: @icon-viewsingle-content; }


@icon-viewweek-content: "\f141";
.icon-viewweek() {
	.icon();
	&:before { content: @icon-viewweek-content; }
}
.icon-viewweek:before { content: @icon-viewweek-content; }


@icon-windows7-content: "\f142";
.icon-windows7() {
	.icon();
	&:before { content: @icon-windows7-content; }
}
.icon-windows7:before { content: @icon-windows7-content; }


@icon-windows8-content: "\f143";
.icon-windows8() {
	.icon();
	&:before { content: @icon-windows8-content; }
}
.icon-windows8:before { content: @icon-windows8-content; }


@icon-wordpress-content: "\f144";
.icon-wordpress() {
	.icon();
	&:before { content: @icon-wordpress-content; }
}
.icon-wordpress:before { content: @icon-wordpress-content; }


@icon-wrench-content: "\f145";
.icon-wrench() {
	.icon();
	&:before { content: @icon-wrench-content; }
}
.icon-wrench:before { content: @icon-wrench-content; }


@icon-youtube-content: "\f146";
.icon-youtube() {
	.icon();
	&:before { content: @icon-youtube-content; }
}
.icon-youtube:before { content: @icon-youtube-content; }


@icon-zoomin-content: "\f147";
.icon-zoomin() {
	.icon();
	&:before { content: @icon-zoomin-content; }
}
.icon-zoomin:before { content: @icon-zoomin-content; }


@icon-zoomout-content: "\f148";
.icon-zoomout() {
	.icon();
	&:before { content: @icon-zoomout-content; }
}
.icon-zoomout:before { content: @icon-zoomout-content; }


