._coral-Clock {
  display: inline-table;
  vertical-align: top;
  width: 200px;

  &._coral-Clock--extended {
    width: 250px;

    // @spectrum
    ._coral-Dropdown-label {
      min-width: 0;
    }
  }
}

._coral-Clock-minute,
._coral-Clock-hour {
  display: table-cell;
  width: 100%;
  min-width: 0;
}

._coral-Clock-divider {
  display: table-cell;
  text-align: center;
  width: 16px;
  vertical-align: middle;
}

._coral-Clock ._coral-Clock-period {
  display: table-cell;
  min-width: 73px;
  width: 73px;
  vertical-align: top;
  padding-left: 16px;
}
