/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

._coral-Playground {
  width: 100%;
  height: 100%;

  textarea {
    position: fixed;
    left: -999px;
    opacity: 0;
  }

  &._coral-Playground--horizontal {
    ._coral-Playground-editor {
      width: 100%;
      height: 50%;

      .CodeMirror {
        background-color: rgb(255, 255, 255);
      }
    }

    ._coral-Playground-preview {
      border-top: 1px solid rgb(220, 220, 220);
      top: 50%;
      width: 100%;
      height: 50%;
    }

    ._coral-Playground-field-editorCheck {
      display: none;
    }
  }

  &._coral-Playground--vertical {
    ._coral-Playground-settings {
      right: 50%;
    }

    ._coral-Playground-editor {
      width: 50%;
      height: 100%;

      .CodeMirror {
        background-color: rgb(255, 255, 255);
      }
    }

    ._coral-Playground-preview {
      border-left: 1px solid rgb(210, 210, 210);
      width: 50%;
      height: 100%;
      left: 50%;
    }

    ._coral-Playground-field-editorCheck {
      display: none;
    }
  }
}

._coral-Playground-settings {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 10;
  margin-right: 10px;

  button[icon="separator"][value="vertical"] svg {
    transform: rotate(90deg);
  }

  ._coral-Playground-settings-button + ._coral-Playground-settings-button {
    margin-left: 0;
  }
}

._coral-Playground-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

._coral-Playground-field-label {
  display: block;
  font-size: 13px;
  padding: 15px 0 10px 0;
}

._coral-Playground-field:first-child ._coral-Playground-field-label {
  padding-top: 0;
}

._coral-Playground-preview,
._coral-Playground-editor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

._coral-Playground-preview-frame {
  width: 100%;
  height: 100%;
  border: 0;
}

._coral-Playground-editor {
  .CodeMirror {
    height: 100%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .CodeMirror-scroll {
    height: 100%;
  }
}

._coral-Playground-overlay {
  width: 210px;
}
