/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@require '@adobe/spectrum-css/dist/components/quickaction/index.css';
@require '@adobe/spectrum-css/dist/components/quickaction/index-diff.css';
@require '@adobe/spectrum-css/dist/components/quickaction/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/quickaction/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/quickaction/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/quickaction/multiStops/darkest.css';

@require '../../../coral-theme-spectrum/src/styles/vars.css';

// prevents flash of un-styled content
coral-quickactions,
coral-quickactions-item {
  display: none;
}

._coral-QuickActions,
.coral--large ._coral-QuickActions {
  transition: margin var(--spectrum-global-animation-duration-100) var(--spectrum-global-animation-ease-in-out),
              opacity var(--spectrum-global-animation-duration-100) var(--spectrum-global-animation-ease-in-out),
              visibility var(--spectrum-global-animation-duration-0) var(--spectrum-global-animation-linear) var(--spectrum-global-animation-duration-100);
}

._coral-QuickActions-item {
  justify-content: center;
}

._coral-QuickActions-buttonList {
  // constrains the size of the list to 6 items 6x40=240
  max-height: 240px;
  overflow-y: auto;
}

._coral-QuickActions-item-more._coral-ActionButton,
._coral-QuickActions ._coral-QuickActions-moreOverlay + ._coral-ActionButton {
  margin-left: var(--spectrum-medium-quickactions-button-gap-x);
}
