/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.coral-DecoratedTextfield {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  display: inline-block;

  // @compat
  > .coral-DecoratedTextfield-button {
    margin-right: 0;
  }
}

.coral-DecoratedTextfield-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 10*$px;
  height: 18*$px;

  // Don't get clicks
  pointer-events: none;
}

// Move text to right when the icon is visible
.coral-DecoratedTextfield-icon:not([hidden]) + .coral-DecoratedTextfield-input {
  padding-left: 25*$px;
  // Reset the text-indent the spectrum textfield has
  text-indent: 0;
}

.coral-DecoratedTextfield-button {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

  &.is-hidden {
    visibility: hidden;
  }
}
