<?js
var self = this;
if (obj.description) { ?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (obj.type && obj.type.names) {?>
<dl>
	<dt>
		Type
	</dt>
	<dd>
		<?js= self.partial('type.tmpl', obj.type.names) ?>
	</dd>
</dl>
<?js } ?>