<?js if (obj.description) { ?>
<div class="param-desc">
    <?js= description ?>
    <?js if (obj.type && obj.type.names) {?>
    {<?js= this.partial('type.tmpl', obj.type.names) ?>}
    <?js } ?>
</div>
<?js } ?>
