/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

// Remove overlay flashing while loading the page
coral-overlay {
  display: none;

  &[open] {
    display: block;
  }
}

.coral3-Overlay {
  // @spectrum
  transition: opacity 125ms ease-in-out, visibility 0ms linear 125ms;

  &:focus {
    // The overlay is focused when opened
    // We don't want to indicate this in most cases
    // The user can hit tab to focus on the first child of the shown overlay
    outline: none;
  }
}
