
// Cards
@card-background-color: rgb(255, 255, 255);
@card-background-inverted: rgb(170, 170, 170);
@card-title-color: rgba(0, 0, 0, 0.6); // The text is transparent to make it look right when selected
@card-text-color: rgba(0, 0, 0, 0.4);  // The text is transparent to make it look right when selected
@card-text-color-inverted: rgb(255, 255, 255);
@card-separator-color: rgba(0, 0, 0, 0.1);
@card-selection-color: rgb(82, 165, 227);
@card-selection-icon-color: rgb(255, 255, 255);
@card-selection-icon-size: 48*@px;
@card-stack-offset: 4*@px;
@card-banner-offset: 5*@px;
@card-banner-border-color-white: rgb(221, 221, 221);
@card-banner-border-color-gray: rgb(187, 187, 187);
@card-banner-background-color-gray: rgb(170, 170, 170);
@card-banner-title-color-gray: rgb(255, 255, 255);
@card-banner-text-color-gray: rgb(235, 235, 235);
@card-banner-border-color-black: rgb(0, 0, 0);
@card-banner-background-color-black: rgb(42, 42, 42);
@card-banner-title-color-black: rgba(255, 255, 255, 0.95);
@card-banner-text-color-black: rgba(255, 255, 255, 0.8);
@card-image-separator-color: rgb(235, 235, 235);
@card-list-height: 50*@px;
@card-list-checkbox-color: saturate(darken(@card-selection-color, 30%), 20%);
@card-list-title-color: rgb(51, 51, 51);
@card-list-separator-color: rgb(210, 210, 210);
@card-list-yellow-background: rgb(255, 210, 77);
@card-list-yellow-border: rgb(238, 198, 62);
@card-list-gray-background: rgb(204, 204, 204);
@card-list-gray-border: rgb(187, 187, 187);
@card-list-stack-border: rgb(210, 210, 210);
@card-list-stack-background: rgb(255, 255, 255);
@card-list-checkbox-background: rgb(255, 255, 255);
@card-list-selection-color: rgb(187, 210, 229);
@card-list-header-triangle: rgb(153, 153, 153);
@card-board-header-border: rgb(187, 187, 187);
@card-board-preview-background: rgb(187, 187, 187);
@card-asset-image-background: rgba(0, 0, 0, 0.13);
@card-asset-image-upload-background: rgba(0, 0, 0, 0.4);
@card-directory-icon-color: rgba(0, 0, 0, 0.4);
@card-grid-margin: 15*@px;

@card-flag-background-color: rgb(200, 200, 200);
@card-flag-border-color: rgb(183, 183, 183);
@card-flag-text-color: rgb(75, 75, 75);
@card-flag-red-background-color: rgb(253, 102, 103);
@card-flag-red-border-color: rgb(198, 67, 64);
@card-flag-yellow-background-color: rgb(252, 199, 52);
@card-flag-yellow-border-color: rgb(221, 166, 43);
@card-flag-green-background-color: rgb(179, 201, 117);
@card-flag-green-border-color: rgb(140, 164, 71);
@card-flag-blue-background-color: rgb(125, 169, 232);
@card-flag-blue-border-color: rgb(106, 134, 192);

@import-once 'card_grid_list.less';
@import-once 'card_mixin.less';
@import-once 'card_generic.less';
@import-once 'card_stack.less';
@import-once 'card_project.less';
@import-once 'card_collection.less';
@import-once 'card_page.less';
@import-once 'card_asset.less';
@import-once 'card_directory.less';
@import-once 'card_board.less';
