/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* CSS only classes */

// Core .coral--light, .coral--dark etc.
@require '@adobe/spectrum-css/dist/components/page/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/page/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/page/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/page/multiStops/darkest.css';

// Typography .coral-Heading etc.
@require '@adobe/spectrum-css/dist/components/typography/index.css';
@require '@adobe/spectrum-css/dist/components/typography/index-diff.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/darkest.css';

// Utility classes .u-pullLeft etc.
@require 'utils';

