/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* CSS only classes */

// Core .coral--light, .coral--dark etc.
@require '@adobe/spectrum-css/dist/components/page/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/page/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/page/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/page/multiStops/darkest.css';

// Forms .coral-FieldLabel etc.
@require '@adobe/spectrum-css/dist/components/fieldlabel/index.css';
@require '@adobe/spectrum-css/dist/components/fieldlabel/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/fieldlabel/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/fieldlabel/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/fieldlabel/multiStops/darkest.css';
@require '@adobe/spectrum-css/dist/components/fieldgroup/index.css';

// .coral-Link
@require '@adobe/spectrum-css/dist/components/link/index.css';
@require '@adobe/spectrum-css/dist/components/link/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/link/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/link/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/link/multiStops/darkest.css';

// .coral-Well
@require '@adobe/spectrum-css/dist/components/well/index.css';
@require '@adobe/spectrum-css/dist/components/well/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/well/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/well/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/well/multiStops/darkest.css';

// Typography .coral-Heading etc.
@require '@adobe/spectrum-css/dist/components/typography/index.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/typography/multiStops/darkest.css';
@require '@adobe/spectrum-css/dist/components/rule/index.css';
@require '@adobe/spectrum-css/dist/components/rule/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/rule/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/rule/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/rule/multiStops/darkest.css';

// Textfields .coral-DecoratedTextfield etc.
@require '@adobe/spectrum-css/dist/components/textfield/index.css';
@require '@adobe/spectrum-css/dist/components/textfield/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/textfield/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/textfield/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/textfield/multiStops/darkest.css';
@require '@adobe/spectrum-css/dist/components/decoratedtextfield/index.css';
@require '@adobe/spectrum-css/dist/components/inputgroup/index.css';
@require '@adobe/spectrum-css/dist/components/inputgroup/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/inputgroup/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/inputgroup/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/inputgroup/multiStops/darkest.css';

// Compat
@require 'decoratedtextfield';
@require 'inputgroup';
@require 'form';
@require 'fixedcolumn';

// Utility classes .u-pullLeft etc.
@require 'utils';

