<a class="_coral-Steplist-link" handle="link">
  <span class="u-coral-screenReaderOnly _coral-Steplist-accessibilityLabel" handle="accessibilityLabel"></span>
  <span class="_coral-Steplist-markerContainer" handle="stepMarkerContainer" role="img" aria-hidden="true">
    <span class="_coral-Steplist-marker"></span>
  </span>
  <coral-tooltip tracking="off" smart focusonshow="off" handle="overlay" placement="top" variant="inspect" interaction="off" breadthoffset="1"></coral-tooltip>
</a>
<span class="_coral-Steplist-segment" handle="line"></span>
