/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$shell-solutionswitcher-transitiontime = 0.21s; // Fibonacci number
$shell-solutionswitcher-background-color = rgb(30, 30, 30);
$shell-solutionswitcher-iconsize = 48px;
$shell-solutionswitcher-linked-solution-iconsize = 48px;
$shell-solutionswitcher-icon-container-height = 48px;
$shell-solutionswitcher-secondary-iconsize = 24px;
$shell-solutions-border = 2px solid
$shell-solutions-border-color = rgba(45, 45, 45, 1)
$shell-solution-linked-text-color = rgba(226,226,226, 0.8);
$shell-solution-text-color = rgb(133, 133, 133);
$shell-solution-text-color-hover = white;
$shell-solution-icon-color = rgba(255, 255, 255, .45);
$shell-solution-secondary-icon-color = rgba(255, 255, 255, .60);

._coral-Shell-solutionSwitcher {
  display: flex;
  padding: 48px 5%;
  background: $shell-solutionswitcher-background-color;

  @media (max-width: 900px) {
    padding: 30px;
  }

  @media (max-width: 550px) {
    padding: 30px;
    flex-direction: column;
  }
}

._coral-Shell-solutions-container {
  width: 80%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: 900px) {
    flex-wrap: wrap;
  }

  @media (max-width: 550px) {
    flex-wrap: wrap;
  }
}

._coral-Shell-solutions {
  flex-direction: column;

  @media (min-width: 900px) {
    width: 75%;
    column-count: 3;
  }
}

._coral-Shell-solution {
  display: inline-flex;
  height: $shell-solutionswitcher-icon-container-height;
  align-items: center;
  padding: 16px 0;
  position: relative;

  text-decoration: none;

  color: $shell-solution-text-color;
  font-size: 16px;

  width: 100%;

  &:before {
    content: '';
  }

  &:focus {
    outline: none;
    color: $shell-solution-text-color-hover;

    coral-shell-solution-label {
      text-decoration: underline;
    }

    &.focus-ring {
      &:before {
        position: absolute;
        top: 0;
        left: -8px;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        box-shadow: 0 0 0 1px rgb(38, 128, 235);
        border 1px solid  rgb(38, 128, 235);
      }
    }
  }
}

._coral-Shell-solution:not([icon]) {
  ._coral-Shell-solution-icon {
    display: none;
  }
}

._coral-Shell-solution:hover {
  color: $shell-solution-text-color-hover;

  coral-shell-solution-label {
    text-decoration: underline;
  }
}

._coral-Shell-solution--linked {
  color: $shell-solution-linked-text-color;
}

._coral-Shell-solution--linked:hover ._coral-Shell-solution-icon
._coral-Shell-solution--linked:focus ._coral-Shell-solution-icon {
  transform: scale(1.1);
}

._coral-Shell-solution--linked ._coral-Shell-solution-icon:before {
  width: $shell-solutionswitcher-linked-solution-iconsize;
  height: $shell-solutionswitcher-linked-solution-iconsize;
}

._coral-Shell-solution-icon {
  color: $shell-solution-icon-color;
  font-size: $shell-solutionswitcher-iconsize;
  will-change: transform;
  transition: transform $shell-solutionswitcher-transitiontime ease-out, opacity $shell-solutionswitcher-transitiontime ease-out;

  &:before {
    width: $shell-solutionswitcher-iconsize;
    height: $shell-solutionswitcher-iconsize;
  }
}

coral-shell-solution-label {
  margin-left: 16px;
  font-weight: 300;
  transition: opacity $shell-solutionswitcher-transitiontime ease-out;
}

// Secondary menu styling
._coral-Shell-solutions--secondary {
  display: flex;
  vertical-align: top;
  padding-right: 0;
  width: 20%;

  @media (max-width: 550px) {
    width: 100%;
  }

  ._coral-Shell-solution:not(:first-of-type) {
    display: flex;
    height: auto;
    width: auto;
    padding: 0;
    text-decoration: none;
    text-align: left;

    &:hover,
    &:focus {
      ._coral-Shell-solution-icon {
        transform: scale(1);
      }

      coral-shell-solution-label {
        color: $shell-solution-text-color-hover;
        text-decoration: underline;
      }
    }

    coral-shell-solution-label {
      margin-left: 0;
      display: inline-block;
      font-size: 13px;
      padding: 16px 0;
    }
  }
}

._coral-Shell-solutions:first-of-type {
  column-count: 1;

  @media (min-width: 900px) {
    width: 25%;
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}

coral-shell-solutions-header {
  display: none;
}
