/**
  Element: .search
  A simple search field with button
*/

.search {

  .component-single-line;

  height: @component-single-line-height;

  position: relative;
  
  input[type=text] {
    margin: 0;
    width: 100%;
    padding-left: @component-single-line-height;
    padding-right: @component-single-line-height;
  }

  button {
    position: absolute;
    display: block;

    .icon-search;
    .icon-small;
    .button-square-transparent(36*@px);

    .hide-inner-text;

    // places the button below the border
    top: 1*@px;
    left: 1*@px;
  }

  button[type=submit] {
    .icon-search;
    .icon-small;
    .button-square-transparent(36*@px);

    left: 1*@px;
  }

  button[type=reset] {
    .icon-close;
    .icon-xsmall;
    .button-square-transparent(36*@px);

    right: 1*@px;
    left: auto; // resets the default left position.
  }

  &.error input {
    border-color: @textfield-error-border-color;
    color: @textfield-error-font-color;

    &:focus {
      .glow(6*@px, @textfield-error-border-color, @textfield-error-border-color);
      color: @textfield-error-font-color;
    }
  }

  &.error button {

    &:before {
      color: @textfield-error-font-color;
      opacity: 1;
    }

    &:focus {
      .glow(6*@px, @textfield-error-border-color, @textfield-error-border-color);
    }
  }
}

form.vertical {
  .search.field {
    display: block;
  }
}

form.aligned {
  .search.field {
    display: inline-block;
  }
}
