/**
  Element: Search
  A simple search field with button
*/

.search {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0;
  vertical-align: middle;
  
  input[type=text] {
    margin: 0;
    padding-left: 32*@px;
    width: 100%;
  }

  button[type=submit] {
    .icon-search;
    .button-square-transparent(30*@px);
        
    // Fit inside of the search field
    position: absolute;
    top: @px; 
    left: @px; 
    color: transparent;
    
    &,
    &:hover,
    &:active,
    &:disabled {
      border: none;
      filter: none;
    }
  }

  button[type=reset] {
    .icon-close;
    .button-square-transparent(1rem);

    font-size: 0.55rem;

    position: absolute;
    top: 9*@px; 
    right: 9*@px; 
    color: transparent;

    &,
    &:hover,
    &:active,
    &:disabled {
      border: none;
      filter: none;
    }
  }

}

form.vertical {
  .search.field {
    display: block;
  }
}

form.aligned {
  .search.field {
    display: inline-block;
  }
}

/* end search */


