/**
  Element: Search
  A simple search field with button
*/

// Search Text Field
@search-text-color: rgb(150, 150, 150);
@search-text-background-color: rgb(249, 249, 249);
@search-text-disabled-background-color: rgb(224, 224, 224);
@search-text-border-color: rgb(184, 184, 184); 
@search-text-disabled-border-color: rgb(209, 209, 209); 
@search-button-gradient-start-color: rgb(234, 234, 234);
@search-button-gradient-end-color: rgb(244, 244, 244);
@search-button-hover-background-color: rgb(244, 244, 244);
@search-button-down-background-color: rgb(211, 211, 211);
@search-button-disabled-background-color: rgb(224, 224, 224);
@search-button-disabled-border-color: rgb(209, 209, 209);

.search {
  display: inline-block;

  .border-box;
  vertical-align: top; // used to align them correctly in forms.
  margin: 2*@px 0;  // resets default margin

  position: relative;
  
  input[type=text] {
    margin: 0;
    padding: 10*@px 16*@px 10*@px 36*@px;
  }

  button {
    .icon-search;
    .button-square-transparent(36*@px);
    position: absolute;
    display: block;
    // places the button below the border
    top: 1*@px;
    color: transparent;

    &,
    &:hover,
    &:active,
    &:disabled {
      border: none;
      filter: none;
    }
  }

  button[type=submit] {
    left: 1*@px;
  }

  button[type=reset] {
    .icon-close;
    .button-square-transparent(30*@px); 
    font-size: 0.6rem;
    top: 1*@px; 
    right: 1*@px; 
  }


  &.error input {
    border-color: @textfield-error-border-color;
    color: @textfield-error-font-color;

    &:focus {
      .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }
  }

  &.error button {

    &:before {
      color: @textfield-error-font-color;
      opacity: 1;
    }

    &:focus {
      .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }
  }
}

form.vertical {
  .search.field {
    display: block;
  }
}

form.aligned {
  .search.field {
    display: inline-block;
  }
}
