<div handle="defaultPalette">
  <coral-colorinput-item value=""></coral-colorinput-item>
  <coral-colorinput-item value="#001F3F"></coral-colorinput-item>
  <coral-colorinput-item value="#0074D9"></coral-colorinput-item>
  <coral-colorinput-item value="#7FDBFF"></coral-colorinput-item>
  <coral-colorinput-item value="#39CCCC"></coral-colorinput-item>
  <coral-colorinput-item value="#3D9970"></coral-colorinput-item>
  <coral-colorinput-item value="#2ECC40"></coral-colorinput-item>
  <coral-colorinput-item value="#01FF70"></coral-colorinput-item>
  <coral-colorinput-item value="#FFDC00"></coral-colorinput-item>
  <coral-colorinput-item value="#FF851B"></coral-colorinput-item>
  <coral-colorinput-item value="#FF4136"></coral-colorinput-item>
  <coral-colorinput-item value="#85144B"></coral-colorinput-item>
  <coral-colorinput-item value="#F012BE"></coral-colorinput-item>
  <coral-colorinput-item value="#B10DC9"></coral-colorinput-item>
  <coral-colorinput-item value="#111111"></coral-colorinput-item>
  <coral-colorinput-item value="#AAAAAA"></coral-colorinput-item>
  <coral-colorinput-item value="#DDDDDD"></coral-colorinput-item>
</div>
<js>var uid = data.commons.getUID();</js>
<input handle="input" is="coral-textfield" class="_coral-ColorInput-input" type="text" value="" role="combobox" aria-autocomplete="none" aria-haspopup="dialog" aria-expanded="false" aria-controls="{{uid}}" />
<div class="_coral-ColorInput-buttonWrapper" handle="buttonWrapper" role="presentation">
  <button handle="colorPreview" is="coral-button" variant="_custom" class="_coral-FieldButton _coral-ColorInput-button _coral-ColorInput-preview" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="{{uid}}"></button>
  <label handle="colorPreviewLabel" type="label"></label>
  <js>
    // Since we don't have a mutation observer anymore to replace content zones magically, we have to do it manually.
    this.colorPreview.label.classList.add('u-coral-screenReaderOnly');
    this.colorPreview.label.innerText = data.i18n.get('Color Picker');
    this.colorPreview.label.id = uid + '-coral-button-label';
  </js>
</div>
<coral-popover smart class="_coral-ColorInput-overlay" role="dialog" focusonshow="on" trapfocus="on" handle="overlay" breadthoffset="50%r - 50%p" lengthoffset="20" placement="bottom" id="{{uid}}" aria-label="{{data.i18n.get('Color Picker')}}">
  <coral-colorinput-colorproperties handle="propertiesView"></coral-colorinput-colorproperties>
  <coral-colorinput-swatches handle="swatchesView"></coral-colorinput-swatches>
</coral-popover>
