p.
  This component holds a collection of panels and shows the selected panel. A
  typical use of a <code>Coral.PanelStack</code> would be controlling content
  in a <a href="Coral.TabView.html" class="coral-Link">Coral.TabView</a> or a
  <a href="Coral.WizardView.html" class="coral-Link">Coral.WizardView</a>.
  See the documentation for those other components for a working example.

include markup-documentation
include javascript-documentation
include jsdoc
