+document-section('Markup Examples', true)

  +document-subsection('Preselected Item')
    +markup-example()
      coral-panelstack(id="panelListPreselectedItem", class="coral-Well")
        coral-panel
          | Panel 0: This is the content of Panel 1
        coral-panel(selected)
          | Panel 1: This is the content of Panel 1. There are more Panels defined in the PanelStack !
        coral-panel
          | Panel 2: This is the content of Panel 2
        coral-panel.
          Panel 3: This is the content of Panel 3. You need JavaScript to interact with this component
        coral-panel
          | Panel 4: This is the content of Panel 4

  +document-subsection('None selected')
    p Nothing is shown, if nothing is selected
    +markup-example()
      coral-panelstack(id="panelListNoneSelected", class="coral-Well")
        coral-panel
          | Panel 0: This is the content of Panel 1
        coral-panel
          | Panel 1: This is the content of Panel 1. There are more Panels defined in the PanelStack !
        coral-panel
          | Panel 2: This is the content of Panel 2
        coral-panel.
          Panel 3: This is the content of Panel 3. You need JavaScript to interact with this component
        coral-panel
          | Panel 4: This is the content of Panel 4

