/**
  Element: Text Area
  A basic multiline text input field.
*/
.theme-dark {
  textarea {

    color: @textfield-dark-font-color;
    border-color: @textfield-dark-border-color;
    
    background-color: @textfield-dark-background-color;

    &:disabled {
      
      color: @textfield-dark-disabled-font-color;
      .placeholder(@textfield-dark-disabled-font-color);

      background-color: @textfield-dark-disabled-background-color;
      border-color: @textfield-dark-disabled-border-color;
    }
  }
}
