/**
  Element: Text Area
  A basic multiline text input field.
*/

textarea {

  .border-box;
  vertical-align: top; // used to align them correctly in forms.
  margin: 0;  // resets default margin

  min-width: 110*@px;

  padding: 10*@px;

  .normal-text;
  font-size: @base-font-size;
  line-height: @base-line-height;

  color: @font-base-color;

  border: @px solid @textfield-border-color;
  background-color: @textfield-background-color;

  .placeholder(@font-secondary-color);

  &:disabled {
    color: @textfield-disabled-font-color;
    .placeholder(@textfield-disabled-font-color);

    background-color: @textfield-disabled-background-color;
    border-color: @textfield-disabled-border-color;
  }

  &:focus {
    .glow();
    outline: none;
  }

  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &.error,
  &:invalid {
    border-color: @textfield-error-border-color;
    color: @textfield-error-font-color;

    &:focus {
      .glow(6*@px, @textfield-error-border-color, @textfield-error-border-color);
      color: @textfield-error-font-color;
    }
  }
}

form.vertical {
  textarea.field {
    display: block;
    width: 100%;
  }
}

form.aligned {
  textarea.field {
    display: block;
  }
}
