/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Note: $shell-header-height is defined in styles/coral-component-shell */

$shell-header-padding-left = 8px;
$shell-header-padding-right = 2px;
$shell-header-area = 45px;

$shell-header-background-color = rgb(30, 30, 30);

$shell-header-background-disabled-color = rgb(62, 62, 62);

$shell-homeanchor-margin-right = 64px;
$shell-homeanchor-icon-margin-right = 5px;
$shell-homeanchor-icon-margin-top = -3px;

$shell-homeanchor-text-size = 14px;
$shell-homeanchor-color = rgb(148, 148, 148);
$shell-homeanchor-hover-color = white;
$shell-homeanchor-focus-color = white;

._coral-Shell-header {
  display: block;
  box-sizing: border-box;

  position: relative;

  height: $shell-header-height;

  // padding-bottom 0 allows items to stick to the bottom without guessing the size of the padding
  padding: 0 $shell-header-padding-right 0 $shell-header-padding-left;

  background-color: $shell-header-background-color;

  // Customize minimal button's badge colors to match the dark background
  ._coral-Shell-menu-button[badge] {
    &:after {
    // Match ultradark background color
      border-color: $shell-header-background-color;
    }

    &:disabled,
    &.is-disabled {
      &:after {
        background-color: $shell-header-background-disabled-color;

        color: $shell-header-background-color;
      }
    }
  }

  ._coral-Shell-menu-button[badge="0"]:after {
    display: none;
  }
}

coral-shell-header-home {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;

  @media (min-width: 768px) {
    margin-right: $shell-homeanchor-margin-right;
  }
}

coral-shell-header-actions {
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
  margin-left: 15px;
}

// Greedy container that takes the available space
coral-shell-header-content {
  // Fill vertically, leaving space at the bottom
  height: $shell-header-area;
  display: inline-block;

  vertical-align: top;
}

// makes the class more specific to be able to verride button styles
._coral-Shell-homeAnchor {
  // Fill the whole header
  display: block;
  box-sizing: border-box;
  vertical-align: top;

  transition: color .15s ease-out;

  margin: 0;
  padding: 0 8px;

  text-decoration: none;
  text-align: center;

  line-height: 38px;

  color: $shell-homeanchor-color;

  cursor: pointer;
  white-space: nowrap;

  &:not(:disabled):not(.is-disabled) {
    &.is-selected,
    &:active,
    &:hover {
      color: $shell-homeanchor-hover-color;
    }

    // focus overrides hover/selected
    &:focus,
    &.is-focused {
      color: $shell-homeanchor-focus-color;
      color:red;
    }

    // active overrides focus
    &:active {
    // Repeated to override focus
      color: $shell-homeanchor-hover-color;
    }
  }
}

._coral-Shell-homeAnchor-icon {
  vertical-align: middle;
  margin-top: $shell-homeanchor-icon-margin-top;
  margin-right: $shell-homeanchor-icon-margin-right;
}

coral-shell-homeanchor-label {
  display: inline-block;

  @media (max-width: 766px) {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    // Workaround for the focus rectangle in Webkit
    overflow: hidden;
    width: 1px !important;
    height: 1px !important;
    margin: 0 -1px -1px 0 !important;
    padding: 0 !important;
  }
}
