include component-mixins

p
  DragAction is a partial component, which may be used to built drag-and-drop
  enabled interfaces. It cannot be used on its own but serves as a building
  block for other CoralUI components.

include attributes
include javascript-documentation
include jsdoc
