/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$table-sort-icon-url = "../embed/SortArrow.svg";
$table-list-check-icon-url = "../embed/Check.svg";
$table-drag-handle-icon-url = "../embed/DragHandle.svg";

// @spectrum
.coral-Table-row {
  cursor: inherit;
}

// @spectrum
.coral-Table-head, .coral-Table-foot {
  .coral-Table-row {
    background: transparent;
  }
}

// @spectrum
.coral-Table:not(.coral-Table--hover) .coral-Table-row:hover {
  background-color: inherit;
}

// @spectrum
.coral-Table--hover .coral-Table-body .coral-Table-row {
  cursor: pointer;
}

// @compat
.coral-Table--bordered {
  .coral-Table-body .coral-Table-row .coral-Table-cell {
    border-right: 1px solid;
  }
}

/* Base */
._coral-Table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

._coral-Table-headerCell {
  text-align: left;
  font-size: 11*$px;
  font-weight: 700;
  line-height: 12*$px;
  letter-spacing: 1*$px;
  text-transform: uppercase;
  padding: 4*$px 16*$px;
  transition: color 125ms ease-in-out;
}

._coral-Table-cell {
  font-size: 14*$px;
  transition: background-color 125ms ease-in-out;
  // @spectrum support 2 rows inside a cell without growing the full row height
  padding: 0 16*$px;
  height: 48*$px;
}

._coral-Table-head {
  ._coral-Table-row:not(:first-of-type) {
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      border-top: 1*$px solid;
    }
  }
}

._coral-Table-body {
  ._coral-Table-cell {
    border-top: 1*$px solid;

    &:first-of-type {
      border-left: 1*$px solid;
    }

    &:last-of-type {
      border-right: 1*$px solid;
    }
  }

  ._coral-Table-row {
    &:first-of-type {
      ._coral-Table-cell {
        border-top: 1*$px solid;

        &:first-of-type {
          border-top-left-radius: 4*$px;
        }

        &:last-of-type {
          border-top-right-radius: 4*$px;
        }
      }
    }

    &:last-of-type {
      ._coral-Table-cell {
        border-bottom: 1*$px solid;

        &:first-of-type {
          border-bottom-left-radius: 4*$px;
        }

        &:last-of-type {
          border-bottom-right-radius: 4*$px;
        }
      }
    }
  }
}
/* END Base */

/* Template */
._coral-Table-wrapper {
  display: block;
  overflow: hidden;

  &.is-unselectable {
    user-select: none;
  }

  &.is-disabled {
    ._coral-Table-head {
      // Prevent sort and order
      pointer-events: none;

      // Hide sort and order handles
      ._coral-Table-headerCell {
        cursor: auto;
        user-select: initial;

        coral-table-headercell-content {
          cursor: auto;
          user-select: initial;

          &:before,
          &:after {
            visibility: hidden;
          }
        }
      }
    }

    ._coral-Table-wrapper-container {
      border: none;
    }
  }
}

._coral-Table-wrapper-container {
  overflow: auto;
}
/* END Template*/

/* #fixedWith */
._coral-Table-column[fixedwidth] {
  width: 1*$px;
}

._coral-Table-headerCell[fixedwidth] {
  white-space: nowrap;
}
/* END #fixedWidth */

/* #divider */
._coral-Table-divider--cell {
  &._coral-Table-head {
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      &:not(:last-of-type) {
        border-right: 1*$px solid;
      }
    }
  }

  &._coral-Table-body {
    ._coral-Table-cell:not(:last-of-type) {
      border-right: 1*$px solid;
    }
  }
}

._coral-Table-divider--column {
  &._coral-Table-head {
    ._coral-Table-row:not(:first-of-type) {
      ._coral-Table-cell,
      ._coral-Table-headerCell {
        border-top: none;
      }
    }
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      &:not(:last-of-type) {
        border-right: 1*$px solid;
      }
    }
  }

  &._coral-Table-body {
    ._coral-Table-row:not(:first-of-type) {
      ._coral-Table-cell {
        border-top: none;
      }
    }

    ._coral-Table-cell:not(:last-of-type) {
      border-right: 1*$px solid;
    }
  }
}

._coral-Table-divider--none {
  &._coral-Table-head {
    ._coral-Table-cell,
    ._coral-Table-headerCell {
      border-top: none;
    }
  }

  &._coral-Table-body {
    ._coral-Table-row:not(:first-of-type) {
      ._coral-Table-cell {
        border-top: none;
      }
    }
  }
}
/* END #divider */

/* #sticky */
._coral-Table-wrapper--sticky {
  position: relative;

  ._coral-Table-wrapper-container {
    border: 1*$px solid;
    border-radius: 4*$px;
  }

  ._coral-Table {
    // Fill the gap from the empty head.
    // @todo it should be multipled by the number of head rows
    margin-top: -1*$px;
  }

  // Borders are applied by the container in sticky state so we remove the outer body cell borders and radius
  ._coral-Table-body {
    ._coral-Table-cell {
      &:first-of-type {
        border-left :none;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    ._coral-Table-row {
      &:first-of-type ._coral-Table-cell {
        border-radius: 0;
        border-top: none;
      }

      &:last-of-type ._coral-Table-cell {
        border-radius: 0;
        border-bottom: none;
      }
    }
  }

  ._coral-Table-head[sticky] {
    // Don't show the header while layout calculations are performed
    &.is-hidden {
      visibility: hidden;
    }

    &._coral-Table-divider--row coral-table-headercell-content {
      border-top: 1*$px solid;
    }

    &._coral-Table-divider--column coral-table-headercell-content {
      border-right: 1*$px solid;
    }

    &._coral-Table-divider--cell coral-table-headercell-content {
      border-top: 1*$px solid;
      border-right: 1*$px solid;
    }

    ._coral-Table-row:first-child coral-table-headercell-content {
      border-top: none;
    }

    ._coral-Table-headerCell {
      // We can't set 0 or else screen readers will ignore the header cells in sticky state
      height: 0.5*$px;
      line-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-top: none;
      overflow: hidden;

      &:last-of-type coral-table-headercell-content {
        border-right: none;
      }
    }

    // The header cell content is styled to be displayed in sticky state
    coral-table-headercell-content {
      display: block;
      position absolute;
      box-sizing: border-box;
      line-height: 12*$px;
      min-height: 20*$px;
      padding: 4*$px 16*$px;
      margin-left: -16*$px;
    }
  }
}
/* END #sticky */

/* #sortable */
._coral-Table-headerCell[sortable] {
  cursor: pointer;
  user-select: none;

  coral-table-headercell-content {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      background-size: 10*$px 12*$px;
      background-position: 50%;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 10*$px;
      padding-left: 10*$px;
      top: -1*$px;
      transition: transform 125ms ease-in-out;
    }
  }

  &[sortabledirection="descending"] {
    coral-table-headercell-content:after {
      transform: rotateZ(180deg);
    }
  }
}
/* END #sortable */

/* #selectable */
._coral-Table-wrapper[selectable] {
  ._coral-Table-row {
    &[coral-table-rowselect]:hover:not(.is-selected) ._coral-Table-cell {
      cursor: pointer;
    }

    &.is-selected {
      &[coral-table-rowselect] {
        cursor: pointer;
      }
    }
  }
}

._coral-Table-row[selectable] {
  ._coral-Table-cell {
    &[coral-table-cellselect] {
      position: relative;
      cursor: pointer;

      &:hover {
        &:after {
          content: "";
          background-size: 18*$px 18*$px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
    }

    &.is-selected {
      position: relative;

      &:after {
        content: "";
        background-size: 18*$px 18*$px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

// Align design to Miller Columns since thumbnail selection pattern was removed in Spectrum
._coral-Table-cell--check {
  white-space: nowrap;

  coral-checkbox[coral-table-rowselect] {
    & + img {
      vertical-align: text-top;
      height: 24*$px;
      width: 24*$px;
      line-height: 24*$px;
      object-fit: cover;
      margin-top: 2*$px;
      margin-left: 4*$px;
    }

    & + coral-icon {
      vertical-align: text-top;
      text-align: center;
      width: 24*$px;
      margin-left: 4*$px;
      margin-top: 5*$px;
    }
  }
}

table[is="coral-table"]:not([selectable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-select],
    [coral-table-rowselect] {
      display: none;
    }

    [coral-table-rowselect] {
      & + img,
      & + coral-icon {
        margin: 0;
      }
    }
  }
}

tr[is="coral-table-row"]:not([selectable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-cellselect] {
      display: none;
    }
  }
}
/* END #selectable */

/* #variant */
// Remove borders and radius for quiet variant
._coral-Table-wrapper--quiet {
  ._coral-Table-body {
    ._coral-Table-row {
      &:first-of-type {
        ._coral-Table-cell {
          &:first-of-type {
            border-top-left-radius: 0;
          }

          &:last-of-type {
            border-top-right-radius: 0;
          }
        }
      }

      &:last-of-type {
        ._coral-Table-cell {
          &:first-of-type {
            border-bottom-left-radius: 0;
          }

          &:last-of-type {
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  &._coral-Table-wrapper--sticky {
    ._coral-Table-wrapper-container {
      border-radius: 0;
    }

    ._coral-Table-body {
      ._coral-Table-row {
        &:first-of-type {
          ._coral-Table-cell {
            border-top: none;
          }
        }

        &:last-of-type {
          ._coral-Table-cell {
            border-bottom: none;
          }
        }
      }
    }
  }
}
/* END #variant */

/* #lockable */
._coral-Table-wrapper[lockable] ._coral-Table-row {
  [coral-table-rowlock] {
    visibility: hidden;
  }

  &[locked] {
    ._coral-Table-headerCell,
    ._coral-Table-cell {
      [coral-table-rowlock] {
        visibility: visible;
      }
    }
  }

  &:hover {
    [coral-table-rowlock] {
      visibility: visible;
    }

    &:not(.is-selected) ._coral-Table-cell {
      cursor: pointer;
    }
  }
}

table[is="coral-table"]:not([lockable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-rowlock] {
      display: none;
    }
  }
}
/* END #lockable */

/* #orderable */
._coral-Table-headerCell,
._coral-Table-row {
  &.is-dragging,
  &.is-before,
  &.is-after {
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    user-select: none;
  }

  &.is-dragging {
    z-index: 10;
  }
}

._coral-Table-row.is-dragging {
  ._coral-Table-cell,
  ._coral-Table-headerCell {
    // @todo is it really required ?
    border-radius: 0 !important;
  }
}

._coral-Table-row--placeholder {
  visibility: hidden;
}

._coral-Table-wrapper {
  // Keep the table top border while dragging
  &.is-draggedFirstItem {
    ._coral-Table-body ._coral-Table-row:nth-of-type(2) {
      ._coral-Table-cell {
        &:first-of-type {
          border-top-left-radius: 4*$px;
        }

        &:last-of-type {
          border-top-right-radius: 4*$px;
        }
      }
    }
  }

  // Hide the drag handles when the table is sorted
  &.is-sorted ._coral-Table-row [coral-table-roworder] {
    visibility: hidden;
  }

  &:not(._coral-Table-wrapper--sticky) {
    ._coral-Table-row--placeholder {
      visibility: visible;

      ._coral-Table-cell,
      ._coral-Table-headerCell {
        // Hide the content, but leave the borders visible
        text-indent: -1000*$px;
      }
    }

    // Keep the table bottom border while dragging
    &.is-draggedLastItem  {
      ._coral-Table-body ._coral-Table-row:nth-last-of-type(2) {
        ._coral-Table-cell {
          border-bottom: 1*$px solid;

          &:first-of-type {
            border-bottom-left-radius: 4*$px;
          }

          &:last-of-type {
            border-bottom-right-radius: 4*$px;
          }
        }
      }
    }
  }
}

._coral-Table-wrapper--sticky {
  ._coral-Table-headerCell[orderable] {
    position: static;
  }

  // If sticky, the container border is used instead of the row border
  &.is-draggedFirstItem {
    ._coral-Table-body ._coral-Table-row:nth-of-type(2) {
      ._coral-Table-cell {
        border-top: none;
      }
    }
  }
}

[coral-table-roworder] {
  &:not(:disabled):not(.is-disabled) {
    // Fallback if grab cursor is not supported
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;

    -ms-touch-action: none;
    touch-action: none;
    user-select: none;

    &:active {
      // Fallback if grabbing cursor is not supported
      cursor: move !important;
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important;
    }
  }
}

._coral-Table-headerCell[orderable] {
  position: relative;

  coral-table-headercell-content {
    position: relative;

    &:before {
      content: '';
      background-size: 12*$px 12*$px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 12*$px;
      margin-left: -12*$px;
      top: 0;

      // Fallback if grab cursor is not supported
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;
    }
  }

  // Support non sticky and sticky state
  &.is-dragging coral-table-headercell-content,
  coral-table-headercell-content.is-dragging {
    &:before {
      // Fallback if grabbing cursor is not supported
      cursor: move !important;
      cursor: -webkit-grabbing !important;
      cursor: grabbing !important;
    }
  }
}

table[is="coral-table"]:not([orderable]) {
  td[is="coral-table-cell"],
  th[is="coral-table-headercell"] {
    [coral-table-roworder] {
      display: none;
    }
  }
}
/* END #orderable */

/* #a11y */
._coral-Table-headerCell {
  &:focus,
  &.is-focused,
  coral-table-headercell-content:focus,
  coral-table-headercell-content.is-focused {
    outline: none;
  }
}

._coral-Table-row {
  &:focus,
  &.is-focused {
    outline: none;

    // Adds left focus bar
    ._coral-Table-cell:first-of-type {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-left: 2*$px solid;
        box-sizing: border-box;
      }
    }
  }
}
/* END #a11y */
@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
