<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pulldown examples</title>

        <link rel="stylesheet" href="../../css/cui.css">
 
        <script src="../../js/libs/handlebars.js"></script>
        <script src="../../js/libs/moment.js"></script>
        <script src="../../js/libs/jquery.js"></script>
        <script src="../../js/libs/toe.js"></script>
        <script src="../../js/CUI.js"></script>

        <style type="text/css">

            .example {
                padding-bottom: 15px;
                margin-bottom: 20px;
                border-bottom: 1px solid #C8C8C9;
            }

            .example h2 {
                margin-bottom: 10px;
            }

        </style>
    </head>
    <body>

        <section>
        <h1>Pulldown</h1>

        <!--
            TODO: this example is broken.  Fix it when pulldown is migrated out of legacy

        <nav class="pulldown" data-init="pulldown" data-pulldown-size="6">
            <a href="#">Spring Clearance Product Shots</a>
            <div class="popover arrow-top">
                <ul>
                    <li><a href="spring.html" class="icon-folder withLabel">Spring</a></li>
                    <li><a href="gear.html" class="icon-folder withLabel">Gear</a></li>
                    <li><a href="outdoors.html" class="icon-folder withLabel">Outdoors</a></li>
                    <li><a href="products.html" class="icon-folder withLabel">Products</a></li>
                    <li><a href="store.html" class="icon-folder withLabel">Store</a></li>
                    <li><a href="geometrixx.html" class="icon-folder withLabel">Geometrixx</a></li>
                    <li><a href="another-spring.html" class="icon-folder withLabel">Another Spring</a></li>
                    <li><a href="another-gear.html" class="icon-folder withLabel">Another Gear</a></li>
                    <li><a href="another-outdoors.html" class="icon-folder withLabel">Another Outdoors</a></li>
                    <li><a href="another-products.html" class="icon-folder withLabel">Another Products</a></li>
                    <li><a href="another-store.html" class="icon-folder withLabel">Another Store</a></li>
                    <li><a href="another-geometrixx.html" class="icon-folder withLabel">Another Geometrixx</a></li>
                </ul>
            </div>
        </nav>

        <nav class="pulldown" data-init="pulldown">
            <a href="#" class="icon-add"><span>Spring Clearance Product Shots</span></a>
            <div class="popover arrow-top alignleft">
                <ul>
                    <li><a href="spring.html" class="icon-folder withLabel">Spring</a></li>
                    <li><a href="gear.html" class="icon-folder withLabel">Gear</a></li>
                    <li><a href="outdoors.html" class="icon-folder withLabel">Outdoors</a></li>
                    <li><a href="products.html" class="icon-folder withLabel">Products</a></li>
                    <li><a href="store.html" class="icon-folder withLabel">Store</a></li>
                    <li><a href="geometrixx.html" class="icon-folder withLabel">Geometrixx</a></li>
                </ul>
            </div>
        </nav>
        
<article class="card-asset"><a href="#">
    <img src="fake_image.jpg" alt=""/>
    <h4>Asset</h4>
    <p class="description">
        <span class="resolution">1220 x 400</span>
        <span class="weight">149KB</span>
    </p>
    <p class="info">
        <span class="links"><i class="icon-add">Links</i> 8</span>
        <span class="comments"><i class="icon-add">Comments</i> 12</span>
        <span class="modified">8 hours ago</span>
    </p>
</a></article -->

        <div class="example">
            <h2>Standard</h2>
            <nav class="pulldown" data-init="pulldown">
                <a href="#">Spring Clearance Product Shots</a>
                <div class="popover arrow-top">
                    <ul>
                        <li><a href="spring.html" class="icon-folder withLabel">Spring</a></li>
                        <li><a href="gear.html" class="icon-folder withLabel">Gear</a></li>
                        <li><a href="outdoors.html" class="icon-folder withLabel">Outdoors</a></li>
                        <li><a href="products.html" class="icon-folder withLabel">Products</a></li>
                        <li><a href="store.html" class="icon-folder withLabel">Store</a></li>
                        <li><a href="geometrixx.html" class="icon-folder withLabel">Geometrixx</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="example">
            <h2>No Handle</h2>
            <nav class="pulldown no-handle" data-init="pulldown">
                <a href="#">Spring Clearance Product Shots</a>
                <div class="popover arrow-top">
                    <ul>
                        <li><a href="spring.html" class="icon-folder withLabel">Spring</a></li>
                        <li><a href="gear.html" class="icon-folder withLabel">Gear</a></li>
                        <li><a href="outdoors.html" class="icon-folder withLabel">Outdoors</a></li>
                        <li><a href="products.html" class="icon-folder withLabel">Products</a></li>
                        <li><a href="store.html" class="icon-folder withLabel">Store</a></li>
                        <li><a href="geometrixx.html" class="icon-folder withLabel">Geometrixx</a></li>
                    </ul>
                </div>
            </nav>
        </div>


    </body>
</html>
