script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Search,
      fields: [
        {
          label: 'Placeholder',
          prop: 'placeholder',
          type: 'text',
          value: 'Enter a number'
        },
        {
          label: 'Name',
          prop: 'name',
          type: 'text',
          value: 'field'
        },
        {
          label: 'Value',
          prop: 'value',
          type: 'text',
          value: ''
        },
        {
          label: 'Icon',
          prop: 'icon',
          type: 'text',
          value: 'search'
        },
        {
          label: 'Variant',
          prop: 'variant',
          type: 'select',
          value: 'default',
          options: {
            'Default': 'default',
            'Quiet': 'quiet'
          }
        },
        {
          label: 'is disabled',
          prop: 'disabled',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is invalid',
          prop: 'invalid',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is required',
          prop: 'required',
          type: 'checkbox',
          value: false
        }
      ],
      componentEvents: [
        'change'
      ]
    }).insertAfterLastScript();
  }
