p.
  The Coral.Shell component is a wrapping container for the <code>coralui-shell-*</code> components.

p.
  See also:
  <ul>
    <li>Coral.Shell.Header</li>
    <li>Coral.Shell.MenuBar</li>
    <li>Coral.Shell.User</li>
    <li>Coral.Shell.OrgSwitcher</li>
    <li>Coral.Shell.SolutionsSwitcher</li>
    <li>Coral.Shell.Workspaces</li>
  </ul>

p.
  An example of full Shell 3 in action can be found in the Shell 3 documentation.

include jsdoc
