p.
  The <a href='#Coral.Shell.Menubar:api' class='coral-Link'>Shell.Menubar</a> and
  <a href='./Coral.Shell.MenuBar.html#Coral.Shell.MenuBar.Item:api' class='coral-Link'>Shell.Menubar.Item</a>
  components provide container elements for the menu area of the Shell3 pattern.
  The <a href='./Coral.Shell.MenuBar.html#Coral.Shell.Menu:api' class='coral-Link'>Shell.Menu</a> component supports
  the opening and closing of a Menu.Item in an overlay.

p.
  Several Shell3 components are intended to work as menu items, such as the
  <a href='./Coral.Shell.OrgSwitcher' class='coral-Link'>Shell.OrgSwitcher</a>,
  <a href='./Coral.Shell.SolutionSwitcher' class='coral-Link'>Shell.SolutionSwitcher</a>,
  <a href='./Coral.Shell.Help' class='coral-Link'>Shell.Help</a>, and
  <a href='./Coral.Shell.User' class='coral-Link'>Shell.User</a> components.

p.
  See the <a href='../shell3' class='coral-Link'>Shell 3</a> documentation, which includes
  a shell pattern layout diagram, for more details.  An example of the Shell3 pattern in action
  is provided in the <a href='https://git.corp.adobe.com/coral/coralui-example-shell3' class='coral-Link'>coralui-example-shell3</a> project.

include jsdoc
