+document-section-simple-example()
  p.
    The <a href='Coral.Shell.Menubar.html' class='coral-Link'>Shell.Menubar</a> and
    <a href='./Coral.Shell.MenuBar.html#Coral.Shell.MenuBar.Item:api' class='coral-Link'>Shell.Menubar.Item</a>
    components provide container elements for the menu area of the Shell3 pattern.
