/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

// Hide item before it is managed by the masonry
coral-masonry-item {
  visibility: hidden;
}

._coral-Masonry {
  display: block;
  position: relative;
  box-sizing: border-box !important; // required by layout
}

._coral-Masonry-item {
  position: absolute;
  display: block;
  box-sizing: border-box !important; // required by layout
  will-change: transform, opacity;
  left: 0;
  top: 0;

  &.is-managed {
    visibility: visible;
  }

  &.is-dragging, &.is-dropping {
    z-index: 1; // TODO other index?
  }
}

._coral-Masonry-item-quickActions {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
  border-radius: 4px;

  position: absolute;
  left: 16px;
  top: 16px;
  width: 40px;
  height: 40px;
  background-color: rgba(245,245,245,0.9);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 130ms ease-in-out, visibility 0ms linear 130ms;

  ._coral-Checkbox {
    margin: 0;
  }
}

._coral-Masonry.is-selectable {
  ._coral-Masonry-item:hover ._coral-Masonry-item-quickActions {
    visibility: visible;
    opacity: 1;
  }

  ._coral-Masonry-item.is-selected {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);

    ._coral-Masonry-item-quickActions {
      visibility: visible;
      opacity: 1;
    }
  }

  ._coral-Masonry-item:focus {
    ._coral-Masonry-item-quickActions {
      visibility: visible;
      opacity: 1;
    }
  }
}

._coral-Masonry-item:focus {
  border-color: rgb(38, 128, 235);
  box-shadow: 0 0 0 1px rgb(38, 128, 235);
  outline: none;
}

// TODO define better placeholder style
._coral-Masonry-item--placeholder {
  visibility: hidden !important;
}

// Transitions
._coral-Masonry.is-loaded > ._coral-Masonry-item {
  transition: transform 0.5s;

  &.is-beforeInserting {
    opacity: 0;
  }

  &.is-inserting {
    opacity: 1;
    transition: opacity 0.5s;
  }

  &.is-removing {
    opacity: 0;
    transition: opacity 0.5s;
  }
}

._coral-Masonry.is-selectable {
  ._coral-Masonry-item {
    cursor: pointer;
  }
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
