/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$masonry-selected-icon-url = './embed/Check.svg';

// Hide item before it is managed by the masonry
coral-masonry-item {
  visibility: hidden;
}

._coral-Masonry {
  display: block;
  position: relative;
  box-sizing: border-box !important; // required by layout
}

._coral-Masonry-item {
  position: absolute;
  display: block;
  box-sizing: border-box !important; // required by layout
  will-change: transform, opacity;
  left: 0;
  top: 0;

  &.is-managed {
    visibility: visible;
  }

  &.is-dragging, &.is-dropping {
    z-index: 1; // TODO other index?
  }

  &.is-selected:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
    pointer-events: none;
  }
}

// TODO define better placeholder style
._coral-Masonry-item--placeholder {
  visibility: hidden !important;
}

// Transitions
._coral-Masonry.is-loaded > ._coral-Masonry-item {
  transition: transform 0.5s;

  &.is-beforeInserting {
    opacity: 0;
  }

  &.is-inserting {
    opacity: 1;
    transition: opacity 0.5s;
  }

  &.is-removing {
    opacity: 0;
    transition: opacity 0.5s;
  }
}

._coral-Masonry.is-selectable {
  ._coral-Masonry-item {
    cursor: pointer;
  }

  ._coral-Masonry-item:not([selected]) {
    &:hover,
    &:focus {
      outline: none;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 36px 36px;
        pointer-events: none;
      }
    }
  }
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
