// We're acting as an app, so we should always fill the screen completely
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


html { 
  font-size: @base-size + 0px; // the base size in pixels
}

// Set the default background color and font
body {
  background-color: @body-background-color;

  font-family: @font-base-family;
  color: @font-base-color;

  cursor: default;
}
