// We're acting as an app, so we should always fill the screen completely
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


html { 
  font-size: @base-size + 0px; // the base size in pixels
}

// Set the default background color and font
body {
  background-color: @body-background-color;

  font-family: @font-base-family;
  color: @font-base-color;

  cursor: default;
}


// Double our base size for retina devices
// also keep in mind that some devices have a DPPX of 1.5, they also deserve high-rez icons
// Note: the standard way "min-resolution: 1.5dppx" causes LESS to die
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: ~"3/2"),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: ~"1.5dppx") {
  body {
    font-size: @base-size * 2;
  }

  // TBD: handle icons resizing here or in icons.less/retina.less?
}
