.icon-accordiondown() {
	.icon();
	&:before { content: "\f002"; }
}

.icon-accordiondown:before { content: "\f002"; }
.icon-accordionleft() {
	.icon();
	&:before { content: "\f003"; }
}

.icon-accordionleft:before { content: "\f003"; }
.icon-accordionright() {
	.icon();
	&:before { content: "\f004"; }
}

.icon-accordionright:before { content: "\f004"; }
.icon-accordionup() {
	.icon();
	&:before { content: "\f005"; }
}

.icon-accordionup:before { content: "\f005"; }
.icon-actions() {
	.icon();
	&:before { content: "\f006"; }
}

.icon-actions:before { content: "\f006"; }
.icon-add-circle() {
	.icon();
	&:before { content: "\f007"; }
}

.icon-add-circle:before { content: "\f007"; }
.icon-add() {
	.icon();
	&:before { content: "\f008"; }
}

.icon-add:before { content: "\f008"; }
.icon-adjust() {
	.icon();
	&:before { content: "\f009"; }
}

.icon-adjust:before { content: "\f009"; }
.icon-alert() {
	.icon();
	&:before { content: "\f00a"; }
}

.icon-alert:before { content: "\f00a"; }
.icon-answer() {
	.icon();
	&:before { content: "\f00b"; }
}

.icon-answer:before { content: "\f00b"; }
.icon-answerfavorite() {
	.icon();
	&:before { content: "\f00c"; }
}

.icon-answerfavorite:before { content: "\f00c"; }
.icon-archive() {
	.icon();
	&:before { content: "\f00d"; }
}

.icon-archive:before { content: "\f00d"; }
.icon-arrowdown() {
	.icon();
	&:before { content: "\f00e"; }
}

.icon-arrowdown:before { content: "\f00e"; }
.icon-arrowleft() {
	.icon();
	&:before { content: "\f00f"; }
}

.icon-arrowleft:before { content: "\f00f"; }
.icon-arrowright() {
	.icon();
	&:before { content: "\f010"; }
}

.icon-arrowright:before { content: "\f010"; }
.icon-arrowup() {
	.icon();
	&:before { content: "\f011"; }
}

.icon-arrowup:before { content: "\f011"; }
.icon-attach() {
	.icon();
	&:before { content: "\f012"; }
}

.icon-attach:before { content: "\f012"; }
.icon-back() {
	.icon();
	&:before { content: "\f013"; }
}

.icon-back:before { content: "\f013"; }
.icon-bidrule() {
	.icon();
	&:before { content: "\f014"; }
}

.icon-bidrule:before { content: "\f014"; }
.icon-bidruleadd() {
	.icon();
	&:before { content: "\f015"; }
}

.icon-bidruleadd:before { content: "\f015"; }
.icon-book() {
	.icon();
	&:before { content: "\f016"; }
}

.icon-book:before { content: "\f016"; }
.icon-bookmark() {
	.icon();
	&:before { content: "\f017"; }
}

.icon-bookmark:before { content: "\f017"; }
.icon-breakdown() {
	.icon();
	&:before { content: "\f018"; }
}

.icon-breakdown:before { content: "\f018"; }
.icon-breakdownadd() {
	.icon();
	&:before { content: "\f019"; }
}

.icon-breakdownadd:before { content: "\f019"; }
.icon-brush() {
	.icon();
	&:before { content: "\f01a"; }
}

.icon-brush:before { content: "\f01a"; }
.icon-building() {
	.icon();
	&:before { content: "\f01b"; }
}

.icon-building:before { content: "\f01b"; }
.icon-calendar() {
	.icon();
	&:before { content: "\f01c"; }
}

.icon-calendar:before { content: "\f01c"; }
.icon-camera() {
	.icon();
	&:before { content: "\f01d"; }
}

.icon-camera:before { content: "\f01d"; }
.icon-campaign() {
	.icon();
	&:before { content: "\f01e"; }
}

.icon-campaign:before { content: "\f01e"; }
.icon-campaignadd() {
	.icon();
	&:before { content: "\f01f"; }
}

.icon-campaignadd:before { content: "\f01f"; }
.icon-campaigndelete() {
	.icon();
	&:before { content: "\f020"; }
}

.icon-campaigndelete:before { content: "\f020"; }
.icon-campaignedit() {
	.icon();
	&:before { content: "\f021"; }
}

.icon-campaignedit:before { content: "\f021"; }
.icon-campaignremove() {
	.icon();
	&:before { content: "\f022"; }
}

.icon-campaignremove:before { content: "\f022"; }
.icon-check-circle() {
	.icon();
	&:before { content: "\f023"; }
}

.icon-check-circle:before { content: "\f023"; }
.icon-check() {
	.icon();
	&:before { content: "\f024"; }
}

.icon-check:before { content: "\f024"; }
.icon-chevrondown() {
	.icon();
	&:before { content: "\f025"; }
}

.icon-chevrondown:before { content: "\f025"; }
.icon-chevronleft() {
	.icon();
	&:before { content: "\f026"; }
}

.icon-chevronleft:before { content: "\f026"; }
.icon-chevronright() {
	.icon();
	&:before { content: "\f027"; }
}

.icon-chevronright:before { content: "\f027"; }
.icon-chevronup() {
	.icon();
	&:before { content: "\f028"; }
}

.icon-chevronup:before { content: "\f028"; }
.icon-clock() {
	.icon();
	&:before { content: "\f029"; }
}

.icon-clock:before { content: "\f029"; }
.icon-close-circle() {
	.icon();
	&:before { content: "\f02a"; }
}

.icon-close-circle:before { content: "\f02a"; }
.icon-close() {
	.icon();
	&:before { content: "\f02b"; }
}

.icon-close:before { content: "\f02b"; }
.icon-cloud() {
	.icon();
	&:before { content: "\f02c"; }
}

.icon-cloud:before { content: "\f02c"; }
.icon-collection() {
	.icon();
	&:before { content: "\f02d"; }
}

.icon-collection:before { content: "\f02d"; }
.icon-collectionadd() {
	.icon();
	&:before { content: "\f02e"; }
}

.icon-collectionadd:before { content: "\f02e"; }
.icon-collectionaddto() {
	.icon();
	&:before { content: "\f02f"; }
}

.icon-collectionaddto:before { content: "\f02f"; }
.icon-colorpalette() {
	.icon();
	&:before { content: "\f030"; }
}

.icon-colorpalette:before { content: "\f030"; }
.icon-comment() {
	.icon();
	&:before { content: "\f031"; }
}

.icon-comment:before { content: "\f031"; }
.icon-commentadd() {
	.icon();
	&:before { content: "\f032"; }
}

.icon-commentadd:before { content: "\f032"; }
.icon-conversionfunnel() {
	.icon();
	&:before { content: "\f033"; }
}

.icon-conversionfunnel:before { content: "\f033"; }
.icon-copy() {
	.icon();
	&:before { content: "\f034"; }
}

.icon-copy:before { content: "\f034"; }
.icon-creativecloud() {
	.icon();
	&:before { content: "\f035"; }
}

.icon-creativecloud:before { content: "\f035"; }
.icon-crop() {
	.icon();
	&:before { content: "\f036"; }
}

.icon-crop:before { content: "\f036"; }
.icon-cut() {
	.icon();
	&:before { content: "\f037"; }
}

.icon-cut:before { content: "\f037"; }
.icon-dashboard() {
	.icon();
	&:before { content: "\f038"; }
}

.icon-dashboard:before { content: "\f038"; }
.icon-data() {
	.icon();
	&:before { content: "\f039"; }
}

.icon-data:before { content: "\f039"; }
.icon-dataadd() {
	.icon();
	&:before { content: "\f03a"; }
}

.icon-dataadd:before { content: "\f03a"; }
.icon-dataadobe() {
	.icon();
	&:before { content: "\f03b"; }
}

.icon-dataadobe:before { content: "\f03b"; }
.icon-datacheck() {
	.icon();
	&:before { content: "\f03c"; }
}

.icon-datacheck:before { content: "\f03c"; }
.icon-datacorrelated() {
	.icon();
	&:before { content: "\f03d"; }
}

.icon-datacorrelated:before { content: "\f03d"; }
.icon-dataedit() {
	.icon();
	&:before { content: "\f03e"; }
}

.icon-dataedit:before { content: "\f03e"; }
.icon-dataunavailable() {
	.icon();
	&:before { content: "\f03f"; }
}

.icon-dataunavailable:before { content: "\f03f"; }
.icon-delegate() {
	.icon();
	&:before { content: "\f040"; }
}

.icon-delegate:before { content: "\f040"; }
.icon-delete() {
	.icon();
	&:before { content: "\f041"; }
}

.icon-delete:before { content: "\f041"; }
.icon-devicedesktop() {
	.icon();
	&:before { content: "\f042"; }
}

.icon-devicedesktop:before { content: "\f042"; }
.icon-devicelaptop() {
	.icon();
	&:before { content: "\f043"; }
}

.icon-devicelaptop:before { content: "\f043"; }
.icon-devicemobile() {
	.icon();
	&:before { content: "\f044"; }
}

.icon-devicemobile:before { content: "\f044"; }
.icon-devicetablet() {
	.icon();
	&:before { content: "\f045"; }
}

.icon-devicetablet:before { content: "\f045"; }
.icon-disqus() {
	.icon();
	&:before { content: "\f046"; }
}

.icon-disqus:before { content: "\f046"; }
.icon-download() {
	.icon();
	&:before { content: "\f047"; }
}

.icon-download:before { content: "\f047"; }
.icon-draft() {
	.icon();
	&:before { content: "\f048"; }
}

.icon-draft:before { content: "\f048"; }
.icon-edit() {
	.icon();
	&:before { content: "\f049"; }
}

.icon-edit:before { content: "\f049"; }
.icon-effects() {
	.icon();
	&:before { content: "\f04a"; }
}

.icon-effects:before { content: "\f04a"; }
.icon-email() {
	.icon();
	&:before { content: "\f04b"; }
}

.icon-email:before { content: "\f04b"; }
.icon-event() {
	.icon();
	&:before { content: "\f04c"; }
}

.icon-event:before { content: "\f04c"; }
.icon-eventexclude() {
	.icon();
	&:before { content: "\f04d"; }
}

.icon-eventexclude:before { content: "\f04d"; }
.icon-exclude() {
	.icon();
	&:before { content: "\f04e"; }
}

.icon-exclude:before { content: "\f04e"; }
.icon-facebook() {
	.icon();
	&:before { content: "\f04f"; }
}

.icon-facebook:before { content: "\f04f"; }
.icon-fastforward-circle() {
	.icon();
	&:before { content: "\f050"; }
}

.icon-fastforward-circle:before { content: "\f050"; }
.icon-file() {
	.icon();
	&:before { content: "\f051"; }
}

.icon-file:before { content: "\f051"; }
.icon-filecsv() {
	.icon();
	&:before { content: "\f052"; }
}

.icon-filecsv:before { content: "\f052"; }
.icon-fileexcel() {
	.icon();
	&:before { content: "\f053"; }
}

.icon-fileexcel:before { content: "\f053"; }
.icon-filehtml() {
	.icon();
	&:before { content: "\f054"; }
}

.icon-filehtml:before { content: "\f054"; }
.icon-filemobile() {
	.icon();
	&:before { content: "\f055"; }
}

.icon-filemobile:before { content: "\f055"; }
.icon-filepdf() {
	.icon();
	&:before { content: "\f056"; }
}

.icon-filepdf:before { content: "\f056"; }
.icon-filesinglewebpage() {
	.icon();
	&:before { content: "\f057"; }
}

.icon-filesinglewebpage:before { content: "\f057"; }
.icon-filetxt() {
	.icon();
	&:before { content: "\f058"; }
}

.icon-filetxt:before { content: "\f058"; }
.icon-fileword() {
	.icon();
	&:before { content: "\f059"; }
}

.icon-fileword:before { content: "\f059"; }
.icon-filexml() {
	.icon();
	&:before { content: "\f05a"; }
}

.icon-filexml:before { content: "\f05a"; }
.icon-film() {
	.icon();
	&:before { content: "\f05b"; }
}

.icon-film:before { content: "\f05b"; }
.icon-filter() {
	.icon();
	&:before { content: "\f05c"; }
}

.icon-filter:before { content: "\f05c"; }
.icon-filteradd() {
	.icon();
	&:before { content: "\f05d"; }
}

.icon-filteradd:before { content: "\f05d"; }
.icon-filterdelete() {
	.icon();
	&:before { content: "\f05e"; }
}

.icon-filterdelete:before { content: "\f05e"; }
.icon-filteredit() {
	.icon();
	&:before { content: "\f05f"; }
}

.icon-filteredit:before { content: "\f05f"; }
.icon-filterremove() {
	.icon();
	&:before { content: "\f060"; }
}

.icon-filterremove:before { content: "\f060"; }
.icon-findandreplace() {
	.icon();
	&:before { content: "\f061"; }
}

.icon-findandreplace:before { content: "\f061"; }
.icon-flag() {
	.icon();
	&:before { content: "\f062"; }
}

.icon-flag:before { content: "\f062"; }
.icon-flickr() {
	.icon();
	&:before { content: "\f063"; }
}

.icon-flickr:before { content: "\f063"; }
.icon-folder() {
	.icon();
	&:before { content: "\f064"; }
}

.icon-folder:before { content: "\f064"; }
.icon-folderadd() {
	.icon();
	&:before { content: "\f065"; }
}

.icon-folderadd:before { content: "\f065"; }
.icon-folderdefault() {
	.icon();
	&:before { content: "\f066"; }
}

.icon-folderdefault:before { content: "\f066"; }
.icon-folderdelete() {
	.icon();
	&:before { content: "\f067"; }
}

.icon-folderdelete:before { content: "\f067"; }
.icon-folderlocked() {
	.icon();
	&:before { content: "\f068"; }
}

.icon-folderlocked:before { content: "\f068"; }
.icon-folderlockeddefault() {
	.icon();
	&:before { content: "\f069"; }
}

.icon-folderlockeddefault:before { content: "\f069"; }
.icon-forecast() {
	.icon();
	&:before { content: "\f06a"; }
}

.icon-forecast:before { content: "\f06a"; }
.icon-fullscreen() {
	.icon();
	&:before { content: "\f06b"; }
}

.icon-fullscreen:before { content: "\f06b"; }
.icon-fullscreenexit() {
	.icon();
	&:before { content: "\f06c"; }
}

.icon-fullscreenexit:before { content: "\f06c"; }
.icon-gear() {
	.icon();
	&:before { content: "\f06d"; }
}

.icon-gear:before { content: "\f06d"; }
.icon-gift() {
	.icon();
	&:before { content: "\f06e"; }
}

.icon-gift:before { content: "\f06e"; }
.icon-globe() {
	.icon();
	&:before { content: "\f06f"; }
}

.icon-globe:before { content: "\f06f"; }
.icon-grapharea() {
	.icon();
	&:before { content: "\f070"; }
}

.icon-grapharea:before { content: "\f070"; }
.icon-graphareastacked() {
	.icon();
	&:before { content: "\f071"; }
}

.icon-graphareastacked:before { content: "\f071"; }
.icon-graphbarhorizontal() {
	.icon();
	&:before { content: "\f072"; }
}

.icon-graphbarhorizontal:before { content: "\f072"; }
.icon-graphbarstackedhorizontal() {
	.icon();
	&:before { content: "\f073"; }
}

.icon-graphbarstackedhorizontal:before { content: "\f073"; }
.icon-graphbarstackedvertical() {
	.icon();
	&:before { content: "\f074"; }
}

.icon-graphbarstackedvertical:before { content: "\f074"; }
.icon-graphbarvertical() {
	.icon();
	&:before { content: "\f075"; }
}

.icon-graphbarvertical:before { content: "\f075"; }
.icon-graphbubble() {
	.icon();
	&:before { content: "\f076"; }
}

.icon-graphbubble:before { content: "\f076"; }
.icon-graphdonut() {
	.icon();
	&:before { content: "\f077"; }
}

.icon-graphdonut:before { content: "\f077"; }
.icon-graphhistogram() {
	.icon();
	&:before { content: "\f078"; }
}

.icon-graphhistogram:before { content: "\f078"; }
.icon-graphpie() {
	.icon();
	&:before { content: "\f079"; }
}

.icon-graphpie:before { content: "\f079"; }
.icon-graphscatter() {
	.icon();
	&:before { content: "\f07a"; }
}

.icon-graphscatter:before { content: "\f07a"; }
.icon-graphtrend() {
	.icon();
	&:before { content: "\f07b"; }
}

.icon-graphtrend:before { content: "\f07b"; }
.icon-graphtrendrounded() {
	.icon();
	&:before { content: "\f07c"; }
}

.icon-graphtrendrounded:before { content: "\f07c"; }
.icon-hammer() {
	.icon();
	&:before { content: "\f07d"; }
}

.icon-hammer:before { content: "\f07d"; }
.icon-help-circle() {
	.icon();
	&:before { content: "\f07e"; }
}

.icon-help-circle:before { content: "\f07e"; }
.icon-home() {
	.icon();
	&:before { content: "\f07f"; }
}

.icon-home:before { content: "\f07f"; }
.icon-image() {
	.icon();
	&:before { content: "\f080"; }
}

.icon-image:before { content: "\f080"; }
.icon-imagemap() {
	.icon();
	&:before { content: "\f081"; }
}

.icon-imagemap:before { content: "\f081"; }
.icon-info-circle() {
	.icon();
	&:before { content: "\f082"; }
}

.icon-info-circle:before { content: "\f082"; }
.icon-key() {
	.icon();
	&:before { content: "\f083"; }
}

.icon-key:before { content: "\f083"; }
.icon-layers() {
	.icon();
	&:before { content: "\f084"; }
}

.icon-layers:before { content: "\f084"; }
.icon-lightbulb() {
	.icon();
	&:before { content: "\f085"; }
}

.icon-lightbulb:before { content: "\f085"; }
.icon-link() {
	.icon();
	&:before { content: "\f086"; }
}

.icon-link:before { content: "\f086"; }
.icon-linkoff() {
	.icon();
	&:before { content: "\f087"; }
}

.icon-linkoff:before { content: "\f087"; }
.icon-location() {
	.icon();
	&:before { content: "\f088"; }
}

.icon-location:before { content: "\f088"; }
.icon-lockoff() {
	.icon();
	&:before { content: "\f089"; }
}

.icon-lockoff:before { content: "\f089"; }
.icon-lockon() {
	.icon();
	&:before { content: "\f08a"; }
}

.icon-lockon:before { content: "\f08a"; }
.icon-merge() {
	.icon();
	&:before { content: "\f08b"; }
}

.icon-merge:before { content: "\f08b"; }
.icon-minus-circle() {
	.icon();
	&:before { content: "\f08c"; }
}

.icon-minus-circle:before { content: "\f08c"; }
.icon-minus() {
	.icon();
	&:before { content: "\f08d"; }
}

.icon-minus:before { content: "\f08d"; }
.icon-move() {
	.icon();
	&:before { content: "\f08e"; }
}

.icon-move:before { content: "\f08e"; }
.icon-navigation() {
	.icon();
	&:before { content: "\f08f"; }
}

.icon-navigation:before { content: "\f08f"; }
.icon-news() {
	.icon();
	&:before { content: "\f090"; }
}

.icon-news:before { content: "\f090"; }
.icon-note() {
	.icon();
	&:before { content: "\f091"; }
}

.icon-note:before { content: "\f091"; }
.icon-noteadd() {
	.icon();
	&:before { content: "\f092"; }
}

.icon-noteadd:before { content: "\f092"; }
.icon-open() {
	.icon();
	&:before { content: "\f093"; }
}

.icon-open:before { content: "\f093"; }
.icon-openrecent() {
	.icon();
	&:before { content: "\f094"; }
}

.icon-openrecent:before { content: "\f094"; }
.icon-organize() {
	.icon();
	&:before { content: "\f095"; }
}

.icon-organize:before { content: "\f095"; }
.icon-page() {
	.icon();
	&:before { content: "\f096"; }
}

.icon-page:before { content: "\f096"; }
.icon-pageexclude() {
	.icon();
	&:before { content: "\f097"; }
}

.icon-pageexclude:before { content: "\f097"; }
.icon-pages() {
	.icon();
	&:before { content: "\f098"; }
}

.icon-pages:before { content: "\f098"; }
.icon-pagesexclude() {
	.icon();
	&:before { content: "\f099"; }
}

.icon-pagesexclude:before { content: "\f099"; }
.icon-paintbucket() {
	.icon();
	&:before { content: "\f09a"; }
}

.icon-paintbucket:before { content: "\f09a"; }
.icon-paste() {
	.icon();
	&:before { content: "\f09b"; }
}

.icon-paste:before { content: "\f09b"; }
.icon-pause-circle() {
	.icon();
	&:before { content: "\f09c"; }
}

.icon-pause-circle:before { content: "\f09c"; }
.icon-pending() {
	.icon();
	&:before { content: "\f09d"; }
}

.icon-pending:before { content: "\f09d"; }
.icon-pinoff() {
	.icon();
	&:before { content: "\f09e"; }
}

.icon-pinoff:before { content: "\f09e"; }
.icon-pinon() {
	.icon();
	&:before { content: "\f09f"; }
}

.icon-pinon:before { content: "\f09f"; }
.icon-pinterest() {
	.icon();
	&:before { content: "\f0a0"; }
}

.icon-pinterest:before { content: "\f0a0"; }
.icon-play-circle() {
	.icon();
	&:before { content: "\f0a1"; }
}

.icon-play-circle:before { content: "\f0a1"; }
.icon-preview() {
	.icon();
	&:before { content: "\f0a2"; }
}

.icon-preview:before { content: "\f0a2"; }
.icon-print() {
	.icon();
	&:before { content: "\f0a3"; }
}

.icon-print:before { content: "\f0a3"; }
.icon-project() {
	.icon();
	&:before { content: "\f0a4"; }
}

.icon-project:before { content: "\f0a4"; }
.icon-projectadd() {
	.icon();
	&:before { content: "\f0a5"; }
}

.icon-projectadd:before { content: "\f0a5"; }
.icon-properties() {
	.icon();
	&:before { content: "\f0a6"; }
}

.icon-properties:before { content: "\f0a6"; }
.icon-question() {
	.icon();
	&:before { content: "\f0a7"; }
}

.icon-question:before { content: "\f0a7"; }
.icon-railrightclose() {
	.icon();
	&:before { content: "\f0a8"; }
}

.icon-railrightclose:before { content: "\f0a8"; }
.icon-railrightopen() {
	.icon();
	&:before { content: "\f0a9"; }
}

.icon-railrightopen:before { content: "\f0a9"; }
.icon-redo() {
	.icon();
	&:before { content: "\f0aa"; }
}

.icon-redo:before { content: "\f0aa"; }
.icon-refresh() {
	.icon();
	&:before { content: "\f0ab"; }
}

.icon-refresh:before { content: "\f0ab"; }
.icon-reorder() {
	.icon();
	&:before { content: "\f0ac"; }
}

.icon-reorder:before { content: "\f0ac"; }
.icon-replies() {
	.icon();
	&:before { content: "\f0ad"; }
}

.icon-replies:before { content: "\f0ad"; }
.icon-reply() {
	.icon();
	&:before { content: "\f0ae"; }
}

.icon-reply:before { content: "\f0ae"; }
.icon-report() {
	.icon();
	&:before { content: "\f0af"; }
}

.icon-report:before { content: "\f0af"; }
.icon-reportadd() {
	.icon();
	&:before { content: "\f0b0"; }
}

.icon-reportadd:before { content: "\f0b0"; }
.icon-retweet() {
	.icon();
	&:before { content: "\f0b1"; }
}

.icon-retweet:before { content: "\f0b1"; }
.icon-revert() {
	.icon();
	&:before { content: "\f0b2"; }
}

.icon-revert:before { content: "\f0b2"; }
.icon-rewind-circle() {
	.icon();
	&:before { content: "\f0b3"; }
}

.icon-rewind-circle:before { content: "\f0b3"; }
.icon-ribbon() {
	.icon();
	&:before { content: "\f0b4"; }
}

.icon-ribbon:before { content: "\f0b4"; }
.icon-rotateleft() {
	.icon();
	&:before { content: "\f0b5"; }
}

.icon-rotateleft:before { content: "\f0b5"; }
.icon-rotateright() {
	.icon();
	&:before { content: "\f0b6"; }
}

.icon-rotateright:before { content: "\f0b6"; }
.icon-search() {
	.icon();
	&:before { content: "\f0b7"; }
}

.icon-search:before { content: "\f0b7"; }
.icon-select() {
	.icon();
	&:before { content: "\f0b8"; }
}

.icon-select:before { content: "\f0b8"; }
.icon-share() {
	.icon();
	&:before { content: "\f0b9"; }
}

.icon-share:before { content: "\f0b9"; }
.icon-sharpen() {
	.icon();
	&:before { content: "\f0ba"; }
}

.icon-sharpen:before { content: "\f0ba"; }
.icon-shoppingcart() {
	.icon();
	&:before { content: "\f0bb"; }
}

.icon-shoppingcart:before { content: "\f0bb"; }
.icon-spam() {
	.icon();
	&:before { content: "\f0bc"; }
}

.icon-spam:before { content: "\f0bc"; }
.icon-star() {
	.icon();
	&:before { content: "\f0bd"; }
}

.icon-star:before { content: "\f0bd"; }
.icon-stopwatch() {
	.icon();
	&:before { content: "\f0be"; }
}

.icon-stopwatch:before { content: "\f0be"; }
.icon-subscribe() {
	.icon();
	&:before { content: "\f0bf"; }
}

.icon-subscribe:before { content: "\f0bf"; }
.icon-successmetric() {
	.icon();
	&:before { content: "\f0c0"; }
}

.icon-successmetric:before { content: "\f0c0"; }
.icon-sync() {
	.icon();
	&:before { content: "\f0c1"; }
}

.icon-sync:before { content: "\f0c1"; }
.icon-table() {
	.icon();
	&:before { content: "\f0c2"; }
}

.icon-table:before { content: "\f0c2"; }
.icon-tableandchart() {
	.icon();
	&:before { content: "\f0c3"; }
}

.icon-tableandchart:before { content: "\f0c3"; }
.icon-tablehistogram() {
	.icon();
	&:before { content: "\f0c4"; }
}

.icon-tablehistogram:before { content: "\f0c4"; }
.icon-tag() {
	.icon();
	&:before { content: "\f0c5"; }
}

.icon-tag:before { content: "\f0c5"; }
.icon-target() {
	.icon();
	&:before { content: "\f0c6"; }
}

.icon-target:before { content: "\f0c6"; }
.icon-targeted() {
	.icon();
	&:before { content: "\f0c7"; }
}

.icon-targeted:before { content: "\f0c7"; }
.icon-text() {
	.icon();
	&:before { content: "\f0c8"; }
}

.icon-text:before { content: "\f0c8"; }
.icon-thumbdown() {
	.icon();
	&:before { content: "\f0c9"; }
}

.icon-thumbdown:before { content: "\f0c9"; }
.icon-thumbup() {
	.icon();
	&:before { content: "\f0ca"; }
}

.icon-thumbup:before { content: "\f0ca"; }
.icon-transparency() {
	.icon();
	&:before { content: "\f0cb"; }
}

.icon-transparency:before { content: "\f0cb"; }
.icon-treecollapse() {
	.icon();
	&:before { content: "\f0cc"; }
}

.icon-treecollapse:before { content: "\f0cc"; }
.icon-treecollapseall() {
	.icon();
	&:before { content: "\f0cd"; }
}

.icon-treecollapseall:before { content: "\f0cd"; }
.icon-treeexpand() {
	.icon();
	&:before { content: "\f0ce"; }
}

.icon-treeexpand:before { content: "\f0ce"; }
.icon-treeexpandall() {
	.icon();
	&:before { content: "\f0cf"; }
}

.icon-treeexpandall:before { content: "\f0cf"; }
.icon-trophy() {
	.icon();
	&:before { content: "\f0d0"; }
}

.icon-trophy:before { content: "\f0d0"; }
.icon-tumblr() {
	.icon();
	&:before { content: "\f0d1"; }
}

.icon-tumblr:before { content: "\f0d1"; }
.icon-twitter() {
	.icon();
	&:before { content: "\f0d2"; }
}

.icon-twitter:before { content: "\f0d2"; }
.icon-undo() {
	.icon();
	&:before { content: "\f0d3"; }
}

.icon-undo:before { content: "\f0d3"; }
.icon-unmerge() {
	.icon();
	&:before { content: "\f0d4"; }
}

.icon-unmerge:before { content: "\f0d4"; }
.icon-unpublish() {
	.icon();
	&:before { content: "\f0d5"; }
}

.icon-unpublish:before { content: "\f0d5"; }
.icon-upload() {
	.icon();
	&:before { content: "\f0d6"; }
}

.icon-upload:before { content: "\f0d6"; }
.icon-usa() {
	.icon();
	&:before { content: "\f0d7"; }
}

.icon-usa:before { content: "\f0d7"; }
.icon-user() {
	.icon();
	&:before { content: "\f0d8"; }
}

.icon-user:before { content: "\f0d8"; }
.icon-userexclude() {
	.icon();
	&:before { content: "\f0d9"; }
}

.icon-userexclude:before { content: "\f0d9"; }
.icon-users() {
	.icon();
	&:before { content: "\f0da"; }
}

.icon-users:before { content: "\f0da"; }
.icon-usersexclude() {
	.icon();
	&:before { content: "\f0db"; }
}

.icon-usersexclude:before { content: "\f0db"; }
.icon-viewcard() {
	.icon();
	&:before { content: "\f0dc"; }
}

.icon-viewcard:before { content: "\f0dc"; }
.icon-viewdetail() {
	.icon();
	&:before { content: "\f0dd"; }
}

.icon-viewdetail:before { content: "\f0dd"; }
.icon-viewgrid() {
	.icon();
	&:before { content: "\f0de"; }
}

.icon-viewgrid:before { content: "\f0de"; }
.icon-viewlist() {
	.icon();
	&:before { content: "\f0df"; }
}

.icon-viewlist:before { content: "\f0df"; }
.icon-viewoff() {
	.icon();
	&:before { content: "\f0e0"; }
}

.icon-viewoff:before { content: "\f0e0"; }
.icon-viewon() {
	.icon();
	&:before { content: "\f0e1"; }
}

.icon-viewon:before { content: "\f0e1"; }
.icon-viewsingle() {
	.icon();
	&:before { content: "\f0e2"; }
}

.icon-viewsingle:before { content: "\f0e2"; }
.icon-wordpress() {
	.icon();
	&:before { content: "\f0e3"; }
}

.icon-wordpress:before { content: "\f0e3"; }
.icon-wrench() {
	.icon();
	&:before { content: "\f0e4"; }
}

.icon-wrench:before { content: "\f0e4"; }
.icon-youtube() {
	.icon();
	&:before { content: "\f0e5"; }
}

.icon-youtube:before { content: "\f0e5"; }
.icon-zoomin() {
	.icon();
	&:before { content: "\f0e6"; }
}

.icon-zoomin:before { content: "\f0e6"; }
.icon-zoomout() {
	.icon();
	&:before { content: "\f0e7"; }
}

.icon-zoomout:before { content: "\f0e7"; }
