@font-face {
  font-family: 'AdobeIcons';
  src: url(~"@{font-folder}/AdobeIcons.eot");
  src: url(~"@{font-folder}/AdobeIcons.woff") format("woff"),
    url(~"@{font-folder}/AdobeIcons.ttf") format("truetype"),
    url(~"@{font-folder}/AdobeIcons.svg#AdobeIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: AdobeIcons;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
