@icon-xsmall-size: 0.75rem;
@icon-small-size: 1rem; // 24px: 1.15rem;
@icon-medium-size: 1.5rem;
@icon-large-size: 2rem;

@icon-blue-color:  rgb(65, 145, 210);
@icon-divider-color: rgb(206, 206, 206);

@icon-label-padding-multiplier: 0.25;
@icon-label-line-height-multiplier: 1.15;

// Setup the font face
@font-face {
  font-family: 'AdobeIcons';
  src: url(~"@{font-folder}/AdobeIcons.eot");
  src: url(~"@{font-folder}/AdobeIcons.woff") format("woff"),
    url(~"@{font-folder}/AdobeIcons.ttf") format("truetype"),
    url(~"@{font-folder}/AdobeIcons.svg#AdobeIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Apply the correct font
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: AdobeIcons;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none; // Don't let icons underline
}

// Various mixins
.icon-size(@size) {
  line-height: @size;
  font-size: @size;
  height: @size;

  &, &:before {
    width: @size;
    height: @size;
  }
  &:before {
    .background-size(@size);
  }
}

.icon-xsmall() {
  .icon-size(@icon-xsmall-size);
}
.icon-small() {
  .icon-size(@icon-small-size);
}
.icon-medium() {
  .icon-size(@icon-medium-size);
}
.icon-large() {
  .icon-size(@icon-large-size);
}

.hide-inner-text() {
  // Does not work with :before approach
  //text-indent: 100%;
  //white-space: nowrap;
  
  // color: transparent; // Dangert, this doesn't work with font icons
  overflow: hidden;
}

[class^="icon-"].xsmall,
[class*=" icon-"].xsmall { // 12px
  .icon-xsmall;
}

[class^="icon-"].small,
[class*=" icon-"].small { // 16px
  .icon-small;
}

[class^="icon-"].medium,
[class*=" icon-"].medium { // 24px
  .icon-medium;
}

[class^="icon-"].large,
[class*=" icon-"].large { // 32px
  .icon-large;
}

/*
  Default styles for icons
*/
[class^="icon-"],
[class*=" icon-"] {
  // Use ems by default so we depend on font size of surrounding element
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 1em;

  display: inline-block;
  
  vertical-align: text-top; // Make text line up correctly in paragraphs
  
  // Hide inner text by default
  .hide-inner-text;
  
  &.white:before {
    color: white;
    opacity: 0.80;
  }
  &.blue:before {
    color: @icon-blue-color;
    opacity: 1;
  }
  
  &.withLabel {
    width: auto;
    
    text-indent: 0;
    white-space: inherit;
    overflow: visible;
    color: inherit;
    
    &.xsmall {
      //line-height: @icon-xsmall-size * @icon-label-line-height-multiplier;
      &:before {
        margin-right: @icon-xsmall-size * @icon-label-padding-multiplier;
      }
    }
    &.small {
      //line-height: @icon-small-size * @icon-label-line-height-multiplier;
      &:before {
        margin-right: @icon-small-size * @icon-label-padding-multiplier;
      }
    }
    &,
    &.medium {
      //line-height: @icon-medium-size * @icon-label-line-height-multiplier;
      &:before {
        margin-right: @icon-medium-size * @icon-label-padding-multiplier;
      }
    }
    &.large {
      //line-height: @icon-large-size * @icon-label-line-height-multiplier;
      &:before {
        margin-right: @icon-large-size * @icon-label-padding-multiplier;
      }
    }
  }
  
  &:focus {
    .glow;
    border: none;
  }
}


/*
  Class: i.icon-* or *.noLabel.icon-*
  An purely presentational icon that does not have a text label beside it.

  For accessibility purposes, include a text label inside of the icon like so:

    <i class="icon-Add">Add</i>

  The text will be hidden from visual browsers but read by screen readers.
*/
i[class^="icon-"],
i[class*=" icon-"] {
  font-style: normal;
}

// Hover states & opacity
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  width: 1em;
  height: 1em;

  background-position: center center; // center so padding can be added
  .background-size(1em);
  background-repeat: no-repeat;
  
  color: black;
  opacity: 0.65;
  
  vertical-align: text-top; // Make labels align correctly
  
  content: " ";
}

// Icons in buttons
button,
.button {
  i[class^="icon-"],
  i[class*=" icon-"] {
    .icon-small;
    margin-right: 0.25rem;
    //margin: -0.25rem 0.25rem -0.35rem 0; // For 24px, Don't push the button to a taller height
    
    //vertical-align: top;
    
    &:before {
      color: white;
      opacity: 1;
    }
  }
}

// Clickable icons
button,
a {
  // Hover states & opacity
  &[class^="icon-"],
  &[class*=" icon-"] {
    cursor: pointer;

    margin: 0;
    padding: 0;

    font-size: inherit;

    min-width: 0;
    
    &,
    &:hover,
    &:active {
      border: none;

      box-shadow: none;

      background-color: transparent;
      background-image: none;

      text-shadow: none;
      font-weight: normal;

      filter: none;
    }
    
    &:before {
      opacity: 0.65;
    }

    &:hover {
      &:before {
        opacity: 0.80;
      }
    }

    &:active {
      &:before {
        color: @icon-blue-color;
        opacity: 1;
      }
    }
  }
}
