/**
  Element: list
  Default padding for lists
*/
ol,
ul {
  li + li {
    margin-top: 0.357em; // use em to font size is taken into account
  }

  &.notype {
  	list-style: none;
  	padding: 0;
    
  	> li {
    	padding: 0;
    	margin: 0;
  	}	
  }
  
  &.condensed {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      display: inline-block;
      margin-right: 0.3rem;
    }
    > li:after {
      content: ",";
    }
    > li:last-child:after {
      content: "";
    }    
  }
}
