/**
  Element: form
  No margin or padding by default
*/
form {
  margin: 0;
  padding: 0;
}


/**
  Element: img
  Bootstrap's reset needs to be massaged a bit for images
*/
img {
  max-width: none; // Otherwise, images can get squished in funny ways when base size increases
}

/**
  Classes: .left .right
  Basic float left/right classes
*/
.left {
  float: left;
}
.right {
  float: right;
}

/*
  Class: clear
  Clear floats before and after an element
*/
.clear {
  clear: both;
}


/**
  Class: .hidden
  Hide element from visual browsers as well as from accessibilty, but without affecting its width/height (can be measured while hidden).
  Take care not to use that inside elements that can get focus (like inside links), or the focus rectangle will not look as expectd.
*/
.hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  visibility: hidden;
}

/**
  Class: .hidden-accessible
  Hide element from visual browsers, but still keep it accessible (useful to add accessibility to visual elements).
*/
.hidden-accessible {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 1px;
}


/**
  Class: .grey
  Used for secondary or help text
*/
.grey {
  color: @font-secondary-color;
}


/**
  Class: .small
  Used for smaller text
*/
.small {
  font-size: 0.8rem;
}


/**
  Class: .light
  Used for light text
*/
.light {
  font-family: AdobeCleanLight;
  font-weight: lighter;
}

/**
  Class: .regular
  Used for regular text (as a reset)
*/
.regular {
  font-family: AdobeClean;
  font-weight: normal;
}


/**
  Class: .close
  Used for close buttons with an &times; entity inside of them
*/
.close {
  margin: 0;
  padding: 0;
  min-width: 0;

  border: none !important;
  background: none !important;
  .box-shadow(none);

  color: black;
  font-size: @close-font-size;
  font-weight: bold;
  text-decoration: none !important; // override for anchor
  text-shadow: none;
  line-height: 0.55;

  cursor: pointer;

  .opacity(@close-opacity);

  &:hover {
    .opacity(85);
  }

  &:active {
    .box-shadow(none); // override button
  }

  &:focus {
    .box-shadow(none); // override button
    border: none;

    .glow-text();
  } 
}
