/**
 * Classes: .left & .right
 * Basic float left/right classes
 */
.left {
	float: left;
}
.right {
	float: right;
}

/**
 * Class: .hidden
 * Hide something without affecting its width/height (can be measured while hidden)
 */
.hidden {
	position: absolute;
	left: -9999px;
	top: -9999px;
	visibility: hidden;
}
