/**
  Element: section
  Default margin for sections
*/
section {
  margin: 1em;  // Define with em it changes with font-size

  > section {
    margin: 1em;  // Define with em it changes with font-size
  }
}