/**
 * Element: form
 * No margin or padding by default
 */
form {
  margin: 0;
  padding: 0;
}


/**
 * Element: img
 * Bootstrap's reset needs to be massaged a bit for images
 */
img {
  max-width: none; // Otherwise, images can get squished in funny ways when base size increases
}


/**
 * Element: section
 * Give a default margin to sections
 */
section {
  margin: 1em;
}


/**
 * Element: a
 * Default colors for anchor tags
 */
a {
  color: @link-color;

  &:active {
    color: @link-active-color;
  }
}
