p.
  The Shell.Workspaces is a simple context-switching or navigation component that is part of the
  Shell3 UI pattern. It is intended to be placed in the content area of the
  <a href='Coral.Shell.Header.html' class='coral-Link'>Shell.Header</a> component for switching
  what is displayed in the main content zone of the application, e.g. via a
  <a href='Coral.PanelStack.html' class='coral-Link'>Coral.PanelStack</a>.


include markup-documentation
include jsdoc
