+document-section('Markup Examples', false)
  +document-subsection('Default')
    +markup-example('u-coral-padding coral--dark coral-Well').
      <coral-shell-header>
        <coral-shell-header-content>
          <coral-shell-workspaces>
            <a is="coral-shell-workspace" href="#workspace1" selected>Workspace 1</a>
            <a is="coral-shell-workspace" href="#workspace2">Workspace 2</a>
            <a is="coral-shell-workspace" href="#workspace3">Workspace 3</a>
          </coral-shell-workspaces>
        <coral-shell-header-content>
      <coral-shell-header>

