+document-section-simple-example()
  p.
    The Coral.Shell.Workspaces component creates navigation options intended
    for switching what is displayed in the main content zone.

  .docs-Example-simpleExampleMarkup.u-columnMedium.coral--dark.coral-Well
    coral-shell-header
      coral-shell-header-content
        coral-shell-workspaces
          a(is='coral-shell-workspace' href='#workspace1' selected) Workspace 1
          a(is='coral-shell-workspace' href='#workspace2' selected) Workspace 2
          a(is='coral-shell-workspace' href='#workspac3' selected) Workspace 3
