@selectlist-box-background-color: rgb(245, 245, 245);
@selectlist-box-border-color: rgba(0, 0, 0, 0.25);
@selectlist-entry-border-color: rgb(230, 230, 230);
@selectlist-entry-active-color: rgb(255, 255, 255);
@selectlist-entry-active-background-color: rgb(50, 135, 210);
@selectlist-group-background-color: rgb(220, 220, 220);
@selectlist-group-text-color: rgb(75, 75, 75);

.selectlist {
    // because mobile safari (iOS) has positioning issues
    // we position it relative and remove the height
    visibility: hidden;
    position: relative;
    float: left;
    margin: -100% 0 0 0;

    &.visible {
        visibility: visible;
    }

    .box-sizing(border-box);
    width: 100%;
    z-index: 1000; // just make it higher so it is above others

    background-color: @selectlist-box-background-color;
    border: 1*@px solid @selectlist-box-border-color;
    padding: 0;

    max-height: 35*@px * 5;
    overflow-y: auto; 

    li {
        display: block;
        border-top: 1*@px solid @selectlist-entry-border-color;    
        padding: 11*@px 10*@px;
        margin: 0;

        &[role=option] {
            cursor: pointer;

            // icon as a prefix
            &[class^="icon-"], 
            &[class*=" icon-"] {
                overflow: visible;
                white-space: inherit;
                color: inherit;
                width: auto;
                height: auto;
                text-align: left;

                &:before {
                    margin-right: 10*@px;
                }
            }

            &:hover,
            &:focus {
                outline: none; // disable default browser hover
                color: @selectlist-entry-active-color;
                background: @selectlist-entry-active-background-color;
            }
        }

        &:first-child {
            border-top: none;
        }
    }

    li.optgroup {
        padding: 0;
        border-top-color: @selectlist-box-border-color;

        > span {
            display: block;
            color: @selectlist-group-text-color;
            font-size: 12*@px;
          .bold-text;
            background: @selectlist-group-background-color;
            padding: 0 10*@px;
            height: 18*@px;
            line-height: 18*@px;
            text-transform: uppercase;
            border-bottom: 1*@px solid @selectlist-box-border-color;
        }

        > ul {
            padding: 0;
        }
    }

    >.selectlist-wait {
        padding: 11*@px 10*@px;
        text-align: center;
    }
}
