+document-section('Accessibility', false)

  +document-subsection('Keyboard support')
    | The NumberInput component follows the ARIA specification for spinbutton. This means the following keys are valid
    | for interacting with it: <code>up</code>, <code>down</code>, <code>left</code>, <code>right</code>,
    | <code>pageup</code>, <code>pagedown</code>, <code>home</code>, <code>end</code> and the Mouse Wheel. Go ahead and
    | try them on any component of the page!

  +document-subsection('Labelling the component')
    | For improved accessibility the component should always be labelled. This can be achieved by using the
    | <code>labelledby</code> attribute.

    +markup-example()
      form(class='coral-Form coral-Form--vertical')
        section(class='coral-Form-fieldset')
          label(class='coral-Form-fieldlabel', id='labelExample').
            Select the image width
          coral-numberinput(value='480', name='ally', labelledby='labelExample')
