script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.NumberInput,
      fields: [
        {
          label: 'Placeholder',
          prop: 'placeholder',
          type: 'text',
          value: 'Enter a number'
        },
        {
          label: 'Max',
          prop: 'max',
          type: 'spinner',
          value: null
        },
        {
          label: 'Min',
          prop: 'min',
          type: 'spinner',
          value: null
        },
        {
          label: 'Step',
          prop: 'step',
          type: 'spinner',
          min: 1,
          value: 1
        },
        {
          label: 'Name',
          prop: 'name',
          type: 'text',
          value: 'field'
        },
        {
          label: 'Value',
          prop: 'value',
          type: 'text',
          value: ''
        },
        {
          label: 'is disabled',
          prop: 'disabled',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is invalid',
          prop: 'invalid',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is read-only',
          prop: 'readOnly',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is required',
          prop: 'required',
          type: 'checkbox',
          value: false
        }
      ],
      componentEvents: [
        'change'
      ]
    }).insertAfterLastScript();
  }
