+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical u-columnMedium">
        <section class="coral-Form-fieldset">
          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-0" class="coral-Form-fieldlabel">Label</label>
            <coral-numberinput class="coral-Form-field" placeholder="Choose a number" name="name" labelledby="label-vertical-0"></coral-numberinput>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-1" class="coral-Form-fieldlabel">Required</label>
            <coral-numberinput class="coral-Form-field" placeholder="Choose a number" name="name" labelledby="label-vertical-1" required></coral-numberinput>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-vertical-numberinput-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-vertical-numberinput-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-numberinput class="coral-Form-field" placeholder="Choose a number" name="name" labelledby="label-vertical-2" invalid></coral-numberinput>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-vertical-numberinput-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-vertical-numberinput-fielderror">Error Message</coral-tooltip>
          </div>
        </section>
      </form>
  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">
          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-0" class="coral-Form-fieldlabel">Label</label>
            <coral-numberinput class="coral-Form-field" placeholder="Choose a number" name="name" labelledby="label-aligned-0"></coral-numberinput>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-1" class="coral-Form-fieldlabel">Required</label>
            <coral-numberinput class="coral-Form-field" placeholder="Choose a number" name="name" labelledby="label-aligned-1" required></coral-numberinput>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-aligned-numberinput-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-aligned-numberinput-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-numberinput class="coral-Form-field" placeholder="Choose a number" name="name" labelledby="label-aligned-2" invalid></coral-numberinput>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-aligned-numberinput-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-aligned-numberinput-fielderror">Error Message</coral-tooltip>
          </div>
        </section>
      </form>
