+document-section('Tag attributes', true)

  +document-subsection('multiline')
      | By default, tags will truncate content if its too big for the tag's container.
      | Add the <code>multiline</code> attribute to support mutli-line text instead of truncating.

      +markup-example()
          +component-markup-tag({multiline:'', label:'This is an amazing long tag which should never ever be there but ... sometimes ...'})
