script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Tag,
      useInnerElements: true,
      innerElements: [
        {
          tagName: 'coral-tag-label',
          properties: {
            'label.innerHTML': 'innerHTML'
          }
        },
      ],
      mainContentZone: 'coral-tag-label',
      fields: [
        {
          label: 'Label',
          prop: 'label.innerHTML',
          type: 'text',
          value: 'Tag Label'
        },
        {
          label: 'Size',
          prop: 'size',
          type: 'select',
          value: 'L',
          options: {
            'Default': 'L',
            'Small': 'S',
            'Medium': 'M',
            'Large': 'L'
          }
        },
        {
          label: 'Color',
          prop: 'color',
          type: 'select',
          value: '',
          options: {
            'Grey': 'grey',
            'Blue': 'blue',
            'Light blue': 'lightblue',
            'Periwinkle': 'periwinkle',
            'Plum': 'plum',
            'Fuchsia': 'fuchsia',
            'Magenta': 'magenta',
            'Red': 'red',
            'Orange': 'orange',
            'Tangerine': 'tangerine',
            'Yellow': 'yellow',
            'Chartreuse': 'chartreuse',
            'Green': 'green',
            'Kelly green': 'kellygreen',
            'Sea foam': 'seafoam',
            'Cyan': 'cyan'
          }
        },
        {
          label: 'Value',
          prop: 'value',
          type: 'text',
          value: 'tagvalue'
        },
        {
          label: 'is multiline',
          prop: 'multiline',
          value: false,
          type: 'checkbox'
        },
        {
          label: 'is quiet',
          prop: 'quiet',
          value: false,
          type: 'checkbox'
        },
        {
          label: 'is closable',
          prop: 'closable',
          value: false,
          type: 'checkbox'
        }
      ]
    }).insertAfterLastScript();
  }
