+document-section('Collection API')
  p.
    The StepList implements the Collection API as a way to manipulate the items. It provides add(), remove(), clear(),
    and getAll(), as well as their corresponding events to keep track of the items. Check
    <a class='coral-Link' href='Coral.Collection.html'>Coral.Collection</a> for more information.

  +document-subsection('add(item, insertBefore)')
    p.
      The following code adds an item using the JavaScript constructor. After an item is added a
      <code>coral-collection:add</code> event will be triggered.
    pre.prettyprint.docs-Example-snippet
      | var stepList = new Coral.StepList();
      | var item = new Coral.Step();
      | stepList.items.add(item);

    p.
      Add also allows using an object that represents the item. All values will be set using the multiple value set
      provided by the Coral.Component class.
    pre.prettyprint.docs-Example-snippet
      | var stepList = new Coral.StepList();
      | stepList.items.add({
      |   label: {
      |     innerHTML: 'Step 1'
      |   },
      |   selected: false
      | });

  +document-subsection('remove(item)')
    p.
      Item removal is done in a similar fashion. After any removal, the StepList will trigger a
      <code>coral-collection:remove</code> event.

    pre.prettyprint.docs-Example-snippet
      | stepList.items.remove(item);
