script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.StepList,
      fields: [
        {
          label: 'Size',
          prop: 'size',
          type: 'select',
          value: 'L',
          options: {
            'Small': 'S',
            'Large': 'L'
          }
        },
        {
          label: 'Interaction',
          prop: 'interaction',
          type: 'select',
          value: 'on',
          options: {
            OFF: 'off',
            ON: 'on'
          }
        },
        {
          label: 'Target',
          prop: 'target',
          type: 'text',
          value: ''
        }
      ],
      items: [
        {
          label: {
            innerHTML: 'Step 1'
          }
        },
        {
          label: {
            innerHTML: 'Step 2'
          }
        },
        {
          label: {
            innerHTML: 'Step 3'
          }
        }
      ],
      itemsMainContentZone: 'coral-step-label',
      componentEvents: [
        'coral-steplist:change'
      ]
    }).insertAfterLastScript();
  }
