+document-section('Limitations')
  p.
    When very long labels are provided, wrapping will occur and will push the label upwards. This can cause problems
    if assumptions are made about the height of the StepList, so be wary of this fact if your labels are long.

  +markup-example().
    <coral-steplist interaction="on">
      <coral-step>My text is the longest</coral-step>
      <coral-step selected>And my text is quite long</coral-step>
      <coral-step>If this was in German</coral-step>
      <coral-step>It would likely look wrong</coral-step>
    </coral-steplist>
