+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper coral-Form-fieldwrapper--singleline">
            <label class="coral-Form-fieldlabel" id="label-vertical-radio-0">Label</label>
            <coral-radio class="coral-Form-field" name="name" value="radioValue" labelledby="label-vertical-radio-0">Radio One</coral-radio>
          </div>

          <div class="coral-Form-fieldwrapper coral-Form-fieldwrapper--singleline">
            <label class="coral-Form-fieldlabel" id="label-vertical-radio-1">Required</label>
            <coral-radio class="coral-Form-field" name="name" value="radioValue" labelledby="label-vertical-radio-1">Radio One</coral-radio>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-vertical-radio-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-vertical-radio-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-radiogroup-0">Radio Group</label>
            <div class="coral-Form-field coral-RadioGroup coral-RadioGroup--vertical">
              <coral-radio class="coral-Form-field" name="radioGroupOne" value="radioValueOne" labelledby="label-vertical-radiogroup-0">One</coral-radio>
              <coral-radio class="coral-Form-field" name="radioGroupOne" value="radioValueTwo" labelledby="label-vertical-radiogroup-0">Two</coral-radio>
              <coral-radio class="coral-Form-field" name="radioGroupOne" value="radioValueThree" labelledby="label-vertical-radiogroup-0">Three</coral-radio>
            </div>
          </div>

        </section>
      </form>

  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper coral-Form-fieldwrapper--singleline">
            <label class="coral-Form-fieldlabel" id="label-aligned-radio-0">Label</label>
            <coral-radio class="coral-Form-field" name="name" value="radioValue" labelledby="label-aligned-radio-0">Radio One</coral-radio>
          </div>

          <div class="coral-Form-fieldwrapper coral-Form-fieldwrapper--singleline">
            <label class="coral-Form-fieldlabel" id="label-aligned-radio-1">Required</label>
            <coral-radio class="coral-Form-field" name="name" value="radioValue" labelledby="label-aligned-radio-1">Radio One</coral-radio>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-aligned-textarea-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-aligned-textarea-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-radiogroup-1">Radio Group</label>
            <div class="coral-Form-field coral-RadioGroup coral-RadioGroup--labelsBelow">
              <coral-radio class="coral-Form-field" name="radioGroupAlignedTwo" value="radioValueOne" labelledby="label-aligned-radiogroup-1">1</coral-radio>
              <coral-radio class="coral-Form-field" name="radioGroupAlignedTwo" value="radioValueTwo" labelledby="label-aligned-radiogroup-1">2</coral-radio>
              <coral-radio class="coral-Form-field" name="radioGroupAlignedTwo" value="radioValueThree" labelledby="label-aligned-radiogroup-1">3</coral-radio>
            </div>
          </div>

        </section>
      </form>
