p.
  This component follows the
  <a class="coral-Link" href="Coral.mixin.formField.html">Coral.mixin.formField</a> specification. Please
  keep in mind that readOnly and invalid will be ignored, just like in a native HTMLInputElement.

include configurator
include form
include radio-javascript-examples
include jsdoc
