+document-section('JavaScript Examples', false)

  +document-subsection('JS Class Initialization')
    p The following JavaScript manually interacts with a Radio component.
    +markup-example().
        <div id="container"></div>
        <label for="output">Result:</label>
        <output id="output">...</output>
        <script>
          var helloRadio = new Coral.Radio();
          helloRadio.label.textContent = 'Hello From JavaScript';
          helloRadio.name = 'jsExample';
          helloRadio.value = 'hello';
          //
          var goodbyeRadio = new Coral.Radio();
          goodbyeRadio.label.textContent = 'Bye From JavaScript';
          goodbyeRadio.name = 'jsExample';
          goodbyeRadio.value = 'bye';
          //
          var container = document.querySelector('#container');
          container.appendChild(helloRadio);
          container.appendChild(goodbyeRadio);
          //
          container.addEventListener('change', function(event) {
            document.querySelector('#output').textContent = event.target.value;
          });
        </script>
