+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-textfield-0">Label</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter your text" name="name" labelledby="label-vertical-textfield-0">
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-textfield-1">Required</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter your text" name="name" labelledby="label-vertical-textfield-1">
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-vertical-textfield-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-vertical-textfield-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-vertical-textfield-2">Invalid</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter your text" name="name" labelledby="label-vertical-textfield-2" invalid>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-vertical-textfield-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-vertical-textfield-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>


  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-textfield-0">Label</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter your text" name="name" labelledby="label-aligned-textfield-0">
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-textfield-1">Required</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter your text" name="name" labelledby="label-aligned-textfield-1">
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-aligned-textfield-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-aligned-textfield-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel" id="label-aligned-textfield-2">Invalid</label>
            <input is="coral-textfield" class="coral-Form-field" placeholder="Enter your text" name="name" labelledby="label-aligned-textfield-2" invalid>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-aligned-textfield-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-aligned-textfield-fielderror">Error Message</coral-tooltip>
          </div>

        </section>
      </form>
