<div class="rail">
	<div class="pull-to-refresh">
        <div class="icon"></div>
        <div class="message">
          <i class="arrow"></i>
          <i class="spinner large"></i>
          <span class="pull">{{message_ptr_pull}}</span>
          <span class="release">{{message_ptr_release}}</span>
          <span class="loading">{{message_ptr_loading}}</span>
        </div>
      </div>
      <div class="wrap">
      	{{{content}}}
      </div>
</div>