<div class="_coral-ColorPicker-ColorArea-gradient" handle="colorAreaGradient" role="presentation"/>
<coral-colorpicker-colorhandle class="_coral-ColorPicker-ColorArea-colorHandle" handle="colorHandle" style="position: absolute;top: 0%;left: 100%"></coral-colorpicker-colorhandle>
<input type="range" handle="sliderX" class="_coral-ColorPicker-ColorArea-slider" name="x" aria-label="saturation and luminosity" min="0" max="1" step="0.01"/>
<input type="range" handle="sliderY" class="_coral-ColorPicker-ColorArea-slider" name="y" aria-label="saturation and luminosity" min="0" max="1" step="0.01"/>