/**
  Class: .tabs
  Provides navigation tabs
*/

// Tabs
@tab-dark-outline-color: rgba(0, 0, 0, 0.20);

@tab-dark-background-gradient-start-color: rgb(90, 90, 90);
@tab-dark-background-gradient-end-color: rgb(77, 77, 77);

@tab-dark-active-font-color: rgb(255, 255, 255);
@tab-dark-inactive-font-color: rgb(190, 190, 190);
@tab-dark-hover-font-color: rgb(255, 255, 255);
@tab-dark-disabled-font-color: rgb(100, 100, 100);

// Note: the white tabs variant is deprecated, and will be removed in a future release 
// See https://issues.adobe.com/browse/CUI-1156 and https://issues.adobe.com/browse/CUI-1154
@tab-white-background-gradient-start-color: rgb(255, 255, 255);
@tab-white-background-gradient-end-color: rgb(245, 245, 245);

@tab-dark-nav-second-border-color: rgba(255, 255, 255, 0.08);

.theme-dark {
  .tabs {
    > nav {
      > a {
        color: @tab-dark-inactive-font-color;

        &.disabled {
          color: @tab-dark-disabled-font-color;

          &:hover,
          &:focus {
            color: @tab-dark-disabled-font-color;
          }
        }

        &:hover,
        &:focus {
          color: @tab-dark-hover-font-color;
        }

        &.active {
          color: @tab-dark-active-font-color;
          border-color: @tab-dark-outline-color;
          .gradient(@tab-dark-background-gradient-start-color, @tab-dark-background-gradient-end-color);
        }
      }
    }

    > section {
      background-color: @tab-dark-background-gradient-end-color;
      border: @px solid @tab-dark-outline-color;
    }

    /* Note: the white tabs variant is deprecated, and will be removed in a future release */
    /* See https://issues.adobe.com/browse/CUI-1156 and https://issues.adobe.com/browse/CUI-1154 */  
    &.white {
      > nav > a.active {
        .gradient(@tab-white-background-gradient-start-color, @tab-white-background-gradient-end-color);
      }

      > section {
        background-color: @tab-white-background-gradient-end-color;
      }
    }

    &.nav {
      > nav {
        border-bottom: 1*@px solid @tab-dark-outline-color;

        > a.active {
          .gradient(@tab-dark-background-gradient-start-color, @tab-dark-background-gradient-end-color);
          border-bottom: 2*@px solid @body-dark-background-color;
        }
      }

      > section {
        border-color: @tab-dark-nav-second-border-color;
        background-color: @body-dark-background-color;
      }
    }

    &.stacked {

      > nav {
        > a {
          &.active {
            border-bottom: 1*@px solid @tab-dark-outline-color;
            #gradient > .horizontal(@tab-dark-background-gradient-start-color, @tab-dark-background-gradient-end-color);
          }
        }
      }

      > section {
        background-color: @tab-dark-background-gradient-end-color;
      }
    }
  }
}
