/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@require '@adobe/spectrum-css/dist/components/coachmark/index.css';
@require '@adobe/spectrum-css/dist/components/coachmark/index-diff.css';
@require '@adobe/spectrum-css/dist/components/coachmark/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/coachmark/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/coachmark/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/coachmark/multiStops/darkest.css';

@require '../../../coral-theme-spectrum/src/styles/vars.css';

// @spectrum
._coral-CoachMarkIndicator {
  display: inline-block;
  margin: 3px 0 0 4px;
}

// https://github.com/adobe/spectrum-css/issues/656
// @spectrum
@keyframes large-pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

// @spectrum
@keyframes large-pulse--quiet {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

// @spectrum
.coral--large {
  ._coral-CoachMarkIndicator-ring {
    animation: large-pulse var(--spectrum-large-coachmark-animation-indicator-ring-duration) var(--spectrum-global-animation-linear) infinite;
  }

  ._coral-CoachMarkIndicator--quiet ._coral-CoachMarkIndicator-ring {
    animation: large-pulse--quiet var(--spectrum-large-coachmark-quiet-animation-indicator-ring-duration) var(--spectrum-global-animation-linear) infinite;
  }
}

