.coral-DecoratedTextfield {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  display: inline-block;

  // @compat
  > .coral-DecoratedTextfield-button._coral-Button {
    margin-right: 0;
  }

  // @compat
  > .coral-DecoratedTextfield-input {
    padding-right: 32px;
  }
}

.coral-DecoratedTextfield-icon {
  position: absolute;
  // Support other icon sizes than XS ?
  top: 10px;
  left: 0;
  margin-left: 10px;
  height: 18px;

  // Don't get clicks
  pointer-events: none;
}

// Move text to right when the icon is visible
.coral-DecoratedTextfield-icon:not([hidden]) + .coral-DecoratedTextfield-input {
  padding-left: 25px;
  // Reset the text-indent the spectrum textfield has
  text-indent: 0;
}

.coral-DecoratedTextfield-button {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;

  &.is-hidden {
    visibility: hidden;
  }
}

@require 'skin';
