// @compat
.coral--light,
.coral--lightest,
.coral--dark,
.coral--darkest {
  .coral-DecoratedTextfield > .coral-DecoratedTextfield-button._coral-Button.focus-ring {
    box-shadow: none;
    background-color: transparent;
  }
}
