/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

/* Note: $shell-header-height is defined in styles/coralui-component-shell */

$shell-header-padding-leftright = 8*$px;
$shell-header-padding-topbottom = 7*$px
$shell-header-area = 45*$px;

$shell-header-background-color = rgb(30, 30, 30);

$shell-header-background-disabled-color = rgb(62, 62, 62);

$shell-homeanchor-margin-right = 52*$px;
$shell-homeanchor-icon-margin-right = 10*$px;
$shell-homeanchor-icon-margin-top = -3*$px;

$shell-homeanchor-text-size = 14*$px;
$shell-homeanchor-color = rgba(255, 255, 255, 0.80);
$shell-homeanchor-hover-color = white;
$shell-homeanchor-focus-color = white;

._coral-Shell-header {
  display: block;
  box-sizing: border-box;

  position: relative;

  height: $shell-header-height;

  // padding-bottom 0 allows items to stick to the bottom without guessing the size of the padding
  padding: $shell-header-padding-topbottom $shell-header-padding-leftright 0 $shell-header-padding-leftright;

  background-color: $shell-header-background-color;

  clearfix();

  // Customize minimal button's badge colors to match the dark background
  ._coral-Shell-menu-button[badge] {
    &:after {
    // Match ultradark background color
      border-color: $shell-header-background-color;
    }

    &:disabled,
    &.is-disabled {
      &:after {
        background-color: $shell-header-background-disabled-color;

        color: $shell-header-background-color;
      }
    }
  }

  ._coral-Shell-menu-button[badge="0"]:after {
    display: none;
  }
}

coral-shell-header-home {
  display: block;

  margin-right: $shell-homeanchor-margin-right;

  float: left;
  vertical-align: top;
}

coral-shell-header-actions {
  float: right;
  margin-left: 15*$px;
  padding-top: 3*$px;
  padding-bottom: 3*$px;
}

// Greedy container that takes the available space
coral-shell-header-content {
  // Fill vertically, leaving space at the bottom
  height: $shell-header-area;
  display: inline-block;

  vertical-align: top;
}

// makes the class more specific to be able to verride button styles
._coral-Shell-homeAnchor {
  // Fill the whole header
  display: block;
  box-sizing: border-box;
  vertical-align: top;

  transition: color .15s ease-out;

  margin: 0;
  padding: 0 8*$px;

  text-decoration: none;
  text-align: center;

  line-height: 38*$px;

  color: $shell-homeanchor-color;

  cursor: pointer;
  white-space: nowrap;

  &:not(:disabled):not(.is-disabled) {
    &.is-selected,
    &:active,
    &:hover {
      color: $shell-homeanchor-hover-color;
    }

    // focus overrides hover/selected
    &:focus,
    &.is-focused {
      color: $shell-homeanchor-focus-color;
    }

    // active overrides focus
    &:active {
    // Repeated to override focus
      color: $shell-homeanchor-hover-color;
    }
  }
}

._coral-Shell-homeAnchor-icon {
  vertical-align: middle;
  margin-top: $shell-homeanchor-icon-margin-top;
  margin-right: $shell-homeanchor-icon-margin-right;
}

coral-shell-homeanchor-label {
  display: inline-block;
}
