<section>
    
  <?js if (children.length > 0) { ?>
  <ul><?js
      var self = this;
      children.forEach(function(t) { ?>
      <li><?js= self.tutoriallink(t.name) ?></li>
  <?js }); ?></ul>
  <?js } ?>

  <h1><?js= header ?></h1>

  <article>
      <?js= content ?>
  </article>

</section>  
