.taglist {
    margin: 2*@px 0 0 0;
        padding: 0;
        list-style: none;
        .clearfix; 

    li {
        float: left;
        .box-sizing(border-box);
        margin: 0.1875rem 0.1875rem 0 0;
        padding: 0 0.625rem 0 0.5rem;
        max-width: 100%;
        line-height: 1.75rem;
        .text-overflow;
        text-align: left;
        color: #FAFAFA;
        background-color: rgba(0,0,0,0.5);
    }

    button {
        margin-right: 0.375rem;
        vertical-align: middle;

        &:before {
            opacity: 1;
            color: rgba(255,255,255,0.4);
        }
        &[class^="icon-"]:hover:before, &[class*=" icon-"]:hover:before {
            color: #FFF;
        }
        &:focus:before {
            color: #FFF;
        }
    }
}
