@require '@adobe/spectrum-css/dist/components/tags/index.css';
@require '@adobe/spectrum-css/dist/components/tags/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/tags/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/tags/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/tags/multiStops/darkest.css';

@require '@adobe/spectrum-css/dist/components/label/index.css';
@require '@adobe/spectrum-css/dist/components/label/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/label/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/label/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/label/multiStops/darkest.css';

// @spectrum support text + icon
coral-tag-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Support multiline
._coral-Tags-item--multiline {
  height: auto;

  ._coral-Tags-item-label {
    white-space: inherit;
    text-overflow: inherit;
  }
}

// @spectrum
._coral-Label {
  margin: 4px 4px;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
