// Support quiet
._coral-Tags-item--quiet,
._coral-Tags-item--quiet:hover {
  border-color: transparent;
  background-color: transparent;
}

._coral-Tags-item--quiet.focus-ring {
  background-color: transparent;
}
