<div class="_coral-Slider-labelContainer" handle="label">
  <label class="_coral-Slider-label" handle="labelContent"></label>
  <label class="_coral-Slider-value" handle="labelValue" hidden></label>
</div>
<div class="_coral-Slider-controls" role="presentation" handle="controls">
  <div class="_coral-Slider-track"></div>
  <div class="_coral-Slider-handle" handle="leftHandle">
    <input handle="leftInput" value="1" type="range" class="_coral-Slider-input">
  </div>
  <div class="_coral-Slider-track"></div>
</div>
