<js>
  data.uidMin = data.commons.getUID();
  data.uidMax = data.commons.getUID();
</js>

<div class="_coral-Slider-labelContainer" handle="label">
  <label class="_coral-Slider-label" handle="labelContent"></label>
  <label class="_coral-Slider-value" handle="labelValue" hidden></label>
</div>
<div class="_coral-Slider-controls" role="presentation" handle="controls">
  <div class="_coral-Slider-track"></div>
  <div class="_coral-Slider-handle" handle="leftHandle">
    <label handle="leftLabel" class="u-coral-screenReaderOnly" id="{{data.uidMin}}-label" for="{{data.uidMin}}" aria-hidden="true">Minimum</label>
    <input handle="leftInput" value="1" type="range" class="_coral-Slider-input" id="{{data.uidMin}}">
  </div>
  <div class="_coral-Slider-track"></div>
  <div class="_coral-Slider-handle" handle="rightHandle">
    <label handle="rightLabel" class="u-coral-screenReaderOnly" id="{{data.uidMax}}-label" for="{{data.uidMax}}" aria-hidden="true">Maximum</label>
    <input handle="rightInput" value="100" type="range" class="_coral-Slider-input" id="{{data.uidMax}}">
  </div>
  <div class="_coral-Slider-track"></div>
</div>
