/**
  Element: Checkbox
  Must be styled using an adjacent label or span tag
*/

// Checkbox
@checkbox-check-color: rgb(50, 135, 210);
@checkbox-border-color: rgba(0, 0, 0, .25);
@checkbox-background-color: rgb(255, 255, 255);
@checkbox-background-gradient-start-color: rgb(240, 240, 240);
@checkbox-background-gradient-end-color: rgb(255, 255, 255);
@checkbox-disabled-background-color: rgb(230, 230, 230);
@checkbox-disabled-check-color: rgba(0, 0, 0, .15);
@checkbox-disabled-border-color: rgb(210, 210, 210);

input[type=checkbox],
input[role=checkbox],
input[type=radio] {
  opacity: 0.0001; // used to allow the check box to be clicked in some browsers.
  overflow: hidden;
  width: 18*@px;
  height: 18*@px;
  padding: 0;

  & + label,
  & + span {
    display: inline-block;
  }

  & + span:before,
  & + label:before {
    font-family: AdobeIcons;
    display: inline-block;
    margin-left: -1rem; // cover invisible checkbox
    .border-box;

    width: 18*@px;
    height: 18*@px;
    margin-right: 8*@px;

    border: @px solid @checkbox-border-color;
    
    .gradient(@checkbox-background-gradient-start-color, @checkbox-background-gradient-end-color);

    content: "\a0";

    line-height: 1.5; 
    font-size: 12*@px;
    color: @checkbox-check-color;
    text-align: center;
  }

  &:focus + label:before,
  &:focus + span:before {
    .glow;
  }
  
  &:disabled {
      cursor: default;
      pointer-events: none;
      
      & + label:before,
      & + span:before {
        border-color: @checkbox-disabled-border-color;
        background-color: @checkbox-disabled-background-color;
        color: @checkbox-disabled-check-color;
      }
  }
}

input[type=checkbox],
input[role=checkbox] {
  &:indeterminate + label:before,
  &:indeterminate + span:before,
  &[aria-checked=mixed] + label:before,
  &[aria-checked=mixed] + span:before {
    content: @icon-minus-content;
  }
  
  &:checked + label:before,
  &:checked + span:before,
  &[aria-checked=true] + label:before,
  &[aria-checked=true] + span:before {
    content: @icon-check-content;
  }
}

input[type=radio] {
  & + span:before,
  & + label:before {
    .border-radius(1rem);
    background-position: center center;
    background-repeat: no-repeat;
    .background-size(100% 100%);
  }

  &:checked + span:before,
  &:checked + label:before {
    background-image: url('@{component-resource-folder}/checkbox/radio_dot.png');
  }

  &:disabled {
    &:checked + span:before,
    &:checked + label:before {
      background-image: url('@{component-resource-folder}/checkbox/radio_dot_disabled.png');
    }
  }
}

.checkboxfield, .radiofield {
  display: inline-block;
  margin: 0.5rem 0;
  vertical-align: middle;
}

form.vertical {
  .checkboxfield.field, .radiofield.field {
    display: block;
  }
}

form.aligned {
  .checkboxfield.field, .radiofield.field {
    float: left;

    > input {
      height: 2rem; // to be the same as the height of label
    }    
  }
}
