/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

// @compat fix header in wrapped dialog
._coral-Dialog--wrapped:not(._coral-Dialog--fullscreenTakeover) ._coral-Dialog-title {
  position: relative;
  overflow: visible;
  top: -18*$px;
}

// @spectrum
._coral-Dialog-closeButton {
  line-height: 18*$px;
  position: absolute;
  top: 0;
  right: 0;
  width: 18*$px;
  height: 18*$px;

  ._coral-Icon {
    width: 12*$px;
  }
}

// @spectrum
coral-dialog-footer {
  display: block;

  &:empty {
    display: none;
  }
}

._coral-Dialog-dragIcon {
  margin-top: -3*$px;
}

// Prevent dialog flashing on page load
coral-dialog {
  display: none;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';

