/**
 * Class: .draggable
 * Used for draggable list component
 */

 // Draggable
@draggable-list-background-color: rgb(245, 245, 245);
@draggable-list-background-hover-color: rgb(255, 255, 255);
@draggable-list-border-color: rgb(179, 179, 179);
@draggable-list-text-normal-color: rgb(75, 75, 75);
@draggable-list-border-handle-color: rgb(220, 219, 219);
@draggable-list-text-disabled-color: rgb(179, 179, 179);
@draggable-list-background-disabled-color: rgb(209, 209, 209);

// DropZone
@dropzone-background-color: rgb(238, 238, 238);
@dropzone-background-hover-color: darken(@dropzone-background-color, 5%);
@dropzone-border-color: @draggable-list-border-color;

ul.draggable {
  position: relative !important;
  padding: 0;
  margin: 0;
  
  font-size: 13*@px;
  
  list-style: none;
  white-space: nowrap;

  .no-select(); // disable text select
  
  li {
    position: relative; // so we can position X and handle absolutely within
    
    height: 40*@px;
    margin: 0;
    padding: 0 40*@px 0 14*@px;
    
    // TODO: IE has a problem.. things are too tall... box sizing doesn't fix it.
    //.border-box;
    
    border: @px solid @draggable-list-border-color;
    
    background-color: @draggable-list-background-color;
    
    line-height: 40*@px;
    color: @draggable-list-text-normal-color;

    &:hover {
      cursor: url('@{component-resource-folder}/cursors/openhand.cur'), default;
      background-color: @draggable-list-background-hover-color;
    }
    
    &:active {
      cursor: url('@{component-resource-folder}/cursors/closedhand.cur'), default;
    }
    
    &:disabled {
      background-color: @draggable-list-background-disabled-color;
      color: @draggable-list-text-disabled-color;
    }
        
    &.dragging {
      cursor: url('@{component-resource-folder}/cursors/closedhand.cur'), move;
      opacity: 0.9;
      position: absolute;
      left: 0;
      top: 0;
      background-color: @draggable-list-background-hover-color;
      z-index: 10000;
    }

    &.drag-before {
      position: relative;
      top: 0rem;
    }
    &.drag-after {
      position: relative;
      top: 40*@px;
    }
   
                
    + li {
      margin-top: -1*@px;
    }
    
    &:before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      
      content: " ";
      width: 4*@px;
      height: 40*@px;
      
      background: #dcdbdb;
      background: repeating-linear-gradient(-45deg, #eeeeee, #dcdbdb 1px, #dcdbdb 1px, #eeeeee 3px);  
      // Temporary, until we get a texture in there
      // lighten(@draggable-list-border-color, 10%); 
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      
      padding: 2*@px;
      margin: 11*@px;
    }
    
  }
}

.dropzone {
    border: @px solid @dropzone-border-color;
    background-color: @dropzone-background-color;
    min-height: 40*@px;
    .box-shadow(inset 0 0 8*@px rgba(0, 0, 0, 0.25));
    p {
        padding: 0 40*@px 0 14*@px;
        font-size: 13*@px;
    }
    &.drag-over {
      background-color: @dropzone-background-hover-color;      
    }
}

.dragging {
    .box-shadow(0 4*@px 4*@px rgba(0, 0, 0, 0.25));
    background-color: #eeeeee;
    opacity: 0.8;
    z-index: 10000;
}
