/**
  Element: .numberinput
  Dark theme for the number input.
*/

@numberinput-dark-gradient-start-color: rgb(85, 85, 85);
@numberinput-dark-gradient-end-color: rgb(70, 70, 70);
@numberinput-dark-icon-color: white;

.theme-dark {
  .numberinput {
    button {
      border-color: @textfield-dark-border-color;
      .gradient(@numberinput-dark-gradient-start-color, @numberinput-dark-gradient-end-color);

      &.increment,
      &.decrement {
        &, &:before {
          color: fade(@numberinput-dark-icon-color, 80%);
        }  
      }

      &:hover {
        background-color: rgb(85, 85, 85);
        border-color: @textfield-dark-border-color;
      }

      &:active {
        background-color: rgb(65, 65, 65);
        border-color: @textfield-dark-border-color;
      }

      &[disabled] {
        background: none;
        background-color: @textfield-dark-disabled-background-color;
        border-color: @textfield-dark-disabled-border-color;

        &, &:before {
          color: fade(@numberinput-dark-icon-color, 15%);
        }
      }
    }
  } 
}
