/**
  Element: number input
*/

.numberinput {

  .component-single-line;

  .clearfix();

  position: relative;
  width: 172*@px;
  min-width: 110*@px;
  height: @component-single-line-height;

  input {

    position: absolute;

    left: 33*@px; // accomodates the left button
    right: 33*@px; // accomodates the right button

    min-width: 0; // 54*@px;
    .calc-width(~"100% -" 66*@px); // FF needs this value to be specified.

    &:focus  {
      // brings the border to the front
      z-index: 1;
    }
  }

  button {
    position: absolute;

    margin: 0;
    padding: 0;
    border-color: @textfield-border-color;

    text-shadow: none;

    .gradient(rgb(255, 255, 255), rgb(240, 240, 240));

    // allows the border to be rendered in front
    &:focus {
      z-index: 1;
    }

    &:hover {
      background: none;
      background-color: rgb(255, 255, 255);
      border-color: @textfield-border-color;
    }

    &:active {
      background: none;
      background-color: rgb(230, 230, 230);
      border-color: @textfield-border-color;
      .box-shadow(inset 0 0 4*@px rgba(0, 0, 0, 0.08));
    }

    &.decrement {
      .icon-minus;
      .icon-small;
      .hide-inner-text;

      left: 0;

      min-width: 34*@px; // takes into account the 2px in stroke
      max-width: 34*@px;
      min-height: 38*@px;
      max-height: 38*@px;
      line-height: 38*@px;
    }

    &.increment {
      .icon-add;
      .icon-small;
      .hide-inner-text;

      right: 0;

      min-width: 34*@px; // takes into account the 2px in stroke
      max-width: 34*@px;
      min-height: 38*@px;
      max-height: 38*@px;
      line-height: 38*@px;
    }

    &[disabled] {
      background: none;
      background-color: @textfield-disabled-background-color;
      border-color: @textfield-disabled-border-color;
    } 
  }

  // invalid and error have to be separated
  // the combined selector will break in IE 9
  &:invalid  {

    button,
    input {
      border-color: @textfield-error-border-color !important;
    }

    input {
      color: @textfield-error-font-color !important;
    }

    input:focus {
      .glow(6*@px, @textfield-error-border-color, @textfield-error-border-color);
    }

    button:before {
      color: @textfield-error-font-color !important;
      opacity: 1;
    }
  }


  &.error {
  //, &:invalid  {

    button,
    input {
      border-color: @textfield-error-border-color !important;
    }

    input {
      color: @textfield-error-font-color !important;
    }

    input:focus {
      .glow(6*@px, @textfield-error-border-color, @textfield-error-border-color);
    }

    button:before {
      color: @textfield-error-font-color !important;
      opacity: 1;
    }
  }
}

form.vertical {
  .numberinput.field {
    display: block;
    width: 100%;
  }
}
