<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CoralUI Shell</title>

    <link rel="stylesheet" href="../../css/cui.css">

    <script src="../../js/libs/jquery.js"></script>
    <script src="../../js/libs/jquery-reflow.js"></script>
    <script src="../../js/libs/toe.js"></script>
    <script src="../../js/libs/moment.js"></script>

    <script src="../../js/CUI.js"></script>

    <script src="../../js/libs/jquery-gridlayout.js"></script>
    <script src="scripts/shell.js"></script>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no">
</head>

<body class="desktop">

    <header class="top">
        <div class="logo">
          <a href="/">
            <i class="icon-marketingcloud medium">Coral UI</i>
          </a>
        </div>
        <nav class="crumbs">
            <a href="#">Adobe Marketing Cloud</a>
            <a href="#" class="selected">Websites</a>
        </nav>
        <div class="drawer">
            <a href="#">Help</a>
            <div class="badge">10</div>
            <a class="icon-user" href="#user_dialog" data-toggle="modal"><span>User</span></a>
        </div>
    </header>

    <div class="page" role="main">

        <div id="main-rail" class="rail left">
            <div class="wrap">

                <div class="rail-switch">
                    <nav class="toolbar icongroup">
                        <a href="#" data-view="feature"><i class="icon-compass">Navigation</i></a>
                        <a href="#" data-view="filter" class="active"><i class="icon-filter">Filter</i></a>
                        <a href="#" data-view="activity"><i class="icon-clock">Timeline</i></a>
                        <a href="#" data-view="presets"><i class="icon-colorpalette">Presets</i></a>

                    </nav>
                </div>

                <div class="rail-view" data-view="feature">
                    <nav class="feature">
                        <a href="#Files">Files</a>
                        <a href="#Collections" class="active">Assets</a>
                        <span class="sub-navigation"><a href="/collections">Collections</a></span>
                        <span class="sub-navigation"><a href="/collections">Sub Navigation</a></span>
                        <a href="#Users">Users</a>
                        <a href="#Tools">Tools</a>
                        <a href="#Settings">Settings</a>
                    </nav>
                </div>
                
                <div class="rail-view active group" data-view="filter">
                    <div class="search">
                        <label for="q1" class="hidden-accessible">Search</label>
                        <input type="text" placeholder="Enter Keyword(s)" autocomplete="off" name="q" id="q1">
                        <button type="submit" class="icon-search">Search</button>
                    </div>
                    
                    <section>
                        <span class="heading">Datepicker</span>
                        <div class="datepicker onTime" data-init="datepicker" style="margin:8px 10px;">
                            <input type="date" name="2_daterange.lowerBound" placeholder="Start Date" value="">
                            <button class="icon-calendar small">Start Date</button>
                        </div>
                    </section>

                    <div class="dropdown menu" data-init="dropdown" data-nowidth="true">
                        <button>Dropdown Menu in Rail</button>
                        <select name="dropdown">
                            <option>Option One</option>
                            <option>Option Two</option>
                            <option>Option Three</option>
                        </select>
                    </div>

                    <div style="margin:8px 10px;">
                        <div class="dropdown" data-init="dropdown">
                            <button>Dropdown in Rail</button>
                            <select name="dropdown">
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                                <option>Option Four</option>
                            </select>
                        </div>

                    </div>

                    <section class="foldable open">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c1">
                                    <input type="checkbox" checked="checked" id="c1" name="c1"><span class="image">All Assets&nbsp;<b>92</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c2">
                                    <input type="checkbox" checked="checked" id="c2" name="c2"><span class="image">Current Directory&nbsp;<b>38</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>
                    <section class="foldable open">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c3">
                                    <input type="checkbox" checked="checked" id="c3" name="c3"><span class="image">Active&nbsp;<b>15</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c4">
                                    <input type="checkbox" checked="checked" id="c4" name="c4"><span class="image">Review&nbsp;<b>11</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c5">
                                    <input type="checkbox" checked="checked" id="c5" name="c5"><span class="image">Pending Review&nbsp;<b>8</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>
                    <section class="foldable">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c6">
                                    <input type="checkbox" checked="checked" id="c6" name="c6"><span class="image">Image&nbsp;<b>82</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c7">
                                    <input type="checkbox" checked="checked" id="c7" name="c7"><span class="image">Movie&nbsp;<b>32</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c8">
                                    <input type="checkbox" checked="checked" id="c8" name="c8"><span class="image">Document&nbsp;<b>23</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>
                    <section class="foldable">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c9">
                                    <input type="checkbox" checked="checked" id="c9" name="c9"><span class="image">Global&nbsp;<b>10</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c10">
                                    <input type="checkbox" checked="checked" id="c10" name="c10"><span class="image">Europe&nbsp;<b>16</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>
                    <section class="foldable">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c11">
                                    <input type="checkbox" checked="checked" id="c11" name="c11"><span class="image">Active&nbsp;<b>15</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c12">
                                    <input type="checkbox" checked="checked" id="c12" name="c12"><span class="image">Review&nbsp;<b>11</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c13">
                                    <input type="checkbox" checked="checked" id="c13" name="c13"><span class="image">Pending Review&nbsp;<b>8</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>
                    <section class="foldable">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c14">
                                    <input type="checkbox" checked="checked" id="c14" name="c14"><span class="image">Image&nbsp;<b>82</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c15">
                                    <input type="checkbox" checked="checked" id="c15" name="c15"><span class="image">Movie&nbsp;<b>32</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c16">
                                    <input type="checkbox" checked="checked" id="c16" name="c16"><span class="image">Document&nbsp;<b>23</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>
                    <section class="foldable">
                        <span class="heading">Accordion open</span>
                        <ul class="notype checklist fold">
                            <li>
                                <label for="c17">
                                    <input type="checkbox" checked="checked" id="c17" name="c17"><span class="image">Global&nbsp;<b>10</b></span>
                                </label>
                            </li>
                            <li>
                                <label for="c18">
                                    <input type="checkbox" checked="checked" id="c18" name="c18"><span class="image">Europe&nbsp;<b>16</b></span>
                                </label>
                            </li>
                        </ul>
                    </section>

                </div>

                <div class="rail-view" data-view="activity">
                    <div class="search">
                        <label for="q2" class="hidden-accessible">Search</label>
                        <input type="text" placeholder="Enter Keyword(s)" autocomplete="off" name="q" id="q2">
                        <button type="submit" class="icon-search">Search</button>
                    </div>
                    <div class="dropdown menu" data-init="dropdown">
                        <button>Dropdown Menu in Rail</button>
                        <select name="dropdown">
                            <option>Option One</option>
                            <option>Option Two</option>
                            <option>Option Three</option>
                        </select>
                    </div>                    
                </div>

                <div class="rail-view" data-view="presets">     
                    <section>
                        <span class="heading">Presets</span>
                    </section>                         
                </div>

                
                
            </div>
        </div>

        <div class="content">
            <nav class="toolbar content-header" data-init="toolbar">
                <div class="left icongroup">
                    <button type="button" title="Toggle Rail" class="foundation-admin-rail-toggle icon-navigation">Toggle Rail</button>
                    <span class="divider"></span>
                    <!-- please keep the IDs intact! -->
                    <button id="selection-mode" type="button" class="icon-check-circle" title="Enter Selection Mode">Enter Selection Mode</button>
                    <button type="button" class="icon-edit" title="Edit"></button>
                    <button type="button" class="icon-note" title="Annotate"></button>
                    <a href="#downloadasset" class="icon-download" title="Download">Download</a>
                    <button type="button" class="icon-info-circle" title="View Properties"></button>
                    <input class="button icon-upload" type="file" data-upload-url="to_be_defined" name="file" title="Upload Assets" data-init="fileupload">
                </div>
                <div class="right icongroup">
                    <button id="display-mode" class="icon-viewlist" type="button" title="Show as List">List Layout</button>
                </div>
                <div class="center">
                    <nav data-init="pulldown" class="pulldown">
                        <a href="#">English Geometrixx Outdoors - Extremely Long Title That Almost Never Ends - Hello World Blablablah</a>
                        <div class="popover arrow-top" style="display: none;">
                            <ul>
                                <li><a href="/sites.html/content/geometrixx-outdoors"><i class="icon-folder withLabel"></i>Geometrixx Outdoors Site</a></li>
                                <li><a href="/sites.html/content"><i class="icon-folder withLabel"></i>Sites</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </nav>
            
            <!-- The Grid -->
            <div class="grid content-container">
                <div class="grid-0">

                    <!-- Default -->
                    <article class="card-default">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image">
                                <img class="show-grid" src="images/previews/preview7.png" alt="">
                                <img class="show-list" src="images/previews/preview-small.png" alt="">
                            </span>
                            <div class="label">
                                <h4>#1 Default Card</h4>
                                <p>Description<span class="show-list"> (not styled for list view)</span></p>
                            </div>
                        </a>
                    </article>

                    <!-- Page header for list view -->
                    <header class="card-page selectable movable">
                        <i class="select"></i>
                        <span class="image"></span>
                        <div class="label">
                            <div class="main" data-sort-selector=".label h4">Title</div>
                            <div class="published" data-sort-selector=".label .published .date" data-sort-attribute="data-timestamp" data-sort-type="numeric">Published</div>
                            <div class="modified" data-sort-selector=".label .modified .date" data-sort-attribute="data-timestamp" data-sort-type="numeric">Modified</div>
                            <div class="links" data-sort-selector=".label .links-number" data-sort-type="numeric"><i class="icon-arrowright">Links</i></div>
                        </div>
                    </header>

                    <!-- Page -->
                    <article class="card-page">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4 class="main">#2 Page Title</h4>
                                <div class="info">
                                    <p class="published"><i class="icon-globe">Published</i> <span class="date" data-timestamp="12">12 hours ago</span> <span class="user">Alison Parker</span></p>
                                    <p class="modified"><i class="icon-edit">Modified</i> <span class="date" data-timestamp="2">2 days ago</span> <span class="user">John Doe</span></p>
                                    <p class="links"><i class="icon-arrowright">Link</i> <span class="links-number">3</span></p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Page (with sub pages and all kind of info) -->
                    <article class="card-page stack">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <div class="main">
                                    <h4>#3 Page Title (with sub-pages)</h4>
                                    <p class="info-approved">Approve</p>
                                    <p class="info-locked">Locked</p>
                                    <p class="info-copy">Launch</p>
                                </div>
                                <div class="info">
                                    <p class="published"><i class="icon-globe">Published</i> <span class="date" data-timestamp="15">15 hours ago</span> <span class="user">Alison Parker</span></p>
                                    <p class="modified"><i class="icon-edit">Modified</i> <span class="date" data-timestamp="3">3 days ago</span> <span class="user">John Doe</span></p>
                                    <p class="links"><i class="icon-arrowright">Link</i> <span class="links-number">4</span></p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Page (hidden) -->
                    <article class="card-page page-hidden">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4 class="main">#4 Page (hidden)</h4>
                                <div class="info">
                                    <p class="published"><i class="icon-globe">Published</i> <span class="date" data-timestamp="10">10 hours ago</span> <span class="user">Alison Parker</span></p>
                                    <p class="modified"><i class="icon-edit">Modified</i> <span class="date" data-timestamp="4">4 days ago</span> <span class="user">John Doe</span></p>
                                    <p class="links"><i class="icon-arrowright">Link</i> <span class="links-number">5</span></p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Asset header for list view -->
                    <header class="card-asset selectable movable">
                        <i class="select"></i>
                        <span class="image"></span>
                        <div class="label">
                            <div class="main">Title</div>
                            <div class="type"></div>
                            <div class="resolution">Resolution</div>
                            <div class="size">Size</div>
                            <div class="modified">Modified</div>
                            <div class="links"><i class="icon-arrowright">Links</i></div>
                            <div class="comments"><i class="icon-comment">Comments</i></div>
                        </div>
                    </header>

                    <!-- Asset -->
                    <article class="card-asset unselectable">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="javascript:alert('Navigate');">
                            <span class="image">
                                <img class="show-grid" src="images/previews/preview1.png" alt="">
                                <img class="show-list" src="images/previews/preview-small.png" alt="">
                            </span>
                            <div class="label">
                                <h4>#5 Asset - unselectable</h4>
                                <p class="type">PSD</p>
                                <p class="resolution">1220 x 400</p>
                                <p class="size">149KB</p>
                                <div class="info">
                                    <p class="modified"><i class="icon-edit">Modified</i> <span class="date">2 days ago</span> <span class="user">John Doe</span></p>
                                    <p class="links"><i class="icon-link">Links</i> 8</p>
                                    <p class="comments"><i class="icon-comment">Comments</i> 12</p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Asset with small image -->
                    <article class="card-asset">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image low-resolution">
                                <img src="images/previews/preview-small.png" alt="">
                            </span>
                            <div class="label">
                                <h4>#6 Asset Name (with small image)</h4>
                                <p class="type">PSD</p>
                                <p class="resolution">1220 x 400</p>
                                <p class="size">149KB</p>
                                <div class="info">
                                    <p class="modified"><i class="icon-edit">Modified</i> <span class="date">2 days ago</span> <span class="user">John Doe</span></p>
                                    <p class="links"><i class="icon-link">Links</i> 8</p>
                                    <p class="comments"><i class="icon-comment">Comments</i> 12</p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Asset with small image that is upscaled (just for testing) -->
                    <article class="card-asset">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image">
                                <img class="show-grid" src="images/previews/preview-small.png" alt="">
                                <img class="show-list" src="images/previews/preview-small.png" alt="">
                            </span>
                            <div class="label">
                                <h4>#7 Asset Name (with upscaled image)</h4>
                                <p class="type">PSD</p>
                                <p class="resolution">1220 x 400</p>
                                <p class="size">149KB</p>
                                <div class="info">
                                    <p class="modified"><i class="icon-edit">Modified</i> <span class="date">2 days ago</span> <span class="user">John Doe</span></p>
                                    <p class="links"><i class="icon-link">Links</i> 8</p>
                                    <p class="comments"><i class="icon-comment">Comments</i> 12</p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Asset that is being uploaded -->
                    <article class="card-asset uploading">
                        <i class="select"></i>
                        <i class="move"></i>
                        <div class="card">
                            <div class="progress-bar">
                                <div class="progress">
                                    <div class="bar" style="width: 40%;"></div>
                                </div>
                                <i class="cancel"></i>
                            </div>
                            <div class="label">
                                <h4>#8 surfer.png</h4>
                                <p>Uploading&hellip;</p>
                            </div>
                        </div>
                    </article>

                    <!-- Directory -->
                    <article class="card-directory">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image">
                                <img class="show-grid" src="images/previews/preview8.png" alt="">
                                <i class="show-list icon-folder">Directory</i>
                            </span>
                            <div class="label">
                                <h4>#9 Directory Name</h4>
                            </div>
                        </a>
                    </article>

                    <!-- Collection with details -->
                    <article class="card-collection stack">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image">
                                <img class="show-grid" src="images/previews/preview7.png" alt="">
                                <img class="show-list" src="images/previews/preview-small.png" alt="">
                            </span>
                            <div class="label">
                                <h4>#10 Collection Name (with details)</h4>
                                <div class="info">
                                    <p class="links"><i class="icon-link">Links</i> 8</p>
                                    <p class="comments"><i class="icon-comment">Comments</i> 12</p>
                                </div>
                            </div>
                        </a>
                    </article>

                    <!-- Collection with description -->
                    <article class="card-collection stack">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4>#11 Collection Name (with description)</h4>
                                <p>Collection</p>
                            </div>
                        </a>
                    </article>

                    <!-- Project -->
                    <article class="card-project stack">
                        <i class="select"></i>
                        <i class="move"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4>#12 Project Name</h4>
                                <p>Project</p>
                            </div>
                         </a>
                    </article>

                    <!-- Page header for list view (testing version without selectable and movable classes) -->
                    <header class="card-page">
                        <span class="image"></span>
                        <div class="label">
                            <div class="main">Title</div>
                            <div class="published">Published</div>
                            <div class="modified">Modified</div>
                            <div class="links"><i class="icon-arrowright">Links</i></div>
                        </div>
                    </header>

                    <!-- Default (minimal card markup, just for testing - WARNING: not suited for list view!) -->
                    <article class="card-default">
                        <i class="select"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview7.png" alt=""></span>
                            <div class="label">
                                <h4>#13 Default Card (minimal markup<span class="show-list">, not suited for list view</span>)</h4>
                            </div>
                        </a>
                    </article>

                    <!-- Page (minimal card markup - WARNING: not suited for list view!) -->
                    <article class="card-page stack">
                        <i class="select"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4>#14 Website (minimal markup<span class="show-list">, not suited for list view</span>)</h4>
                            </div>
                        </a>
                    </article>


                    <!-- Asset (minimal card markup - WARNING: not suited for list view!) -->
                    <article class="card-asset">
                        <i class="select"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4>#15 Asset Name (minimal markup<span class="show-list">, not suited for list view</span>)</h4>
                            </div>
                        </a>
                    </article>

                    <!-- Directory (minimal card markup - WARNING: not suited for list view!) -->
                    <article class="card-directory">
                        <i class="select"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview8.png" alt=""></span>
                            <div class="label">
                                <h4>#16 Directory (minimal markup<span class="show-list">, not suited for list view</span>)</h4>
                            </div>
                        </a>
                    </article>

                    <!-- Collection (minimal card markup - WARNING: not suited for list view!) -->
                    <article class="card-collection stack">
                        <i class="select"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4>#17 Collection (minimal markup<span class="show-list">, not suited for list view</span>)</h4>
                            </div>
                        </a>
                    </article>

                    <!-- Project (minimal card markup - WARNING: not suited for list view!) -->
                    <article class="card-project stack">
                        <i class="select"></i>
                        <a href="#">
                            <span class="image"><img src="images/previews/preview1.png" alt=""></span>
                            <div class="label">
                                <h4>#18 Project (minimal markup<span class="show-list">, not suited for list view</span>)</h4>
                            </div>
                         </a>
                    </article>
                </div>
            </div>
        </div><!-- /content -->
    </div><!-- /page -->
</body>
</html>
