/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$colorinput-swatch-button-icon-color = var(--spectrum-light-alias-icon-color-over-background);
$colorinput-button-icon-color = var(--spectrum-light-alias-icon-color);

._coral-ColorInput-propertiesSubview {
  border-right-color: $colorinput-propertiessubview-border;
}

._coral-ColorInput-swatch {
  &[selected] button {
    ._coral-Icon {
      color: $colorinput-swatch-button-icon-color;
    }

    &._coral-ColorInput-swatch-novalue {
      ._coral-Icon {
        color: $colorinput-button-icon-color;
      }
    }
  }
}

._coral-ColorInput-preview {
  &:disabled, &[disabled] {
    background-color: transparent;
  }
}

._coral-ColorInput--novalue ._coral-ColorInput-preview {
  &:disabled, &[disabled] {
    background-image: svgImport($colorinput-blank-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: white;
  }
}

._coral-ColorInput-swatch-novalue:hover {
  background-color: transparent;
}
