script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Wait,
      fields: [
        {
          label: 'Size',
          prop: 'size',
          type: 'select',
          value: 'S',
          options: {
            'Small': 'S',
            'Medium': 'M',
            'Large': 'L'
          }
        },
        {
          label: 'Variant',
          prop: 'variant',
          type: 'select',
          value: 'default',
          options: {
            'Default': 'default',
            'Dots': 'dots'
          }
        },
        {
          label: 'is centered',
          prop: 'centered',
          type: 'checkbox',
          value: false
        }
      ]
    }).insertAfterLastScript();
  }
