p.
  Wait is used as to indicate a process that is in-progress for an indefinite amount of time. When the time is known,
  <code><a class="coral-Link" href="Coral.Progress.html">&lt;coral-progress&gt;</a></code> should be used instead.

include configurator
include jsdoc
