._coral-FileUpload {
  display: inline-block;
}

// The input can't have display: none as we need to focus on it for accessibility
._coral-FileUpload-input {
  position: absolute;
  overflow: hidden;
  opacity: 0;

  &.is-unselectable {
    pointer-events: none;
  }
}
