 // Selector

@selector-border-color: rgb(172, 172, 172);
@selector-gradient-start-color: rgb(245, 245, 245);
@selector-gradient-end-color: rgb(235, 235, 235);
@selector-disabled-color: rgb(220, 220, 220);


.selector {
  display: inline-block;

  .border-box;
  vertical-align: top; // used to align them correctly in forms.
  margin: 2*@px 0;  // resets default margin

  font-size: 0; // fights the space between inline block elements

  label {
    line-height: 36*@px;
    min-width: 50*@px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0;
    cursor: pointer;

    span {
      width: 100%;
      padding: 0 10*@px;
      .border-box;
      .gradient(@selector-gradient-start-color, @selector-gradient-end-color);

      &:hover {
        .gradient(@selector-gradient-start-color, @selector-gradient-start-color);
      }
      
      &:active {
      	.box-shadow(inset 0 0 0.5rem rgba(0, 0, 0, 0.25));
      }

      border: @px solid @selector-border-color;
      border-left: none;
    }
    &:first-child span {
      border-left: @px solid @selector-border-color;
    }

    input + span:before {
      display: none; // to overwrite default checkbox / radio button
    }
    input[type=checkbox],
    input[type=radio] {
      width: 1px;
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      margin-bottom: -1px;

      &:checked + span {
        .box-shadow(inset 0 0 0.5rem rgba(0, 0, 0, 0.25));
        filter: none !important; // prevents ie9 filter from overriding box-shadow
      }

      // Focused
      &:focus + span {
        .gradient(@selector-gradient-start-color, @selector-gradient-start-color);
        position: relative;
        z-index: 1;
      }

      &:disabled + span {
        opacity: 0.5;
        .gradient(@selector-gradient-start-color, @selector-gradient-start-color);
      }
    }
  }
}

form.vertical {
  .selector.field {
    display: block;
  }
}

form.aligned {
  .selector.field {
    float: left;
  }
}
