<div data-rte-dialog="link" class="popover rte-dialog">
    <div class="rte-dialog-column-container">
        <div class="rte-dialog-column">
            <input type="text" data-type="href" value="">
        </div>
        <div class="rte-dialog-column">Open in new tab:</div>
        <div class="rte-dialog-column"><label><input type="radio" name="targetBlank" value="true" data-type="targetBlank"><span></span>Yes</label></div>
        <div class="rte-dialog-column"><label><input type="radio" name="targetBlank" value="false" data-type="targetBlank" checked><span></span>No</label></div>
        <div class="rte-dialog-column">
            <button type="button" data-type="apply" tabindex="-1" class="dialog-button icon-check small white"></button>
        </div>
        <div class="rte-dialog-column">
            <button type="button" data-type="cancel" tabindex="-1" class="dialog-button icon-close small white"></button>
        </div>
    </div>
</div>
