div.editable {
    cursor: text;
}

div.edited {
    background-color: #ffffff;
}

.userSelect(@type) {
    -webkit-user-select: @type;
    -khtml-user-select: @type;
    -moz-user-select: @type;
    -ms-user-select: @type;
    user-select: @type;
}

.rte-button() {

    background-color: #454545;
    background-image: none;
    vertical-align: top;
    pointer-events: auto;

    &:before {
        color: #b4b4b4;
        opacity: 1;
        font-size: medium;
    }

    &:hover:before {
        color: #ffffff;
    }

    &:active:before {
        color: #4097dc;
    }

    &.item {
        min-width: 60*@px;
        width: 60*@px;
        height: 44*@px;
        background-color: #454545;
        background-image: none;
        padding: 0;
        border: 0;
        margin: 0;
    }

    &.selected {
        background-color: #373737;
        color: #ffffff;
    }

    &.disabled:before {
        color: #b4b4b4;
        opacity: 0.2;
    }

    &.triggered:before {
        color: #4097dc !important;
        opacity: 1 !important;
    }

    &.trigger {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjOTA5MDkwIiBwb2ludHM9IjQsNCAwLDQgNCwwICIvPjwvc3ZnPg==') !important;
        background-repeat: no-repeat !important;
        background-position: 100% 100% !important;

        &:before {
            color: #b4b4b4;
            opacity: 1;
        }

        &.multi-select {
            &.items-selected {
                background-color: #2b2b2b;
                &:before {
                    color: #b4b4b4;
                    opacity: 1;
                }
            }
        }
    }

    &.modechanger {
        background-color: #000000;
    }

    /* reset gradient filter on IE */

    &,
    &:hover,
    &:active {
        filter: none;
    }

}

.rte-toolbar {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d4d4d;
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 10000;
    font-size: 0;   /* fixes additional space between buttons because of linefeeds */
    .userSelect(none);
    -webkit-touch-callout: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

    &.active {
        display: block;
    }

    .separator {
        background-color: #343434;
        width: 1*@px;
        min-width: 1*@px;
        height: 44*@px;
        display: inline-block;
    }

    button {
        .rte-button;
    }

}

.rte-popover {

    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
    .userSelect(none);
    -webkit-touch-callout: none;

    button {
        .rte-button;
    }

}

.rte-dialog {

    position: absolute;
    background-color: #454545;
    top: 0;
    left: 0;
    z-index: 10001;
    .userSelect(none);
    -webkit-touch-callout: none;
    pointer-events: auto;
    padding-left: 6*@px;
    padding-right: 6*@px;

    div.rte-dialog-column-container {
        display: table;
        padding: 2*@px;
        font-size: 0;
    }

    div.rte-dialog-column {
        color: #c7c7c7;
        font-weight: normal;
        font-size: 14*@px;
        display: table-cell;
        vertical-align: middle;
        padding: 4*@px;
    }

    .pathbrowser input[type=text] {
        margin: 0;
    }

    input[type=text].dark,
    input[type=password].dark,
    input[type=email].dark,
    input[type=url].dark,
    input[type=tel].dark {
        background-color: #404040;
        color: #c7c7c7;
        border-color: #2c2c2c;
        height: 38*@px;
    }

    button.dialog-button {
        vertical-align: top;
        min-width: 38*@px;
        width: 38*@px;
        height: 38*@px;
        color: #cecece;
        background-color: #2b2b2b;

        background: #454545; /* old browsers */
        background-image: -webkit-linear-gradient(#545454 1%, #454545 99%); /* WebKit */
        background-image: -moz-linear-gradient(top, #545454 1%, #454545 99%); /* FF3.6+ */
        background-image: -o-linear-gradient(top, #545454 1%, #454545 99%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top, #545454 1%, #454545 99%); /* IE10+ */
        background-image: linear-gradient(top, #545454 1%, #454545 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#454545', GradientType=0); /* IE < 10 */

        padding: 0;
        border: 1*@px;
        border-style: solid;
        border-color: #1d1d1d;
        margin: 0;
        pointer-events: auto;

        &.selected {
            background-color: #151515;
            color: #d0d0d0;
        }

        &.disabled {
            color: #eeeeee;
            opacity: 0.4;
        }

        &.triggered:before {
            color: #4097dc !important;
        }

        &.trigger {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjQ0NDQ0NDIiBwb2ludHM9IjQsNCAwLDQgNCwwICIvPjwvc3ZnPg==') !important;
            background-repeat: no-repeat !important;
            background-position: 100% 100% !important;
        }

        &.white {
            &:before {
                opacity: 1.0 !important;
            }
        }

        &:before {
            text-shadow: 0 -0.0625rem 0 rgba(0, 0, 0, 0.6);
        }

        &.primary {
            border: 1*@px;
            border-style: solid;
            border-color: #002341;
        }

    }

}

.rte-dialog-mask {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    opacity: 0.0;
    pointer-events: auto;
}

.cui-rte-forcedborder,
.cui-rte-forcedborder TD,
.cui-rte-forcedborder TH {
    border: 1*@px dotted #d3d3d3;
}