+document-section('JavaScript Examples')

  +document-subsection('Getting Values')
    +markup-example()
      #checkboxWithValue
      h3.coral-Heading.coral-Heading--3
      output(id='exampleValue', name='kitten disposition', for='wantsKittens')
      script(type='text/javascript').
        var checkbox = document.createElement('coral-checkbox');
        checkbox.id = 'wantsKittens'
        checkbox.label.innerHTML = 'Kittens?';
        checkbox.value = 'Kittens!';
        var exampleDiv = document.getElementById('checkboxWithValue');
        checkbox.on('change', function setKittenDisposition(event) {
          var result = event.currentTarget.checked ? "Yes " : "No ";
          result += event.currentTarget.value;
          document.getElementById('exampleValue').value = result;
        });
        exampleDiv.appendChild(checkbox);

  +document-subsection('Tri-State Cycling')
    +markup-example()
      #triStateCheckboxExample
      script(type='text/javascript').
        var checkbox = document.createElement('coral-checkbox');
        checkbox.label.innerHTML = 'Cycle States by Clicking Me';
        var exampleDiv = document.getElementById('triStateCheckboxExample');
        exampleDiv.appendChild(checkbox);

        var state = 0;
        checkbox.on('change', function handleChanged(event) {
          state++;
          switch(state) {
            case 1:
              checkbox.checked = true;
              checkbox.indeterminate = false;
              break;
            case 2:
              checkbox.checked = true;
              checkbox.indeterminate = true;
              break;
            case 3:
              checkbox.checked = false;
              checkbox.indeterminate = false;
              state = 0;
              break;
          }
        });
