<js>
  var closeLabel = Coral.i18n.get('Close');
</js>
<div class="coral3-Dialog-header coral3-Popover-header" handle="headerWrapper">
  <coral-icon handle="icon" size="S" class="coral3-Dialog-typeIcon"></coral-icon>
  <div handle="headerContent" class="coral3-Dialog-title coral-Heading coral-Heading--2" role="heading" aria-level="2"></div>
  <button handle="closeButton" class="coral3-Dialog-closeButton" type="button" is="coral-button" variant="minimal" icon="close" iconsize="XS" aria-label="{{closeLabel}}" title="{{closeLabel}}" coral-close></button>
</div>
<div class="coral3-Popover-content" handle="contentWrapper"></div>
