/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */

@require '@adobe/spectrum-css/dist/components/tooltip/index.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/darkest.css';

._coral-Tooltip {
  transition: opacity 130ms ease-in-out, visibility 0ms linear 130ms;
}
