@require '@adobe/spectrum-css/dist/components/tooltip/index.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/tooltip/multiStops/darkest.css';

._coral-Tooltip {
  transition: opacity 130ms ease-in-out, visibility 0ms linear 130ms;
}
