/**
Element: .datepicker
Dark theme specification for the datepicker.
*/

@datepicker-dark-border-color: rgb(45, 45, 45);

@datepicker-dark-gradient-start-color: rgb(70, 70, 70);
@datepicker-dark-gradient-end-color: rgb(85, 85, 85);

@datepicker-dark-disabled-border-color: rgb(65, 65, 65);
@datepicker-dark-disabled-background-color: rgb(80, 80, 80);

.theme-dark {
  .datepicker {
    > button {
      &,
      &:hover,
      &:active,
      &:disabled {
        border-color: @datepicker-dark-border-color;
        .gradient(@datepicker-dark-gradient-start-color, @datepicker-dark-gradient-end-color);
      }

      &:disabled {
        border-color: @datepicker-dark-disabled-border-color;
        .gradient(@datepicker-dark-disabled-background-color, @datepicker-dark-disabled-background-color);
      }
    }
  }
}
