<js>
  var buttonId = data.commons.getUID();
  var listId = data.commons.getUID();
</js>
<button tracking="off" variant="_custom" iconposition="right" handle="button" type="button" is="coral-button" aria-haspopup="listbox" id="{{buttonId}}" aria-controls="{{listId}}" aria-expanded="false" class="_coral-FieldButton _coral-Dropdown-trigger">
  <coral-button-label class="_coral-Dropdown-label" handle="label">&#x200b;</coral-button-label>
  <coral-icon icon="alert" hidden handle="invalidIcon" class="_coral-Dropdown-invalidIcon" alt="{{data.i18n.get('invalid')}}"></coral-icon>
</button>
<js>
  // Don't wait for button MO to pick up the label
  this.button._elements.label = this.label;
  // Render invalid icon
  this.button.insertAdjacentHTML('beforeend', data.Icon._renderSVG('spectrum-css-icon-ChevronDownMedium', ['_coral-Dropdown-icon', '_coral-UIIcon-ChevronDownMedium']));
</js>
<coral-popover withinoffset="0" tracking="off" class="_coral-Select-overlay" smart id="{{data.commons.getUID()}}" handle="overlay" placement="bottom" focusonshow="coral-selectlist" role="presentation">
  <js>
    // Constrains the size of the list to 6 items.
    // @todo move this to theme
    var maxHeight = 'max-height:' + (32 * 6) + 'px';
  </js>
  <coral-selectlist tracking="off" style="{{maxHeight}}" handle="list" role="listbox" id="{{listId}}"></coral-selectlist>
</coral-popover>
<input handle="input" type="hidden">
<select handle="nativeSelect" class="_coral-Dropdown-select" tabindex="-1"></select>
<coral-taglist tracking="off" handle="taglist" class="_coral-Dropdown-tagList"></coral-taglist>
