p.
  A <code>Coral.WizardView</code> is the wrapping container used to create a tabbed UI element.  This is intended to be used with a <code>Coral.StepList</code> and a <code>Coral.PanelStack</code> to create the typical 'Wizard' pattern.
