+document-section("Wizard Pattern Example")
  p.
    Here is an example of how create a UI 'wizard' in CoralUI. This requires a
    <code>Coral.WizardView</code> container, which holds a <code>Coral.StepList</code>
    and a <code>Coral.PanelStack</code>.

  label.coral-Form-fieldlabel Markup Example
  +example-pre-only()
    | <coral-wizardview>
    |   <coral-steplist coral-wizardview-steplist interaction="on">
    |     <coral-step>Step 1</coral-step>
    |     <coral-step>Step 2</coral-step>
    |     <coral-step>Step 3</coral-step>
    |     <coral-step>Step 4</coral-step>
    |   </coral-steplist>
    |   <coral-panelstack coral-wizardview-panelstack>
    |     <coral-panel class="coral-Well">
    |       This is the content of the first step.
    |       <button is="coral-button" variant="primary" coral-wizardview-next>
    |           Next
    |       </button>
    |     </coral-panel>
    |     <coral-panel class="coral-Well">
    |       This is the content of the second step.
    |       <button is="coral-button" variant="primary" coral-wizardview-previous>
    |           Previous
    |       </button>
    |       <button is="coral-button" variant="primary" coral-wizardview-next>
    |           Next
    |       </button>
    |     </coral-panel>
    |     <coral-panel class="coral-Well">
    |       This is the content of the third step.
    |       <button is="coral-button" variant="primary" coral-wizardview-previous>
    |           Previous
    |       </button>
    |       <button is="coral-button" variant="primary" coral-wizardview-next>
    |           Next
    |       </button>
    |     </coral-panel>
    |     <coral-panel class="coral-Well">
    |       This is the content of the fourth step.
    |       <button is="coral-button" variant="primary" coral-wizardview-previous>
    |           Previous
    |       </button>
    |     </coral-panel>
    |   </coral-panelstack>
    | </coral-wizardview>

  label.coral-Form-fieldlabel Result
  .gettingStarted-Example.u-columnLarge
    coral-wizardview.u-coral-clearFix(style="border: 1px solid #CCC; padding: 1rem;")
      coral-steplist(interaction="on" coral-wizardview-steplist)
        coral-step Step 1
        coral-step Step 2
        coral-step Step 3
        coral-step Step 4
      coral-panelstack(coral-wizardview-panelstack)
        coral-panel
          p This is the content of the first step.
          p.clear
            button(is="coral-button" variant="primary" style="float:right" coral-wizardview-next) Next
        coral-panel
          p This is the content of the second step.
          p
            button(is="coral-button" variant="primary" coral-wizardview-previous) Previous
            button(is="coral-button" variant="primary" style="float:right" coral-wizardview-next) Next
        coral-panel
            p This is the content of the third step.
            p
              button(is="coral-button" variant="primary" coral-wizardview-previous) Previous
              button(is="coral-button" variant="primary" style="float:right" coral-wizardview-next) Next
        coral-panel
          p This is the content of the fourth step.
          p
            button(is="coral-button" variant="primary" coral-wizardview-previous) Previous

  p.
    Also see <a href="Coral.StepList" class="coral-Link">Coral.StepList</a> and <a href="Coral.PanelStack" class="coral-Link">Coral.PanelStack</a> for more details.
