+document-section-simple-example()
  p.
    A <code>Coral.WizardView</code> is used with a
    <a href="Coral.StepList" class="coral-Link">Coral.StepList</a> and a
    <a href="Coral.PanelStack" class="coral-Link">Coral.PanelStack</a> to create a 'wizard' UI pattern.

  .docs-Example-simpleExampleMarkup.u-columnMedium
    coral-wizardview
      coral-steplist(interaction="on" coral-wizardview-steplist)
        coral-step Step 1
        coral-step Step 2
      coral-panelstack(coral-wizardview-panelstack)
        coral-panel This is the content of the first step.
          br
          br
          button(is="coral-button" variant="primary" coral-wizardview-next) Next
        coral-panel This is the content of the second step.
          br
          br
          button(is="coral-button" variant="primary" coral-wizardview-previous) Previous
