/**
 * Class: .alert
 * Used for alert messages
 */
.alert {
  background-color: @alert-blue-background-color;
  border: @px solid @alert-blue-border-color;
  
  margin: 0.5em 0;
  padding: 0.5em;
  
  &.error,
  &.notice,
  &.success,
  &.help,
  &.info {
    //padding-left: 2em;
  }
  
  .close {
    float: right;
    font-weight: bold;
    line-height: 1em;
  }
  
  strong {
    // Heading text
    margin-right: 0.25em;
    text-transform: uppercase;
  }
  
  .icon {
    font-size: 1.35em;
    display: inline-block;
    .box-sizing(border-box);
    width: 1.25em;
    height: 1.25em;
    padding: 0.1em 0.025em 0 0;
    margin-right: 0.5em;
    
    background: rgba(0, 0, 0, 0.2);
    
    .border-radius(1em);
    
    overflow: hidden;
    
    vertical-align: -0.075em;

    text-align: center;
    color: white;
  }
  
  &.error {
    background-color: @alert-red-background-color;
    border-color: @alert-red-border-color;
  }
  
  &.notice {
    background-color: @alert-yellow-background-color;
    border-color: @alert-yellow-border-color;
  }
  
  &.success {
    background-color: @alert-green-background-color;
    border-color: @alert-green-border-color;
  }
  
  &.help {
    background-color: @alert-blue-background-color;
    border-color: @alert-blue-border-color;
  }
  
  &.info {
    background-color: @alert-blue-background-color;
    border-color: @alert-blue-border-color;
  }
}
