/**
 * Class: .badge
 * Displays a blue badge that can contain a number of items the user should be
 * notified about
 */
.badge {
  display: inline-block;
  padding: 0.125rem 0.45rem;
  margin: 0;
  .border-radius(0.125rem);
  
  background-color: @badge-background-color;
  
  text-align: center;
  color: @badge-font-color;
  
  &.empty {
    background-color: @badge-empty-background-color;
  }
}
