/**
 * Class: .badge
 * Displays a blue badge that can contain a number of items the user should be
 * notified about
 */
.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0 0.4em;

  .border-radius(0.25em);
  
  background-color: @badge-background-color;
  
  text-align: center;
  color: @badge-font-color;
}
