/**
 * CUI Button styles
 */

// Button: Default (gray)
button,
a.button {
  display: inline-block;
  .box-sizing(border-box); // Makes 135px min-width apply consistently between anchor/button
  
  vertical-align: top; // Make buttons line up when placed next to each other
  
  min-width: 135*@px;
  
  margin: 0.125em 0;  // Reset default margin on button tag
                      // Give a top/bottom margin so they stack right
  padding: 0.313em 1em;
  border: @px solid;

  border-color: @button-gray-border-color;

  font-family: @body-font-family;
  font-size: @button-text-size;
  color: @button-text-color;
  text-decoration: none; // Reset underline on a.button
  text-align: center;
  
  cursor: pointer; // Give hand cursor
  
  .gradient(@button-gray-gradient-start-color, @button-gray-gradient-end-color);

  &:active {
    .gradient(@button-gray-down-gradient-start-color, @button-gray-down-gradient-end-color);
  }
}


// Button: Primary (blue)
button.primary,
a.button.primary {
  border-color: @button-blue-border-color;
  
  .gradient(@button-blue-gradient-start-color, @button-blue-gradient-end-color);

  &:active {
    .gradient(@button-blue-down-gradient-start-color, @button-blue-down-gradient-end-color);
  }
}


// Button: Warning (red)
button.warning,
a.button.warning {
  border-color: @button-red-border-color;
  
  .gradient(@button-red-gradient-start-color, @button-red-gradient-end-color);

  &:active {
    .gradient(@button-red-down-gradient-start-color, @button-red-down-gradient-end-color);
  }
}


// Button: Disabled
button.disabled,
button[disabled],
a.button.disabled,
button.disabled:active,
button[disabled]:active,
a.button.disabled:active {
  cursor: default;
  border-color: @button-disabled-border-color;

  .gradient(@button-disabled-gradient-start-color, @button-disabled-gradient-end-color);
}
