
/**
  Element: Card View
  Displays assets in result set as a card
*/
[class^="card-"],
[class*=" card-"] {
    .iosTapHoldPreventDefault;

    position: relative;
    font-size: 12*@px;
    line-height: 18*@px;

    // The card link contains everything
    > a,
    > .card {
        text-decoration: none;
        color: @card-text-color;
    }

    // The card image
    .image {
        display: block;
    }
    img {
        display: block;
    }

    // The card text
    h4,
    p {
        .ellipsis;
        margin: 0;
    }
    h4 {
        font-size: inherit;
        .card-strong-text;
    }

    // The card icons
    > a i,
    > .card i {
        .icon-xsmall;
    }
    i,
    i:before,
    i:hover:before,
    a:hover i:before {
        // Let's overwrite the icons settings and use our own color and transparency settings
        color: inherit;
        opacity: inherit;
    }

    // The top-level <i> elements are the selection and move hanldes
    > i {
        display: none;
    }
}

// Grid view style ////////////////////////////////////////////////////////////////

.grid [class^="card-"],
.grid [class*=" card-"] {
    .calc-width(~"100% -" @card-grid-margin);
    margin: 0 0 @card-grid-margin 0;
    background: @card-background-color;
    float: left;

    > a,
    > .card {
        .card-grid-shadow;
        display: block;
        width: 100%;
    }

    .image {
        border-bottom: @px solid @card-image-separator;
    }
    img {
        width: 100%;
        opacity: 1; // IE9 fix
    }
    img.multiplied {
        position: absolute;
        top: 0;
        visibility: hidden;
    }

    .label {
        display: inline-block; // Makes it contain all floating elements
        width: 100%;
        margin-bottom: 5*@px;
    }
    h4 {
        margin: 6*@px 10*@px;
    }
    p {
        margin: -7*@px 10*@px 6*@px;
    }
    p:empty {
        display: none;
    }
    .info {
        padding-top: 9*@px;
    }
}

// List view style ////////////////////////////////////////////////////////////////

.list [class^="card-"],
.list [class*=" card-"] {
    display: block;

    // The selection box
    .select {
        .icon-xsmall;
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 45*@px;
        height: 100%;

        &:before {
            content: " ";
            position: absolute;
            top: 17*@px;
            left: 15*@px;

            border: @px solid @checkbox-border-color;
            background: @checkbox-background-color;
            .box-shadow(inset @px @px 0 rgba(0, 0, 0, 0.05));
        }

        // The link element that follows the select item should add some spacing on the left
        & ~ a,
        & ~ .card {
            padding-left: 45*@px;
        }
    }

    // The handle to move the element
    .move {
        .icon-navigation;
        .icon-medium;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 45*@px;
        height: 100%;
        opacity: 0.3;

        &:before {
            display: block;
            margin: 12*@px auto;
        }

        // The link element that follows the move item should add some spacing on the right
        & ~ a,
        & ~ .card {
            padding-right: 45*@px;
        }
    }

    // A spinner that indicates network activity (after moving)
    .spinner {
        position: absolute;
        z-index: 3;
        top: 1.1rem;
        right: .9rem;
    }

    .sort {
        display: block;
        height: 100%;
    }

    > a,
    > .card {
        display: block;
        height: @card-list-height;
        padding: 0 10*@px;
        border-bottom: 1*@px solid @card-list-separator-color;

        // hide icons of the card content in list view
        i {
            display: none;
        }
    }

    > a:focus {
        border-bottom-color: @body-background-color;
        background: @card-list-selection-color;
    }

    > a,
    > .card,
    .label {
        overflow: hidden; // Makes floating elements that break on a new line not affect the next row (could be replaced with a clearfix if needed)
        height: @card-list-height;
    }

    h4,
    .main,
    img,
    .image {
        position: relative;
        float: left;
    }
    .image img { // Hide the preview images in list view, unless a .card-list-image-dimensions has been set
        display: none;
    }
    h4,
    p {
        margin-top: 16*@px;
    }

    .main {
        > h4 {
            margin-right: 10*@px;
            .card-strong-text;
        }
        > p {
            float: left;
            margin-right: 5*@px;
            border: 1px solid transparent;
        }
    }
}

// Selected cards ////////////////////////////////////////////////////////////////

// In select mode
.selection-mode [class^="card-"],
.selection-mode [class*=" card-"] {
    cursor: pointer;
}

// In grid view
.grid [class^="card-"].selected,
.grid [class*=" card-"].selected {
    .select {
        .icon-check-circle;
        .icon-large;
        .icon-size(@card-selection-icon-size);
        display: block;
        position: absolute;
        z-index: 3;
        width: @card-selection-icon-size;
        height: @card-selection-icon-size;
        margin: -@card-selection-icon-size -@card-selection-icon-size/2;
        top: 50%;
        left: 50%;

        &:before {
            color: @card-selection-icon-color;
        }
    }

    > a,
    > .card {
        background: @card-selection-color;
    }

    img.multiplied {
        visibility: visible;
    }
    img.multiplied + img {
        visibility: hidden;
    }
}

// In list view
.list [class^="card-"].selected,
.list [class*=" card-"].selected {
    > i.select {
        .icon-check;
        
        &:before {
            border-color: mix(@checkbox-border-color, @card-list-checkbox-color, 75%);
            color: @card-list-checkbox-color;
        }
    }
    > a,
    > .card {
        border-bottom-color: @body-background-color;
        background: @card-list-selection-color;
    }
    > a:focus {
        background: @card-selection-color;
    }
}
