/**
  Element: Card View
  Displays assets in result set as a card 
*/

// The shadow of cards
.card-shadow() {
    .box-shadow(0 1.5*@px 1.5*@px rgba(0, 0, 0, 0.25));
}

// Style of strong text
.card-strong-text() {
    font-weight: bold;
    color: @card-list-title-color;
}

// Sets the width with a calc() expression
.card-calc-width(@expression, @fallback) {
    width: @fallback;
    width: -webkit-calc(@expression);
    width: -moz-calc(@expression);
    width: -o-calc(@expression);
    width: calc(@expression);
}

// Cuts the text that are too long
.card-nowrap-ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// For list view: draws a box for additional info showed next to the title
.card-list-box() {
    .card-strong-text;
    margin-top: -@px;
    margin-bottom: -@px;
    padding: 0 5*@px;
    border: 1px solid @card-list-gray-border;
    background: @card-list-gray-background;
}

// For list view: draws a yellow box
.card-list-box(yellow) {
    .card-list-box;
    background: @card-list-yellow-background;
    border-color: @card-list-yellow-border;
}

// For list view: prepends the title with a little stack to illustrate items that have sub-items (used only for WCM pages so far)
.card-list-box-stack(@size: 28*@px) {
    .box-stack {
        position: absolute;
        z-index: 2;
        top: 11*@px;
        left: 0;
        width:  @size;
        height: @size;
        border: @px solid @card-list-stack-border;
        background: @card-list-stack-background-main;
    }
    &.stack .box-stack {
        &:before,
        &:after {
            content: " ";
            position: absolute;
            z-index: 1;
            height: @px;
            border: @px solid @card-list-stack-border;
        }
        &:before {
            bottom: -3*@px;
            left: @px;
            width: @size - 4*@px;
        }
        &:after {
            bottom: -5*@px;
            left: 3*@px;
            width: @size - 8*@px;
        }
    }
}


[class^="card-"],
[class*=" card-"] {
    position: relative;
    display: inline-block;
    font-size: 12*@px;
    line-height: 18*@px;
        
    > i {
        display: none;
    }

    > a {
        overflow: hidden; // for the link to contain everything
        position: relative;
        display: block;
        text-decoration: none;
        color: @card-text-color;

        // ommiting the direct child syntax on purpose for all rules that follow
        h4,
        p {
            .card-nowrap-ellipsis;
            margin: 0;
        }
        h4 {
            font-size: inherit;
            color: inherit;
        }
        i {
            .icon-xsmall;
        }
        i:before,
        &:hover i:before {
            color: @card-text-color;
        }
        > .main {
            position: relative;
        }
    }

    .grid & {
        .card-calc-width(~"100% - @{card-grid-margin}", 95%);
        margin: 0 0 @card-grid-margin 0;
        background: @card-background-color;

        > a {
            z-index: 1;
            .card-shadow;

            > img {
                width: 100%;
            }

            h4 { // ommiting the direct child syntax on purpose
                .card-strong-text;
                margin: 10*@px;
            }
            p { // ommiting the direct child syntax on purpose
                margin: 0 10*@px 10*@px;
            }
            > .main > p {
                margin-top: -10*@px;
            }
        }
    }

    .list & {
        display: block;
        border-bottom: 1*@px solid @card-list-separator-color;

        > i { // The selection box and the move handle
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            width: 45*@px;
            height: 100%;

            &.select {
                left: 0;

                &:before,
                &:after {
                    content: " ";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 15*@px;
                    height: 15*@px;
                    margin: -7.5*@px;
                    .background-size(100%);
                }
                &:before {
                    background: @card-list-checkbox-background;
                    .box-shadow(inset 0 @px 2*@px rgba(0, 0, 0, 0.33));
                }

                & ~ a {
                    padding-left: 45*@px;
                }
            }   
            &.move {
                .icon-medium;
                opacity: 0.3;
                right: 0;

                &:before {
                    display: block;
                    margin: 16*@px auto;
                }

                & ~ a {
                    padding-right: 45*@px;
                }
            }
        }
        
        > a {
            height: 50*@px;
            padding: 0 45*@px;

            i,
            img { // ommiting the direct child syntax on purpose
                display: none;
            }

            h4 { // ommiting the direct child syntax on purpose
                .card-strong-text;
            }

            // list view columns can be made of the following elements
            > div,
            > h4,
            > p {
                float: left;
                margin: 0;
                padding: 16*@px 0;
            }
            > .main {
                > h4 {
                    float: left;
                    margin-right: 10*@px;
                }
                > p {
                    float: left;
                    margin-right: 5*@px;
                    font-size: 10*@px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }

    &.selected {
        .list & {
            > i.select {
                &:before {
                    .box-shadow(inset 0 @px 2*@px rgba(0, 0, 0, 0.5));
                }
                &:after {
                    background-image: url("../images/components/checkbox/check.png");
                }
            }
            a {
                background: @card-list-selection-color;
            }
        }
    }
}

/**
    Class: .card-page
    Displays a WCM page card.
*/
.card-page {
    .grid & {
        .info-approved,
        .info-locked,
        .user,
        .links-number {
            display: none;
        }
        .published,
        .modified {
            float: left;
            padding-right: 6*@px;
        }
        .links {
            float: right;
        }
    }

    .list &{ // don't add a space between the ampersand and the bracket or it breaks the card-list-box-stack mixin
        .card-list-box-stack;

        .main {
            width: 65%;

            > h4 {
                margin-left: 36*@px;
            }
            >.info-locked {
                .card-list-box();
            }
            >.info-approved {
                .card-list-box(yellow);
            }
        }
        .published,
        .modified {
            width: 15%;
            padding: 7*@px 0;
            > .date {
                .card-strong-text;
            }
            > span {
                display: block;
            }
        }
        .links {
            width: 5%;
            padding: 25*@px 0 7*@px;
        }
    }

    &.page-hidden,
    &.page-redirect,
    &.page-deactivated {
        .list & a,
        .grid & img {
            opacity: 0.5;
        }
    }
}

/**
    Class: .stack
    Displays a card stack below the card (can be used in conjunction with any other card-* type to make it a stack).
    The card-collection class always has a stack applied.
*/
.grid .stack,
.card-collection {
    margin-bottom: @card-grid-margin+(2*@card-stack-offset);
    
    &:before,
    &:after {
        content: " ";
        position: absolute;
        height: @card-stack-offset;
        pointer-events: none;
        background: inherit;
        .card-shadow;
    }

    &:before {
        bottom: -2*@card-stack-offset;
        left:    2*@card-stack-offset;
        right:   2*@card-stack-offset;
    }

    &:after {
        bottom: -@card-stack-offset;
        left:    @card-stack-offset;
        right:   @card-stack-offset;
    }
}

/**
    Class: .card-collection
    Displays collection card with a banner.
*/
.card-collection {
    .description {
        position: absolute;
        top: 50%;
        left:  -@card-banner-offset;
        right: -@card-banner-offset;
        padding: 0 @card-banner-offset;
        border: 1px solid @card-banner-border-color;
        background-color: @card-banner-background-color;
        color: @card-banner-text-color;
        .box-shadow(0 8*@px 8*@px -5*@px rgba(0, 0, 0, 0.3));

        > h4 {
            color: @card-banner-text-color;
        }
        > p {
            margin-top: -8*@px;
        }

        &:before,
        &:after {
            content: " ";
            position: absolute;
            height: 0;
            width: 0;
            bottom: -@px - @card-banner-offset;
            border: @card-banner-offset solid transparent;
            pointer-events: none;
        }

        &:before { 
            border-right-color: @card-banner-background-color;
            left: -@px - @card-banner-offset;
        }            

        &:after { 
            border-left-color: @card-banner-background-color;
            right: -@px - @card-banner-offset;
        }
    }
}

/**
    Class: .card-asset
    Displays a DAM asset card.
*/
.card-asset {
    h4 {
        font-weight: @font-base-weight;
    }
}

/**
    Class: .card-directory
    Displays a DAM directory card.
*/
.card-directory {
}

/**
    Class: .card-board
    Displays a WCM board card.
*/
.card-board {
    color: white;
    background-color: white;
    padding: 4*@px 0 0 4*@px;
    .cardheader {
        background-color: #AAAAAA;
        margin: 0 4*@px 4*@px 0;
        h4 {
            margin: 0 10*@px 6*@px 10*@px;
            padding: 6*@px 0 4*@px 0;
            border-bottom: 1px solid #BBB;
            color: white;
            font-size: 13*@px;
        }
        p {
            color: white;
            margin: 0 4*@px 0 10*@px;
            padding: 2*@px 0 2*@px 0;
        }

        [class^="icon-"],
        [class*=" icon-"] {
            &:before {
                color: white !important; // bypass the hover color of the sourrounding "A"
            }
        }

    }

    .cardcontent {
        .cardpreview {
            background-size: cover;
            background-color: #BBBBBB;
            margin: 0 4*@px 4*@px 0;
            width: 48%;
            width: -webkit-calc(~"50% - 4px");
            width: -moz-calc(~"50% - 4px");
            width: -o-calc(~"50% - 4px");
            width: calc(~"50% - 4px");
            float:left;

            &.wide {
                width: 98%;
                width: -webkit-calc(~"100% - 4px");
                width: -moz-calc(~"100% - 4px");
                width: -o-calc(~"100% - 4px");
                width: calc(~"100% - 4px");
            }
            img {
                max-width: 100%;
            }
        }
    }
}
