/**
  Element: Card View
  Displays assets in result set as a card 
*/

.card-asset,
.card-page,
.card-collection {
    display: inline-block;
    text-align: center;
    background: @cardview-background-color;
}

.card-asset {

    border: @px solid @cardview-border-color;
    padding-bottom: 10*@px;
    .shadow;

    img {
        margin-bottom: 8*@px;
    }

    p {
        margin-top: 4*@px;
        margin-right: 0;
        margin-bottom: 4*@px;
        margin-left: 10*@px;
        text-align: left;

        &.asset-name {
            color: @cardview-name-color;
        }

        &.asset-description {
            color: @cardview-description-color;
        }

        &.asset-details {
            margin-top: 12*@px;
            color: @cardview-details-color;
        }

    }

}

.card-collection {
    min-width: 270*@px;
    position: relative;
    margin: 10*@px;
    margin-bottom: 20*@px;

    &:before,
    &:after {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        /*bottom: -20*@px;*/
    }

    &:before {
        content: " ";
        height: 10*@px;
        width: 255*@px;
        bottom: -10*@px;
        left: 8*@px;
        border-bottom: @px solid @cardview-border-color;
        border-left: @px solid @cardview-border-color;
        border-right: @px solid @cardview-border-color;
    }

    &:after {
        content: " ";
        height: 10*@px;
        width: 240*@px;
        bottom: -20*@px;
        left: 16*@px;
        border-bottom: @px solid @cardview-border-color;
        border-left: @px solid @cardview-border-color;
        border-right: @px solid @cardview-border-color;
    }

    img {
        border: @px solid @cardview-border-color;
        width: 100%;
        .shadow;
    }

    .collection-banner {
        position: absolute;
        top: 54%;
        left: -9*@px;
        padding: 5*@px;
        width: 100% + 40*@px;
        background-color: @cardview-banner-color;
        border: @px solid @cardview-border-color;
        color: @cardview-banner-text-color;
        .shadow;

        &:before,
        &:after {
        border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            bottom: -9*@px;
        }

        &:before { 
            border-right-color: @cardview-banner-color;
            left: -8*@px;
            border-width: 8*@px;
        }            

        &:after { 
            border-left-color: @cardview-banner-color;
            right: -9*@px;
            border-width: 8*@px;
        }
    }
} // card-collection 

.card-page {
    display: block;
    margin: 0 @cardview-grid-margin/2 @cardview-grid-margin;
    text-align: left;
    font-size: 12*@px;
    .box-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.25));

    a {
        overflow: hidden; // can be replaced with a clearfix in case needed
        display: block;
        &,
        a:hover {
            text-decoration: none;
            color: @cardview-text-color;
        }
    }
    img {
        width: 100%;
        border-bottom: 1px solid @cardview-image-separator-color;
    }
    h4,
    p {
        margin: 10*@px;
    }
    h4 {
        margin-bottom: 2*@px;
        font-size: 12*@px;
        color: @cardview-title-color;
    }
    i {
        .icon-xsmall;
    }
    .kind {
        margin: 0 10*@px;
    }
    .date-modified,
    .date-published {
        float: left;
        margin-right: 0;
    }
    .variations {
        float: right;
    }
}

.grid-container {
    overflow: hidden; // can be replaced with a clearfix in case needed
    margin: @cardview-grid-margin @cardview-grid-margin/2;

    > .grid-1 {
        float: left;
        width: 100%;
    }
    > .grid-2 {
        float: left;
        width: 50%;
    }
    > .grid-3 {
        float: left;
        width: 33.3333%;
    }
    > .grid-4 {
        float: left;
        width: 25%;
    }
    > .grid-5 {
        float: left;
        width: 20%;
    }
    > .grid-6 {
        float: left;
        width: 16.6666%;
    }
}
