
/**

    Class: .card-asset
    Displays a DAM asset card.
*/

// Grid view style
.grid .card-asset {
    .user,
    .type {
        display: none;
    }
    .resolution,
    .size,
    .modified,
    .links,
    .comments {
        float: left;
    }
    .info {
        clear: left;
        float: right;
        height: 18*@px; // needed in case the comments and links are empty
    }
    .modified {
        position: absolute;
        left: 0;
    }

    // Class low-resolution: Small images should not be scaled up to 100% of the card width
    .low-resolution {
        display: block;
        background: @card-asset-image-background;
        padding: 1rem 0;
        border-bottom: none;

        > img,
        > canvas {
            margin: 0 auto;
            width: auto;
        }
    }
}

// List view style
.list .card-asset {
    .card-list-image-dimensions(38*@px, 30*@px);

    h4, // The <h4> element is a <div class="main"> in the list header
    .main {
        width: 50%;
    }
    .type,
    .resolution,
    .size,
    .modified {
        float: left;
        width: 10%;
    }
    .links,
    .comments {
        float: left;
        width: 5%;
    }
    .modified {
        .card-list-date-user();
    }
}

/**

    Class: .card-asset.uploading
    Progress bar displayed while assets are being uploaded.
*/

// Global asset card styles
.card-asset.uploading {
    // The handle to cancel the uploading
    .cancel {
        .icon-close;
        .icon-xsmall;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}

// Grid view style
.grid .card-asset.uploading {
    .progress-bar {
        display: block;
        background: @card-asset-image-upload-background;
        padding: 1rem 0;
        border-bottom: none;

        .progress {
            display: block;
            margin: 1rem auto;
        }
    }

    // The handle to cancel the uploading
    .cancel {
        padding: 8*@px;
    }
}

// List view style
.list .card-asset.uploading {
    h4 {
        width: 60%;
    }
    p {
        width: 40%;
        text-align: right;
    }
    .label {
        padding-right: @progress-width + 10*@px;
    }
    .progress-bar {
        position: static;
        background: @card-asset-image-upload-background;
        
        .progress {
            position: absolute;
            right: 0;
            margin-top: 3*@px;
        }
    }

    // The handle to cancel the uploading
    .cancel {
        width: 35*@px;
        height: 100%;
        margin-right: 10*@px;

        &:before {
            margin: 18*@px auto;
        }
    }
    .move ~ .cancel {
        right: 45*@px;
    }
    .cancel ~ .card {
        padding-right: 45*@px;
        .progress {
            right: 45*@px;
        }
    }
    .move ~ .cancel ~ .card {
        padding-right: 90*@px;
        .progress {
            right: 90*@px;
        }
    }
}
