
/**
    Class: .card-board
    Displays a WCM board card.
*/
.grid .card-board {
    > a,
    > .card {
        padding: 4*@px;
    }

    
    .label {
        display: block;
        overflow: hidden; // Makes floating elements that break on a new line not affect the next row (could be replaced with a clearfix if needed)
        margin-bottom: 5*@px;
        color: @card-text-color-inverted;
        background-color: @card-background-inverted;

        h4 {
            margin-bottom: 5*@px;
            padding-bottom: 5*@px;
            border-bottom: 1px solid @card-board-header-border;
            color: @card-text-color-inverted;
        }

        .info {
            padding-top: 0;
            
            p {
                float: left;
                margin-top: 5*@px;
            }
            p.info-time {
                float: right;
            }
        }
    }

    .image {
        overflow: hidden; // Makes floating elements that break on a new line not affect the next row (could be replaced with a clearfix if needed)
        margin: 0 -2*@px -4*@px;
        border-bottom: none;

        img {
            float: left;
            margin: 0 2*@px 4*@px;
            max-width: 100%;
            
            @fourPx: 4*@px;
            .calc-width(~"50% -" @fourPx);

            &.wide {
                .calc-width(~"100% -" @fourPx);
            }
        }
    }
}
