
/**
  Element: Card View
  Displays assets in result set as a card
*/
[class^="card-"],
[class*=" card-"] {
    .iosTapHoldPreventDefault;

    position: relative;
    display: inline-block;
    font-size: 12*@px;
    line-height: 18*@px;

    // The card link contains everything
    > a,
    > div {
        position: relative;
        text-decoration: none;
        color: @card-text-color;
    }

    // The card image
    .image {
        display: block;
        position: relative;
    }
    img,
    canvas {
        display: block;
    }

    // The card text
    .label,
    .main {
        position: relative;
    }
    h4,
    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }
    h4 {
        font-size: inherit;
        .card-strong-text;
    }

    // The card icons
    > a i,
    > div i {
        .icon-xsmall;
    }
    i,
    i:before,
    i:hover:before,
    a:hover i:before {
        // Let's overwrite the icons settings and use our own color and transparency settings
        color: inherit;
        opacity: inherit;
    }

    // The top-level <i> elements are the selection and move hanldes
    > i {
        display: none;
    }
}

// Grid view style ////////////////////////////////////////////////////////////////

.grid [class^="card-"],
.grid [class*=" card-"] {
    .calc-width(~"100% - @{card-grid-margin}rem");
    margin: 0 0 @card-grid-margin 0;
    background: @card-background-color;

    > a,
    > div {
        .card-grid-shadow;
        display: block;
        z-index: 1;
        width: 100%;
    }

    > a:focus {
        .card-grid-shadow(focus);
    }

    .image {
        border-bottom: @px solid @card-image-separator;
    }
    img,
    canvas {
        width: 100%;
        opacity: 0.999; // IE fix
    }
    canvas ~ img {
        display: none;
    }

    .label {
        display: inline-block; // Makes it contain all floating elements
        width: 100%;
        margin-bottom: 5*@px;
    }
    h4 {
        margin: 6*@px 10*@px;
    }
    p {
        margin: -7*@px 10*@px 6*@px;
    }
    p:empty {
        display: none;
    }
    .info {
        padding-top: 9*@px;
    }
}

// List view style ////////////////////////////////////////////////////////////////

.list [class^="card-"],
.list [class*=" card-"] {
    display: block;
    border-bottom: 1*@px solid @card-list-separator-color;

    // The selection box
    .select {
        display: block;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 45*@px;
        left: 0;

        &:before,
        &:after {
            content: " ";
            position: absolute;
            top: 17*@px;
            left: 15*@px;
            width: 15*@px;
            height: 15*@px;
        }
        &:before {
            background: @card-list-checkbox-background;
            .box-shadow(inset 0 @px 2*@px rgba(0, 0, 0, 0.33));
        }

        // The link element that follows the select item should add some spacing on the left
        & ~ a,
        & ~ div:not(.label) {
            padding-left: 45*@px;
        }
    }

    // The handle to move the element
    .move {
        .icon-navigation;
        .icon-medium;
        display: block;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        width: 45*@px;
        right: 0;
        opacity: 0.3;

        &:before {
            display: block;
            margin: 12*@px auto;
        }

        // The link element that follows the move item should add some spacing on the right
        & ~ a,
        & ~ div:not(.label) {
            padding-right: 45*@px;
        }
    }

    .sort {
        display: block;
        height: 100%;
    }

    > a,
    > div:not(.label) {
        display: block;
        height: @card-list-height;
        padding: 0 10*@px;

        // hide icons of the card content in list view
        i {
            display: none;
        }
        .image i {
            .icon-large;
            display: block;
        }
    }

    > a:focus {
        background: @card-selection-color;
    }

    > a,
    > div,
    .label {
        overflow: hidden; // Makes floating elements that break on a new line not affect the next row (could be replaced with a clearfix if needed)
        height: @card-list-height;
    }

    h4,
    .main,
    img,
    .image {
        float: left;
    }
    .image img { // Hide the preview images in list view, unless a .card-list-image-dimensions has been set
        display: none;
    }
    h4,
    p {
        margin-top: 16*@px;
    }

    .main {
        > h4 {
            margin-right: 10*@px;
            .card-strong-text;
        }
        > p {
            float: left;
            margin-right: 5*@px;
            border: 1px solid transparent;
        }
    }
}

// Selected cards ////////////////////////////////////////////////////////////////

// In select mode
.selection-mode [class^="card-"],
.selection-mode [class*=" card-"] {
    cursor: pointer;
}

// In grid view
.grid [class^="card-"].selected,
.grid [class*=" card-"].selected {
    .select {
        .icon-check-circle;
        .icon-large;
        .icon-size(@card-selection-icon-size);
        display: block;
        position: absolute;
        z-index: 3;
        width: @card-selection-icon-size;
        height: @card-selection-icon-size;
        margin: -@card-selection-icon-size -@card-selection-icon-size/2;
        top: 50%;
        left: 50%;

        &:before {
            color: @card-selection-icon-color;
        }
    }

    > a,
    > div:not(.label) {
        background: @card-selection-color;
    }
}

// In list view
.list [class^="card-"].selected,
.list [class*=" card-"].selected {
    border-bottom-color: #eee;
    > a,
    > div:not(.label) {
        background: fade(@card-selection-color, 25%);
    }
    > i.select {
        &:before {
            .box-shadow(inset 0 @px 2*@px rgba(0, 0, 0, 0.5));
            background: white;
        }
        &:after {
            background-image: url('@{component-images-folder}/checkbox/check.png');
            .background-size(100%);
        }
    }
    > a:focus {
        background: @card-selection-color;
    }
}
