/**
  Element: Card View
  Displays assets in result set as a card 
*/

.card-shadow() {
    .box-shadow(0 1.5*@px 1.5*@px rgba(0, 0, 0, 0.25));
}

[class^="card-"],
[class*=" card-"] {
    position: relative;
    display: inline-block;
    width: 95%;
    width: -webkit-calc(~"100% - "@card-grid-margin);
    width: -moz-calc(~"100% - "@card-grid-margin);
    width: -o-calc(~"100% - "@card-grid-margin);
    width: calc(~"100% - "@card-grid-margin);
    margin: 0 0 @card-grid-margin 0;
    background: @card-background-color;
    font-size: 12*@px;
    line-height: 1.5em;
    .card-shadow;

    a {
        overflow: hidden; // for the link to contain everything
        display: block;
        &,
        a:hover {
            text-decoration: none;
            color: @card-text-color;
        }
    }
    img {
        width: 100%;
    }
    h4 {
        margin: 10*@px;
        font-size: 12*@px;
        color: @card-title-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 10*@px 10*@px;
        &.description {
            margin-top: -10*@px;
        }
        span {
            padding-right: 6*@px;
        }
        i {
            .icon-xsmall;
        }
    }
}

/**
    Class: .card-stack
    Displays a card stack below the card (can be used in conjunction with any other card-* type to make it a stack).
    The card-collection class always has a stack applied.
*/
.card-stack,
.card-collection {
    margin-bottom: @card-grid-margin+(2*@card-stack-offset);

    &:before,
    &:after {
        content: " ";
        position: absolute;
        height: @card-stack-offset;
        pointer-events: none;
        .card-shadow;
    }

    &:before {
        bottom: -@card-stack-offset;
        left:    @card-stack-offset;
        right:   @card-stack-offset;
    }

    &:after {
        bottom: -2*@card-stack-offset;
        left:    2*@card-stack-offset;
        right:   2*@card-stack-offset;
    }
}

/**
    Class: .card-collection
    Displays collection card with a banner.
*/
.card-collection {
    .banner {
        position: absolute;
        top: 50%;
        left:  -@card-banner-offset;
        right: -@card-banner-offset;
        padding: 0 @card-banner-offset;
        border: 1px solid @card-banner-border-color;
        background-color: @card-banner-background-color;
        color: @card-banner-text-color;
        .box-shadow(0 8*@px 8*@px -5*@px rgba(0, 0, 0, 0.3));

        h4 {
            color: @card-banner-text-color;
        }
        p {
            margin-top: -8*@px;
        }

        &:before,
        &:after {
            content: " ";
            position: absolute;
            height: 0;
            width: 0;
            bottom: -@px - @card-banner-offset;
            border: @card-banner-offset solid transparent;
            pointer-events: none;
        }

        &:before { 
            border-right-color: @card-banner-background-color;
            left: -@px - @card-banner-offset;
        }            

        &:after { 
            border-left-color: @card-banner-background-color;
            right: -@px - @card-banner-offset;
        }
    }
}

/**
    Class: .card-asset
    Displays a DAM asset card.
*/
.card-asset {

    img.lowres {
        
    }
    h4 {
        font-weight: @font-base-weight;
    }
}

/**
    Class: .card-directory
    Displays a DAM directory card.
*/
.card-directory {
    .empty {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 150px;
        background: @card-directory-empty-color;
    }
}

/**
    Class: .card-page
    Displays a WCM page card.
*/
.card-page {
    // Everything inside this rule is a fix to the white-space:nowrap; set on .card-* > p.
    .info {
        position: relative;
        padding-right: 18*@px;

        > i.right {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

/* Card Grids */
.grid-container {
    overflow: hidden; // can be replaced with a clearfix in case needed
    padding: @card-grid-margin 0 0 @card-grid-margin;

    > .grid-0 {
        float: left;
        width: 100%;
        article {
            width:240px;
            float:left;
        }
    }

    > .grid-1 {
        float: left;
        width: 100%;
    }
    > .grid-2 {
        float: left;
        width: 100% / 2;
    }
    > .grid-3 {
        float: left;
        width: 100% / 3;
    }
    > .grid-4 {
        float: left;
        width: 100% / 4;
    }
    > .grid-5 {
        float: left;
        width: 100% / 5;
    }
    > .grid-6 {
        float: left;
        width: 100% / 6;
    }
    > .grid-7 {
        float: left;
        width: 100% / 7;
    }
    > .grid-8 {
        float: left;
        width: 100% / 8;
    }
}
