/**
 * Element: Checkbox
 * Must be styled using an adjacent label or span tag
 */

input[type=checkbox] + span:before {
  background: red;
}

input[type=checkbox],
input[type=radio] {
  opacity: 0.00001;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  
  /*
  // Breaks accessibility
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  */

  & + label,
  & + span {
    display: inline-block;
  }

  & + span:before,
  & + label:before,
  &:checked + span:before,
  &:checked + label:before {
    display: inline-block;
    margin-left: -1rem; // cover invisible checkbox 
    .box-sizing(border-box);

    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

    border: @px solid @checkbox-border-color;
    .box-shadow(inset @px @px 0 rgba(0,0,0,0.05));
  
    background-color: @checkbox-background-color;
    background-position: center center;
    background-repeat: no-repeat;
    .background-size(100% 100%);

    content: "\a0"; // Todo: replace with icon

    line-height: 1.25;
    font-size: 0.85rem;
    color: @checkbox-check-color;
    text-align: center;
    font-weight: bold;
  }
  
  &:focus + label:before,
  &:focus + span:before {
    .glow;
  }

  &:disabled + label:before,
  &:disabled + span:before {
    border-color: @checkbox-disabled-border-color;
    
    background-color: @checkbox-disabled-background-color;
    
    color: @checkbox-disabled-check-color;
  }
}

input[type=checkbox] {
  &.partial + label:before,
  &.partial + span:before {
    background-image: url('../images/components/checkbox/dash.png');
  }

  &:checked + label:before,
  &:checked + span:before {
    background-image: url('../images/components/checkbox/check.png');
  }

  &:disabled {
    &.partial + label:before,
    &.partial + span:before {
      background-image: url('../images/components/checkbox/dash_disabled.png');
    }

    &:checked + label:before,
    &:checked + span:before {
      background-image: url('../images/components/checkbox/check_disabled.png');
    }
  }
}

input[type=radio] {
  & + span:before,
  & + label:before {
    .border-radius(1rem);
  }
  
  &:checked + span:before,
  &:checked + label:before {
    background-image: url('../images/components/radio/dot.png');
  }
  
  &:disabled {
    &:checked + span:before,
    &:checked + label:before {
      background-image: url('../images/components/radio/dot_disabled.png');
    }
  }
}

th,
td {
  // Remove padding on checks/radios placed in table cells
  label {
    padding: 0;
  }
  
  input[type=radio],
  input[type=checkbox] {
    & + label:before,
    & + span:before {
      padding: 0;
      margin-right: 0;
    }
  }  
}
