/**
  Element: Checkbox
  Must be styled using an adjacent label or span tag
*/

input[type=checkbox],
input[type=radio] {
  opacity: 0.00001; // used to allow the check box to be clicked in some browsers.
  overflow: hidden;
  width: 1rem;
  height: 1rem;

  & + label,
  & + span {
    display: inline-block;
  }

  & + span:before,
  & + label:before {
    font-family: AdobeIcons;
    display: inline-block;
    margin-left: -1rem; // cover invisible checkbox 
    .border-box;

    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

    border: @px solid @checkbox-border-color;
    .box-shadow(inset @px @px 0 rgba(0,0,0,0.05));

    background-color: @checkbox-background-color;

    content: "\a0";

    line-height: 1.5;
    font-size: 0.70rem;
    color: @checkbox-check-color;
    text-align: center;
  }

  &:focus + label:before,
  &:focus + span:before {
    .glow;
  }

  &:disabled + label:before,
  &:disabled + span:before {
    border-color: @checkbox-disabled-border-color;
    background-color: @checkbox-disabled-background-color;
    color: @checkbox-disabled-check-color;
  }
}

input[type=checkbox] {
  &:indeterminate + label:before,
  &:indeterminate + span:before {
    content: "\f0c4";
  }

  &:checked + label:before,
  &:checked + span:before {
    content: "\f037";
  }
}

input[type=radio] {

  & + span:before,
  & + label:before {
    .border-radius(1rem);
    background-position: center center;
    background-repeat: no-repeat;
    .background-size(100% 100%);
  }

  &:checked + span:before,
  &:checked + label:before {
    background-image: url('@{component-images-folder}/radio/dot.png');
  }

  &:disabled {
    &:checked + span:before,
    &:checked + label:before {
      background-image: url('@{component-images-folder}/radio/dot_disabled.png');
    }
  }
}
