/**
  Class: nav.crumbs
  Displays a breadcrumb trail. 
*/

nav.crumbs {
  a {
    padding: 0 10*@px;

    line-height: 2.75rem;
    height: 2.75rem;

    letter-spacing: 0.8*@px;
    
    color: @crumb-text-color;
    font-weight: normal;
    font-size: 1.35rem;
    text-decoration: none;
    font-family: AdobeClean;

    position: relative;

    .icon-chevronright;

    &:before {
      font-size: 1rem;
      position: absolute;
      left: -10*@px;
      padding-top: 2*@px;
    }
   
    &:first-child {
      padding-left: 0;

      &:before {
        content: "";
      }
    }
    
    img {
      height: 2rem;
    }
  }
}

// hover states
.desktop nav.crumbs:hover {
  color: @crumb-hover-text-color;
}