/**
  Classes: nav.crumbs and ul.crumbs
  Used for printing a breadcrumb trail. 
*/

nav.crumbs {
  a {
    padding: 0.25rem 0;
    
    color: @crumb-text-color;
    font-weight: normal;
    font-size: 1.35rem;
    text-decoration: none;
    font-family: AdobeCleanLight;

    // Add chevrons to crumbs
    &:after {
      display: inline-block;
      margin: 0 0.25rem 0 0.5rem;

      content: "\203a";
      font-size: 2.5rem;
      line-height: 0.4;
      font-family: AdobeCleanLight;
      color: @crumb-chevron-color;
    }

    &:hover {
      color: @crumb-hover-text-color;
      //text-decoration: underline;
    }
    
    img {
      height: 2rem;
    }
  }

  a:last-child {
    font-family: AdobeClean;
    
    &:after {
      content: "";
    }
  }
}
