/**
* 
* A calendar for picking dates
*/


// The popover version of the datepicker
.datepicker {
    display: inline-block;
    margin: 0.125rem 0;  // Give a top/bottom margin so they stack right
    position: relative;
    font-size: 0; /* Remove space between inline-block elements */

    &.focus > button,
    &.focus input {
      .glow();
    }
    &.error > button,
    &.error input {
      .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }

    button {
      display: inline-block;
      vertical-align: middle;
      .border-box;
      margin: 0; // Reset default margin on button tag
      margin-left: -@px; // Overlap border
      padding: 0.4375rem 0.5rem 0.5rem;
      height: @dropdown-text-size+0.4375rem*2+@px*2;
      height: 2rem;
      min-width: 2rem;
      width: 2rem;
      border: @px solid @dropdown-border-color;
      background-size: 1.0rem 1.0rem;
      background: @dropdown-gradient-start-color;
      .gradient(@dropdown-gradient-start-color, @dropdown-gradient-end-color);
      font-family: @font-base-family;
      font-size: @dropdown-text-size;
      line-height: @dropdown-text-size;
      font-weight: normal;
      color: @dropdown-text-color;
      text-shadow: none;

      &:disabled {
        cursor: default;
        border-color: @button-disabled-border-color;
        color: @button-disabled-text-color;
        text-shadow: none;
        background: @button-disabled-background-color;

        span {
          .opacity(30);
        }
      }

      &:hover:not([disabled]) {
        border: @px solid @dropdown-border-color;
        background: @dropdown-gradient-start-color;
        .gradient(@dropdown-gradient-start-color, @dropdown-gradient-start-color);
      }

      &:active:not([disabled]) {
        border: @px solid @dropdown-border-color;
        background: @dropdown-gradient-end-color;
        .gradient(@dropdown-gradient-end-color, @dropdown-gradient-end-color);
        .box-shadow(inset 0 0 0.5rem rgba(0, 0, 0, 0.25));
      }
    }

    .datepicker-calendar {
      position: absolute;
      top: 3rem; /* 48px */ /* TODO: place popover relative to the action button (above or below) */
      left: 0;
      width: 21.375rem; /* 342px */
      border: 10*@px solid @popover-border-color; /* TODO: 8px in .popover, but design shows 10px */

      /* TODO: this is an override of popover .arrow-top. Increases margin to 10px to match design document
       * should margins consistently be 8px or 10px for popovers, change accordingly.
       */
      &.arrow-top:before {
        margin-bottom: 10*@px;
      }

      /* TODO: Adapted from .modal-header. This should be handled by the popover and make use of variables */
      .popover-header {
        position: relative;

        .border-box;
        width: 100%;
        height: @modal-header-height;

        background: @modal-header-background-color;

        border: @px solid @modal-outline-color;
        border-bottom: 0;

        // Bottom border, easiest with a box shadow
        .box-shadow(inset 0 -1*@px 0 @modal-header-border-color);

        h2 {
          position: absolute;
          left: 0;
          top: 0;

          .border-box;
          width: 100%;
          height: 3.25rem;
          margin: 0;
          padding: 0 3rem 0 1rem;

          line-height: 3.25rem;

          .ellipsis();
        }

        button.prev-month,
        button.next-month {
          position: absolute;
          right: 0;
          top: 0;
          color: rgb(90,90,90);
          padding: 0.1875rem; /* 3px */
          margin: 0.1875rem; /* 3px */
          font-size: 2.3125rem; /* 37px */
          line-height: 2.3125rem; /* 37px */
          border: 0;
          background: 0;
          width: auto;
          height: auto;

          &:hover {
            border: 0 none;
            background: none;
            color: rgb(44,44,44);
          }
          &:active {
            background: none;
            .box-shadow(none);
          }
        }

        button.prev-month {
          right: 2.5rem; /* 40px */
          margin-right: 0;
        }
        button.next-month {
          margin-right: 0.4375rem; /* 7px */
          margin-left: 0;
        }
      }

      // TODO: taken from .modal-body for styling. Should belong to popover
      .popover-body {
        .border-box;
        width: 100%;
        padding: 0;

        .scrollable();

        border: @px solid @modal-outline-color;
        border-top: 0;
        border-bottom: 0;
      }

      table {
        table-layout: fixed;
        border-spacing: 1px;
        width: 100%;
        margin: 0;
        background-color: rgb(230,230,230);
        font-size: @datepicker-calendar-font-size;

        a, span {
          background: rgb(255,255,255);
          padding: 3*@px 5*@px 3*@px 0;
          display: block;
        }

        th, td {
          text-align: right;
          padding: 0;

          &:first-child {
            a, span {
              margin-left: -1px;
            }
          }

          &:last-child {
            a, span {
              margin-right: -1px;
            }
          }
        }

        td {
          a {
            color: @datepicker-day;
            text-decoration: none;
            position:relative;
            z-index: 100;

            &:hover {
              text-decoration: none;
              border: 1px solid @datepicker-day-hover-border-color;
              background: @datepicker-day-hover-background-color;
              margin: -1px;
            }

            &:active {
              border: 1px solid @datepicker-day-selected-border-color;
              background: @datepicker-day-selected-background-color;
              color: @datepicker-day-selected-text-color;
            }

            &:focus {
              .box-shadow(none);
            }
          }

          &.datepicker-today {
            a {
              font-weight: bold;
            }
          }

          &.datepicker-day-selected {
            a {
              border: 1px solid @datepicker-day-selected-border-color;
              background: @datepicker-day-selected-background-color;
              color: @datepicker-day-selected-text-color;
              margin: -1px;
              padding-right: 6px;
              z-index: 200;
            }
            &:first-child {
              a {
                border-left: 0 none;
                padding-right: 5px;
              }
            }

            &:last-child {
              a {
                border-right: 0 none;
                padding-right: 5px;
              }
            }
          }

          &:first-child {
            a {
              &:hover {
                border-left: 0 none;
                padding-right: 5px;
              }
            }
          }

          &:last-child {
            a {
              &:hover {
                border-right: 0 none;
                padding-right: 5px;
              }
            }
          }

          span {
            color: @datepicker-day-dimmed;
          }
        }
      }
    }
}

// The dropdown version of the datepicker
// (An alternative idea to the popover solution
// remove the below if popover is approved)
/*.datepicker-dropdown {
  display: inline-block;
  margin: 0.125rem 0;  // Give a top/bottom margin so they stack right
  position: relative;

  button {
    display: inline-block;
    .border-box;

    vertical-align: middle;

    min-width: 135*@px;
    height: 2rem;

    margin: 0;  // Reset default margin on button tag

    border: @px solid @dropdown-border-color;
    background: @dropdown-gradient-start-color;
    .gradient(@dropdown-gradient-start-color, @dropdown-gradient-end-color);

    font-family: @font-base-family;
    font-size: @dropdown-text-size;
    line-height: @dropdown-text-size;
    font-weight: normal;
    color: @dropdown-text-color;
    text-shadow: none;

    padding: 0.4375rem 0.4375rem 0.4375rem 1rem;
    height: @dropdown-text-size+0.4375rem*2+@px*2;

    min-width: 2rem;
    width: 2rem;
    font-size: 0;
    margin: 0;
    height: 2rem;
    padding: 0.4375rem;

    &:disabled {
      cursor: default;
      border-color: @button-disabled-border-color;
      color: @button-disabled-text-color;
      text-shadow: none;
      background: @button-disabled-background-color;
    }

    &:after {
      content: "";
      float: right;
      display: inline;
      padding-left: 1rem;
      height: @dropdown-text-size;
      background: url('../images/components/dropdown/handle.svg') no-repeat center center;
    }

    &:hover:not([disabled]) {
      border: @px solid @dropdown-border-color;
      background: @dropdown-gradient-start-color;
      .gradient(@dropdown-gradient-start-color, @dropdown-gradient-start-color);
    }

    &:active:not([disabled]) {
      border: @px solid @dropdown-border-color;
      background: @dropdown-gradient-end-color;
      .gradient(@dropdown-gradient-end-color, @dropdown-gradient-end-color);
      .box-shadow(inset 0 0 0.5rem rgba(0, 0, 0, 0.25));
    }
  }

  .datepicker-calendar {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 20rem;
    font-size: @dropdown-text-size;
    overflow: auto;
    border-bottom: @px solid @dropdown-border-color;
    background-color: #fff;
  }
}*/

