/**
* 
* A calendar for picking dates
*/


// The popover version of the datepicker
.datepicker {
    display: inline-block;
    margin: 0.125rem 0;  // Give a top/bottom margin so they stack right
    position: relative;

    .datepicker-calendar {
      position: absolute;
      top: 48*@px;
      left: 0;
      width: 342px; /* TODO: remove this hardcoded value */
      border: 10*@px solid @popover-border-color; /* TODO: 8px in .popover, but design shows 10px */

      &.arrow-top:before {
        bottom: 100%; // position the border on the top
        margin-bottom: 10*@px;
      }

      .popover-inner {
        background: rgb(255,255,255);
        border: 1px solid rgb(70,70,70);
      }

      .popover-heading {
        background: rgb(225,225,225); /* TODO: this should be handled by the popover and make use of variables */
        padding: 10px 10px 10px 20px;
        border-bottom: 1px solid rgb(191,191,191);
        font-size: 22px;
        color: rgb(60,60,60);
      }

      table {
        width: 100%;
        margin: 0;
        background-color: rgb(230,230,230);
        border-spacing: 1px;
        font-size: 13px;

        a, span {
          background: rgb(255,255,255);
          padding: 2px 5px 3px 0;
          display: block;
        }

        th, td {
          text-align: right;
          padding: 0;

          &:first-child {
            a, span {
              margin-left: -1px;
            }
          }

          &:last-child {
            a, span {
              margin-right: -1px;
            }
          }
        }

        td {
          a {
            color: @datepicker-day;
            text-decoration: none;

            &:hover {
              text-decoration: none;
              border: 1px solid @datepicker-day-hover-border-color;
              background: @datepicker-day-hover-background-color;
              margin: -1px;
              padding-right: 6px;
            }
          }

          &.day-selected {
            a {
              border: 1px solid @datepicker-day-selected-border-color;
              background: @datepicker-day-selected-background-color;
              color: @datepicker-day-selected-text-color;
              margin: -1px;
              padding-right: 6px;
            }
          }

          span {
            color: @datepicker-day-dimmed;
          }
        }
      }
    }

    button {
      display: inline-block;
      background-size: 1.0rem 1.0rem;
      .box-sizing(border-box);

      vertical-align: middle;

      min-width: 135*@px;
      height: 2rem;

      margin: 0;  // Reset default margin on button tag

      border: @px solid @dropdown-border-color;
      background: @dropdown-gradient-start-color;
      .gradient(@dropdown-gradient-start-color, @dropdown-gradient-end-color);

      font-family: @font-base-family;
      font-size: @dropdown-text-size;
      line-height: @dropdown-text-size;
      font-weight: normal;
      color: @dropdown-text-color;
      text-shadow: none;

      height: @dropdown-text-size+0.4375rem*2+@px*2;

      min-width: 2rem;
      width: 2rem;
      height: 2rem;
      padding: 0.4375rem 0.5rem 0.5rem;

      &:disabled {
        cursor: default;
        border-color: @button-disabled-border-color;
        color: @button-disabled-text-color;
        text-shadow: none;
        background: @button-disabled-background-color;
      }

      &:hover:not([disabled]) {
        border: @px solid @dropdown-border-color;
        background: @dropdown-gradient-start-color;
        .gradient(@dropdown-gradient-start-color, @dropdown-gradient-start-color);
      }

      &:active:not([disabled]) {
        border: @px solid @dropdown-border-color;
        background: @dropdown-gradient-end-color;
        .gradient(@dropdown-gradient-end-color, @dropdown-gradient-end-color);
        .box-shadow(inset 0 0 0.5rem rgba(0, 0, 0, 0.25));
      }
    }

    button.prev-month,
    button.next-month {
      float: right;
      display: inline-block;
      font-size: 2.5rem;
      line-height: 1.6rem;
      color: rgb(90,90,90);
      padding: 0;
      margin: 0;
      border: 0;
      background: 0;
      width: auto;
      height: auto;

      &:hover {
        border: 0 none;
        background: none;
        color: rgb(44,44,44);
      }
    }

    input[type=text] {
      .box-sizing(border-box);
      border-radius: 0; // Fix for iOS >=5
      -webkit-appearance: none; // Fix for iOS <5
      vertical-align: middle;
      height: 2rem;

      font-family: @font-base-family;
      font-size: @dropdown-text-size;
      line-height: @dropdown-text-size;

      padding: 0.4375rem;
      margin: 0;
      border-right: 0;
    }
}

// The dropdown version of the datepicker
.datepicker-dropdown {
  display: inline-block;
  margin: 0.125rem 0;  // Give a top/bottom margin so they stack right
  position: relative;

  button {
    display: inline-block;
    .box-sizing(border-box);

    vertical-align: middle;

    min-width: 135*@px;
    height: 2rem;

    margin: 0;  // Reset default margin on button tag

    border: @px solid @dropdown-border-color;
    background: @dropdown-gradient-start-color;
    .gradient(@dropdown-gradient-start-color, @dropdown-gradient-end-color);

    font-family: @font-base-family;
    font-size: @dropdown-text-size;
    line-height: @dropdown-text-size;
    font-weight: normal;
    color: @dropdown-text-color;
    text-shadow: none;

    padding: 0.4375rem 0.4375rem 0.4375rem 1rem;
    height: @dropdown-text-size+0.4375rem*2+@px*2;

    min-width: 2rem;
    width: 2rem;
    font-size: 0;
    margin: 0;
    height: 2rem;
    padding: 0.4375rem;

    &:disabled {
      cursor: default;
      border-color: @button-disabled-border-color;
      color: @button-disabled-text-color;
      text-shadow: none;
      background: @button-disabled-background-color;
    }

    &:after {
      content: "";
      float: right;
      display: inline;
      padding-left: 1rem;
      height: @dropdown-text-size;
      background: url('../images/components/dropdown/handle.svg') no-repeat center center;
    }

    &:hover:not([disabled]) {
      border: @px solid @dropdown-border-color;
      background: @dropdown-gradient-start-color;
      .gradient(@dropdown-gradient-start-color, @dropdown-gradient-start-color);
    }

    &:active:not([disabled]) {
      border: @px solid @dropdown-border-color;
      background: @dropdown-gradient-end-color;
      .gradient(@dropdown-gradient-end-color, @dropdown-gradient-end-color);
      .box-shadow(inset 0 0 0.5rem rgba(0, 0, 0, 0.25));
    }
  }

  .datepicker-calendar {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 20rem;
    font-size: @dropdown-text-size;
    overflow: auto;
    border-bottom: @px solid @dropdown-border-color;
    background-color: #fff;
  }
}

