/**
 * A file upload field.
 */

input[type=file].fileupload {
    opacity: 0;
}

span.fileupload {
    overflow: hidden;
    position: relative;
    cursor: pointer;

    label {
        margin: 0;
        font-size: 0.875rem;
        cursor: pointer;
    }

    input[type=file] {
        height: 0;
        width: 0;
        position: absolute;
        left: 0;
        top: 0;
    }
}
