/**
 * A file upload field.
 */

input[type=file].fileupload {
    opacity: 0;
}

span.fileupload {
    overflow: hidden;
    position: relative;

    label {
        margin: 0;
        font-size: 0.875rem;
    }

    input[type=file] {
        opacity: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        cursor: pointer;
    }
}
