/**
* 
* A filters or tags input field.
*/

.filters input[type=text],
input[type=text].filters {
  .box-sizing(border-box);

  width: 13rem;  /* Fixed width to correspond to sourounding div.filters */

  font-size: 0.8125rem;

  height: 2rem;
  padding: 0.25rem 0.5rem 0.25rem 2rem;
  margin: 0.5rem 0;

  border: @px solid @textfield-border-color; 
  background: @textfield-background-color url('../images/components/filters/magnifier.png') no-repeat 0.5rem 0.4rem;
  background-size: 1.1rem;

  &:disabled {
    background: @textfield-disabled-background-color url('../images/components/filters/magnifier.png') no-repeat 0.5rem 0.4rem;
    background-size: 1.1rem;
  }

  &:focus {
    .glow();
    outline: none;
  }

  &.error {
    .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);

    &:focus {
     .glow;
    }
  }
}

.filters {
    display: inline-block;
    width: 13rem;  /* Needs fixed width for floating term elements */

    input[type=text] {
        width: 100%;
    }

    ul {
        font-size: 0; /* Eliminate white space */
        padding: 0;
        margin: 0 0 0.5rem 0;

    }
    ul li {
        font-size: 0.8125rem;
        padding: 0.25rem 0.5rem;
        margin: 0 0.2rem 0.2rem 0;

        display: inline-block;
        background-color: @filters-background-color;
        color: @filters-text-color;
    }

    button {
        font-size: 1rem;

        vertical-align: baseline;

        background: transparent;
        border: 0;

        width: auto;
        min-width: 1rem;

        padding: 0;
        margin: 0;
    }

}

.filters.stacking {
    input[type=text] {
        border: 0;
        background: transparent;
        padding: 0 0 0 2rem;
        margin: 0 -0.2rem 0 -0.2rem;
    }
    padding: 0rem 0rem 0.2rem 0.2rem;

    border: @px solid @textfield-border-color; 
    background: @textfield-background-color url('../images/components/filters/magnifier.png') no-repeat 0.5rem 0.4rem;
    background-size: 1.1rem;

    &:disabled {
      background: @textfield-disabled-background-color url('../images/components/filters/magnifier.png') no-repeat 0.5rem 0.4rem;
      background-size: 1.1rem;
    }

    &:focus {
      .glow();
      outline: none;
    }
}

.autocomplete-results {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        padding: 0.5rem 0.5rem;
        margin: 0;
        background-color: @textfield-background-color;
        border-top: @px solid @textfield-border-color;
        border-left: @px solid @textfield-border-color;
        border-right: @px solid @textfield-border-color;
        cursor: pointer;

        &:last-child {
            border-bottom: @px solid @textfield-border-color;
        }

        &:hover {
            background-color: darken(@textfield-background-color, 10%);
        }
        &.selected {
            background-color: darken(@textfield-background-color, 10%);            
        }
        &.selected:hover {
            background-color: darken(@textfield-background-color, 20%);            
        }

        em {
            font-weight: bold;
            letter-spacing: 0.1rem;
        }



    }
}