form.vertical {
	label {
		display: block;

		> span:first-child {
			display: block;
			color: #9a9a9a;
		}
	}
}

form.fill-parent {
	label {

		> input[type=text],
		> .pathbrowser,
		> textarea,
		> button {
			margin: 0.5rem 0;
			width: 100%;
		}
		> textarea {
			max-width: 100%;
			min-width: 100%;
		}
		
		/* All Dropdown containers are now blocks. */
		.dropdown-container {
			display: block;
			width: 100%;
		}

		/* Many special cases. Move these to their components later.*/

		> .pathbrowser {
			width: 100%;
			input[type=text] {
				width: 100%;
			}
		}

		> .datepicker {
			width: 100%;
			height: 2rem;
			margin: 0.5rem 0;
			position: relative;
			display: block;
			> input[type=text] {
				position: absolute;
				margin: 0;
				left: 0; top: 0;
				right: 2rem - 1 * @px;
				bottom: 0;
			}
			> button {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		> .dropdown {
			display: block;
			.dropdown-container {
				button {
					width: 100%;
				}
			}
		}
		.dropdown-editable {
			display: block;
			position: relative;
			width: 100%;
			height: 2rem;
			margin: 0.5rem 0;
			
			input[type=text] {
				position: absolute;
				left: 0; top: 0;
				right: 2rem - 1*@px;
				bottom: 0;
				margin: 0;
				width: auto;
			}
			button {
				position: absolute;
				top: 0;
				right: 0;
			}
			
		}

		> .slider {
			width: 100%;
		}
	}
}

div.form-column,
section.form-column,
form.form-column {
	width: 496*@px;
	margin-left: auto !important;
	margin-right: auto !important;
}