
/* Card Grid View */
.grid {
    overflow: hidden; // can be replaced with a clearfix in case needed
    padding: @card-grid-margin 0 0 @card-grid-margin;

    > [class^="grid-"],
    > [class*=" grid-"] {
        float: left;
    }
    > .grid-0,
    > .grid-1 {
        width: 100%;
    }
    > .grid-2 {
        width: 100% / 2;
    }
    > .grid-3 {
        width: 100% / 3;
    }
    > .grid-4 {
        width: 100% / 4;
    }
    > .grid-5 {
        width: 100% / 5;
    }
    > .grid-6 {
        width: 100% / 6;
    }
    > .grid-7 {
        width: 100% / 7;
    }
    > .grid-8 {
        width: 100% / 8;
    }
    > .grid-9 {
        width: 100% / 9;
    }
    > .grid-10 {
        width: 100% / 10;
    }
    > .grid-11 {
        width: 100% / 11;
    }
    > .grid-12 {
        width: 100% / 12;
    }
    > .grid-13 {
        width: 100% / 13;
    }
    > .grid-14 {
        width: 100% / 14;
    }
    > .grid-15 {
        width: 100% / 15;
    }
    > .grid-16 {
        width: 100% / 16;
    }
    > .grid-17 {
        width: 100% / 17;
    }
    > .grid-18 {
        width: 100% / 18;
    }
    > .grid-19 {
        width: 100% / 19;
    }
    > .grid-20 {
        width: 100% / 20;
    }

    .show-list {
        display: none;
    }
}

/* List View */
.list {
    .list-header {
        .select {

        }
        .order {

        }
        .title {

        }
        .published {

        }
        .modified {

        }
        .links {

        }
    }

    .show-grid {
        display: none;
    }
}
