/**
 * Class: div#header
 * Appears at the top of each page
 */
header {
  .flex;                // be a flex box
  .flex-direction(row); // span horizontally
  .flex-align(center);  // center flex items vertically
  
  width: 100%; // Otherwise does not span screen width in Firefox
  
  height: @header-height;
  background-color: @header-background-color;
  
  .box-shadow(0 0.1rem 0.45rem rgba(0, 0, 0, .35)); // TBD: make sure this matches mocks...
    
  color: @header-item-font-color;
  
  div.logo {
    padding: 0 0.75rem;
    
    .box-sizing(border-box);
    text-align: center;
    
    img {
      vertical-align: -0.45rem; // Make logo text line up
      
      height: @header-logo-size;
      width: @header-logo-size; 
    }
  }
  
  nav {
    .flex-ratio(4);
    
    a {
      display: inline-block;
      height: @header-height;

      color: @header-item-font-color;

      /*
      Spacing as a function of header item spacing
      Give some to padding, and some to margin
      */
      padding: 0 @header-item-spacing / 4;
      margin-right: @header-item-spacing / 2;
      
      line-height: @header-height;
      
      text-decoration: none;
      
      &:active, // TBD: does UX wants the active state (mousedown) to look like the selected item?
      &.selected {
        color: @header-item-down-font-color;
      }
    }
  }
  
  div.drawer {
  }
}
