/**
 * Class: div#header
 * Appears at the top of each page
 */
header {
  .flexbox;           // it's a flexbox
  .flex-row;          // that spans horizontally
  .flex-pack-start;   // with items packed to the left
  .flex-align-center; // and items centered vertically
  
  height: @header-height;
  background-color: @header-background-color;
  
  .box-shadow(0 0.1em 0.45em rgba(0, 0, 0, .35)); // TBD: make sure this matches mocks...
    
  color: @header-item-font-color;
  
  div.logo {
    padding: 0 0.75em;
    
    .flexbox;           // it's a flexbox
    .flex-row;          // that spans horizontally
    .flex-pack-start;   // with items packed to the left
    .flex-align-center; // and items centered vertically
    
    .box-sizing(border-box);
    text-align: center;
    
    img {
      height: @header-height / 5 * 3; /* 3/5 the height of the header */
    }
    
    img+div {
      margin-left: 0.5em; // For logo text
      color: @header-item-down-font-color;
    }
  }
  
  nav {
    .flex-ratio(4);
    
    a {
      display: inline-block;
      height: @header-height;

      color: @header-item-font-color;

      /*
      Spacing as a function of header item spacing
      Give some to padding, and some to margin
      */
      padding: 0 @header-item-spacing / 4;
      margin-right: @header-item-spacing / 2;
      
      line-height: @header-height;
      
      text-decoration: none;
      
      &:active, // TBD: is this what UX wants?
      &.down {
        color: @header-item-down-font-color;
      }
    }
  }
  
  div.drawer {
  }
}
