/**
  Element: i
  Used exclusively for icons
*/
i {
  color: @icon-color;
  font-size: @icon-size;
  // TODO: set default width/height?
}

// TODO: support for raster icons with small/medium/large etc

// Media query for HD screens - keeping empty and not removing it for later usage.
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: ~"3/2"),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: ~"1.5dppx") {
  // HD icons here
}
