/**
 *
 */
// Recalculate z-index where appropriate
.modal-open {
  .dropdown-menu {  z-index: @zindexDropdown + @zindexModal; }
  .dropdown.open { *z-index: @zindexDropdown + @zindexModal; }
  .popover       {  z-index: @zindexPopover  + @zindexModal; }
  .tooltip       {  z-index: @zindexTooltip  + @zindexModal; }
}

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindexModalBackdrop;
  background-color: @modal-underlay-background-color;
}

// Base modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: @zindexModal;
  min-width: 20em;
  display: none;
  
  overflow: auto;
  
  border: 0.625rem solid @modal-border-color;
  
  background-color: @modal-body-background-color;
  .background-clip(padding-box);
  
  .modal-header {
    height: 3.25rem;
    
    background: @modal-header-background-color;

    border: @px solid @modal-outline-color;
    border-bottom: 0;
    
    box-shadow: 0 @px 0 @modal-header-border-color;
    
    h2 {
      margin: 0;
      padding: 0.7rem 1rem;
    }
    
    .close {
      font-size: 1.65rem;
      padding: 0.5rem;
      margin: 0.7rem;
      float: right;
    }
  }

  // Body (where all modal content resides)
  .modal-body {
    overflow-y: auto;
    padding: 1rem;
    
    border: @px solid @modal-outline-color;
    border-top: 0;
    border-bottom: 0;
  }
  
  // Footer (for actions)
  .modal-footer {
    text-align: right; // right align buttons
    
    border: @px solid @modal-outline-color;
    border-top: 0;
    
    .clearfix(); // clear it in case folks use .pull-* classes on buttons

    button,
    .button {
      margin: 0.5rem;
      min-width: 100*@px;
    }
    
    .button:first-child,
    button:first-child {
      margin-left: 0;
    }
    
    .button + button,
    .button + .button,
    button + .button,
    button + button {
      margin-left: 0rem;
    }
  }
}
