/**
 *
 */
// Recalculate z-index where appropriate
.modal-open {
  .dropdown-menu {  z-index: @zindexDropdown + @zindexModal; }
  .dropdown.open { *z-index: @zindexDropdown + @zindexModal; }
  .popover       {  z-index: @zindexPopover  + @zindexModal; }
  .tooltip       {  z-index: @zindexTooltip  + @zindexModal; }
}

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindexModalBackdrop;
  background-color: @modal-underlay-background-color;
}

// Base modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: @zindexModal;
  min-width: 20rem;
  max-width: 90%;
  display: none;
  
  overflow: auto;
  
  outline: none; // Firefox shows focus outline
  
  border: 0.625rem solid @modal-border-color;
  
  background-color: @modal-body-background-color;
  .background-clip(padding-box);
  
  .modal-header {
    background: @modal-header-background-color;

    border: @px solid @modal-outline-color;
    border-bottom: 0;
    
    .box-sizing(border-box);
    width: 100%;
    
    .flex;                // be a flex box
    .flex-direction(row); // span horizontally
    .flex-align(center);  // center flex items vertically
  
    // Bottom border, easiest with a box shadow
    .box-shadow(inset 0 -1*@px 0 @modal-header-border-color);
    
    h2 {
      height: 3.25rem;
      margin: 0;
      padding: 0 1rem;
      
      line-height: 3.25rem;
      
      .flex-ratio(1);
      
      .ellipsis();
      
      // border-bottom: @px solid @modal-header-border-color;
    }
    
    .close {
      font-size: 1.65rem;
      padding: 0.5rem;
      margin: 0.6875rem;
    }
  }

  // Body (where all modal content resides)
  .modal-body {
    width: 100%;
    .box-sizing(border-box);
    overflow-y: auto;
    padding: 1rem;
    
    border: @px solid @modal-outline-color;
    border-top: 0;
    border-bottom: 0;
  }
  
  // Footer (for actions)
  .modal-footer {
    text-align: right; // right align buttons
    
    border: @px solid @modal-outline-color;
    border-top: 0;
    
    .clearfix(); // clear it in case folks use .pull-* classes on buttons

    button,
    .button {
      margin: 0.5rem;
      min-width: 100*@px;
    }
    
    .button:first-child,
    button:first-child {
      margin-left: 0;
    }
    
    .button + button,
    .button + .button,
    button + .button,
    button + button {
      margin-left: 0rem;
    }
  }
  
  &.error,
  &.notice,
  &.success,
  &.help,
  &.info {
    .modal-header {
      padding-left: 2rem;
      
      background-repeat: no-repeat;
      background-position: 1rem center;
    }
  }
  
  &.error {
    .modal-header {
      background-color: @alert-red-background-color;
      
      .box-shadow(inset 0 -1*@px 0 @alert-red-border-color);
      
      background-image: url('../images/components/alert/exclaimation.png');
    }
  }

  &.notice {
    .modal-header {
      background-color: @alert-yellow-background-color;

      .box-shadow(inset 0 -1*@px 0 @alert-yellow-border-color);

      background-image: url('../images/components/alert/exclaimation.png');
    }
  }

  &.success {
    .modal-header {
      background-color: @alert-green-background-color;

      .box-shadow(inset 0 -1*@px 0 @alert-green-border-color);

      background-image: url('../images/components/alert/check.png');
    }
  }

  &.help {
    .modal-header {
      background-color: @alert-blue-background-color;

      .box-shadow(inset 0 -1*@px 0 @alert-blue-border-color);

      background-image: url('../images/components/alert/question.png');
    }
  }

  &.info {
    .modal-header {
      background-color: @alert-blue-background-color;

      .box-shadow(inset 0 -1*@px 0 @alert-blue-border-color);

      background-image: url('../images/components/alert/i.png');
    }
  }
}
