/**
  Class: .page
  Used for the main page layout for content and rail
*/
.page {
  position: absolute;
  left: 0;
  right: 0;
  top: @header-height;
  bottom: 0;

  .rail {
    float: left;
    height: 100%;
    width: 15.5rem;
    .scrollable;
  }

  .content {
    height: 100%;
    .scrollable;
  }
}
