/**
  Class: .progress
  Used for a progress bar. Include a child node with class .bar and give a width in percentages
*/
.progress {
  display: inline-block;

  width:  @progress-width;
  height: @progress-height;

  border: @px solid @progress-border-color;

  background: @progress-background-color;

  .pinstripe(@progress-background-color, @progress-background-stripe-color);

  .background-size(@progress-stripe-size);

  vertical-align: top;

  .bar {
    margin: -1*@px 0 0 -1*@px;

    height: @progress-height;

    border: @px solid @progress-bar-border-color;
    border-right: none;

    .gradient(@progress-bar-gradient-start, @progress-bar-gradient-end);
  }

  & + label {
    display: inline-block;
    height: @progress-height;
    line-height: @progress-height+0.125rem;
  }
}
