div.pull-to-refresh {
    @pull-to-request-size: 3rem;

    display: none;        

    line-height: @pull-to-request-size;
    height: @pull-to-request-size;
    width: 100%; 
    
    position: absolute; 
    left: 0; 
    top: -@pull-to-request-size;

    font-size: 0.85rem;

    z-index: -1; // push it backwards

    >.message {
        height: @pull-to-request-size;
        width: 100%;
        overflow-y: auto;
        position: relative;

        >i.spinner,
        >i.arrow {
            margin: 0.5rem 0.5rem 0.5rem 1rem;
            display: block;
        }

        >i.arrow { 
            display: inline-block;
            width: 1rem;
            height: 2rem;

            background-position: center center;
            background-image: url(~"@{component-images-folder}/rail/pull-to-refresh-arrow.png");

            .background-size(100%);
        }

        // positioning the messages as layers and hiding with opacity avoids flashing on iOS
        >span.pull,
        >span.release, 
        >span.loading {
            text-align: center;

            display: block;
            height: @pull-to-request-size;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
        }
    }
}

div.rail {
  // if pull to request is possible, then the background needs to transparent
    &.pullable {
        position: relative;
        background-color: transparent; 

        >.pull-to-refresh {
            display: block;
        }
        
        &.touch {    
            > .wrap {
                padding-bottom: 1px; // this is necessary to enable scrolling
            }
        }
    }
}