div.editable {
    cursor: text;
}

div.edited {
    background-color: #ffffff;
}

.rte-toolbar {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #454545;
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 10000;

    &.active {
        display: block;
    }

    button {

        &.item {
            min-width: 60*@px;
            width: 60*@px;
            height: 44*@px;
            color: #cecece;
            padding: 0;
            border: 0;
            margin: 0 -4*@px 0 0;
            user-select: none;
            -webkit-user-select: none;
        }

        &.selected {
            color: #ffff00;
        }

        &.disabled {
            color: #eeeeee;
            opacity: 0.4;
        }

        /* specific styles */

        &.bold {
            font-weight: bold;
            font-size: 20*@px;
        }

        &.italic {
            font-style: italic;
            font-size: 20*@px;
        }

        &.underline {
            text-decoration: underline;
            font-size: 20*@px;
        }

    }

}

.cui-rte-forcedborder,
.cui-rte-forcedborder TD,
.cui-rte-forcedborder TH {
    border: 1*@px dotted #d3d3d3;
}