div.editable {
    cursor: text;
}

div.edited {
    background-color: #ffffff;
}

.userSelect(@type) {
    -webkit-user-select: @type;
    -khtml-user-select: @type;
    -moz-user-select: @type;
    -ms-user-select: @type;
    user-select: @type;
}

.rte-button() {

    background-color: #454545;
    background-image: none;
    vertical-align: top;

    &.item {
        min-width: 60*@px;
        width: 60*@px;
        height: 44*@px;
        color: #cecece;
        background-color: #454545;
        background-image: none;
        padding: 0;
        border: 0;
        margin: 0;
    }

    &.text {
        font-size: 20*@px;  /* TODO remove once icons are available */
    }

    &.selected {
        background-color: #151515;
        color: #d0d0d0;
    }

    &.disabled {
        color: #eeeeee;
        opacity: 0.4;
    }

    &.triggered {
        background-color: #ffffff;
        color: #0f0f0f !important;
    }

    &.trigger {
        background-image: url('data:image/svg+xml;utf8,<svg width="5" height="5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#CCCCCC" points="4,4 0,4 4,0 "/></svg>') !important;
        background-position-x: right !important;
        background-position-y: bottom !important;
        background-repeat: no-repeat !important;
    }

    /* reset gradient filter on IE */

    &,
    &:hover,
    &:active {
        filter: none;
    }

    /* specific styles */

    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.underline {
        text-decoration: underline;
    }

}

.rte-toolbar {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #454545;
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 10000;
    font-size: 0;   /* fixes additional space between buttons because of linefeeds */
    .userSelect(none);
    -webkit-touch-callout: none;

    &.active {
        display: block;
    }

    .separator {
        background-color: #343434;
        width: 1*@px;
        min-width: 1*@px;
        height: 44*@px;
        display: inline-block;
    }

    button {
        .rte-button;
    }

}

.rte-popover {

    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
    .userSelect(none);
    -webkit-touch-callout: none;

    button {
        .rte-button;
    }

}

.cui-rte-forcedborder,
.cui-rte-forcedborder TD,
.cui-rte-forcedborder TH {
    border: 1*@px dotted #d3d3d3;
}