/**
  Element: Search field
  A simple search field with button
*/

div.search {
  padding: 0;
  margin: 0;
  
  input[type=text] {
    height: 2rem;
    margin: 0;
    
    min-width: 10rem;
    
    padding-right: 40*@px;
    
    font-size: 13*@px;
    font-family: @font-base-family;

    &.error {
      .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }
  }

  button {
    .icon-search;
    .button-square;
    
    // Fit inside of the search field
    height: 30*@px;
    margin: @px 0 0 -37*@px;
    
    border: none;    
    border-left: @px solid @textfield-border-color;
  }
}
