/**
  Element: Search field
  A simple search field with button
*/

div.search {
  display: inline-block;
  padding: 0;
  margin: 0.5rem 0;
  white-space: nowrap; // Fix iOS Safari bug with negative margins
  
  input[type=text] {
    height: 2rem;
    margin: 0;
    
    min-width: 10rem;
    
    padding-right: 40*@px;
    
    font-size: 13*@px;
    font-family: @font-base-family;

    &.error {
      border-color: @textfield-error-border-color;
    }
    &:focus.error {
      .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
    }    
  }

  button {
    .icon-search;
    .button-square;
    white-space: normal;
        
    // Fit inside of the search field
    height: 30*@px;
    margin: @px 0 0 -37*@px;
    
    &,
    &:hover,
    &:active,
    &:disabled {
      border: none;
      border-left: @px solid @textfield-border-color;
      filter: none;
    }
  }
}
