/**
 * Class: .slider
 * Displays a slider
 */
.slider {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: auto;
  .border-box;
  padding: 0;
  .border-radius(0.25rem);
  border: @px solid @slider-border-color;
  background-color: @slider-background-color;
  width: 13.750rem;
  height: 0.5rem;
  margin: 0.5rem 0.25rem;

  .slider-transition {
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  .slider-transition-slow {
    -moz-transition: all 2s cubic-bezier(1, 0, 0.5, 0);
    -webkit-transition: all 2s cubic-bezier(1, 0, 0.5, 0);
    -o-transition: all 2s cubic-bezier(1, 0, 0.5, 0);
    transition: all 2s cubic-bezier(1, 0, 0.5, 0);
  }
  
  &:hover,
  &.focus, {
      z-index: 1;
  }

  .handle {
    position: absolute;
    top: 0rem;
    left: 0;
    display: inline-block;
    .border-box;
    width: 0.5625rem;
    height: 1.25rem;
    margin: -0.5rem -0.25rem;
    .gradient(@slider-handle-gradient-start-color, @slider-handle-gradient-end-color);
    .border-radius(0.25rem);
    border: @px solid @slider-border-color;
    cursor: url('../images/cursors/openhand.cur'), default;
    &:hover,
    &.dragging {
      .gradient(lighten(@slider-handle-gradient-start-color, 15%), lighten(@slider-handle-gradient-end-color, 15%));
      .tooltip {
        opacity: 1;
        .slider-transition;
      }
    }
    &.dragging {
        cursor: url('../images/cursors/closedhand.cur'), default;
    }
    &.focus {
      .gradient(lighten(@slider-handle-gradient-start-color, 15%), lighten(@slider-handle-gradient-end-color, 15%));
      -webkit-box-shadow: 0 0 0.375rem #377eaf;
      -moz-box-shadow: 0 0 0.375rem #377eaf;
      box-shadow: 0 0 0.375rem #377eaf;
      border-color: #6a8bc4;
      outline: none;
      .tooltip {
        opacity: 1;
        .slider-transition;
      }
    }
  }

  .tick {
    position: absolute;
    display: block;
    .border-box;
    bottom: 0;
    left: 0;
    width: 0.0625rem;
    height: 100%;
    background-color: @slider-border-color;
    &.covered {
      background-color: @slider-fill-tick-color;
    }
  }

  .tooltip {
    position: absolute;
    opacity: 0;
    left: -1.25rem;
    top: -3.4375rem;
    .slider-transition-slow;
  }
  
  input[type=range],
  input[type=number] {
    opacity: 0.00001;
    cursor: default;
    position: absolute;
    top: 0rem;
    left: 0;
    width: 0.5625rem;
    height: 1.25rem;
    margin: -0.625rem -0.25rem;
    overflow: hidden;
    padding: 0;
    z-index: 0;
  }

  .fill {
    position: absolute;
    .border-box;
    background-color: @slider-fill-color;
    border: @px solid @slider-fill-border-color;
    margin: -0.0625rem;
    .border-radius(0.25rem);
    height: 0.5rem;
    left: 0;
  }

  .value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: auto;
    &.focus {
      z-index: 1;
    }
  }

    .clickarea {
        position: absolute;
        left: 0;
        top: -0.5rem;
        right: 0;
        bottom: -0.5rem;
    }
    
  &.vertical {
    width: 0.5rem;
    height: 13.750rem;
    margin: 0.25rem 0.625rem;
    
    input[type=range],
    input[type=number] {
      top: auto;
      width: 1.25rem;
      height: 0.5625rem;
      margin: -0.25rem -0.625rem;
      -webkit-appearance: slider-vertical;
    }
    
    .handle {
      top: auto;
      width: 1.25rem;
      height: 0.5625rem;
      margin: -0.25rem -0.4625rem;
    }
    
    .tick {
      width: 100%;
      height: 0.0625rem;
    }
    .tooltip {
      left: 1.5625rem;
      top: -1.25rem;
    }
    .fill {
      width: 0.5rem;
      bottom: 0;
      margin: -0.0625rem;
    }
    .clickarea {
        position: absolute;
        left: -0.5rem;
        top: 0;
        right: -0.5rem;
        bottom: 0;
    }
  }
   
  &.disabled {
    border-color: @slider-disabled-border-color;
    background-color: @slider-disabled-background-color;
    .handle {
      background: @slider-disabled-background-color;
      border-color: @slider-disabled-border-color;
      outline: none;
      &:hover {
        cursor: auto;
        .tooltip {
          display: none;
        }
      }
    }

    .tick {
      background-color: @slider-disabled-border-color;
    }

    .fill {
      background-color: @slider-disabled-fill-color;
      border-color: @slider-disabled-border-color;
    }
  }
}

.slider-dragging-cursorhack, .slider-dragging-cursorhack * {
    cursor: url('../images/cursors/closedhand.cur'), default !important;    /* Apply dragging to complete page */
}

.sliderfieldset {
    display: inline-block;
    position: static;
}
