/**
* Class: .textField
* A basic text input field.
*/

label {
  font-size: 0.8125rem;
  padding: 0 0.5rem;
}

input[type=text] {
  .box-sizing(border-box);
  
  font-size: 0.8125rem;
  
  height: 2rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5em 0;

  border: @px solid @textfield-border-color; 
  background-color: @textfield-background-color;
  
  &:disabled {
    background-color: @textfield-disabled-background-color;
  }

  &:focus {
    border: @px solid @textfield-focused-border-color;
    .box-shadow(0 0 0.35rem @textfield-focused-border-color);
    outline: none;
  }

  &.error,
  &.error:focus {
    border-color: @textfield-error-border-color;
    .box-shadow(0 0 0.35rem @textfield-error-border-color);
  }
}
