/**
  Element: toggle
  CUI button styles
*/

// Selector
.selector {
  display: inline-block;

  border: @px solid @selector-border-color;



/*.box-sizing(border-box); // Makes 135px min-width apply consistently between anchor/button

vertical-align: top; // Make buttons line up when placed next to each other

min-width: 135*@px;

margin: 0.125rem 0;  // Reset default margin on button tag
// Give a top/bottom margin so they stack right
padding: 0.4375rem 1rem;



font-family: @font-base-family;
font-size: @button-text-size;
font-weight: bold;
color: @button-text-color;
text-decoration: none; // Reset underline on anchor
text-align: center;

text-shadow: 0 -1*@px 0 rgba(0, 0, 0, 0.35);

cursor: pointer; // Give hand cursor

.gradient(rgba(0, 0, 0, 0.35), @button-gray-gradient-end-color);


&:hover {
  text-decoration: none; // Reset underline on anchor
  background: @button-gray-hover-background-color;
}

&:focus {
  .glow();
}*/


}
