/**
 * Class: div.toolbar
 * The top toolbar for pages
 */
div.toolbar {
  border-bottom: @px solid @toolbar-border-color;
  margin: 0.25em; // TODO: get exact margins
  
  .flexbox;           // it's a flexbox
  .flex-row;          // that spans horizontally
  .flex-pack-start;   // with items packed to the left
  .flex-align-center; // and items centered vertically
  
  div:first-child {
    .flex-ratio(2);
  }
  
  div.buttons {
    i {
      margin: 0 @toolbar-icon-margin;
      
      cursor: pointer;
      
      &.spacer {
        cursor: default;
        
        display: inline-block;
        font-size: inherit;
        width: @px;
        height: 1em;
        background-color: @toolbar-spacer-color;
      }
    }
  }
}
