/**
Class: .toolbar
The top toolbar with action icons
*/
.toolbar {
  position: relative;
  height: 46*@px;
  
  border-bottom: @px solid @toolbar-border-color;

  .left,
  .right,
  .middle {
    float: none;
    position: absolute;
    top: 0;
    
    padding: 11*@px 0; // "vertically center"
  }
  
  .left {
    z-index: 1;
    left: 0;
  }
  
  .right {
    z-index: 1;
    right: 0;
  }
  
  .middle {
    z-index: 0;
    left: 0;
    right: 0;
    
    text-align: center; // make text and inline-block centered
    
    h1 {
      margin: 0;

      .regularText; // AdobeClean, not light
      line-height: 1.5;
      font-size: 18*@px;
    }
  }
}
