/**
 * Class: div.toolbar
 * The top toolbar for pages
 */
div.toolbar {
  border-bottom: @px solid @toolbar-border-color;
  margin: 0.25rem; // TODO: get exact margins
  
  .flex;                // be a flex box
  .flex-direction(row); // span horizontally
  .flex-align(center);  // center flex items vertically
  
  div:first-child {
    .flex-ratio(2);
  }
  
  div.buttons {
    i {
      margin: 0 @toolbar-icon-margin;
      
      cursor: pointer;
      
      &.spacer {
        cursor: default;
        
        display: inline-block;
        font-size: inherit;
        width: @px;
        height: 1rem;
        background-color: @toolbar-spacer-color;
      }
    }
  }
}
