/**
 * Class: .well
 * A content well
 */
.well {
  margin: 0;
  padding: 0.5em;
  
  border: @px solid @well-border-color;
  
  background: @well-background-color;
}

strong + .well {
  margin-top: 0.25em;
}