/**
  Class: div.wizard
  Displays a wizard widget. 
*/

.wizard {
    &>nav {
        background: @wizard-nav-background-color;

        button {
            color: @wizard-button-color;
            margin: 6px 9px 8px 9px;
        }

        button[disabled] {
            opacity: 0.5;
            color: @wizard-button-color;

            &:hover {
                color: @wizard-button-color;
            }
        }

        button.back {
            background: @wizard-back-button-background-color;
            border-color: @wizard-back-button-border-color;
        }

        button.next {
            background: @wizard-next-button-background-color;
            border-color: @wizard-next-button-border-color;
        }

        ol {

            counter-reset: item;

            li {
                display: inline;
                color: @wizard-nav-title-color;

                &:before {
                    content: counter(item) "  "; 
                    counter-increment: item;
                }

                &.active {
                    color: @wizard-nav-active-title-color;
                }
            }
        }
    }

    section {
        display: none;
    }

    section.active {
        display: block;
    }


}
