p.
  A button containing text and/or an image. It extends <code>HTMLButtonElement</code> to take advantage of the
  accessibility given by browsers but it means that this component has a special way of instantiating.

include configurator

p.
  Note: Using the <code>minimal</code> variant results in a button without a minimum value for its
  width or height. One possible usage could icon-only buttons, such as a close button for a dialog.

include form

include jsdoc
