+document-section-simple-example()
  .docs-Example-simpleExampleMarkup
    button(is='coral-button') Default
    button(is='coral-button' variant='primary') Primary
    button(is='coral-button' variant='quiet' icon='share') With Icon
    button(is='coral-button' disabled) Disabled
