/**
  Element: select
  CUI button styles
*/

@select-border-color: rgba(0, 0, 0, 0.25);
@select-background-gradient-start: rgb(255, 255, 255);
@select-background-gradient-end: rgb(240, 240, 240);
@select-active-background-color: rgb(230, 230, 230);
@select-active-glow-color: rgba(0, 0, 0, 0.08);
@select-hover-background-color: rgb(255, 255, 255);
@select-disabled-background-color: rgb(230, 230, 230);
@select-disabled-border-color: rgb(210, 210, 210);
@select-disabled-text-color: rgb(180, 180, 180);

.select {
  display: inline-block;
  
  .border-box;
  vertical-align: top; // used to align them correctly in forms.
  margin: 2*@px 0;  // resets default margin

  width: 13rem; /* Width must be specified */
  
  > button {

    width: 100%;
    padding: 0 32*@px 0 10*@px;
    font-size: inherit;
    margin: 0;

    position: relative;

    color: @font-base-color;
    .gradient(@select-background-gradient-start, @select-background-gradient-end);

    &,
    &:hover,
    &:active {
      border: 1*@px solid @select-border-color;
    }

    text-shadow: none;
    text-align: left;
    font-weight: normal;
    
    &,
    &[class^="icon-"], 
    &[class*=" icon-"] {
        height: 38*@px;
        line-height: 36*@px;
    }

    &[class^="icon-"], 
    &[class*=" icon-"] {
      &:before {
        color: inherit;
        margin-right: 10*@px; 
      }
    }

    &:after {
      content: "\25BE";
      overflow: visible;
      height: auto;
      white-space: inherit;
      color: inherit;
      text-align: left;
      position: absolute;
      right: 11*@px;
      top: 0;
      text-shadow: none;
      font-size: 1.2em;
      color: inherit;
      pointer-events: none; 
    }

    &:hover {
      background: @select-hover-background-color;
    }

    &:active,
    &.active {
      background: @select-active-background-color;
      .box-shadow(inset 0 0 4*@px @select-active-glow-color);
    }

    &[disabled] {
      color: @select-disabled-text-color;
      background: @select-disabled-background-color;
      border-color: @select-disabled-border-color;
      pointer-events: none;
    }

    &.error {
      color: @textfield-error-font-color;
      border-color: @textfield-error-border-color;    

      &:focus {
        color: @textfield-error-font-color;
        .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);
      }
    }
  }

  > select {
    display: none;
    position: relative;
    margin-top: -100%;
    float: left;
  }
}
