@select-font-color: rgb(75, 75, 75);
@select-border-color: rgba(0, 0, 0, 0.25);
@select-background-gradient-start: rgb(255, 255, 255);
@select-background-gradient-end: rgb(240, 240, 240);
@select-active-background-color: rgb(230, 230, 230);
@select-active-glow-color: rgba(0, 0, 0, 0.08);
@select-hover-background-color: rgb(255, 255, 255);
@select-disabled-background-color: rgb(230, 230, 230);
@select-disabled-border-color: rgb(210, 210, 210);
@select-disabled-text-color: rgb(180, 180, 180);


.select {
    position: relative;
    display: inline-block;
    width: 13rem; /* Width must be specified */
    vertical-align: top;
    color: @font-base-color;

    @input-height: 32*@px;

    &:after {
        content: "\25BE";
        overflow: visible;
        height: auto;
        white-space: inherit;
        color: inherit;
        text-align: left;
        position: absolute;
        top: 11*@px;
        right: 11*@px;
        text-shadow: none;
        font-size: 1.2em;
        color: inherit;
        pointer-events: none; 
    }
    
    > input {
        width: 100%;
        height: @input-height;
        padding: 7*@px 10*@px;
    
        color: @dropdown-font-color;
        .box-sizing(border-box);
        .gradient(@dropdown-background-gradient-start, @dropdown-background-gradient-end);
        border: 1*@px solid @dropdown-border-color;

        text-shadow: none;
        text-align: left;
        font-weight: normal;

        &:hover {
            background: @dropdown-hover-background-color;
        }

        &:active,
        &.active {
            background: @dropdown-active-background-color;
            .box-shadow(inset 0 0 4*@px @dropdown-active-glow-color);
        }

        &[disabled] {
            color: @dropdown-disabled-text-color;
            background: @dropdown-disabled-background-color;
            border-color: @dropdown-disabled-border-color;
        }

        &.error {
            color: @textfield-error-font-color;
            border-color: @textfield-error-border-color;    

            &:focus {
                color: @textfield-error-font-color;
                .glow(0.357rem, @textfield-error-border-color, @textfield-error-border-color);    
            }
        }
        
    }

    > select {
        display: none;
        position: absolute;
    }
}
