<button tracking="off" class="_coral-QuickActions-item _coral-QuickActions-item-more" variant="quietaction" is="coral-button" type="button" icon="more" iconsize="S" handle="moreButton" title="{{data.i18n.get('More actions')}}" role="menuitem" aria-haspopup="menu" aria-expanded="false" aria-label="{{data.i18n.get('More actions')}}"></button>
<coral-popover class="_coral-QuickActions-moreOverlay" tracking="off" smart id="{{data.commons.getUID()}}" breadthoffset="50%p - 50%" placement="bottom" handle="overlay" role="presentation">
  <coral-buttonlist tracking="off" id="{{data.commons.getUID()}}" class="_coral-QuickActions-buttonList" handle="buttonList" role="menu" tabindex="-1"></coral-buttonlist>
</coral-popover>
