<input type="text" class="_coral-Search-input" is="coral-textfield" handle="input">
<button type="button" aria-label="{{data.i18n.get('Clear search')}}" is="coral-button" variant="_custom" class="_coral-Search-clear _coral-ClearButton" handle="clearButton">
  <coral-button-label handle="clearButtonLabel"></coral-button-label>
  <js>
    <js>
      // Don't wait for button MO to pick up the label
      this.clearButton._elements.label = this.clearButtonLabel;
      // Render icon
      this.clearButton.insertAdjacentHTML('beforeend', data.Icon._renderSVG('spectrum-css-icon-CrossSmall', ['_coral-UIIcon-CrossSmall']));
    </js>
  </js>
</button>
