/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@require '../../../coral-theme-spectrum/src/styles/vars.css';

$form-vmargin-min = var(--spectrum-medium-global-dimension-size-100);
// produces 15px separation between field and next label
$form-vertical-vmargin-max = var(--spectrum-medium-global-dimension-size-100);
$form-aligned-vmargin-max = var(--spectrum-medium-global-dimension-size-200);
$form-hmargin = var(--spectrum-medium-global-dimension-size-125);
$form-vmargin = var(--spectrum-medium-global-dimension-size-125);
$form-aligned-label-min-width = var(--spectrum-medium-global-dimension-size-1600);

/**
 * Indicates the fieldset.
 * .fieldset is used instead of <fieldset> as <legend> cannot be styled as per requirement.
 */
.coral-Form-fieldset {
  margin: 0 var(--spectrum-medium-global-dimension-size-125) var(--spectrum-medium-global-dimension-size-300) var(--spectrum-medium-global-dimension-size-125);
  border: none;
}

/**
 * Indicates the legend of fieldset.
 */
.coral-Form-fieldset-legend {
  display: block;
  margin: var(--spectrum-medium-global-dimension-size-100) 0 var(--spectrum-medium-global-dimension-size-125) 0;

  font-weight: var(--spectrum-medium-heading-5-text-font-weight);
  font-style: var(--spectrum-medium-heading-5-text-font-style);

  font-size: var(--spectrum-medium-heading-5-text-size);
  line-height: var(--spectrum-medium-heading-5-text-line-height);
}

.coral-Form-fieldset:first-of-type {
  border: none;
}

.coral-Form-fieldset:first-of-type .coral-Form-fieldset-legend {
  margin-top: var(--spectrum-global-dimension-static-size-300);
}

.coral-Form--vertical,
.coral-Form--aligned {
  .coral-Form-fieldlabel {
    box-sizing: border-box;
    font-weight: var(--spectrum-medium-fieldlabel-text-font-weight);
    font-size: var(--spectrum-medium-fieldlabel-text-size);
    line-height: var(--spectrum-medium-fieldlabel-text-line-height);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-smoothing: subpixel-antialiased;
    vertical-align: top;
  }
}

.coral-Form-errorlabel {
  box-sizing: border-box;
  font-weight: var(--spectrum-medium-fieldlabel-text-font-weight);
  font-size: var(--spectrum-medium-fieldlabel-text-size);
  line-height: var(--spectrum-medium-fieldlabel-text-line-height);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
  vertical-align: top;
  display: block;
  padding-top: var(--spectrum-medium-fieldlabel-padding-bottom);
}

/**
 * Indicates that the form is using vertical layout, where the label is placed above the field.
 */
.coral-Form--vertical {
  .coral-Form-field {
    margin: 0;

    // Don't override right checkbox,radio margin
    &._coral-Checkbox,
    &._coral-Radio {
      margin: 0 var(--spectrum-global-dimension-static-size-200) $form-vertical-vmargin-max 0;
    }
  }

  .coral-Form-fieldlabel {
    display: block;
    padding: var(--spectrum-medium-fieldlabel-padding-top) 0 var(--spectrum-medium-fieldlabel-padding-bottom);
  }

  .coral-Form-fieldwrapper {
    position: relative;
    display: block;

    .coral-Form-fieldinfo,
    .coral-Form-fielderror {
      position: absolute;
      top: var(--spectrum-global-dimension-static-size-50);
      right: 0;
    }
  }

  .coral-Form-fieldwrapper--alignRight {
    text-align: right;
  }

  .coral-Form-fieldwrapper--singleline {
    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    .coral-Form-field {
      margin: 0;

      &._coral-Checkbox,
      &._coral-Radio {
        float: left;
      }
    }

    .coral-Form-fieldinfo,
    .coral-Form-fielderror {
      float: left;
      position: static;
      margin-left: $form-hmargin;
      margin-top: $form-vmargin;
    }
  }
}

/**
 * Indicates that the form is using aligned layout, where the label and the field are placed on the same line.
 */
.coral-Form--aligned {
  .coral-Form-field {
    float: left;
    margin: 0 0 $form-aligned-vmargin-max 0;
  }

  .coral-Form-fieldwrapper {
    clear: left;
    display: block;
    margin: 0;

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .coral-Form-fieldwrapper--singleline {
    margin-bottom: $form-vmargin-min;
  }

  .coral-Form-fieldset {
    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .coral-Form-fieldlabel {
    padding: var(--spectrum-medium-fieldlabel-side-padding-top) var(--spectrum-medium-fieldlabel-side-padding-x) 0 0;
    float: left;
    clear: left;
    margin: 0 $form-hmargin 0 0;
    min-width: $form-aligned-label-min-width;
  }

  .coral-Form-fieldlabel:empty + .coral-Form-field {
    margin-left: var(--spectrum-medium-global-dimension-size-1200);
  }

  .coral-Form-fieldwrapper {
    .coral-Form-field {
      margin-top: 0;
      margin-bottom: 0;

      &.coral-RadioGroup {
        display: block;
      }
    }

    .coral-Form-fieldlabel,
    .coral-Form-errorlabel {
      margin-top: 0;
      margin-bottom: 0;
    }

    .coral-Form-fieldinfo
    .coral-Form-fielderror {
      float: left;
      margin-left: $form-hmargin;
      margin-top: $form-vmargin;
    }

    .coral-Form-errorlabel {
      float: left;
      margin-left: $form-hmargin;
    }
  }

  .coral-Form-fieldset {
    margin-bottom: var(--spectrum-global-dimension-static-size-125);
  }

  .coral-Form-field._coral-Textfield--multiline {
    display: block;
  }
}

// Strech components width
.coral-Form--vertical {
  .coral-Form-field.coral-InputGroup,
  .coral-Form-field.coral-DecoratedTextfield,
  .coral-Form-field.coral-DecoratedTextfield .coral-DecoratedTextfield-input,
  .coral-Form-field._coral-InputGroup,
  .coral-Form-field._coral-Textfield,
  .coral-Form-field._coral-Autocomplete,
  .coral-Form-field._coral-Autocomplete ._coral-InputGroup,
  .coral-Form-field._coral-Multifield,
  .coral-Form-field._coral-Search,
  .coral-Form-field._coral-Search ._coral-Search-input,
  .coral-Form-field._coral-ColorInput,
  .coral-Form-field._coral-Stepper,
  .coral-Form-field._coral-Dropdown,
  .coral-Form-field._coral-Slider:not(._coral-Slider--vertical) {
    width: 100%;
  }

  .coral-Form-field._coral-Checkbox,
  .coral-Form-field._coral-Radio {
    display: flex;
  }
}

.coral-Form-field.coral-RadioGroup--vertical {
  display: flex;
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
