script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Progress,
      useInnerElements: true,
      innerElements: [
        {
          tagName: 'coral-progress-label',
          properties: {
            'label.innerHTML': 'innerHTML'
          }
        }
      ],
      skipInnerElement: function(tagName) {
        // Skip label if showPercent is set
        return tagName === 'coral-progress-label' && configurator.instance.showPercent;
      },
      skipProperty: function(prop) {
        // Skip label if showPercent is set
        return prop === 'label.innerHTML' && configurator.instance.showPercent;
      },
      mainContentZone: 'coral-progress-label',
      fields: [
        {
          label: 'Size',
          prop: 'size',
          type: 'select',
          value: 'm',
          options: {
            'Small': 's',
            'Medium': 'm',
            'Large': 'l',
          }
        },
        {
          label: 'Label',
          prop: 'label.innerHTML',
          type: 'text',
          value: ''
        },
        {
          label: 'Label Position',
          prop: 'labelPosition',
          type: 'select',
          value: 'right',
          options: {
            'Left': 'left',
            'Right': 'right',
            'Bottom': 'bottom',
          }
        },
        {
          prop: 'value',
          label: 'Value',
          type: 'spinner',
          value: 50,
          min: 0,
          max: 100
        },
        {
          label: 'is indeterminate',
          prop: 'indeterminate',
          type: 'checkbox',
          value: false
        },
        {
          label: 'Show Percent',
          prop: 'showPercent',
          type: 'checkbox',
          value: false
        }
      ],
      componentEvents: [
        'coral-progress:change'
      ]
    }).insertAfterLastScript();

    configurator.on('coral-configurator:propchange', function(event) {
      if (event.detail.prop === 'showPercent') {
        // Blow away the innerHTML that showPercent put right away
        // Normally, this would happen on the next animation frame, but the configurator will pick it up
        configurator.instance.label.innerHTML = '';

        // Force configurator to re-draw HTML
        configurator._updateCodeFromInstance();
      }
    });
  }
