/**
 * Keyframes: rotate
 * Used for rotating a node 360 degrees
 */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}


@-webkit-keyframes rotate-cc {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes rotate-cc {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(-360deg);
  }
}
