
/**
 * Mixin, CSS Class: .light-text
 * Apply light text styling with appropriate font fallback.
 */
.light-text {
  font-family: adobe-clean, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/**
 * Mixin, CSS Class: .normal-text, .regular-text
 * Apply Default text styling with appropriate font fallback.
 */
.normal-text,
.regular-text
{
  font-family: adobe-clean, Helvetica, Arial, sans-serif;
  font-weight: normal;
}


/**
 * Mixin, CSS Class: .bold-text
 * Apply bold text styling with appropriate font fallback.
 */
.bold-text {
  font-family: adobe-clean, Helvetica, Arial, sans-serif;
  font-weight: bold;
}



/**
 * Mixin: .condensed-text()
 * Apply condensed text styling with appropriate font fallback.
 */
.condensed-text
{
  font-family: adobe-clean-condensed, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/**
 * Mixin: .condensed-bold-text()
 * Apply bold condensed text styling with appropriate font fallback.
 */
.condensed-bold-text {
  font-family: adobe-clean-condensed, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
