/**
 * Mixin, CSS Class: .light-text
 * Apply light text styling with appropriate font fallback.
 */
.light-text() {
  font-family: @font-base-family;
  font-weight: 300;
}

/**
 * Mixin, CSS Class: .normal-text, .regular-text
 * Apply Default text styling with appropriate font fallback.
 */
.normal-text() {
  font-family: @font-base-family;
  font-weight: normal;
}

.regular-text() {
  .normal-text();
}

/**
 * Mixin, CSS Class: .bold-text
 * Apply bold text styling with appropriate font fallback.
 */
.bold-text() {
  font-family: @font-base-family;
  font-weight: 700;
}

/**
 * Mixin: .condensed-text()
 * Apply condensed text styling with appropriate font fallback.
 */
.condensed-text() {
  font-family: @font-condensed-family;
  font-weight: normal;
}

/**
 * Mixin: .condensed-bold-text()
 * Apply bold condensed text styling with appropriate font fallback.
 */
.condensed-bold-text() {
  font-family: @font-condensed-family;
  font-weight: 700;
}
