// TODO clean up variables and move to related components

// Fonts
@font-base-family: adobe-clean, Helvetica, Arial, sans-serif;
@font-light-family: adobe-clean, Helvetica, Arial, sans-serif;
@font-icon-family: AdobeIcon;
@font-base-color: rgb(75, 75, 75);

@font-captions-help-color: rgb(135, 135, 135);
@font-secondary-color: rgb(150, 150, 150);

// Focus
@focus-glow-color: rgb(50, 135, 210);
@focus-border-color: @focus-glow-color;
@focus-glow-radius: 3*@px;
@partial-glow-radius: @focus-glow-radius/3;
@partial-glow-color: fadeout(@focus-glow-color, 75%);

 // Square Buttons used in the mixin.
@button-square-border-color: rgb(172, 172, 172);
@button-square-gradient-start-color: rgb(245, 245, 245);
@button-square-gradient-end-color: rgb(235, 235, 235);
