// fonts
@font-base-family: adobe-clean, Helvetica, Arial, sans-serif;

@font-base-color: rgb(75, 75, 75);
@font-secondary-color: rgb(150, 150, 150);
@font-captions-help-color: rgb(135, 135, 135);

@base-font-size: 13*@px;
@base-line-height: 16*@px;

// focus
@focus-glow-color: rgb(50, 135, 210);
@focus-border-color: @focus-glow-color;
@focus-glow-radius: 3*@px;
@partial-glow-radius: @focus-glow-radius/3;
@partial-glow-color: fadeout(@focus-glow-color, 75%);

 // square Buttons used in the mixin.
@button-square-border-color: rgb(172, 172, 172);
@button-square-gradient-start-color: rgb(245, 245, 245);
@button-square-gradient-end-color: rgb(235, 235, 235);

// components
@component-single-line-height: 38*@px;