+document-section('Accessibility', false)

  +document-subsection('Keyboard support')
    p.
      While it is preferable to use the Coral.Button component to include a button element in an application,
      <code>Coral.AnchorButton</code> allows us to style an anchor element that both looks and behaves like a button
      rather than a link.
      <code>Coral.AnchorButton</code> can receive keyboard focus regardless of whether or not it has an href attribute,
      can be activated using either the SPACE key or the ENTER key, and is identified to assistive technology as a
      button element.
