//- component description
p.
  A anchorbutton containing text and/or an icon. It extends <code>HTMLAnchorElement</code> to take advantage of the
  accessibility given by browsers but it means that this component has a special way of instantiating.

include configurator
include accessibility
include jsdoc
