+document-section-simple-example()
  .docs-Example-simpleExampleMarkup
    a(is='coral-anchorbutton') Default
    | &nbsp;
    a(is='coral-anchorbutton' variant='primary') Primary
    | &nbsp;
    a(is='coral-anchorbutton' variant='quiet' icon='share') With Icon
    | &nbsp;
    a(is='coral-anchorbutton' disabled) Disabled
