@require '@adobe/spectrum-css/dist/components/tabs/index.css';
@require '@adobe/spectrum-css/dist/components/tabs/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/tabs/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/tabs/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/tabs/multiStops/darkest.css';

// @spectrum support vertical line
._coral-Tabs--vertical {
  border-left-style: solid;
  border-left-width: 2px;

  ._coral-Tabs-item {
    margin-left: 8px;
  }

  ._coral-Tabs-selectionIndicator {
    left: -2px;
  }
}

@require 'light';
@require 'lightest';
@require 'dark';
@require 'darkest';
