p.
  The Datepicker component provides desktop and touch friendly for both date and time selection. The component leverages
  <a class='coral-Link' href='http://momentjs.com'>moment.js</a> for parsing, manipulating, and formatting dates.

include configurator
include form
include javascript-documentation
include jsdoc
