+document-section-simple-example()
  p.
    The Datepicker component provides desktop and touch friendly for both date and time selection. The component
    leverages <a class='coral-Link' href='http://momentjs.com'>moment.js</a> for parsing, manipulating, and formatting
    dates.
  .docs-Example-simpleExampleMarkup.u-columnSmall
    coral-datepicker(type='date', value='today')
