/**
  Class: nav.crumbs
  Displays a breadcrumb trail.
*/

// Crumbs
@crumb-text-color: rgb(83, 83, 83);
@crumb-chevron-color: rgb(206, 206, 206);
@crumb-hover-text-color: rgb(15, 15, 15);
@crumb-list-border-color: @modal-outline-color;
@crumb-list-text-color: rgb(51,51,51);
@crumb-list-divider-color: rgb(210,210,210);
@crumb-spacing: 4*@px;

nav.crumbs {
  a {
    // Place first so width/height/line-height can be reset
    .icon-chevronright;
  
    padding: 0 @crumb-spacing 0 0;

    line-height: 2.75rem;
    width: auto; // reset icon CSS
    height: 2.75rem;
    vertical-align: bottom;

    color: @crumb-text-color;
    .normal-text;
    font-size: 1.35rem;
    text-decoration: none;

    position: relative;

    &:hover {
      color: @crumb-hover-text-color;
    }

    &:before,
    &:hover:before {
      font-size: 1rem;
      position: relative;
      padding-right: 10*@px;
      opacity: 1;
      color: @crumb-chevron-color;
    }

    &:first-child {
      &:before {
        content: "";
        padding-right: 0;
      }
    }
    
    img {
      height: 2rem;
    }

    &:focus {
      color: @link-color;
    }
  }
}
