div.rail {
  @selectlist-entry-border-color: rgb(70, 70, 70);

  .select.menu {
    margin: 0;
    width: 100%;
    border-bottom: @px solid @rail-section-border-color;

    button,
    button:hover:not([disabled]),
    button:active:not([disabled]) {
      border: none;
      padding: 0 12*@px;
      height: 40*@px;
      line-height: 40*@px;
      background: @rail-background-color;
      .gradient(@rail-background-color, @rail-background-color);

      &:after {
        content: @icon-chevrondown-content;
        font-family: AdobeIcons;
      }
    }

    .selectlist {
      background: @rail-background-color;
      width: 94%;
      border-top-color: @selectlist-entry-border-color;
    }
  }
}