/**
    rail checklist
*/
div.rail {
  >.wrap {
    .checklist {
      padding-left: 14*@px;

      > li > label > span b {
        position: absolute;
        right: 14*@px;
        background-color: @rail-section-dark-highlight-color;
        .border-radius(11*@px);
        line-height: 22*@px;  
        width: 34*@px;
        .light-text;
        text-align: center;
        font-size: 11*@px;
        margin: 8*@px 0;
      }
    }
  }
}
