<button id="{{Coral.commons.getUID()}}" handle="button" class="coral3-CycleButton-button" is="coral-button" variant="quiet" iconsize="S">
<coral-icon handle="openIcon" icon="chevronDown" size="xxs" class="coral3-CycleButton-openIcon"></coral-icon>
<js>
  this.button.label.appendChild(this.openIcon);
</js>
<coral-overlay handle="overlay" class="coral3-CycleButton-overlay" returnfocus="on" focusonshow="coral-selectlist" trapfocus="on" placement="bottom">
  <coral-selectlist handle="selectList" id="{{Coral.commons.getUID()}}"></coral-selectlist>
  <coral-buttonlist handle="actionList" hidden></coral-buttonlist>
</coral-overlay>
