<div class="coral3-Dialog-header" handle="headerWrapper">
  <coral-icon handle="icon" size="S" class="coral3-Dialog-typeIcon"></coral-icon>
  <div handle="headerContent" class="coral3-Dialog-title coral-Heading coral-Heading--2" role="heading" aria-level="2"></div>
  <button handle="closeButton" class="coral3-Dialog-closeButton" type="button" is="coral-button" variant="minimal" icon="close" iconsize="XS" title="{{Coral.i18n.get('Close')}}" tabindex="-1" coral-close></button>
</div>
<div class="coral3-Dialog-wrapper" handle="wrapper"></div>
