@tooltip-charcoal-background-color: rgb(100, 100, 100);
@tooltip-charcoal-border-color: rgba(50, 50, 50, .85);
@tooltip-charcoal-font-color: rgb(250, 250, 250);

/**
  Class: .tooltip
  Used for tooltip messages
*/
.tooltip {
  // Mixin for coloring the bubble and tip.
  .bubble-tip-color(@background-color, @border-color) {
    background-color: @background-color;
    border-color: @border-color;

    &.arrow-top:before { // outer color
      border-bottom-color: @border-color;
    }
    &.arrow-top:after { // inner color
      border-bottom-color: @background-color;
    }
    &.arrow-bottom:before {
      border-top-color: @border-color;
    }
    &.arrow-bottom:after {
      border-top-color: @background-color;
    }
    &.arrow-left:before { // outer color
      border-right-color: @border-color;
    }
    &.arrow-left:after { // inner color
      border-right-color: @background-color;
    }
    &.arrow-right:before { // outer color
      border-left-color: @border-color;
    }
    &.arrow-right:after { // inner color
      border-left-color: @background-color;
    }
  }


  .border-box;
  position: relative;
  display: inline-block;
  z-index: 100;

  min-width: 32*@px;
  min-height: 32*@px;
  max-width: 250*@px;
  max-height: 250*@px;

  a {
    color: inherit;

    &,
    &:visited {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  margin: 0.5rem;

  // The spec dictates 10px space between the content and the tooltip border. We're using 8px top and bottom padding
  // to account for vertical space added by the text line height. If the tooltip content is a non-text element
  // like an image, this could cause a bit less padding than 10px. Since text is the most likely content, we'll
  // cater to it. Is there a better way of handling this?
  padding: 8*@px 10*@px;

  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  .background-size(1rem 1rem);

  color: @alert-font-color;

  vertical-align: middle; // Point at center of adjacent elements when included inline

  /*
    Colors
  */
  border: @px solid;

  // default is blue
  .bubble-tip-color(@alert-blue-background-light-color, @alert-blue-border-color);

  &.error {
    .bubble-tip-color(@alert-red-background-light-color, @alert-red-border-color);
  }

  &.notice {
    .bubble-tip-color(@alert-yellow-background-light-color, @alert-yellow-border-color);
  }

  &.success {
    .bubble-tip-color(@alert-green-background-light-color, @alert-green-border-color);
  }

  &.inspect {
    color: @tooltip-charcoal-font-color;
    .bubble-tip-color(@tooltip-charcoal-background-color, @tooltip-charcoal-border-color);
  }

  /*
    Arrows
  */

  // there is no arrow by default!

  &:before,
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  // top and bottom arrow
  &.arrow-top:before,
  &.arrow-top:after,
  &.arrow-bottom:before,
  &.arrow-bottom:after { // center the arrow in the center
    left: 50%;
  }

  &.arrow-top:before,
  &.arrow-bottom:before { // center the arrow in the center
    border-width: 0.5rem;
    margin-left: -0.5rem;
  }

  &.arrow-top:after,
  &.arrow-bottom:after { // center the arrow in the center
    border-width: 0.5rem - @px;
    margin-left: -0.5rem + @px;
  }

  &.arrow-top:before,
  &.arrow-top:after {
    bottom: 100%; // position the border on the top
  }

  &.arrow-bottom:before,
  &.arrow-bottom:after {
    top: 100%; // position the border on the bottom
  }

  // left and right arrow
  &.arrow-left:before,
  &.arrow-left:after,
  &.arrow-right:before,
  &.arrow-right:after { // center the arrow in the center
    top: 50%;
  }

  &.arrow-left:before,
  &.arrow-right:before { // center the arrow in the center
    border-width: 0.5rem;
    margin-top: -0.5rem;
  }

  &.arrow-left:after,
  &.arrow-right:after { // center the arrow in the center
    border-width: 0.5rem - @px;
    margin-top: -0.5rem + @px;
  }

  &.arrow-left:before,
  &.arrow-left:after {
    right: 100%; // position the border on the left
  }

  &.arrow-right:before,
  &.arrow-right:after {
    left: 100%; // position the border on the right
  }
}
