<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Slider examples</title>

        <link rel="stylesheet" href="../../css/cui.css">
 
        <script src="../../js/libs/handlebars.js"></script>
        <script src="../../js/libs/moment.js"></script>
        <script src="../../js/libs/jquery.js"></script>
        <script src="../../js/libs/toe.js"></script>
        <script src="../../js/libs/jquery-fingerpointer.js"></script>

        <script src="../../js/CUI.js"></script>
    </head>
    <body>

        <section>
        <h1>Sliders</h1>

            <div class="left">
                <div class="slider" data-init="slider">
                  <label>
                      Basic Horizontal Slider<br>
                      <input type="range" value="14" min="10" max="20" step="2">
                  </label>
                </div>
            </div>
            <div class="left">
                <div class="slider ticked filled tooltips" data-init="slider">
                  <label>
                      Filled Horizontal Slider with Tooltips<br>
                      <input type="range" value="14" min="10" max="20" step="2">
                  </label>
                </div>
            </div>
            <div class="left">
                <div class="slider ticked filled" data-init="slider">
                    <fieldset>
                        <legend>Ticked and filled range slider<br></legend>
                        <label>Minimum <input type="range" value="14" min="10" max="20" step="2"></label>
                        <label>Maximum <input type="range" value="16" min="10" max="20" step="2"></label>
                    </fieldset>
                </div>
            </div>
            <div class="left">
                <div class="slider ticked filled tooltips disabled" data-init="slider">
                    <fieldset>
                        <legend>Ticked, filled and disabled range slider<br></legend>
                        <label>Minimum <input type="range" value="14" min="10" max="20" step="2" disabled></label>
                        <label>Maximum <input type="range" value="16" min="10" max="20" step="2" disabled></label>
                    </fieldset>
                </div>
            </div>
            <div class="left">
                <div class="slider ticked filled vertical tooltips bound" data-init="slider">
                    <fieldset>
                        <legend>Ticked, filled and bound vertical range slider</legend>
                        <label>Minimum <input type="range" value="14" min="10" max="20" step="2"></label>
                        <label>Maximum <input type="range" value="16" min="10" max="20" step="2"></label>
                    </fieldset>
                </div>
            </div>
         
         <h2 class="clear">Slider API</h2>
         
         <div class="left">
             <div class="slider ticked filled tooltips api-demo" data-init="slider">
                  <fieldset>
                      <legend>Animated values<br></legend>
                      <label>Minimum <input type="range" value="14" min="5" max="50" step="2"></label>
                      <label>Maximum <input type="range" value="16" min="5" max="50" step="2"></label>
                  </fieldset>
             </div>
         </div>
         <div class="left">        
             <div class="slider ticked filled tooltips api-demo2" data-init="slider">
                  <label>
                      Animated value (disabled when &lt; 5)<br>
                      <input type="range" value="14" min="5" max="50" step="2">
                  </label>
             </div>
         </div>
         
         <h2 class="clear">Create <span id="slider-markupless-label">a slider without markup</span></h2>
         <div class="slider-markupless"></div>
                  
         <script type="text/javascript">
            $(document).ready(function() {
                var value1 = 0;
                var value2 = 55;
                setInterval(function() {
                    value1++;
                    value2--;
                    if (value2 < 0) value2 = 55;
                    if (value1 > 55) value1 = 0;
                    $(".api-demo").data("slider").setValue(value1, 0);
                    $(".api-demo").data("slider").setValue(value2, 1);
                    $(".api-demo2").slider({value: value1, disabled: (value1 < 5)});
                }, 100);
                
                $(".slider-markupless").slider({
                    min: 0,
                    max: 100,
                    step: 5,
                    value: 50,
                    ticks: true,
                    filled: true,
                    orientation: "vertical",
                    tooltips: true,
                    slide: true
                })
				.find("input, .handle").attr("aria-labelledby","slider-markupless-label");
            });
         </script>
         
        </section>        
    </body>
</html>
