<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filters &amp; Tags – Single Term examples</title>

        <link rel="stylesheet" href="../../css/cui.css">
        
        <script src="../../js/libs/handlebars.js"></script>
        <script src="../../js/libs/moment.js"></script>
        <script src="../../js/libs/jquery.js"></script>
        <!-- script src="../../js/libs/jquery-fingerpointer.js"></script -->
        <script src="../../js/libs/toe.js"></script>
  
        <script src="../../js/CUI.js"></script>
    </head>
    <body>

        <section>
            <h1>Dropdowns</h1><!-- Standard Single select -->
            <div class="dropdown" data-init="dropdown">
                <button>Single Select</button>
                <select name="dropdown">
                    <option>Single One</option>
                    <option selected>Single Two</option>
                    <option>Single Three</option>
                </select>
            </div>
            <br />
            
            <!-- Multi select -->
            <div class="dropdown" data-init="dropdown">
                <button>Multi Select</button>
                <select name="dropdown2" multiple>
                    <option>Multi One</option>
                    <option selected>Multi Two</option>
                    <option>Multi Three</option>
                </select>
            </div>
            <br />
            
            <!-- Editable -->
            <div class="dropdown dropdown-editable" data-editable="true" data-init="dropdown">
                <input type="text" placeholder="Editable Select">
                <button>Editable</button>
                <select name="dropdown3">
                    <option>Edit One</option>
                    <option>Edit Two</option>
                    <option>Edit Three</option>
                </select>
            </div>
            <br />
            
            <!-- Editable with own auto-completer -->
            <div class="dropdown dropdown-editable-autocomplete">
                <input type="text" placeholder="Editable Select / Autocomplete">
                <button>Editable</button>
                <select name="dropdown3">
                    <option>Edit One</option>
                    <option>Edit Two</option>
                    <option>Edit Three</option>
                </select>
            </div>
            <br />
                        
            <!-- Disabled -->
            <div class="dropdown" data-init="dropdown" data-disabled="true">
                <button>Disabled</button>
                <select name="dropdown4">
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </div>
            <br />
            
            <!-- Error -->
            <div class="dropdown error" data-init="dropdown">
                <button>Error</button>
                <select name="dropdown5" >
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </div>
            <br />

            <!-- Dropdown with dividers -->
            <div class="dropdown" data-init="dropdown">
                <button>Dividers</button>
                <select name="dropdown6" >
                    <option data-itemclass="divider">Numbers</option>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    <option data-itemclass="divider">Alphabets</option>
                    <option>X</option>
                    <option>Y</option>
                </select>
            </div>
        </section>
        
        <script type="text/javascript">
            $(".dropdown-editable-autocomplete").dropdown({
                autocompleteCallback: function(handler, searchFor) {
                    var items = ["Apple", "Pear", "Banana", "Orange"];
                    var result = [];
                    for(var i = 0; i < items.length; i++) {
                        if (items[i].indexOf(searchFor) >= 0) result.push(items[i]);
                    }
                    handler(result, searchFor);
                }   
            });
        </script>
       
    </body>
</html>