@require '@adobe/spectrum-css/dist/components/icon/index.css';

// @spectrum
coral-icon._coral-Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // Clicking on icon is used in some components like Tree
  pointer-events: auto;
}
