+document-section('Available Icons')
  p.
    CoralUI ships with a large set of monochrome icons.
    The name column corresponds to the value that the icon attribute accepts.

  include icon-table.html

+document-section('Color Icon Variants', true)

  p.
    These are all available color icons with dark and light theme support.

  include color-icon-table.html
