p.
  CoralUI ships with a set of monochrome icons that are delivered via convenience classes.
  See the <a class="coral-Link" href="#availableIcons">Available Icons</a> section below for valid icon names.

include configurator
include jsdoc
include available-icons
