+document-section-simple-example()
  .docs-Example-simpleExampleMarkup
    .docs-Example-section
      <coral-icon icon="lockOn" title="Lock On" size="XS"></coral-icon>
      <coral-icon icon="thumbUp" title="Thumb Up" size="S"></coral-icon>
      <coral-icon icon="addCircle" title="Add Circle" size="M"></coral-icon>
      <coral-icon icon="bookmark" title="Bookmark" size="L"></coral-icon>
