/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$inputgroup-button-color = rgb(75, 75, 75);
$inputgroup-button-background-color = rgb(251, 251, 251);
$inputgroup-button-border-color = rgb(225, 225, 225);

$inputgroup-button-color-hover = rgb(44, 44, 44);
$inputgroup-button-background-color-hover = rgb(255, 255, 255);
$inputgroup-button-border-color-hover = rgb(202, 202, 202);

$inputgroup-button-background-color-active = rgb(234, 234, 234);
$inputgroup-button-border-color-active = rgb(202, 202, 202);

.coral--light {
  @import 'skin.styl'
}
