/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.coral-InputGroup-button ._coral-Button {
  color: $inputgroup-button-color;
  background-color: $inputgroup-button-background-color;
  border-color: $inputgroup-button-border-color;

  &:hover {
    color: $inputgroup-button-color-hover;
    background-color: $inputgroup-button-background-color-hover;
    border-color: $inputgroup-button-border-color-hover;
  }

  &:active {
    background-color: $inputgroup-button-background-color-active;
    border-color: $inputgroup-button-border-color-active;
  }
}
