/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$shell-orgswitcher-width = 250px;
$shell-orgswitcher-message-height = 200px
$shell-orgswitcher-background = white;
$shell-orgswitcher-height = 320px;

._coral-Shell-orgSwitcher {
  width: $shell-orgswitcher-width;
  box-sizing: border-box;
}

._coral-Shell-orgSwitcher-items {
  max-height: $shell-orgswitcher-height;
  overflow-y: auto;
}

// @compat
._coral-Shell-orgSwitcher-item.is-parent {
  display: block;
}

// @compat
._coral-Shell-orgSwitcher-item.is-parent:hover {
  cursor: default !important;
  background: transparent !important;
}

// @compat
._coral-Shell-orgSwitcher-subitems {
  margin-left: 18px;
}

// @compat
._coral-Shell-orgSwitcher-subitem:first-child {
  margin-top: 6px;
}

._coral-Shell-orgSwitcher-search {
  width: calc(100% - 16px);
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;

  input[is="coral-textfield"] {
    width: 100%;
  }
}

._coral-Shell-orgSwitcher-resultMessage {
  display: table;

  width: 100%;
  height: $shell-orgswitcher-message-height;

  background-color: $shell-orgswitcher-background;
}

._coral-Shell-orgSwitcher-resultMessage-container {
  display: table-cell;

  padding: 0 20px;

  vertical-align: middle;

  text-align: center;
}

._coral-Shell-orgSwitcher-checkmark {
  position: absolute;
  top: 8px;
  right: 12px;
}

// @compat
coral-shell-orgswitcher-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;

  &:empty {
    display: none;
  }

  ._coral-Button + ._coral-Button {
    margin-left: 0;
    margin-top: 12px;
  }
}
