// Bootstrap: Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// CUI: Variables & Mixins
@import 'includes/config';
@import 'includes/variables';
@import 'includes/mixins';

// Wizard page variables

// lined border between divs.
// Perhaps use the more semantic <hr/> for drawing these borders if x-browser compatibility can be obtained.
@wizard-line-dark-border: #b1b1b1;
@wizard-line-light-border: #fdfdfd;

// Card focused state
@wizard-card-focused-outer-color: #3687c8;
@wizard-card-focused-inner-color: #4fa2e1;
@wizard-card-focused-header-color: #173952;
@wizard-card-focused-text-color: #23547a;

// Wizard page mixins

// Wizard page styles

// Add a vertical scrollbar by default to prevent jumping
html {
  overflow-y: scroll;
}

.wizard-page {

  min-width: 768*@px;

  // All wizard sections
  .wizard > section {
    position: relative;
    .clearfix();
  }

  // Settings section
  .settings {
    width: 480*@px;
    margin: 0 auto;
    padding-top: 60*@px;

    // Perhaps use the more semantic <hr/> for drawing these borders if x-browser compatibility can be obtained.
    .top {
      border-bottom: 1*@px solid @wizard-line-dark-border;
    }

    .bottom {
      border-top: 1*@px solid @wizard-line-light-border;
      .clearfix();
    }

    label {
      font-size: 1rem;
    }
  }

  // Properties section
  .properties {

    .card-page {
      position: absolute;
      top: 0;
      left: 0;
      width: 14rem;
    }

    .tabs-wrapper {
      min-width: 702*@px;
      margin-left: 15rem;
      .clearfix();
    }

    .tabs {
      width: 100%;

      .basic {

        &>div {
          margin-left: 24*@px;
          width: 208*@px;

          &>input, &>label, &>textarea, &>.filters {
            display: block;
          }

          label {
            margin-bottom: 5*@px;
          }

          input[type="text"], textarea {
            width: 208*@px;
          }

          .datepicker input[type="text"] {
            width: auto;
          }

          textarea {
            height: 140*@px;
          }

          &:first-child {
            margin-left: 0;
          }
        }

      }
    }
  }

  // Select template / select source sections
  .select-template, .select-source {
    margin: 0;
    article {
      // TODO, merge this focused class back into the card component
      &.focused {
        #gradient .radial(@wizard-card-focused-inner-color, @wizard-card-focused-outer-color);
        h4 {
          color: @wizard-card-focused-header-color;
        }
        a {
          color: @wizard-card-focused-text-color;
        }

        /* Temporary, need SVGs icons */
        .icon-wizard-edit {
          background-image: url('../images/wizard/edit-focused.png');
        }

        /* Temporary, need SVGs icons */
        .icon-wizard-earth {
          background-image: url('../images/wizard/earth-focused.png');
        }

        /* Temporary, need SVGs icons */
        .icon-wizard-double-right-arrow {
          background-image: url('../images/wizard/double-right-arrow-focused.png');
        }
      }
    }
  }
}

// Select source section
.select-source {
  .toolbar {
    background-color: #eee;
    .box-shadow(0 1.5*@px 1.5*@px 1*@px rgba(0, 0, 0, 0.25));
  }
}

&.select-source-page {
  background: url('../images/wizard/bg-pattern.png') top left repeat;
}

// Select template section
.select-template {
  /* Temporary, need to ask how the preview is built */
  div.preview {
    background: url('../images/wizard/preview.png') center top no-repeat;
    width: 100%;
    height: 664*@px;

    display: none;

    &.displayed {
      display: block;
    }
  }

  article {

    .preview {
      border: none;
      background: #434749;
      top: 8.5em;
      left: 25%;
      position: absolute;
      display: none;
    }

    &.focused {
      button.preview {
        display: block;
      }
    }
  }

  .grid-container.hidden {
    display: none;
  }
}

/* Temporary, need SVGs icons */
.icon-wizard-earth {
  background-image: url('../images/wizard/earth.png');
}

/* Temporary, need SVGs icons */
.icon-wizard-double-right-arrow {
  background-image: url('../images/wizard/double-right-arrow.png');
}