<!doctype html>
<html>
	<meta charset="utf-8">
	<title>Adobe CoralUI icons directory</title>
	<head>
		<link rel="stylesheet" href="css/icons.css">
		<style>
			body {
				background:#EEEEEE;
				color:#222;
				font-family: Arial, sans-serif;
			}
			h1 {
				font-size:18px;
			}

			table {
				border: 0.0625rem solid #BBBBBB;
    			border-spacing: 0;
    			margin: 2em;
			}

			td,th {
				padding: 0.5rem;
    			text-align: left;
			}

			th {
				background: none repeat scroll 0 0 #DCDCDC;
    			border-bottom: 0.0625rem solid #BBBBBB;
			}

			td {
				border-top: 0.0625rem solid #E6E6E6;
				border-left: 0.0625rem solid #E6E6E6;
			}

		</style>
	</head>
	<body>
		<h1>Adobe CoralUI icons directory</h1>

		<table>
			<thead>
				<tr>
					<th colspan="3">Monochrome Icons</th>
				</tr>
				<tr>
					<th>Icon</th>
					<th>Name</th>
					<th>CSS selector</th>
				</tr>
			</thead>
			<tbody>
				<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
					<tr>
						<td><i class="icon-<%= glyphs[glyphIdx].toLowerCase() %> large"><%= glyph %></i></td>
						<td><%= glyph %></td>
						<td>.icon-<%= glyphs[glyphIdx].toLowerCase() %></td>
					</tr>
				<% } %>
			</tbody>
			<thead>
				<tr>
					<th colspan="3">Colored Icons</th>
				</tr>
				<tr>
					<th>Icon</th>
					<th>Name</th>
					<th>CSS selector</th>
				</tr>
			</thead>
			<tbody>
				<%= grunt.template.process(grunt.file.read('temp/htmlTemplate/icons_color.html')) %>
			</tbody>
		</table>

	</body>
</html>
