/**
  Class: .wizard, .dialog

  The styling for dialog-like widget.
  i.e. There is a nav bar at the top, with some buttons for navigation.
*/

// Wizard
@dialog-nav-background-color: #494D4E;
@dialog-back-button-background-color: #434749;
@dialog-back-button-border-color: #37393A;
@dialog-next-button-background-color: #4090d1;
@dialog-next-button-border-color: #1a3348;
@dialog-disabled-button-text-color: #6E6E6E;
@dialog-disabled-button-background-color: #505050;
@dialog-disabled-button-border-color: #414141;
@dialog-progress-active-title-color: @white;

.dialog > nav {
  background: @dialog-nav-background-color;

  > button.back, 
  > a.button.back {
    background: @dialog-back-button-background-color;
    border-color: @dialog-back-button-border-color;
  }

  > button.next,
  > a.button.next {
    background: @dialog-next-button-background-color;
    border-color: @dialog-next-button-border-color;
  }

  > button[disabled],
  > a.button.disabled {
    color: @dialog-disabled-button-text-color;
    background: @dialog-disabled-button-background-color;
    border-color: @dialog-disabled-button-border-color;
  }

  h1 {
    color: @dialog-progress-active-title-color;
  }
}
