/**
 * Class: .well
 * Dark Style.
 * 
 */

@well-dark-background-color: rgba(0, 0, 0, .05);
@well-dark-border-color: rgba(0, 0, 0, .20);

.theme-dark {
  .well {
    border: @px solid @well-dark-border-color;

    background: @well-dark-background-color;
  }
}
