/**
 * Class: .well
 * A content well. Used in conjunction with <strong> as a label for the well.
 */

@well-background-color: rgba(0, 0, 0, .03);
@well-border-color: rgba(0, 0, 0, .15);

.well {
  margin: 4*@px 0;
  padding: 8*@px;

  border: @px solid @well-border-color;

  background: @well-background-color;
}

.well + strong {
  display: inline-block;
  margin-top: 4*@px;
}