/**
 * Class: .well
 * A content well. Used in conjunction with <strong> as a label for the well.
 */
.well {
  margin: 0.25rem 0;
  padding: 0.5rem;

  border: @px solid @well-border-color;

  background: @well-background-color;
}

.well + strong {
  display: inline-block;
  margin-top: 0.5rem;
}