script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Drawer,
      useInnerElements: true,
      innerElements: [
        {
          tagName: 'coral-drawer-content',
          properties: {
            'content.innerHTML': 'innerHTML'
          }
        }
      ],
      mainContentZone: 'coral-drawer-content',
      fields: [
        {
          label: 'Content',
          prop: 'content.innerHTML',
          type: 'text',
          value: '<a class="coral-Link" href="#">Link</a>'
        },
        {
          label: 'Direction',
          prop: 'direction',
          type: 'select',
          value: 'up',
          options: {
            'Down': 'down',
            'Up': 'up'
          }
        },
        {
          label: 'is open',
          prop: 'open',
          type: 'checkbox',
          value: true
        },
        {
          label: 'is disabled',
          prop: 'disabled',
          type: 'checkbox',
          value: false
        },
      ],
      componentEvents: [
        'coral-drawer:open',
        'coral-drawer:close'
      ]
    }).insertAfterLastScript();
  }
