+document-section-simple-example()
  p.
    A drawer displays some content (hidden by default) that can be opened and closed with a sliding animation.
  .docs-Example-simpleExampleMarkup.u-columnSmall
    |  <coral-drawer>
    |    <a class="coral-Link" href="#">Link</a>
    |  </coral-drawer>
