<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Progress Bar</title>

    <link rel="stylesheet" href="../../css/cui.css">

    <script src="../../js/libs/jquery.js"></script>
    <script src="../../js/libs/moment.js"></script>
    <script src="../../js/libs/jquery-message.js"></script>
    <script src="../../js/libs/jquery-validator.js"></script>
    <script src="../../js/libs/toe.js"></script>
    <script src="../../js/CUI.js"></script>
    <script>
        $(document).ready(function(){
            $('#searchContainer').append('<div class="search"><input type="text" placeholder="Search"><button type="submit">Search</button><button type="reset">Clear</button></div>')
            $('#searchContainer2').append('<div class="search"><input type="text" placeholder="Search"><button type="submit">Search</button><button type="reset">Clear</button></div>')
        });
    </script>

    <style>
        body {
            padding: 15px;
        }

        .col {
            float: left;
            margin-right: 12px;
        }

        .well {
            margin: 0;
        }
    </style>
</head>
<body>
<h1>Progress Bar</h1>
<div class="col">
    <section>
        <div id="vtest-progress-with-label-40-percent">
            <div class="progress">
                <div class="bar" style="width: 40%;"></div>
            </div>
            <label>40%</label>
        </div>

        <p></p>
        <div id="vtest-progress-with-label-100-percent">
            <div class="progress">
                <div class="bar" style="width: 100%;"></div>
            </div>
            <label>100%</label>
        </div>
   </section>
</div>
</body>
</html>