include jsdoc-coral-table-fragment.html
include jsdoc-coral-table-column-fragment.html
include jsdoc-coral-table-head-fragment.html
include jsdoc-coral-table-body-fragment.html
include jsdoc-coral-table-foot-fragment.html
include jsdoc-coral-table-row-fragment.html
include jsdoc-coral-table-headercell-fragment.html
include jsdoc-coral-table-cell-fragment.html
