/**
  Class: .tabs
  Provides navigation tabs
*/

// Tabs
@tab-font-size: 14*@px;
@tab-outline-color: rgba(0, 0, 0, 0.15);

@tab-background-gradient-start-color: rgb(255, 255, 255);
@tab-background-gradient-end-color: rgb(238, 238, 238);

@tab-active-font-color: rgb(75, 75, 75);
@tab-inactive-font-color: rgb(135, 135, 135);
@tab-hover-font-color: rgb(75, 75, 75);
@tab-disabled-font-color: rgb(195, 195, 195);

@tab-white-background-gradient-start-color: rgb(255, 255, 255);
@tab-white-background-gradient-end-color: rgb(245, 245, 245);

@tab-nav-second-border-color: rgba(255, 255, 255, 0.8);
@tab-nav-font-size: 18*@px;

.tabs {

  // surrounding margin
  margin-top: 15*@px;
  margin-bottom: 15*@px;

  .tab-focus(@tab_type) {
    outline: none;
    border: @px solid @focus-border-color;
  }

  // x and y offset of the focus glow
  @focus-offset: @partial-glow-radius + 0.1*@px;

  .tab-focus(@tab_type) when (@tab_type = top) {
    @shadow: -@focus-offset -@focus-offset @partial-glow-radius @partial-glow-color,
        @focus-offset -@focus-offset @partial-glow-radius @partial-glow-color;
    .box-shadow(@shadow);
    border-bottom: none;
  }

  .tab-focus(@tab_type) when (@tab_type = stacked) {
    @shadow: -@focus-offset -@focus-offset @partial-glow-radius @partial-glow-color,
    -@focus-offset  @focus-offset @partial-glow-radius @partial-glow-color;
    .box-shadow(@shadow);
    border-right: none;
  }

  > nav {
    .clearfix();
    z-index: 1;
    position: relative;

    > a {
      float: left;

      .light-text;
      font-size: @tab-font-size;
      font-style: normal;
      color: @tab-inactive-font-color;
      
      padding: 10*@px 15*@px 10*@px 15*@px;
      margin: 0 2*@px -2*@px 0;

      text-align: center;
      white-space: nowrap;

      min-width: 75*@px;
      max-width: 300*@px;

      .ellipsis;

      &.active,
      &:hover {
        text-decoration: none;
      }

      &.disabled {
        color: @tab-disabled-font-color;
        text-decoration: none;
        opacity: 1;

        &:hover,
        &:focus {
          cursor: default;
          color: @tab-disabled-font-color;
          text-decoration: none;
        }
      }

      &:hover,
      &:focus {
        .light-text;
        color: @tab-hover-font-color;
      }

      &.active {
        .bold-text;
        color: @tab-active-font-color;

        border: 1*@px solid @tab-outline-color;
        /* padding is adjusted on active tab to make up for text shift when border is drawn - CUI-994 */
        padding: 9*@px 15*@px 9*@px 15*@px;
        border-bottom: none;
        .gradient(@tab-background-gradient-start-color, @tab-background-gradient-end-color);
        
        &:focus {
          .tab-focus(top);
        }
      }
    }
  }

  > section {
    display: none;
    background-color: @tab-background-gradient-end-color;
    margin: 0;
    border: @px solid @tab-outline-color;
    padding: 13*@px;
    z-index: auto;
    position: relative;

    &.active {
      display: block;
    }
  }

  &.noscroll > section {
    overflow: visible;
  }

  &.white {
    > nav > a.active {
      border-bottom: none;
      .gradient(@tab-white-background-gradient-start-color, @tab-white-background-gradient-end-color);
    }

    > section {
      background-color: @tab-white-background-gradient-end-color;
    }
  }

  &.nav {
    > nav {
      border-bottom: 1*@px solid @tab-outline-color;

      > a {
        font-size: @tab-nav-font-size;
        margin-bottom: -2*@px; // TODO breaks slightly at higher base font sizes

        // allows the boders to use the transparency.
        .background-clip(padding-box);

        &.active {
          .gradient(lighten(@body-background-color, 7%), @body-background-color);
          border-bottom: 2*@px solid @body-background-color;
        }

        &:first-child {
          margin-left: 20*@px;
        }
      }
    }

    > section {
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-color: @tab-nav-second-border-color;
      background-color: @body-background-color;
    }
  }

  /* Full page tabs need some more space above to not stick at the top of the page */
  &.full-page {
    margin-top: 10*@px;
  }

  &.stacked {
    display: table;

    > nav {
      float: left;
      display: table-cell;

      > a {
        float: none;
        display: block;
        margin: 0 -1*@px 2*@px 0;

        &.active {
          border-bottom: 1*@px solid @tab-outline-color;
          border-right: none;

          #gradient > .horizontal(@tab-white-background-gradient-start-color, @tab-white-background-gradient-end-color);
          &:focus {
            .tab-focus(stacked);
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    > section {
      float: none;
      clear: none;
      background-color: @tab-white-background-gradient-end-color;

      &.active {
        display: table-cell;
        vertical-align: top;
        width: 100%;
      }
    }
  }
}