<!-- 
  *** DEPRECATION WARNING ***

  Use of Handlebars.js is deprecated.  Coral UI will no longer natively 
  support Handlebars.js templates in an upcoming version.  Please fix this 
  implementation and remove this warning.

  See https://issues.adobe.com/browse/CUI-1025 for details                      
                                                                          
-->
<button class="close" data-dismiss="alert">&times;</button>
<strong>{{{heading}}}</strong><div>{{{content}}}</div>