<!-- 
  *** DEPRECATION WARNING ***

  Use of Handlebars.js is deprecated.  Coral UI will no longer natively 
  support Handlebars.js templates in an upcoming version.  Please fix this 
  implementation and remove this warning.

  See https://issues.adobe.com/browse/CUI-1025 for details                      
                                                                          
-->
<div class="modal-header">
  <h2>{{{heading}}}</h2>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">{{{content}}}</div>
<div class="modal-footer">{{{buttons}}}</div>