script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Clock,
      fields: [
        {
          label: 'name',
          prop: 'name',
          type: 'text',
          value: 'field'
        },
        {
          label: 'value',
          prop: 'value',
          type: 'text',
          value: '15:09'
        },
        {
          label: 'value format',
          prop: 'valueFormat',
          type: 'text',
          value: 'HH:mm'
        },
        {
          label: 'display format',
          prop: 'displayFormat',
          type: 'text',
          value: 'HH:mm'
        },
        {
          label: 'is disabled',
          prop: 'disabled',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is read-only',
          prop: 'readOnly',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is invalid',
          prop: 'invalid',
          type: 'checkbox',
          value: false
        },
        {
          label: 'is required',
          prop: 'required',
          type: 'checkbox',
          value: false
        }
      ],
      componentEvents: [
        'change'
      ]
    }).insertAfterLastScript();
  }
