+document-section('JavaScript Examples')
  p.
    The following examples demonstrate usage of the JavaScript API's for #{component.displayName}.

  #constructorExample.
    <script>
    $(document).ready(function() {
      var clock = new Coral.Clock();
      clock.id = 'myClock';
      clock.value = '18:30';

      document.getElementById('constructorExample').appendChild(clock);
    })
    </script>

  p.
    The following JavaScript manually initializes the component on page initialization and adds it to the DOM.

  +example-pre-only("constructorExample")

  +document-subsection('Getting the value')
  p.
    The following will display the above component's value in an alert.

  #getValueExample.
    <script>

      function displayValue() {
        var value = document.querySelector('#myClock').value;
        alert('The value is ' + value + '.');
      }
    </script>
  +example-pre-only("getValueExample")
  div.
    <button id="getValueButton" class="coral-Button" onclick="displayValue()">Get Value</button>

  +document-subsection('Setting the value', 'The following will set the above component\'s value to 8:30.')
    #setValueExample.
      <script>
        function setValue() {
          var clock = document.querySelector('#myClock');
          clock.valueAsDate = new Date(0, 0, 0, 8, 30);
        }
      </script>
    +example-pre-only("setValueExample")
    div.
      <button id="getValueButton" class="coral-Button" onclick="setValue()">Set Value</button>

  +document-subsection('Responding to user interaction')
    p.
      The following example shows how to detect changes performed by the user.

    #clockInteractionExample.
      <script>
        $(document).ready(function () {
          var eventLog = $('#clockLog');
          document.querySelector('#myClock').on('change', function(event) {
            var value = event.target.value;
            eventLog.log('Clock new value: ' + value);
          });
        });
      </script>
    +example-pre-only("clockInteractionExample")
    +log('clockLog')
