<coral-popover smart variant="_custom" class="coral3-Datepicker-overlay" handle="popover" id="{{Coral.commons.getUID()}}" breadthoffset="+50%r - 50%p" placement="bottom" collision="fit"></coral-popover>
<input type="hidden" handle="hiddenInput">
<input is="coral-textfield" type="text" handle="input" class="coral3-InputGroup-input" role="textbox">
<button is="coral-button" variant="_custom" class="coral3-InputGroup-button coral3-Button--dropdown" type="button" handle="toggle" aria-haspopup="true" aria-label="{{Coral.i18n.get('Calendar')}}" title="{{Coral.i18n.get('Calendar')}}">
  <coral-icon icon="calendar" iconsize="S" class="u-coral-noMargin" handle="icon"></coral-icon>
  <coral-button-label></coral-button-label>
</button>
