<coral-popover smart variant="flyout" class="_coral-Datepicker-overlay" handle="overlay" id="{{data.commons.getUID()}}" breadthoffset="50%r - 50%p" placement="bottom"></coral-popover>
<input type="hidden" handle="hiddenInput">
<input is="coral-textfield" type="text" handle="input" class="_coral-InputGroup-input" role="textbox">
<button is="coral-button" variant="_custom" class="_coral-InputGroup-button _coral-FieldButton" type="button" handle="toggle" aria-haspopup="true" aria-label="{{data.i18n.get('Calendar')}}" title="{{data.i18n.get('Calendar')}}">
  <coral-icon icon="calendar" iconsize="S" class="u-coral-noMargin" handle="icon"></coral-icon>
  <coral-button-label></coral-button-label>
</button>
