<coral-popover smart handle="popover" id="{{Coral.commons.getUID()}}" breadthoffset="+50%r - 50%p" placement="bottom" collision="fit"></coral-popover>
<input type="hidden" handle="hiddenInput">
<input is="coral-textfield" type="text" handle="input" class="coral-InputGroup-input" role="textbox">
<div class="coral-InputGroup-button" handle="toggleButtonContainer">
  <button is="coral-button" type="button" icon="calendar" iconsize="S" handle="toggle" aria-haspopup="true" aria-label="{{Coral.i18n.get('Calendar')}}" title="{{Coral.i18n.get('Calendar')}}"></button>
</div>
