script.
  if (typeof Coral.Configurator === 'function') {
    var configurator = new Coral.Configurator().set({
      component: Coral.Accordion,
      fields: [
        {
          label: 'Variant',
          prop: 'variant',
          type: 'select',
          value: 'default',
          options: {
            'Default': 'default',
            'Quiet': 'quiet',
            'Large': 'large'
          }
        },
      ],
      items: [
        {
          label: {
            innerHTML: 'Panel 1'
          },
          content: {
            innerHTML: 'Panel 1 content.'
          },
          disabled: false
        },
        {
          label: {
            innerHTML: 'Panel 2'
          },
          content: {
            innerHTML: 'Panel 2 content.'
          },
          disabled: false
        }
      ]
    }).insertAfterLastScript();
  }
