+document-section-simple-example()
  p.
    An accordion consists of multiple collapsibles. When one collapsible in the accordion is expanded, the others are collapsed.
  .docs-Example-simpleExampleMarkup.u-columnSmall
    coral-accordion()
      coral-accordion-item
        coral-accordion-item-label Item A
        coral-accordion-item-content Item A content
      coral-accordion-item
        coral-accordion-item-label Item B
        coral-accordion-item-content Item B content
      coral-accordion-item
        coral-accordion-item-label Item C
        coral-accordion-item-content Item C content
