
/**
    Class: .card-collection
    Displays collection card with a banner.
*/

// Grid view style
.grid .card-collection {
    .card-grid-banner();
    .info p {
        float: left;
    }
}

// List view style
.list .card-collection {
    p {
        display: none;
    }
}
