// Bootstrap: Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// CUI: Variables & Mixins
@import 'includes/config';
@import 'includes/variables';
@import 'includes/mixins';

@demo-background-color: rgb(247, 247, 247);
@demo-border-color: rgb(187, 187, 187);

// Rail
body > div.page > div.rail {
  width: 12rem;
}

// Headings
h1.line,
h2.line {
  border-bottom: @px solid rgb(200, 200, 200);
}

// Fonts
.AdobeClean {
  font-family: AdobeClean;
}

.AdobeClean_Bold {
  font-family: AdobeClean;
  font-weight: bold;
}

.AdobeClean_Italic {
  font-family: AdobeClean;
  font-style: italic;
}

.AdobeClean_BoldItalic {
  font-family: AdobeClean;
  font-weight: bold;
  font-style: italic;
}

.AdobeClean_Light {
  font-family: AdobeCleanLight;
  font-weight: lighter;
}

.AdobeClean_LightItalic {
  font-family: AdobeCleanLight;
  font-style: italic;
}

.AdobeClean_Condensed {
  font-family: AdobeCleanCondensed;
}

.AdobeClean_CondensedItalic {
  font-family: AdobeCleanCondensed;
  font-style: italic;
}

// Heading link
#SectionAnchor {
  display: inline-block;
  width: 1.25rem;  // extra padding for iceberging

  font-family: monospace; // Adobe clean has bad looking para symbol
  line-height: 1rem; // prevent jump  
  text-align: center;
  text-decoration: none;
}

// Code 
code.prettyprint,
code {
  font-size: 0.8rem;

  .border-radius(0.35rem);
  padding: 0 0.25rem;

  border: (1/0.8)*@px solid @demo-border-color;
  background: @demo-background-color;
}

// Give everyone a nice shadow and border
div.shadowBox,
.prettyprint,
div.componentSample {
  border: @px solid @demo-border-color;

  .box-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));
}

// Preserve gutter for line numbers
.prettyprint.linenums {
  border: @px solid @demo-border-color;

  .box-shadow(inset 2.75rem 0 0 #FBFBFC, inset 2.75rem+@px 0 0 #ECECF0, 0 0 0.5rem rgba(0, 0, 0, 0.1));

  // Make the gutter a little bigger
  ol.linenums {
    margin: 0;
    padding-left: 2.75rem;
    
    li {
      line-height: 1.375rem;
    }
  }
}

// Box with a border that contains examples and code samples
div.componentSample {
  margin: 0.75rem 0 0 0;

  background: @demo-background-color;

  .border-radius(0.25rem);
  overflow: hidden;

  // Demo boxes without code need padding and don't have to span the screen
  &.noCode {
    padding: 0.75rem;
    display: inline-block;
  }

  // The actual live demo code should be in div.example
  .example {
    background: rgb(251, 251, 251);

    padding: 1rem;
    border-bottom: @px solid lighten(@demo-border-color, 10%);
  }

  // The markup or JavaScript required should be in pre.prettypring
  .prettyprint {
    margin: 0;
    border: none;

    &.linenums {
      // remove top shadow
      .box-shadow(inset 2.75rem 0 0 #FBFBFC, inset 2.75rem+@px 0 0 #ECECF0);
    }
  }
}

// Fake body element
div.fakeBody {
  display: block !important;
  padding: 0 !important;
}

// Contains h1-h5 etc
.headingSample {
  * {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4, h5 {
    margin: 0.75rem 0;
  }
}

.spinnerSample {
  .spinner {
    margin: 0.5rem;
  }
  
  .spinner.large {
    margin: 0 0 0 1rem;
  }
}

.buttonSample {
  button + button,
  a.button + button {
    margin-left: 1rem;
  }
}

.res-buttons {
  label {
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
  }
  
  button {
    width: 2rem;
    min-width: 0;
    padding: 0 0;
  }
  button + button {
    border-left: none;
  }
}