// Bootstrap: Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// CUI: Variables & Mixins
@import 'includes/config';
@import 'includes/variables';
@import 'includes/mixins';

.AdobeClean {
  font-family: AdobeClean;
}

.AdobeClean_Bold {
  font-family: AdobeClean;
  font-weight: bold;
}

.AdobeClean_Italic {
  font-family: AdobeClean;
  font-style: italic;
}

.AdobeClean_BoldItalic {
  font-family: AdobeClean;
  font-weight: bold;
  font-style: italic;
}

.AdobeClean_Light {
  font-family: AdobeClean;
  font-weight: lighter;
}

.AdobeClean_LightItalic {
  font-family: AdobeClean;
  font-weight: lighter;
  font-style: italic;
}

.AdobeClean_Condensed {
  font-family: AdobeCleanCondensed;
}

.AdobeClean_CondensedItalic {
  font-family: AdobeCleanCondensed;
  font-style: italic;
}
