$shell-header-height = 48px;

._coral-Shell {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

coral-shell-content {
  position: absolute;
  top: $shell-header-height;
  bottom: 0;
  left: 0;
  right: 0;

  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@require 'header';
@require 'help';
@require 'menubar';
@require 'orgswitcher';
@require 'solutionswitcher';
@require 'user';
@require 'workspaces';
