/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2018 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

coral-select-item {
  display: none;
}

._coral-Dropdown {
  ._coral-Dropdown-tagList {
    display: none;
  }

  ._coral-Dropdown-select {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 32*$px;

    // allows the size to match the size of the button
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  ._coral-Button--dropdown {
    ._coral-Dropdown-label ._coral-Icon,
    ._coral-Dropdown-invalidIcon {
      margin-top: 0;
    }
  }
}

._coral-Dropdown--native {
  ._coral-Dropdown-select {
    display: block;
    opacity: 0.01;
  }
}
