<button tracking="off" handle="button" is="coral-button" type="button" variant="_custom" class="_coral-ClearButton _coral-ClearButton--small _coral-Tags-item-removeButton" title="{{data.i18n.get('Remove')}}" hidden tabindex="-1" coral-close>
  <coral-button-label handle="buttonLabel"></coral-button-label>
</button>
<js>
  // Don't wait for button MO to pick up the label
  this.button._elements.label = this.buttonLabel;
  // Render close icon
  this.button.insertAdjacentHTML('beforeend', data.Icon._renderSVG('spectrum-css-icon-CrossSmall', ['_coral-UIIcon-CrossSmall']));
</js>
