<js>
  var copyAttributes = data.copyAttributes;
</js>
<if data.items.isButtonList>
  <coral-buttonlist class="_coral-ActionBar-buttonList" tabindex="0" role="menu" coral-actionbar-offscreen handle="buttonList">
    <foreach data.items>
      <button is="coral-buttonlist-item" role="menuitem" handle="buttonListItem">
        <js>
          copyAttributes(data._button, this.buttonListItem);
        </js>
        <coral-list-item-content>
          <coral-action-bar-item coral-actionbar-offscreen handle="buttonListItemContent"></coral-action-bar-item>
        </coral-list-item-content>
        <js>
          this.buttonListItemContent.innerHTML = data._button.label.innerHTML;
        </js>
      </button>
      <if data._popover>
        <js>
          var popover = data._popover.cloneNode(true);
          this.buttonList.items.add(popover);
        </js>
      </if>
    </foreach>
  </coral-buttonlist>
  <else>
    <if data.items.isAnchorList>
      <coral-anchorlist tabindex="0" role="menu" coral-actionbar-offscreen handle="anchorList">
        <foreach data.items>
          <a is="coral-anchorlist-item" role="menuitem" handle="anchorListItem">
            <js>
              copyAttributes(data._button, this.anchorListItem);
            </js>
            <coral-list-item-content>
              <coral-action-bar-item coral-actionbar-offscreen handle="anchorListItemContent"></coral-action-bar-item>
            </coral-list-item-content>
            <js>
              this.anchorListItemContent.innerHTML = data._button.label.innerHTML;
            </js>
          </a>
          <if data._popover>
            <js>
              var popover = data._popover.cloneNode(true);
              this.anchorList.items.add(popover);
            </js>
          </if>
        </foreach>
      </coral-anchorlist>
      <else>
        <ul class="_coral-ActionBar-list">
          <foreach data.items>
            <li class="_coral-ActionBar-list-item">
              <partial data></partial>
            </li>
          </foreach>
        </ul>
      </else>
    </if>
  </else>
</if>


