//Custom styles
@require "./report-suite-selector.styl";

.coral-MultiPanel.is-active {
  height: 100%;
}
.coral-SelectList-item--option:hover {
  outline: none;
  color: #fff;
  background: #3287d2;
}
.coral-Button--betaFeedback {
  float: left;
  margin-right: 15*$px;
  margin-top: 2*$px;
}
.coral-Popover {
  .coral-SelectList {
    position: relative;
    margin: 0;
    max-height: none;
  }
}
.endor-currentLanguage {
  vertical-align: middle;
}
.endor-ActionButton-description {
  font-size: 13*$px;
}
.endor-BlackBar-description {
  font-size: 15*$px;
  font-weight: lighter;
  margin-left: 15*$px;
}
.endor-BlackBar-right {
  .endor-BlackBar-item {
    cursor: pointer;
  }
}
.endor-currentLanguage {
  cursor: pointer;
}