+document-section('Behavior')
  h3.coral-Heading.coral-Heading--3 Keyboard Controls
  p When the popover is visible, pressing the escape key will dismiss the top most popover.

  h3.coral-Heading.coral-Heading--3 Focus Behavior
  p When shown, the popover will focus on itself, showing no border. Pressing tab will move to the first focusable element, usually the close button.
  p When hidden, the popover will return focus to the element that was previously focused on the page.
