+usage-notification().
  Notice: When using the Coral.Popover in a scrollable content, make sure the set 'position:
  relative' on the container to enable the repositioning of Coral.Popover.

include configurator
include markup-documentation
include behavior
include jsdoc
