+document-section('Markup Examples')

  +document-subsection('Content Padding')

  p.
    Use the <code class="atv">u-coral-margin</code> class to give margin to content zones.
  p.
    This is especially useful when adding multiple paragraphs to a Popover.

  div.docs-Example-markup.u-columnLarge
    +markup-example()
      button(is="coral-button", id="marginPopover_target") Content Margin
      coral-popover(target="#marginPopover_target")
        coral-popover-content
          p.u-coral-margin
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet interdum convallis.
          p.u-coral-margin
            |Vestibulum convallis lectus ut nulla commodo gravida. Suspendisse porta arcu sit amet purus sollicitudin id gravida mi gravida.

  p.
    You can also use  <code class="atv">u-coral-padding</code> class to give padding to the entire content container.
  p.
    Note that this won't pay well with inner elements that use <code class="atv">u-coral-margin</code>, as you'll get double the spacing you intended.

  div.docs-Example-markup.u-columnLarge
    +markup-example()
      button(is="coral-button", id="paddingPopover_target") Content Padding
      coral-popover(target="#paddingPopover_target")
        coral-popover-content.u-coral-padding
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet interdum convallis.


  +document-subsection('Content Separators')

  p.
    Use the <code class="atv">coral-popover-separator</code> component to create content separators.

  div.docs-Example-markup.u-columnLarge
    +markup-example()
      button(is="coral-button", id="separatorsPopover_target") Separators
      coral-popover(target="#separatorsPopover_target")
        coral-popover-content
          p.u-coral-margin
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet interdum convallis.
          p.u-coral-margin
            |Vestibulum convallis lectus ut nulla commodo gravida. Suspendisse porta arcu sit amet purus sollicitudin id gravida mi gravida.
          coral-popover-separator
          p.u-coral-margin
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet interdum convallis.
          p.u-coral-margin
            |Vestibulum convallis lectus ut nulla commodo gravida. Suspendisse porta arcu sit amet purus sollicitudin id gravida mi gravida.

