+document-section-simple-example()
  .guide-Example-simpleExampleMarkup.u-columnSmall
      button(is="coral-button", id="popoverTarget") Popover Target
      coral-popover(target="#popoverTarget")
        coral-popover-content
          p.u-coral-margin
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet interdum convallis.

