+document-section('Forms')
  +document-subsection('Vertical Layout')
    +markup-example().
      <form class="coral-Form coral-Form--vertical u-columnMedium">
        <section class="coral-Form-fieldset">
          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-0" class="coral-Form-fieldlabel">Label</label>
            <coral-calendar class="coral-Form-field" name="name" labelledby="label-vertical-0"></coral-calendar>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-1" class="coral-Form-fieldlabel">Required</label>
            <coral-calendar class="coral-Form-field" name="name" labelledby="label-vertical-1" required></coral-calendar>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-vertical-calendar-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-vertical-calendar-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-vertical-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-calendar class="coral-Form-field" name="name" labelledby="label-vertical-2" invalid></coral-calendar>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-vertical-calendar-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-vertical-calendar-fielderror">Error Message</coral-tooltip>
          </div>
        </section>
      </form>
  +document-subsection('Aligned Layout')
    +markup-example().
      <form class="coral-Form coral-Form--aligned u-columnLarge">
        <section class="coral-Form-fieldset">
          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-0" class="coral-Form-fieldlabel">Label</label>
            <coral-calendar class="coral-Form-field" name="name" labelledby="label-aligned-0"></coral-calendar>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-1" class="coral-Form-fieldlabel">Required</label>
            <coral-calendar class="coral-Form-field" name="name" labelledby="label-aligned-1" required></coral-calendar>
            <coral-icon class="coral-Form-fieldinfo" icon="infoCircle" size="S" id="coral-form-aligned-calendar-fieldinfo"></coral-icon>
            <coral-tooltip variant="info" placement="right" target="#coral-form-aligned-calendar-fieldinfo">Required Information</coral-tooltip>
          </div>

          <div class="coral-Form-fieldwrapper">
            <label id="label-aligned-2" class="coral-Form-fieldlabel">Invalid</label>
            <coral-calendar class="coral-Form-field" name="name" labelledby="label-aligned-2" invalid></coral-calendar>
            <coral-icon class="coral-Form-fielderror" icon="infoCircle" size="S" id="coral-form-aligned-calendar-fielderror"></coral-icon>
            <coral-tooltip variant="error" placement="right" target="#coral-form-aligned-calendar-fielderror">Error Message</coral-tooltip>
          </div>
        </section>
      </form>
