+document-section-simple-example()
  p.
    Calendar depicts a navigable calendar that can show a selected date, and have the client select another date.
    Please note that for the `next` and `previous` month buttons to show properly, the embedding document is required
    to have <code><meta charset="utf-8"></code> set in its <code><head></code> tag.
  .docs-Example-simpleExampleMarkup.u-columnSmall
    coral-calendar

