$dialog-nobackdrop-shadow = 0 1px 4px rgba(0, 0, 0, 0.5);
$dialog-nobackdrop-border-color = rgb(90, 90, 90);
$dialog-title-warning-color = rgb(230, 134, 25);
$dialog-title-success-color = rgb(45, 157, 120);
$dialog-title-info-color = rgb(38, 128, 235);
$dialog-title-help-color = rgb(153, 153, 153);

.coral--dark {
  @import 'skin'
}
