$dialog-nobackdrop-shadow = 0 1px 4px rgba(0, 0, 0, 0.8);
$dialog-nobackdrop-border-color = rgb(73, 73, 73);
$dialog-title-warning-color = rgb(218, 123, 17);
$dialog-title-success-color = rgb(38, 142, 108);
$dialog-title-info-color = rgb(20, 115, 230);
$dialog-title-help-color = rgb(133, 133, 133);

.coral--darkest {
  @import 'skin'
}
