._coral-Dialog--noBackdrop {
  box-shadow: $dialog-nobackdrop-shadow;
  border-color: $dialog-nobackdrop-border-color;
}

._coral-Dialog--warning {
  ._coral-Dialog-title,
  ._coral-Dialog-typeIcon {
    color: $dialog-title-warning-color;
  }
}

._coral-Dialog--success {
  ._coral-Dialog-title,
  ._coral-Dialog-typeIcon {
    color: $dialog-title-success-color;
  }
}

._coral-Dialog--info {
  ._coral-Dialog-title,
  ._coral-Dialog-typeIcon {
    color: $dialog-title-info-color;
  }
}

._coral-Dialog--help {
  ._coral-Dialog-title,
  ._coral-Dialog-typeIcon {
    color: $dialog-title-help-color;
  }
}
