script.
  if (typeof Coral.Configurator === 'function') {
    var handle = '<span coral-masonry-draghandle>&#x283F;</span> '
    var configurator = new Coral.Configurator().set({
      component: Coral.Masonry,
      fields: [
        {
          label: 'Layout',
          prop: 'layout',
          type: 'select',
          value: 'fixed-spread',
          options: {
            'fixed-spread': 'fixed-spread',
            'fixed-centered': 'fixed-centered',
            'variable': 'variable',
            'dashboard': 'dashboard'
          }
        },
        {
          label: 'Column width',
          prop: 'columnWidth',
          type: 'spinner',
          value: 200,
          min: 50,
          max: 300
        },
        {
          label: 'Spacing',
          prop: 'spacing',
          type: 'spinner',
          value: 20,
          min: 0,
          max: 50
        },
        {
          label: 'Orderable',
          prop: 'orderable',
          type: 'checkbox',
          value: false
        }
      ],
      componentEvents: [
        'coral-masonry:drop'
      ],
      items: [
        {
          content: {
            innerHTML: handle + 'Lorem ipsum dolor sit amet, corpora postulant ocurreret in mel.'
          }
        },
        {
          content: {
            innerHTML: handle + 'His illum augue causae ut, vim ne magna prodesset, est ad nemore quodsi alienum.'
          }
        },
        {
          content: {
            innerHTML: handle + 'Ei noluisse expetenda qui. Mei in iusto convenire torquatos.'
          },
          colspan: 2
        }
      ]
    }).insertAfterLastScript();
  }
