/*
 * ADOBE CONFIDENTIAL
 *
 * Copyright 2017 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

$actionbar-height = 44px;
$actionbar-item-height = 38px;
$actionbar-padding = ($actionbar-height - $actionbar-item-height) / 2;
$actionbar-container-padding-left = 15px;
$actionbar-container-padding-right = 15px;

._coral-ActionBar {
  display: block;
  box-sizing: border-box;

  position: relative;

  height: $actionbar-height;
  // padding is added overall to avoid the focus to overflow outside the component
  padding: $actionbar-padding 0;
}

._coral-ActionBar-primary,
._coral-ActionBar-secondary {
  position absolute;

  > ._coral-ActionBar-item,
  > ._coral-Button[coral-actionbar-more] {
    float: left;
    // required to get the focused item to go to the foreground
    position: relative;
    margin-left: 5px;
  }

  > [coral-actionbar-offscreen] {
    // important to make Coral.commons.addResizeListener work with actionbar
    position: absolute !important;
    left: -999em;
  }
}

._coral-ActionBar-primary {
  left: $actionbar-container-padding-left;
}

._coral-ActionBar-secondary {
  right: $actionbar-container-padding-right;
}

// Expand list width based on content
._coral-ActionBar-buttonList {
  ._coral-BasicList-item-contentContainer {
    width: auto;
  }

  button[is="coral-buttonlist-item"] {
    display: flex;
    width: 100%;
    align-items: normal;
  }
}
