@require '@adobe/spectrum-css/dist/components/treeview/index.css';
@require '@adobe/spectrum-css/dist/components/treeview/multiStops/light.css';
@require '@adobe/spectrum-css/dist/components/treeview/multiStops/lightest.css';
@require '@adobe/spectrum-css/dist/components/treeview/multiStops/dark.css';
@require '@adobe/spectrum-css/dist/components/treeview/multiStops/darkest.css';

._coral-TreeView {
  transition: height ease 250ms;
  overflow: hidden;

// @spectrum
  ._coral-TreeView {
    height: inherit;
    visibility: inherit;
  }
}

@require 'darkest'
@require 'dark'
@require 'light'
@require 'lightest'
