/**
 * Copyright 2019 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

$multifield-inner-spacing = 10px;
$multifield-button-width = 50px;
$multifield-padding = 16px;

// @polyfill IE
[coral-multifield-template] {
  display: none;
}

coral-multifield-item-content {
  display: block;

  > :first-child {
    width: 100%;
  }
}

._coral-Multifield {
  display: inline-block;
  box-sizing: border-box;

  &[reorderupdown] ._coral-Multifield-item > ._coral-Multifield-move {
    display: none;
  }

  &:not([reorderupdown]) ._coral-Multifield-item {

    & > ._coral-Multifield-up,
    & > ._coral-Multifield-down {
      display: none;
    }
  }
}

._coral-Multifield-item {
  display: block;
  position: relative;
  padding-right: 2*$multifield-button-width;
  // adds separation between each item and the add button
  margin-bottom: $multifield-inner-spacing;
  box-sizing: border-box;

  // Moving only makes sense, when there is more than one input
  // we use the tag because type selectors work better with an actual type
  &:only-of-type > ._coral-Multifield-move,
  &:only-of-type > ._coral-Multifield-up,
  &:only-of-type > ._coral-Multifield-down {
    display: none;
  }

  &:last-of-type {
    margin-bottom: 2*$multifield-inner-spacing;
  }

  &.is-dragging {
    position: relative;
    z-index: 10000;
    opacity: 0.9;
  }

  &.is-after,
  &.is-before {
    position: relative;
  }
}

._coral-Multifield-remove,
._coral-Multifield-move,
._coral-Multifield-up,
._coral-Multifield-down {
  position: absolute;
  top: 0;
}

._coral-Multifield-remove {
  right: $multifield-button-width;
}

._coral-Multifield-move,
._coral-Multifield-up,
._coral-Multifield-down {
  right: 0;
}

._coral-Multifield-up {
  margin-top: -4px;
}

._coral-Multifield-down {
  margin-top: 7px;
}
